{#
/**
 * @file
 * Manhattan's theme implementation to display a Video Display Mode.
 */
#}

<div class="node--type-video node--view-mode-{{ view_mode }}" role="main">
  <a href="{{ url }}" class="anchor-wrapper" rel="bookmark">
    <div class="display-mode video-display-mode" data-eq-pts="small: 0, medium: 331, large: 600">
      {{ content.field_teaser_image_media}}

      <div class="page-wrapper">
        <div class="node-category-type">
          {{ type_name }}
        </div>
        <div class="teaser-title">
          {{ content.field_teaser_title }}
        </div>

        {% if (view_mode == "block_2_columns") or (view_mode == "block_3_columns") %}
          {{ content.field_teaser_text_long }}
        {% elseif view_mode == "block_1_column" %}
          {{ content.field_teaser_text_short }}
        {% endif %}
      </div>
    </div>
  </a>
</div>
