{#
/**
 * @file
 * Manhattan's theme implementation to display a Page Display Mode.
 */
#}
<div class="node--view-mode-{{ view_mode|clean_class }}" role="main">
  <a href="{{ url }}" class="anchor-wrapper" rel="bookmark" >
    <div class="teaser-title">
      {{ content.field_teaser_title }}
    </div>
    {{ content.field_teaser_image_alt_media }}
    {{ content.field_teaser_text_short }}
  </a>
</div>
