{#
/**
 * @file
 * Manhattan's theme implementation to display an Office locations block.
 *
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block l_top %}
  {% if not page %}
    {% block title %}
      <div class="block-title">
        {{ label }}
      </div>
    {% endblock %}
  {% endif %}
{% endblock %}

{% block l_sidebar_first %}
  <div class="office-wrapper">
    {% if content.field_name|render %}
      <div class="office-contact-info">
        <span class="office-label">
          {{ content.field_name }}
        </span>

        {% if content.field_of_address|render %}
          {{ content.field_of_address }}
        {% endif %}

        {% if content.field_of_ph|render %}
          <span class="phone-number">
            {{ content.field_of_ph }}
          </span>
        {% endif %}

        {% if content.field_of_ph_fax|render %}
          <span class="fax-number">
            {{ content.field_of_ph_fax }}
          </span>
        {% endif %}

        {% if content.field_of_sheet_text|render %}
          <a href="{{ of_sheet_url }}">{{ content.field_of_sheet_text }}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if content.field_place_of_registration|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_place_of_registration_text }}
        </span>

        <span>
          {{ content.field_place_of_registration }}
        </span>
      </div>
    {% endif %}

    {% if content.field_vat_number|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_vat_number_text }}
        </span>
        <span>
          {{ content.field_vat_number }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_sales|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_sales_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_sales }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_cus_sup|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_cus_sup_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_cus_sup }}
        </span>

        {% if content.field_of_link_cus_sup_text|render %}
          <a href="{{ cus_sup_url }}" class="customer-portal">
          {{ content.field_of_link_cus_sup_text }}</a>
        {% endif %}
      </div>
    {% endif %}

    {% if content.field_of_ph_training|render %}
      <div class="office-contact-row">
        <span class="office-label">
        {{ content.field_of_ph_tra_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_training }}
        </span>

        {% if content.field_of_ph_tra_io_text|render %}
          {{ content.field_of_ph_tra_io_text }}
        {% endif %}

        {% if content.field_of_ph_training_ioi|render %}
          <span class="phone-number">
            {{ content.field_of_ph_training_ioi }}
          </span>
        {% endif %}
      </div>
    {% endif %}

    {% if content.field_of_ph_event|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_event_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_event }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_global|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_global_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_global }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_all_partner|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_all_par_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_all_partner }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_all_geopartner|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_all_geo_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_all_geopartner }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_ind_analyst|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_ind_ana_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_ind_analyst }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_inv_relations|render %}
      <div class="office-contact-row">
        <span class="office-label">
          {{ content.field_of_ph_inv_rel_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_inv_relations }}
        </span>
      </div>
    {% endif %}

    {% if content.field_of_ph_pub_relations|render %}
      <div class="office-contact-row last">
        <span class="office-label">
          {{ content.field_of_ph_pub_rel_text }}
        </span>

        <span class="phone-number">
          {{ content.field_of_ph_pub_relations }}
        </span>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block l_content_top %}
  {% if map_iframe|render %}
    <div class="map-wrapper">
      {{ map_iframe | raw }}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}


    {#  CONTENT -----------------------------------------------------

<div class="node--type-office node--view-mode-{{ view_mode }}" role="main">
  <div class="display-mode office-display-mode" data-eq-pts="small: 0, medium: 301, large: 631">

  </div>
</div>

    #}