{#
/**
 * @file
 * Manhattan's theme implementation to display an Customer Success display mode.
 *
 */
#}
<div class="customersuccess-displaymode">
  <div class="teaser-title">
    {{ label }}
  </div>
  {{ content.field_customer_success }}
</div>
