{#
/**
 * @file
 * Manhattan's theme implementation to display an Office node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['node']->getCreatedTime().
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}


  {% block content %}

    {#  CONTENT ----------------------------------------------------- #}

    <div class="display-mode" data-eq-pts="small: 300, medium: 400, large: 500">
      <div class="page-wrapper">

       {% if not page %}
          {% block title %}
            <h1><a href="{{ url }}" rel="bookmark">{{ label }}</a></h1>
          {% endblock %}
        {% endif %}

          <div class="office-wrapper">
          {% if content.field_name|render %}
            <div class="office-contact-info">
              <span class="office-label">
                {{ content.field_name }}
              </span>

              {% if content.field_name|render %}
                {{ content.field_of_address }}
              {% endif %}

              {% if content.field_name|render %}
                <span class="phone-number">
                  {{ content.field_of_ph }}
                </span>
              {% endif %}

              {% if content.field_name|render %}
                <span class="fax-number">
                  {{ content.field_of_ph_fax }}
                </span>
              {% endif %}

              {% if content.field_of_sheet_text|render %}
                <div class="download-icon">
                  <a href="{{ of_sheet_url }}" class="marketo-track">
                    {{ content.field_of_sheet_text }}
                  </a>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_place_of_registration|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_place_of_registration_text }}
              </span>

              <span>
                {{ content.field_place_of_registration }}
              </span>
            </div>
          {% endif %}

          {% if content.field_vat_number|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_vat_number_text }}
              </span>

              <span>
                {{ content.field_vat_number }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_sales|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_of_ph_sales_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_sales }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_sales|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_of_ph_cus_sup_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_sales }}
              </span>

              {% if content.field_of_link_cus_sup_text|render %}
                <a href="{{ cus_sup_url }}" class="customer-portal">
                {{ content.field_of_link_cus_sup_text }}
                </a>
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_of_ph_training|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_of_ph_tra_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_training }}
              </span>

              {% if content.field_of_ph_tra_io_text|render %}
                {{ content.field_of_ph_tra_io_text }}
              {% endif %}

              {% if content.field_of_ph_training_ioi|render %}
                <span class="phone-number">
                  {{ content.field_of_ph_training_ioi }}
                </span>
              {% endif %}
              {% if content.field_of_map_embed|render %}
                {{ content.field_of_map_embed }}
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_of_ph_event|render %}
            <div class="office-contact-row">
              <span class="office-label">
              {{ content.field_of_ph_event_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_event }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_global|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_of_ph_global_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_global }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_all_partner|render %}
            <div class="office-contact-row">
              <span class="office-label">
              {{ content.field_of_ph_all_par_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_all_partner }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_all_geopartner|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_of_ph_all_geo_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_all_geopartner }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_ind_analyst|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_of_ph_ind_ana_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_ind_analyst }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_inv_relations|render %}
            <div class="office-contact-row">
              <span class="office-label">
                {{ content.field_of_ph_inv_rel_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_inv_relations }}
              </span>
            </div>
          {% endif %}

          {% if content.field_of_ph_pub_relations|render %}
            <div class="office-contact-row last">
              <span class="office-label">
                {{ content.field_of_ph_pub_rel_text }}
              </span>

              <span class="phone-number">
                {{ content.field_of_ph_pub_relations }}
              </span>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

  {% endblock %}
