{#
/**
 * @file
 * Manhattan's theme implementation to display a Slide display.
 *file_url(content.field_image|field_target_entity.field_image.entity.uri.value)
 */
#}

{# {% extends 'themes/manh/templates/node/node.html.twig' %} #}

{% set slide_image = content.field_teaser_image_media|render|trim is not empty ? file_url(content.field_teaser_image_media|field_target_entity.field_image_file.entity.uri.value) %}
{% set style = slide_image|length > 5 ? ' style="background-image: url(' ~ slide_image|raw ~ ');"' : '' %}
{% set overlay = has_overlay ? ' has-overlay' %}

{% block content %}
  <div class="main-slider__slide {{ header_background }}">

    <div class="main-slider__content-overlay{{ overlay }}"{{ style|raw }} alt="{{ node.field_teaser_image_media.entity.field_image_file.alt }}">
{#
      <div class="main-slider__slider-image">
        {{ content.field_teaser_image_media }}
      </div>
#}
      <div class="main-slider__slide-content-wrapper">
        <div class="main-slider__title">
          {% if not page %}
            {% block title %}
            <h2>
              {{ content.field_slide_title }}
            </h2>
            {% endblock %}
          {% endif %}
        </div>

        {% if has_description %}
          <div class="main-slider__description">
            {% if contact_url is empty %}
              {% if slide_link_url is not empty %}
                <a href="{{ slide_link_url }}">
                  <p>{{ content.field_slide_description }}</p>
                </a>
              {% else %}
                <p>{{ content.field_slide_description }}</p>
              {% endif %}
            {% else %}
              <p>{{ content.field_slide_description }}</p>
            {% endif %}
          </div>
        {% endif %}

        <div class="content-buttons">
          {% if contact_url is not empty %}
            <a href="{{ contact_url }}" class="button-primary--four-opacity">
              {{ content.field_contact_text }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
