{#
/**
 * @file
 * Manhattan's theme implementation to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  <div class="{{ node_classes|join(' ') }}" role="main">

    {% if has_hero %}
      <div class="l-hero">
        {% block l_hero %}
          <div class="hero {{ hide_hero ? 'hidden' }} {{ header_background }}" data-eq-pts="small: 0, medium: 331, large: 631, wide: 900">
            <div class="hero__container">
              {% if has_silhouette %}
                <aside class="section page-title" role="complementary">
                  {{ content.field_section_text }}
                  <h1 class="teaser-title">
                    {{ content.field_page_title }}
                  </h1>
                </aside>
                <div class="page-header-silhouette-image">
                  {{ content.field_teaser_image_silhouette }}
                </div>
              {% else %}
                <div class="page-header-hero-image">
                  {{ content.field_teaser_image_full_width }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endblock %}
      </div>
    {% endif %}

    {% if document_url is not empty %}
      <div class="l-brochure">
        {% block l_brochure %}
          <div class="brochure">
            <a href="{{ document_url }}">
              {{ content.field_doc_text }}
            </a>
          </div>
        {% endblock %}
      </div>
    {% endif %}

    {% if has_field_page_header %}
      <div class="l-page-header">
        {% block l_page_header %}

          {% if not has_silhouette %}
            <aside class="section page-title" role="complementary">
              {{ content.field_section_text }}
              <h1 class="teaser-title">
                {{ content.field_page_title }}
              </h1>
            </aside>
          {% endif %}

          <div class="page-header">
            {{ content.field_page_header }}
            {{ blocks.node_header }}
          </div>
        {% endblock %}
      </div>
    {% endif %}

    {% if has_secondarymenu %}
      <div class="l-secondarymenu">
        {% block l_secondarymenu %}
          {{ content.field_menu_secondary }}
        {% endblock %}
      </div>
    {% endif %}

    {% if has_top %}
      <div class="l-top">
        {% block l_top %}
          {# Message placeholder for gated content. #}
          {% if content.message_placeholder is not empty %}
            {{ content.message_placeholder }}
          {% endif %}

          {{ content.field_top }}
          {{ content.field_body_intro_title }}
          {{ content.field_body_intro_text }}

          {% if (type_name is not empty) or (content.field_doc_type|render|trim is not empty) %}
            <div class="node-category-type">
              {% if content.field_doc_type|render|trim is not empty %}
                {{ content.field_doc_type }}
              {% else %}
                {{ type_name }}
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_page_title|render|trim is not empty %}
            <h1>
              {{ content.field_page_title }}
            </h1>
          {% endif %}

          {% if (author_name is not empty) and (content.field_article_date|render|trim is not empty) %}
            <div class="date-and-author">
              {% if author_name is not empty %}
                {% if lang_code == 'ja' %}
                  {% trans %}著者: {{ author_name }},{% endtrans %}
                {% else %}
                  {% trans %}By {{ author_name }},{% endtrans %}
                {% endif %}
              {% endif %}
              {{ content.field_article_date }}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endif %}

    {% if has_left_sidebar %}
      <div class="l-sidebar l-sidebar-first">
        {% block l_sidebar_first %}
          {{ content.field_content_top_left }}
          {{ content.field_view_top_left }}
          {{ content.field_block_top_left }}
          {% if body_left_bg|length > 0 %}<div class="{{ body_left_bg }}">{% endif %}
            {{ content.field_body_left }}
            {{ blocks.node_left_sidebar }}
          {% if body_left_bg|length > 0 %}</div>{% endif %}
          {{ content.field_block_bottom_left }}
          {{ content.field_view_bottom_left }}
          {{ content.field_content_bottom_left }}
        {% endblock %}
      </div>
    {% endif %}

    {% if has_content_top or has_content_body or has_content_bottom %}
      <div class="l-content-body">
        {% block l_content_body %}

          {% if has_content_top %}
            <div class="l-content-top">
              {% block l_content_top %}
                {{ content.field_content_top }}
                {{ content.field_view_top }}
                {{ content.field_block_top }}
                {{ blocks.node_content_top }}
                {# Renders teaser image or video embed/upload depending on form state. #}
                <div class="video-row">
                  {% if (content.video_placeholder is not empty) and (not has_video_with_playlist) %}
                    {{ content.video_placeholder }}
                  {% elseif has_embed %}
                    {{ content.field_video_embed_code }}
                  {% else %}
                    {{ content.field_video_up }}
                  {% endif %}
                </div>
              {% endblock %}
            </div>
          {% endif %}

          {{ content.field_body }}
          {{ blocks.node_content_body }}

          {% if has_content_bottom %}
            <div class="l-content-bottom">
              {% block l_content_bottom %}
                <aside class="section" role="complementary">
                  {{ content.field_block_bottom }}
                  {{ content.field_view_bottom }}
                  {{ content.field_content_bottom }}
                </aside>
                {{ blocks.node_content_bottom }}
              {% endblock %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    {% endif %}

    {% if has_right_sidebar %}
      <div class="l-sidebar l-sidebar-second">
        {% block l_sidebar_second %}
          {% if content.sidebar_placeholder is not empty %}
            {# For gated content, render the sidebar placeholder. #}
            {{ content.sidebar_placeholder }}
          {% else %}
            {{ content.field_content_top_right }}
            {{ content.field_view_top_right }}
            {{ content.field_block_top_right }}
          {% endif %}
          {% if body_right_bg|length > 0 %}<div class="{{ body_right_bg }}">{% endif %}
            {{ content.field_body_right }}
            {{ blocks.node_right_sidebar }}
          {% if body_right_bg|length > 0 %}</div>{% endif %}
          {{ content.field_block_bottom_right }}
          {{ content.field_view_bottom_right }}
          {{ content.field_content_bottom_right }}
        {% endblock %}
      </div>
    {% endif %}

    {% if has_bottom %}
      <div class="l-bottom">
        {% block l_bottom %}
          {{ content.field_bottom }}
          {{ blocks.node_bottom }}
          {% if content.field_contact_text|render|trim is not empty %}
            <a href="{{ contact_url }}" class="button-primary--four">
              {{ content.field_contact_text }}
            </a>
          {% endif %}
        {% endblock %}
      </div>
    {% endif %}

    {% if has_related_info %}
      <div class="l-related-info">
        {% block l_related_info %}
          <div class="related-info">
            <aside class="section" role="complementary">
              {{ content.field_related_information }}
            </aside>
          </div>
        {% endblock %}
      </div>
    {% endif %}

    {% if has_why_manhattan %}
      <div class="l-why-manhattan">
        {% block l_why_manhattan %}
          <aside class="why-manhattan section" role="complementary">
            {{ content.field_why_manhattan }}
            {{ blocks.node_why_manhattan }}
          </aside>
        {% endblock %}
      </div>
    {% endif %}

    {# Standard node content block for non--grid nodes. #}
    {% block content %}

      {% block title %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endblock %}

      <div{{ content_attributes.addClass('node__content') }}>
        {{ content|without('links') }}
      </div>

      {% if content.links %}
        <div class="node__links">
          {{ content.links }}
        </div>
      {% endif %}
    {% endblock %}

  </div>
</article>
