{#
/**
 * @file
 * Manhattan's theme implementation to display an Article node.
 *
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block l_content_body %}
  {{ content.field_teaser_image_media }}
  {{ content.field_body }}

  {% if (content.link_placeholder is not empty) or (doc_url is not empty) %}
    <div class="content-buttons">
      {% if content.link_placeholder is not empty %}
        {# For gated content, render the gated content placeholder instead of the download link. #}
        {{ content.link_placeholder }}
      {% elseif doc_url is not empty %}
        <a href="{{ doc_url }}" class="button-primary--two marketo-track">
          {{ content.field_doc_text }}
        </a>
        {% if contact_url is not empty %}
          <a href="{{ contact_url }}" class="button-primary--four">
            {{ content.field_contact_text }}
          </a>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}
