{#
/**
 * @file
 * Manhattan's theme implementation to display a Press Release node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['node']->getCreatedTime().
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block l_content_body %}

  <div class="subtitle">
    {{ content.field_pr_sub_title }}
  </div>
  {% if has_pr_location_date %}
  <div class="location_date">
    <span>{{ pr_location_date | raw }}</span>
  </div>
  {% endif %}

  {% if has_field_teaser_image_media %}
    {{ content.field_teaser_image_media }}
  {% endif %}

  {{ content.field_body }}
  {{ content.field_content_bottom }}
  {{ content.field_pr_social_text }}
  {{ content.field_pr_customer_title }}
  {{ content.field_pr_customer_text }}
  {{ content.field_pr_manh_title }}
  {{ content.field_pr_manh_text }}
  {{ content.field_customer }}
  {{ blocks.node_content_body }}

  {% if (doc_url is not empty) or (webinar_url is not empty) or (contact_url is not empty) %}
    <div class="content-buttons">
      {% if doc_url is not empty %}
        <a href="{{ doc_url }}" class="button-primary--two marketo-track">
          {{ content.field_earnings_document_text }}
        </a>
      {% endif %}

      {% if webinar_url is not empty %}
        <a href="{{ webinar_url }}" class="button-primary--two">
          {{ content.field_webinar_text }}
        </a>
      {% endif %}

      {% if contact_url is not empty %}
        <a href="{{ contact_url }}" class="button-primary--four">
          {{ content.field_contact_text }}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}
