{#
/**
 * @file
 * Manhattan's theme implementation to display a Interactive node.
 *
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block l_content_body %}
  {{ content.field_content_top }}
  {{ content.field_view_top }}
  {{ content.field_block_top }}
  {{ blocks.node_content_top }}
  {# Renders teaser image or video embed/upload depending on form state. #}
  {% if content.video_placeholder is not empty %}
    <div class="video-row">
      {{ content.video_placeholder }}
    </div>
  {% endif %}

  <div class="interactive-row {{ has_embed ? 'has-embed' }}">
    {% if content.interactive_placeholder is not empty %}
      {# For gated videos, render the gated content placeholder instead of the video. #}
      {{ content.interactive_placeholder }}
    {% elseif has_embed %}
      {{ content.field_video_embed_code }}
    {% else %}
      {{ content.field_video_up }}
    {% endif %}
  </div>

  {% if (content.link_placeholder is not empty) or (contact_url is not empty) %}
    <div class="content-buttons">
      {% if content.link_placeholder is not empty %}
        {# For gated videos, render a link placehoder for the contact link. #}
        {{ content.link_placeholder }}
      {% elseif contact_url is not empty %}
        <a href="{{ contact_url }}" class="button-primary--four">
          {{ content.field_contact_text }}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}
