{#
/**
 * @file
 * Manhattan's theme implementation to display a Webinar Display Mode.
 *
 */
#}

<div class="node--type-webinar node--view-mode-{{ view_mode }}" role="main">
  <a href="{{ url }}" class="anchor-wrapper" rel="bookmark" >
    <div class="display-mode webinar-display-mode" data-eq-pts="small: 0, medium: 331, large: 631">
      <div class="field-node--field-noimage page-teaser-image" >
        <div class="teaser-date-container">
          <div class="teaser-month">
            {{ date_webinar_month }}
          </div>
          <div class="teaser-date">
            {{ date_webinar_day }}
          </div>
          <div class="teaser-year">
            {{ date_webinar_year }}
          </div>
        </div>
        <div class="teaser-noimage-background">
          {{ source(directory ~ '/styles/images/noimage.svg') }}
        </div>
      </div>
      <div class="page-wrapper">
        <div class="node-category-type">
          {{ type_name }}
        </div>
        <div class="teaser-title">
          {{ content.field_teaser_title }}
        </div>
        <div class="l-full-content l-content-body">
          {% if (view_mode == "block_2_columns") or (view_mode == "block_3_columns") %}
            {{ content.field_teaser_text_long }}
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
