{#
/**
 * @file
 * Manhattan's theme implementation to display a Customer block.
 *
 */
#}

<div class="node--type-customer node--view-mode-{{ view_mode }}" role="main">
  <div class="display-mode customer-display-mode" data-eq-pts="small: 300, medium: 630, large: 631">
    {% if view_mode == "block_list" %}
      {# View mode only outputs title and image. #}
      {{ node.label|t }}
      {{ content }}
    {% else %}
      {{ content.field_teaser_image_media }}
      <div class="page-wrapper">
        <div class="teaser-title">
          <a href="{{ url }}" rel="bookmark">
            {{ content.field_teaser_title }}
          </a>
        </div>
        <div class="node-category-type">
          {{ node.bundle|clean_class|t }}
        </div>
        {% if (view_mode == "block_2_columns") or (view_mode == "block_3_columns") %}
          {{ content.field_teaser_text_long }}
        {% elseif view_mode == "block_1_column" %}
          {{ content.field_teaser_text_short }}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
