{#
/**
 * @file
 * Manhattan's theme implementation to display
 * a Webinar node in the 'full' viewmode.
 *
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block l_content_body %}
  {% if content.field_webinar_date|render|trim is not empty %}
    <span class="webinar_datestamp">
      {{ content.field_webinar_date }}
    </span>
  {% endif %}

  {% if content.video_placeholder is not empty %}
    {# For gated videos, render the gated content placeholder instead of the image/video. #}
    {{ content.video_placeholder }}
  {% elseif has_embed %}
    {{ content.field_webinar_video_embed }}
  {% elseif content.field_webinar_video_up|render|trim is not empty %}
      {{ content.field_webinar_video_up }}
  {% else %}
    {{ content.field_teaser_image_media }}
  {% endif %}

  {{ content.field_webinar_doc }}
  {{ content.field_body }}

  {% if (webinar_url is not empty) or (contact_url is not empty) or (content.link_placeholder is not empty) %}
    <div class="content-buttons">
      {% if webinar_url is not empty %}
        <a href="{{ webinar_url }}" class="button-primary--two">
          {{ content.field_webinar_text }}
        </a>
      {% endif %}
      {% if content.link_placeholder is not empty %}
        {# For gated webinar videos, render a link placeholder for the contact link. #}
        {{ content.link_placeholder }}
      {% elseif contact_url is not empty %}
        <a href="{{ contact_url }}" class="button-primary--four">
          {{ content.field_contact_text }}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}
