{#
/**
 * @file
 * Manhattan's theme implementation to display a Banner node.
 *
 */
#}

    {#  CONTENT ----------------------------------------------------- #}
<div class="node--type-banner node--view-mode-{{ view_mode }}" role="main">
  <div class="display-mode banner-display-mode" data-eq-pts="small: 0, medium: 391, large: 631">
    <a href="{{ banner_url }}" class="banner-display-mode__link">
      {% if view_mode == "block_3_columns" %}
        {% if large_img_src is not empty %}
          {% set fallback_img_src = large_img_src %}
        {% elseif medium_img_src is not empty %}
          {% set fallback_img_src = medium_img_src %}
        {% else %}
          {% set fallback_img_src = small_img_src %}
        {% endif %}
        <picture>
          {% if large_img_src is not empty %}
          <source media="(min-width: 64em)" srcset="{{ large_img_src }}" alt ="{{ image_alt }}">
          {% endif %}
          {% if medium_img_src is not empty %}
          <source media="(min-width: 30.5em)" srcset="{{ medium_img_src }}" alt ="{{ iimage_alt }}">
          {% endif %}
          {% if small_img_src is not empty %}
          <source srcset="{{ small_img_src }}" alt ="{{ image_alt }}">
          {% endif %}
          <img srcset="{{ fallback_img_src }}" alt ="{{ image_alt }}" />
        </picture>
      {% elseif view_mode == "block_2_columns" %}
        {% if medium_img_src is not empty %}
          {% set fallback_img_src = medium_img_src %}
        {% else %}
          {% set fallback_img_src = small_img_src %}
        {% endif %}
        <picture>
          {% if medium_img_src is not empty %}
            <source media="(min-width: 30.5em)" srcset="{{ medium_img_src }}" alt ="{{ image_alt }}">
          {% endif %}
          {% if small_img_src is not empty %}
            <source srcset="{{ small_img_src }}" alt ="{{ image_alt }}">
          {% endif %}
          <img srcset="{{ fallback_img_src }}" alt ="{{ image_alt }}" />
        </picture>
      {% else %}
        {% set fallback_img_src = small_img_src %}
        <picture>
          {% if small_img_src is not empty %}
          <source media="(min-width: 64em)" srcset="{{ small_img_src }}" alt ="{{ image_alt }}">
          {% endif %}
          {% if medium_img_src is not empty %}
          <source media="(min-width: 30.5em)" srcset="{{ medium_img_src }}" alt ="{{ image_alt }}">
          {% endif %}
          {% if small_img_src is not empty %}
          <source srcset="{{ small_img_src }}" alt ="{{ image_alt }}">
          {% endif %}
          <img srcset="{{ fallback_img_src }}" alt ="{{ image_alt }}" />
        </picture>
      {% endif %}
    </a>
  </div>
</div>
