@import url(http://fonts.googleapis.com/css?family=Lato:400,700);



body { font-family: 'Lato', sans-serif; font-size: 15px; font-size: 0.9375rem; line-height: 1.4; color: #77777A; font-weight: 100; }

h1, .header1 { font-size: 27px; font-size: 1.6875rem; line-height: 1.4; font-family: 'Lato', sans-serif; margin: 1rem 0 0.4rem; font-weight: normal; font-weight: 100; color: #00447b; }
h2, .header2 { font-size: 24px; font-size: 1.5rem; line-height: 1.4; font-family: 'Lato', sans-serif; font-weight: bold; color: #00447b; margin: 0.8rem 0 0.4rem; font-weight: 100; }
h3, .header3 { font-size: 21px; font-size: 1.3125rem; line-height: 1.4; font-family: 'Lato', sans-serif; font-weight: normal; font-weight: 100; margin: 0.8rem 0 0.4rem; color: #00447b; font-weight: 100; }
h4, .header4 { font-size: 18px; font-size: 1.125rem; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight: normal; font-weight: 100; text-transform: none; margin: 0.7rem 0 0.3rem; color: #00447b; font-weight: 100; }
h5, .header5 { font-size: 18px; font-size: 1.125rem; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight: normal; font-weight: 100; margin: 0.6rem 0 0.3rem; color: #00447b; font-weight: 100; }
h6, .header6 { font-size: 17px; font-size: 1.0625rem; line-height: 1.5; font-family: 'Lato', sans-serif; font-weight: bold; margin: 0.5rem 0 0.2rem; color: #00447b; font-weight: 100; }

a { text-decoration: none; }
a:link, a:visited { text-decoration: none; color: #0069AA; }
a:hover, a:focus { text-decoration: underline; color: #79BDE8; }