.primary-font {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif; }

.primary-font-heavy {
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif; }
  :lang(ja) .primary-font-heavy {
    font-weight: bold; }

.mediablock {
  margin: 0; }
  .mediablock::after {
    content: '';
    display: table;
    clear: both; }

.mediablock__title {
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif;
  border-top: 0 !important;
  color: #2C5697;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 0 !important;
  padding-top: 0;
  text-transform: uppercase; }
  :lang(ja) .mediablock__title {
    font-weight: bold; }
  .mediablock__title h1,
  .mediablock__title h2,
  .mediablock__title h3,
  .mediablock__title h4,
  .mediablock__title h5,
  .mediablock__title h6 {
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    margin-top: inherit;
    padding-top: inherit;
    border-top: inherit; }
  .mediablock__title a {
    color: #2C5697; }

.mediablock__img {
  margin-bottom: 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  width: 150px;
  height: 150px;
  background: 50% rgba(239, 243, 241, 0.56) no-repeat url("../images/icons/bulldog_transparent.png");
  background-size: 150px; }
  @media (min-width: 770px) {
    .mediablock__img {
      margin-right: 45px;
      margin-bottom: 5px;
      width: 230px;
      height: 230px; } }
  .mediablock__img.icon {
    float: left;
    margin-right: 1rem; }
  .mediablock__img img {
    display: block;
    width: auto; }

.mediablock--tight .mediablock__body {
  overflow: auto; }

@media (max-width: 769px) {
  .mediablock--reversed .mediablock__img {
    float: right;
    margin-right: 0;
    margin-left: 1em; } }
