@charset "UTF-8";
input[type='reset'],
input[type='submit'],
input[type='button'],
button,
.button-primary--one, .button-primary--two, .button-primary--three, .button-primary--four, .button-primary--four-opacity {
  background-clip: padding-box;
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: 18px;
  padding: 0.7em 1.5em 0.5em;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: #fff !important;
  border: 1px solid #fff;
  transition: background 250ms ease-in-out; }
  input[type='reset']:hover,
  input[type='submit']:hover,
  input[type='button']:hover,
  button:hover,
  .button-primary--one:hover, .button-primary--two:hover, .button-primary--three:hover, .button-primary--four:hover, .button-primary--four-opacity:hover, input[type='reset']:focus,
  input[type='submit']:focus,
  input[type='button']:focus,
  button:focus,
  .button-primary--one:focus, .button-primary--two:focus, .button-primary--three:focus, .button-primary--four:focus, .button-primary--four-opacity:focus {
    text-decoration: none; }

input[type='reset'],
input[type='submit'],
input[type='button'],
button,
.button-primary--one {
  background-color: #071D49; }
  input[type='reset']:hover,
  input[type='submit']:hover,
  input[type='button']:hover,
  button:hover,
  .button-primary--one:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000103; }

.button-primary--two {
  background-color: #2C5697; }
  .button-primary--two:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1b345c; }

.button-primary--three {
  background-color: #2C5697; }
  .button-primary--three:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1b345c; }

.button-primary--four {
  background-color: #E03C31; }
  .button-primary--four:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ab231a; }

.button-primary--four-opacity {
  background-color: rgba(119, 197, 213, 0.5); }
  .button-primary--four-opacity:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(61, 172, 195, 0.5); }

.button-secondary {
  background-clip: padding-box;
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: 18px;
  padding: 0.7em 1.5em 0.5em;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: #fff !important;
  border: 1px solid #fff;
  transition: background 250ms ease-in-out; }
  .button-secondary:hover, .button-secondary:focus {
    text-decoration: none; }

.button--large {
  background-clip: padding-box;
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: 18px;
  padding: 0.9rem 12rem 1rem;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: #fff !important;
  border: 1px solid #fff;
  transition: background 250ms ease-in-out;
  background-color: #2C5697; }
  .button--large:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1b345c; }

/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
*,
*::before,
*::after {
  box-sizing: border-box; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
select {
  text-transform: none;
  margin-bottom: 5px; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button:hover,
a.button:hover,
input[type='reset']:hover,
input[type='submit']:hover,
input[type='button']:hover,
button:active,
a.button:active,
input[type='reset']:active,
input[type='submit']:active,
input[type='button']:active {
  color: #fff;
  background: #204070; }

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
  border: 0;
  padding: 0; }

.mfp-wrap button:hover {
  background: transparent; }

fieldset {
  margin: 0 2px;
  border-color: silver; }

legend {
  border: 0;
  padding: 0; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

#main form.submitting {
  position: relative;
  cursor: wait; }
  #main form.submitting:before {
    content: "";
    padding: 0 3px;
    font-family: 'FontAwesome';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0); }
  #main form.submitting:before {
    position: absolute; }
  #main form.submitting::before {
    animation: ui-rotation 2s infinite linear;
    bottom: 20%;
    color: #2C5697;
    display: block;
    font-size: 2.5rem;
    left: 45%;
    position: absolute;
    z-index: 10; }
    @media (max-width: 1020px) {
      #main form.submitting::before {
        display: none; } }
  #main form.submitting > * .form-item,
  #main form.submitting > .form-actions {
    opacity: 0.25; }
  #main form.submitting .form-wrapper {
    pointer-events: none; }
  #main form.submitting .submitting__mobile {
    display: block;
    color: #000; }
    @media (min-width: 1020px) {
      #main form.submitting .submitting__mobile {
        font-size: 0;
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
        height: 1px; } }
  #main form.submitting.contact-message-contact-us-slim-form::before, #main form.submitting.contact-message-gated-content-form::before, #main form.submitting.contact-message-rfp-template-request-form::before {
    color: #fff; }
  #main form.submitting.contact-message-contact-us-slim-form .submitting__mobile, #main form.submitting.contact-message-gated-content-form .submitting__mobile, #main form.submitting.contact-message-rfp-template-request-form .submitting__mobile {
    color: #fff; }
  #main form.submitting .g-recaptcha {
    opacity: 0.25; }

.l-sidebar form .g-recaptcha {
  transform-origin: top left;
  transition: transform 250ms ease-in-out; }
  @media (min-width: 1000px) {
    .l-sidebar form .g-recaptcha {
      transform: scale(0.9); } }
  @media (min-width: 1100px) {
    .l-sidebar form .g-recaptcha {
      transform: scale(1); } }
  @media (min-width: 1199px) {
    .l-sidebar form .g-recaptcha {
      transform: scale(0.65); } }
  @media (min-width: 1300px) {
    .l-sidebar form .g-recaptcha {
      transform: scale(0.74); } }
  @media (min-width: 1400px) {
    .l-sidebar form .g-recaptcha {
      transform: scale(0.82); } }
  @media (min-width: 1500px) {
    .l-sidebar form .g-recaptcha {
      transform: scale(0.9); } }
  @media (min-width: 1600px) {
    .l-sidebar form .g-recaptcha {
      transform: scale(1); } }

input {
  line-height: normal; }

.form-submit ~ p {
  clear: left; }

textarea {
  overflow: auto; }

.form-select {
  min-width: 120px;
  margin: 0 5px; }

div.ctools-modal-content .form-item label.option {
  font-size: 16px; }

optgroup {
  font-weight: bold; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
button,
input,
select,
textarea {
  max-width: 100%; }

input[type='search']::-webkit-search-decoration {
  display: none; }

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none; }

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  box-shadow: 0;
  z-index: 1; }

input[type='file']:focus,
input[type='file']:active,
input[type='radio']:focus,
input[type='radio']:active,
input[type='checkbox']:focus,
input[type='checkbox']:active {
  box-shadow: none; }

textarea,
select[multiple],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0.65rem;
  -webkit-appearance: none;
  background-color: #fff;
  border: 1px solid;
  border-color: #767676;
  margin: 0 3px;
  padding: 0.3rem;
  text-align: left;
  font-size: 13px;
  vertical-align: top; }

textarea[disabled],
select[disabled],
input[type='date'][disabled],
input[type='datetime'][disabled],
input[type='datetime-local'][disabled],
input[type='email'][disabled],
input[type='month'][disabled],
input[type='number'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='time'][disabled],
input[type='url'][disabled],
input[type='week'][disabled] {
  background-color: rgba(100, 100, 100, 0.75); }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #eee;
  cursor: default; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999; }

input.placeholder_text,
textarea.placeholder_text {
  color: #999; }

textarea,
select[size],
select[multiple] {
  height: auto; }

select[size='0'],
select[size='1'] {
  height: 1.8em; }

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px; }
  select,
  select[size='0'],
  select[size='1'] {
    background-image: url("../../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    padding-right: 30px;
    padding-left: 10px; }
    .lt-ie9 select, .lt-ie9
    select[size='0'], .lt-ie9
    select[size='1'] {
      background-image: url("../../images/arrow-down.png"); }
  ::-webkit-validation-bubble-message {
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #999;
    color: #fff;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px; }
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    box-shadow: none;
    background: #666;
    border: 0; } }

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal; }

optgroup::-moz-focus-inner {
  border: 0;
  padding: 0; }

.placeholder_text {
  color: #999; }

#wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 800px; }

label.error {
  background: #ffffcc;
  color: #cc0000;
  font-style: italic; }

input.error,
select.error,
textarea.error {
  background-color: #ffeeee; }

.horiz {
  margin-top: -20px;
  margin-left: -20px; }

.horiz td {
  padding: 20px 0 0 20px; }

.form-type-select {
  display: inline-block; }
  .form-type-select label {
    display: inline-block;
    font-family: "AvenirLTStd-Heavy", "Arial", sans-serif; }
    :lang(ja) .form-type-select label {
      font-weight: bold; }

.field-label,
.field__label {
  font-weight: normal; }

.container-inline-date > .form-item {
  margin-right: 0; }

ul.menu li.leaf,
ul li.leaf {
  list-style-image: none; }

body ul.menu,
ul {
  margin: 0;
  padding: 0; }
  body ul.menu li,
  ul li {
    list-style: none; }
    .field--name-body body ul.menu li, .field--name-body
    ul li {
      list-style: disc; }
    .field--name-body body ul.menu li li, .field--name-body
    ul li li {
      list-style: circle; }
  body ul.menu .collapsed,
  body ul.menu .expanded,
  ul .collapsed,
  ul .expanded {
    list-style: none;
    list-style-image: none; }

.view ul li {
  list-style: none; }

.bullets, .cke_editable ul,
.field--name-body ul,
.field--type-text-long ul {
  padding: 0 0 0 20px; }
  .bullets li, .cke_editable ul li,
  .field--name-body ul li,
  .field--type-text-long ul li {
    list-style: disc; }

picture,
img {
  line-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto; }

.image-fpp {
  width: 100%; }
  .image-fpp::after {
    content: '';
    display: table;
    clear: both; }
  .image-fpp figure {
    margin: 0; }

.field--name-body .image-fpp::after {
  content: inherit;
  display: inherit;
  clear: inherit; }

picture,
img,
embed,
object,
video,
media {
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

.field--type-image a {
  display: inline-block; }
  .front .field--type-image a,
  .section-multimedia .field--type-image a {
    display: block !important; }

iframe {
  max-width: 100%; }
  .sidebar iframe {
    width: auto; }

#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img,
.views_horizontal_slider img {
  max-width: none !important; }

svg:not(:root) {
  overflow: hidden;
  height: 100%;
  width: 100%; }

audio,
canvas,
progress,
video {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  background: #fff !important;
  border: 0 none !important;
  visibility: visible !important; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden; }

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  background: #fff; }

.selectize-dropdown-header-close {
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -12px;
  font-size: 20px !important;
  line-height: 20px;
  color: #303030;
  opacity: 0.4; }

.selectize-dropdown-header-close:hover {
  color: #000; }

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  float: left;
  border-top: 0 none;
  border-right: 1px solid #f2f2f2; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup::before {
  display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }

.selectize-control.plugin-remove_button [data-value] .remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 17px;
  padding: 2px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-left: 1px solid #0073bb; }

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05); }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #00578d; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #aaaaaa; }

.selectize-control {
  position: relative; }

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-family: inherit;
  font-size: 13px;
  -webkit-font-smoothing: inherit;
  line-height: 18px;
  color: #303030; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  display: inline-block;
  cursor: text;
  background: #fff; }

.selectize-input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding: 8px 8px;
  overflow: hidden; }

.selectize-control.multi .selectize-input.has-items {
  padding: 5px 8px 2px; }

.selectize-input.full {
  background-color: #fff; }

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important; }

.selectize-input > * {
  display: inline-block; }

.selectize-control.multi .selectize-input > div {
  padding: 2px 6px;
  margin: 0 3px 3px 0;
  color: #fff;
  cursor: pointer;
  background: #fff;
  border: 1px solid #0073bb; }

.selectize-control.multi .selectize-input > div.active {
  color: #fff;
  background: #92c836;
  border: 1px solid #00578d; }

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #fff;
  background: #071D49;
  border: 1px solid #aaaaaa; }

.selectize-input > input {
  max-width: 100% !important;
  max-height: none !important;
  min-height: 0 !important;
  padding: 0 !important;
  margin: 0 1px !important;
  line-height: inherit !important;
  text-indent: 0 !important;
  background: none !important;
  border: 0 none !important;
  -webkit-user-select: auto !important; }

.selectize-input::after {
  display: block;
  clear: left;
  content: ' '; }

.selectize-input.dropdown-active::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: #fff;
  content: ' '; }

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  margin: -1px 0 0;
  background: #fff;
  border: 1px solid #edf0e9;
  border-top: 0; }

.selectize-dropdown [data-selectable] {
  overflow: hidden;
  cursor: pointer; }

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px; }

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none; }

.selectize-dropdown .optgroup-header {
  color: #303030;
  cursor: default;
  background: #fff; }

.selectize-dropdown [data-selectable] .active,
.selectize-dropdown [data-selectable] .highlight,
.selectize-dropdown .active {
  color: #495c68;
  background-color: #d4dbcb; }

.selectize-dropdown .active.create {
  color: #495c68; }

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5); }

.selectize-dropdown-content {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto; }

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer; }

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text; }

.selectize-control.single .selectize-input::after {
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  content: ' '; }

.selectize-control.single .selectize-input.dropdown-active::after {
  margin-top: -4px;
  border-width: 0; }

.selectize-control.rtl.single .selectize-input::after {
  right: auto;
  left: 15px; }

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled {
  background-color: #fafafa;
  opacity: 0.5; }

.selectize-control.multi .selectize-input.has-items {
  padding-right: 5px;
  padding-left: 5px; }

.selectize-control.multi .selectize-input.disabled [data-value] {
  color: #999;
  text-shadow: none;
  background: none; }

.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  background: none; }

.selectize-control.multi .selectize-input [data-value] {
  background: #edf0e9; }

.selectize-control.single .selectize-input {
  background: #edf0e9 image-url("arrow-down.png") calc(100% - 7px) 50% no-repeat; }

.selectize-dropdown .optgroup-header {
  padding-top: 7px;
  font-size: 0.85em;
  font-weight: bold; }

.selectize-dropdown .optgroup:first-child {
  border-top: 0 none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0;
  padding: 0; }
  @media (max-width: 479px) {
    table {
      max-width: 100%;
      display: block;
      overflow: scroll;
      overflow-x: scroll;
      overflow-y: hidden; } }
  table.sticky-header {
    z-index: 10; }

caption {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-weight: normal;
  font-weight: 100;
  color: #071D49;
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0.7rem 0 0.3rem;
  text-transform: uppercase;
  padding: 9px 0 0; }
  caption a {
    text-decoration: none;
    color: #071D49; }
    caption a:visited {
      text-decoration: none;
      color: #071D49; }
    caption a:hover, caption a:focus {
      color: #2C5697; }

thead {
  color: #071D49;
  border-bottom: 1px solid #2C5697; }

td,
th {
  padding: 0; }

table,
td,
th {
  vertical-align: middle; }

caption,
th,
td {
  text-align: left; }

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 9px 0;
  background-color: transparent; }

table.views-table {
  min-width: 320px; }

@media (max-width: 479px) {
  .mobile-table tr {
    border-bottom: 10px solid transparent; }
  .mobile-table td,
  .mobile-table th {
    display: block; } }

table.borders td {
  border: 1px solid #2C5697; }

table.borders caption,
table.borders td,
table.borders th {
  padding: 9px 5px; }

body {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #000;
  font-weight: 100; }

@media (min-width: 1021px) {
  h1,
  .header1 {
    font-family: "AvenirLTStd-Heavy", "Arial", sans-serif;
    font-weight: normal;
    font-weight: 100;
    color: #071D49;
    font-size: 2.441em;
    line-height: 1.1em;
    margin: 0rem 0 0.4rem;
    text-transform: uppercase; }
    :lang(ja) h1, :lang(ja)
    .header1 {
      font-weight: bold; }
    h1 a,
    .header1 a {
      text-decoration: none;
      color: #071D49; }
      h1 a:visited,
      .header1 a:visited {
        text-decoration: none;
        color: #071D49; }
      h1 a:hover, h1 a:focus,
      .header1 a:hover,
      .header1 a:focus {
        color: #2C5697; }
    .title-and-tabs h1, .title-and-tabs
    .header1 {
      line-height: 1.1; } }

@media (max-width: 1020px) {
  h1,
  .header1 {
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
    color: #071D49;
    font-size: 1.953em;
    line-height: 1.2em;
    margin: 0.8rem 0 0.4rem;
    text-transform: uppercase; }
    h1 a,
    .header1 a {
      text-decoration: none;
      color: #071D49; }
      h1 a:visited,
      .header1 a:visited {
        text-decoration: none;
        color: #071D49; }
      h1 a:hover, h1 a:focus,
      .header1 a:hover,
      .header1 a:focus {
        color: #2C5697; }
    .title-and-tabs h1, .title-and-tabs
    .header1 {
      line-height: 1.2; } }

@media (min-width: 1021px) {
  h2,
  .header2 {
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
    color: #071D49;
    font-size: 1.953em;
    line-height: 1.2em;
    margin: 0.8rem 0 0.4rem;
    text-transform: uppercase; }
    h2 a,
    .header2 a {
      text-decoration: none;
      color: #071D49; }
      h2 a:visited,
      .header2 a:visited {
        text-decoration: none;
        color: #071D49; }
      h2 a:hover, h2 a:focus,
      .header2 a:hover,
      .header2 a:focus {
        color: #2C5697; }
    .title-and-tabs h2, .title-and-tabs
    .header2 {
      line-height: 1.2; } }

@media (max-width: 1020px) {
  h2,
  .header2 {
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
    font-weight: normal;
    font-weight: 100;
    color: #071D49;
    font-size: 1.25em;
    line-height: 1.3em;
    margin: 0.7rem 0 0.3rem;
    text-transform: uppercase; }
    h2 a,
    .header2 a {
      text-decoration: none;
      color: #071D49; }
      h2 a:visited,
      .header2 a:visited {
        text-decoration: none;
        color: #071D49; }
      h2 a:hover, h2 a:focus,
      .header2 a:hover,
      .header2 a:focus {
        color: #2C5697; }
    .title-and-tabs h2, .title-and-tabs
    .header2 {
      line-height: 1.3; } }

@media (min-width: 1021px) {
  h3,
  .header3 {
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
    font-weight: normal;
    font-weight: 100;
    color: #071D49;
    font-size: 1.563em;
    line-height: 1.3em;
    margin: 0.8rem 0 0.4rem;
    text-transform: uppercase; }
    h3 a,
    .header3 a {
      text-decoration: none;
      color: #071D49; }
      h3 a:visited,
      .header3 a:visited {
        text-decoration: none;
        color: #071D49; }
      h3 a:hover, h3 a:focus,
      .header3 a:hover,
      .header3 a:focus {
        color: #2C5697; }
    .title-and-tabs h3, .title-and-tabs
    .header3 {
      line-height: 1.2; } }

@media (max-width: 1020px) {
  h3,
  .header3 {
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
    font-weight: normal;
    font-weight: 100;
    color: #071D49;
    font-size: 1.25em;
    line-height: 1.3em;
    margin: 0.7rem 0 0.3rem;
    text-transform: uppercase; }
    h3 a,
    .header3 a {
      text-decoration: none;
      color: #071D49; }
      h3 a:visited,
      .header3 a:visited {
        text-decoration: none;
        color: #071D49; }
      h3 a:hover, h3 a:focus,
      .header3 a:hover,
      .header3 a:focus {
        color: #2C5697; }
    .title-and-tabs h3, .title-and-tabs
    .header3 {
      line-height: 1.3; } }

h4,
.header4 {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-weight: normal;
  font-weight: 100;
  color: #071D49;
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0.7rem 0 0.3rem;
  text-transform: uppercase;
  font-weight: 100; }
  h4 a,
  .header4 a {
    text-decoration: none;
    color: #071D49; }
    h4 a:visited,
    .header4 a:visited {
      text-decoration: none;
      color: #071D49; }
    h4 a:hover, h4 a:focus,
    .header4 a:hover,
    .header4 a:focus {
      color: #2C5697; }

h5,
.header5 {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-weight: normal;
  font-weight: 100;
  color: #071D49;
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0.7rem 0 0.3rem;
  text-transform: uppercase;
  font-weight: 100; }
  h5 a,
  .header5 a {
    text-decoration: none;
    color: #071D49; }
    h5 a:visited,
    .header5 a:visited {
      text-decoration: none;
      color: #071D49; }
    h5 a:hover, h5 a:focus,
    .header5 a:hover,
    .header5 a:focus {
      color: #2C5697; }

h6,
.header6 {
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif;
  color: #071D49;
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0.5rem 0 0.2rem;
  font-weight: 100; }
  :lang(ja) h6, :lang(ja)
  .header6 {
    font-weight: bold; }
  h6 a,
  .header6 a {
    text-decoration: none;
    color: #071D49; }
    h6 a:visited,
    .header6 a:visited {
      text-decoration: none;
      color: #071D49; }
    h6 a:hover, h6 a:focus,
    .header6 a:hover,
    .header6 a:focus {
      color: #2C5697; }

.field-name-field-page-title {
  color: #071D49; }

.related-title {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-weight: normal;
  font-weight: 100;
  color: #071D49;
  font-size: 1.563em;
  line-height: 1.3em;
  margin: 0.8rem 0 0.4rem;
  text-transform: uppercase;
  font-weight: 100; }
  .related-title a {
    text-decoration: none;
    color: #071D49; }
    .related-title a:visited {
      text-decoration: none;
      color: #071D49; }
    .related-title a:hover, .related-title a:focus {
      color: #2C5697; }

.sidebar-title {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-weight: normal;
  font-weight: 100;
  color: #071D49;
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0.7rem 0 0.3rem;
  text-transform: uppercase;
  font-weight: 100; }
  .sidebar-title a {
    text-decoration: none;
    color: #071D49; }
    .sidebar-title a:visited {
      text-decoration: none;
      color: #071D49; }
    .sidebar-title a:hover, .sidebar-title a:focus {
      color: #2C5697; }

:lang(ja) {
  font-family: メイリオ, Meiryo, "Hiragino Kaku Gothic Pro", Osaka, ＭＳ Ｐゴシック, "MS PGothic", sans-serif; }
  :lang(ja) body {
    font-size: 16px;
    line-height: 1.6em; }

:lang(zh-hans) {
  font-family: "AvenirLTStd-Book", STHeiti Light, 华文细黑, Yahei, 微软雅黑, SimSun, 宋体, sans-serif; }

:lang(zh-hans) body {
  font-size: 16px;
  line-height: 1.6em; }

:lang(zh-hans) h1,
:lang(zh-hans) h2,
:lang(zh-hans) h3,
:lang(zh-hans) strong,
:lang(zh-hans) b,
:lang(zh-hans) .field-name-field-pr-published-date,
:lang(zh-hans) .teaser-month,
:lang(zh-hans) .teaser-date,
:lang(zh-hans) .teaser-year,
:lang(zh-hans) .button-link a,
:lang(zh-hans) .manh-column-menu .unlinked,
:lang(zh-hans) .field-node--field-event-location,
:lang(zh-hans) .node--type-event .date,
:lang(zh-hans) .node--type-event .location,
:lang(zh-hans) .field-node--field-event-dates .teaser-date-separator,
:lang(zh-hans) .node--type-article .date-and-author,
:lang(zh-hans) .contact-message-contact-us-form label,
:lang(zh-hans) .node--type-link .teaser-title,
:lang(zh-hans) .quote__quote-attribution,
:lang(zh-hans) .stat-fittext-container,
:lang(zh-hans) .partners-view .partners-title-field {
  font-family: "AvenirLTStd-Heavy", STHeiti Regular, 华文字体, "Microsoft Yahei Bold", 微软雅黑, SimSun, 宋体, sans-serif;
  font-weight: bold; }

:lang(zh-hans) p, :lang(zh-hans) .views-field-field-teaser-text-long, :lang(zh-hans) .field-node--field-teaser-text-short, :lang(zh-hans) .field-node--field-teaser-text-long {
  text-align: justify;
  word-break: break-all; }

:lang(zh-hans) em {
  font-style: normal; }

:lang(ja) body {
  font-size: 16px;
  line-height: 1.6em; }

:lang(ja) h1,
:lang(ja) h2,
:lang(ja) h3,
:lang(ja) strong,
:lang(ja) b,
:lang(ja) .field-name-field-pr-published-date,
:lang(ja) .teaser-month,
:lang(ja) .teaser-date,
:lang(ja) .teaser-year,
:lang(ja) .button-link a,
:lang(ja) .manh-column-menu .unlinked,
:lang(ja) .field-node--field-event-location,
:lang(ja) .node--type-event .date,
:lang(ja) .node--type-event .location,
:lang(ja) .field-node--field-event-dates .teaser-date-separator,
:lang(ja) .node--type-article .date-and-author,
:lang(ja) .contact-message-contact-us-form label,
:lang(ja) .node--type-link .teaser-title,
:lang(ja) .quote__quote-attribution,
:lang(ja) .stat-fittext-container,
:lang(ja) .partners-view .partners-title-field {
  font-weight: bold; }

:lang(ja) p, :lang(ja) .views-field-field-teaser-text-long, :lang(ja) .field-node--field-teaser-text-short, :lang(ja) .field-node--field-teaser-text-long {
  text-align: justify;
  word-break: break-all; }

:lang(ja) em {
  font-style: normal; }

p, pre {
  margin: 0 0 20px; }

strong,
b {
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif;
  font-weight: normal; }
  :lang(ja) strong, :lang(ja)
  b {
    font-weight: bold; }

pre, code, tt, samp, kbd, var {
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
  font-size: 1em; }

pre {
  overflow: auto; }

hr {
  box-sizing: content-box;
  height: 1px;
  border: none;
  background-color: #2C5697; }

a {
  text-decoration: none;
  color: #2C5697; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover, h1 a:focus,
  h2 a:focus,
  h3 a:focus,
  h4 a:focus,
  h5 a:focus,
  h6 a:focus {
    text-decoration: none; }

.content-link:hover {
  text-decoration: none; }

.cke_editable *:focus {
  outline: none; }

blockquote {
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif;
  border-left: 2px solid rgba(100, 100, 100, 0.75);
  color: #071D49;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.2;
  margin: 15px 0 0 30px;
  padding: 0 25px 0 18px;
  position: relative; }
  :lang(ja) blockquote {
    font-weight: bold; }
  blockquote > *:first-child {
    text-indent: 30px; }
  blockquote p {
    color: #071D49;
    font-size: 1.25em;
    line-height: 1.2; }
    blockquote p::before {
      background: image-url("quote-lft.png") no-repeat top left;
      background-image: image-url("quote-lft.svg");
      content: '';
      display: block;
      height: 13px;
      left: 20px;
      position: absolute;
      top: 7px;
      width: 18px; }
  blockquote > *:last-child::after {
    background: image-url("quote-rt.png") no-repeat top left;
    background-image: image-url("quote-rt.svg");
    content: '';
    display: inline-block;
    height: 13px;
    left: 10px;
    position: relative;
    top: -6px;
    width: 18px; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 40%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -1.1em; }

sub {
  bottom: -0.25em; }

dfn {
  font-style: italic; }

abbr[title] {
  border-bottom: 1px dotted; }

template {
  display: none; }

ul.pagination li {
  display: inline-block; }

.field-node--field-body ul li, .field-node--field-body-left ul li, .field-node--field-body-right ul li {
  list-style-image: url("../images/bullet-ma-dark-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.ma-dark-blue, .field-node--field-body-left ul li.ma-dark-blue, .field-node--field-body-right ul li.ma-dark-blue {
  list-style-image: url("../images/bullet-ma-dark-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.ma-light-blue, .field-node--field-body-left ul li.ma-light-blue, .field-node--field-body-right ul li.ma-light-blue {
  list-style-image: url("../images/bullet-ma-light-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.ma-flame, .field-node--field-body-left ul li.ma-flame, .field-node--field-body-right ul li.ma-flame {
  list-style-image: url("../images/bullet-ma-flame.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.ma-aqua, .field-node--field-body-left ul li.ma-aqua, .field-node--field-body-right ul li.ma-aqua {
  list-style-image: url("../images/bullet-ma-aqua.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.ma-lavender, .field-node--field-body-left ul li.ma-lavender, .field-node--field-body-right ul li.ma-lavender {
  list-style-image: url("../images/bullet-ma-lavender.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.dark-blue, .field-node--field-body-left ul li.dark-blue, .field-node--field-body-right ul li.dark-blue {
  list-style-image: url("../images/bullet-ma-dark-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.medium-blue, .field-node--field-body-left ul li.medium-blue, .field-node--field-body-right ul li.medium-blue {
  list-style-image: url("../images/bullet-ma-dark-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.bright-blue, .field-node--field-body-left ul li.bright-blue, .field-node--field-body-right ul li.bright-blue {
  list-style-image: url("../images/bullet-ma-light-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.dark-green, .field-node--field-body-left ul li.dark-green, .field-node--field-body-right ul li.dark-green {
  list-style-image: url("../images/bullet-ma-flame.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.medium-green, .field-node--field-body-left ul li.medium-green, .field-node--field-body-right ul li.medium-green {
  list-style-image: url("../images/bullet-ma-flame.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.bright-green, .field-node--field-body-left ul li.bright-green, .field-node--field-body-right ul li.bright-green {
  list-style-image: url("../images/bullet-ma-flame.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.dark-grey, .field-node--field-body-left ul li.dark-grey, .field-node--field-body-right ul li.dark-grey {
  list-style-image: url("../images/bullet-ma-dark-gray.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.medium-dark-grey, .field-node--field-body-left ul li.medium-dark-grey, .field-node--field-body-right ul li.medium-dark-grey {
  list-style-image: url("../images/bullet-ma-medium-gray.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.gold, .field-node--field-body-left ul li.gold, .field-node--field-body-right ul li.gold {
  list-style-image: url("../images/bullet-ma-light-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.brown, .field-node--field-body-left ul li.brown, .field-node--field-body-right ul li.brown {
  list-style-image: url("../images/bullet-ma-light-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.rust, .field-node--field-body-left ul li.rust, .field-node--field-body-right ul li.rust {
  list-style-image: url("../images/bullet-ma-light-blue.svg");
  padding-left: 1rem; }

.field-node--field-body ul li.checkmark, .field-node--field-body-left ul li.checkmark, .field-node--field-body-right ul li.checkmark {
  list-style-image: url("../images/bullet-checkmark.svg");
  padding-left: 1rem; }

.visually-hidden {
  font-size: 0;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }
