.view-resources {

  .views-row {
    border-top: 1px solid $ma-light-gray;
    margin-bottom: 1rem;
  }

  .views-field-field-teaser-title {
    @include primary-font-heavy;
    font-size: 1.0em;
    margin-top: 0.3em;
    text-transform: uppercase;
  }
}

.path-resources .description,
.path-events .description {
  font-size: 0.8125rem;
  max-width: 100%;
  margin: 0.5rem 0;

  :lang(ja) & {
    font-size: 14px;
  }
}
