{#
/**
 * @file
 * Default theme template for Manhattan 2-level menu formatter.
 */
#}
<div class="secondarymenu">
  <div class="secondarymenu-inner">
    <div>
      {{ level_1 }}
      {{ level_2 }}
    </div>
  </div>
</div>