{#
/**
 * @file
 * Default theme implementation for a field.
 *
 */
#}
{% block field_data %}
  <div class='related-title'>{{ "Related Information"|t }}</div>
  <div class="slick-list-container">
    <ul{{ content_attributes.addClass('slick-list') }}>
      {% for item in items %}
        <li{{ item.attributes.addClass('slick-slide') }}>
          {{ item.content }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
