{#
/**
 * @file
 * Default theme implementation for the Customer Success Field.
 */
#}

{% block field_data %}
  <div class="customersuccess-fieldcollection-field" data-eq-pts="small: 0, large: 620">
  {% for item in items %}
    <div class="customersuccess-item">
      {% if item.bundle == 'document' %}
        <a href="{{ item.cs_node_url }}" class="anchor-wrapper" rel="bookmark">
          <div class="display-mode display-mode--customersuccess" data-eq-pts="small: 0, medium: 301, large: 631">
            <div class="customersuccess-teaser-image">
              {{ item.field_teaser_image }}
            </div>
            <div class="page-wrapper">
              <div class="teaser-title">
                {{ item.field_teaser_title }}
              </div>
              <div class="node-category-type">
                {{ item.field_category }}
              </div>
            </div>
          </div>
        </a>
      {% elseif item.bundle == 'quote' %}
        {%
          include 'themes/manh/templates/node/node--quote.html.twig' with {
            content: {
              field_quote: item.field_quote,
              field_quote_attribution: item.field_quote_attribution,
              field_quote_reference_text: item.field_quote_reference_text,
            },
            quote_reference_nid: item.quote_reference_nid,
            customer_logo_image: item.customer_logo_image,
          } only
        %}
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endblock %}
