{#
/**
 * @file
 * Default theme implementation for a Why Manhattan field.
 *
 */
#}

{% block field_data %}
  <div class="why-manhattan-header">
    {{ 'Why Choose Manhattan Associates?'|t }}
  </div>

  <div class="why-manhattan-items">
    {% for item in items %}
      <div{{ item.attributes.addClass('why-manhattan-item') }}>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
