{#
/**
 * @file
 * Theme implementation for field_video_up field on nodes.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}
{% set field_name_class = field_name|clean_class %}

{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{# CAN OVERRIDE #}
{% block field_data %}
  <div{{ attributes.addClass(classes) }}>
    {% if not label_hidden %}
      <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% endif %}
    <video{{ content_attributes.addClass('field-items') }}
      {% if poster is not empty %}
        poster="{{ poster }}"
      {% endif %} controls>
      {% for item in items %}
        <source {{ item.attributes.addClass('field-item') }} src="{{ item.href }}" type="{{ item.type }}" />
      {% endfor %}
    </video>
  </div>
{% endblock %}
