{#
/**
 * @file
 * Default theme implementation for the Scrolling Assets Field within a Block.
 *
 */
#}
{% block field_data %}
  <ul class="slick-list">
    {% for item in items %}
      <li class="asset-homepage-field slick-slide">
        {{ item.content }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
