{#
/**
 * @file
 * Default theme implementation for a field.
 *
 */
#}
{{ attach_library('manh/company-list-marquee') }}

{%
  set classes = [
    'companylist-marquee__list',
    'companylist-fieldcollection-wrapper',
    'display--' ~ company_display_type,
  ]
%}
{% block field_data %}
  <div class="{{ classes|join(' ') }}">
    {% for item in items %}
      <div{{ item.attributes.addClass('companylist-marquee__item') }}>
        {% if item.company_display_type == 'color' %}
          <div class="companylist-marquee__color">
            {{ item.company_logo_color }}
          </div>
        {% elseif item.company_display_type == 'grayscale' %}
          <div class="companylist-marquee__grayscale">
            {{ item.company_logo_grayscale }}
          </div>
        {% elseif item.company_display_type == 'text' %}
          <div class="companylist-marquee__text">
            {{ item.customer_name }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
