{#
/**
 * @file
 * Default theme implementation for a Related Items field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * For example, for a field named 'body' displayed on the 'article' content
 * type, any of the following templates will override this default
 * implementation. The first of these templates that exists is used:
 * - field--body--article.html.twig
 * - field--article.html.twig
 * - field--body.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{# CAN OVERRIDE #}
{% block field_data %}
  <div class="display-mode related-display-mode" data-eq-pts="small: 0, medium: 391, large: 631">
    <div{{ content_attributes.addClass('relatedcontent-field-wrapper') }}>
      {% for item in items %}
      <a href="{{ item.node_url }}">
        <div {{ item.attributes.addClass('relatedcontent-row') }}>
          {% if item.field_teaser_image_thumbnail is not empty %}
            <div class="relatedcontent-image">
                {{ item.field_teaser_image_thumbnail }}
            </div>
          {% endif %}
          <div class="relatedcontent-text-wrapper">
            <div class="teaser-title">
              {% if item.field_teaser_title is not empty %}
                {{ item.field_teaser_title }}
              {% else %}
                {{ item.node_title }}
              {% endif %}
            </div>
            <div class="related-text">
              {{ item.field_related_text }}
            </div>
          </div>
        </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
