{#
/**
 * @file
 * Theme implementation for field_webinar_video_up field on nodes.
 *
 * @ingroup themeable
 */
#}
{% set field_name_class = field_name|clean_class %}

{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% block field_data %}
  <div{{ attributes.addClass(classes) }}>
    {% if not label_hidden %}
      <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% endif %}
    <video{{ content_attributes.addClass('field-items') }}
      {% if poster is not empty %}
        poster="{{ poster }}"
      {% endif %} controls>
      {% for item in items %}
        <source {{ item.attributes.addClass('field-item') }} src="{{ item.href }}" type="{{ item.type }}" />
      {% endfor %}
    </video>
  </div>
{% endblock %}
