{#
/**
 * @file
 * Markup for the Manhattan Landing Page Language Selector.
 *
 * Available variables:
 * - languages: A list of languages and associated data. Each item contains:
 *   - langcode: Language code.
 *   - name: Name of the language to display.
 *   - url: URL of translation for this language.
 * - default: Default langcode.
 */
#}
<form>
  <div class="form--inline clearfix">
    <div class="js-form-item form-item js-form-type-select form-type-select form-no-label">
      <select class="manh-landing-pages-language-select">
        {% for lang in languages %}
          {% if lang.langcode == default %}
            {% set selected='selected' %}
          {% else %}
            {% set selected='' %}
          {% endif %}
          <option value="{{ lang.url }}" {{ selected }}>{{ lang.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</form>