{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - css: A list of CSS files for the current page.
 * - head: Markup for the HEAD element (including meta tags, keyword tags, and
 *   so on).
 * - head_title: A modified version of the page title, for use in the TITLE tag.
 * - head_title_array: List of text elements that make up the head_title
 *   variable. May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - styles: Style tags necessary to import all necessary CSS files in the head.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   in the head.
 *
 * @see template_preprocess_html()
 *
 * @todo Move RTP script into a library in marketo_ma_personalization.
 * @todo Move ShareThis scripts into a library.
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
  ]
%}

{% set secondary_gtm_languages = ['en-au', 'en-sg'] %}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <css-placeholder token="{{ placeholder_token|raw }}">
    <!--[if lt IE 9]>
    <script type="text/javascript">
      alert("We\'re sorry, but your version of Internet Explorer is not supported. " +
    "Please use the latest version of one of the following browsers for the best experience: " +
    "Google Chrome, Mozilla Firefox, Apple Safari, or Microsoft Internet Explorer version 10 or higher.");
    </script>
    <![endif]-->
    <script>
      window.dataLayer.push({
        'drupalSettings.path.currentLanguage': '{{ sharethis_langcode }}'
      });
    </script>
     {# 
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NB3HRPX');</script>
    <!-- End Google Tag Manager --> #}
 {# 
    {% if langcode in secondary_gtm_languages %}
      <!-- Google Tag Manager -->
      <script type="text/plain" data-cookieconsent="statistics">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-T6BTQLK');
      </script>
      <!-- End Google Tag Manager -->
    {% endif %}
  #} 
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-culture="{{ sharethis_langcode }}" data-cbid="ba5528e4-d835-4a65-8492-eb3d037a6a69" data-georegions="{'region':'US-06','cbid':'c5a30b29-a1dd-4abd-af48-ac57809a7c53'}" type="text/javascript" async></script>
    <script>
    function CookiebotCallback_OnAccept() {
        if (Cookiebot.consent.preferences)
            dataLayer.push({'event':'cookieconsent_preferences'});
        if (Cookiebot.consent.statistics)
            dataLayer.push({'event':'cookieconsent_statistics'});
        if (Cookiebot.consent.marketing)
            dataLayer.push({'event':'cookieconsent_marketing'});
    }
    </script>

    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {# {% if langcode in secondary_gtm_languages %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6BTQLK"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %} #} 

    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/plain" data-cookieconsent="statistics" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/plain" data-cookieconsent="statistics">
      window.addEventListener('CookiebotOnAccept', function (e) {
        if (Cookiebot.consent.statistics)
        {
          if (stLight.options !== 'undefined') {
            stLight.options({
              publisher: "fd6f620d-f798-49c3-b7ca-ea8e3ffa9ffd", lang: '{{ sharethis_langcode }}',
              doNotHash: false, doNotCopy: false, hashAddressBar: false});
          }
          else {
            console.log("stLight isn't ready yet.");
          }

        }
      }, false);
    </script>
  </body>
</html>
