{#
/**
 * @file
 * Manh's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - header_branding: 'Header branding'
 * - header_secondary_menu: 'Header secondary menu'
 * - header_primary_menu: 'Header primary menu'
 * - header_mobile_menu: 'Header mobile menu'
 * - help: 'Help'
 * - content_hero: 'Content hero'
 * - content_top_first: 'Content top first'
 * - content_top_second: 'Content top second'
 * - content_top_third: 'Content top third'
 * - content_sidebar_left: 'Content sidebar left'
 * - content_sidebar_right: 'Content sidebar right'
 * - content_main: 'Content main'
 * - content_bottom_first: 'Content bottom first'
 * - content_bottom_second: 'Content bottom second'
 * - content_bottom_third: 'Content bottom third'
 * - footer_firstcolumn: 'Footer first column'
 * - footer_secondcolumn: 'Footer second column'
 * - footer_thirdcolumn: 'Footer third column'
 * - footer_fourthcolumn: 'Footer fourth column'
 * - footer_copyright: 'Footer copyright'
 *
 * @see template_preprocess_page()
 * @see manh_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page">

    {# HEADER ------------------------------------------------  #}
    <header id="header" class="l-header" role="banner" aria-label="{{ 'Site header'|t}}">
      <div class="header-top clearfix">
        <div class="header-top-inner">
          <div id="name-and-slogan"{% if hide_site_name and hide_site_slogan %} class="visually-hidden"{% endif %}>

            <div class="menu-toggle">
              <a href="#"><span class="mobile-menu-label">Menu</span></a>
            </div>
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
            <h1 id="site-name"{% if hide_site_name %} class="visually-hidden" {% endif %}>
              <span>{{ site_name }}</span>
            </h1>
            <div class="logo-logistics"><img src="/{{ directory }}/images/logo-logistics.svg" alt="logistics logo"></div>
            </a>
              <a class="phone-icon" href="#"></a>
          </div>
          {{ page.header_site_selector }}
          {{ page.header_secondary }}
        </div>
      </div>

      <div class="header-bottom clearfix">
        <div class="header-bottom-inner">
          {{ page.header_primary_menu }}
          {{ page.header_mobile_menu }}
        </div>
      </div>
    </header>

    {# MAIN = EDGE TO EDGE CONTENT, MAX 1024px ------------  #}
    <div id="main-wrapper" class="l-main-wrapper clearfix">
      {# MAIN = EDGE TO EDGE CONTENT, MAX 1024px ------------  #}
      <div id="main" class="clearfix">
        {% if page.share %}
          <div id="share">
            <aside class="section clearfix" role="complementary">
              {{ page.share }}
            </aside>
          </div>
        {% endif %}

        {% if page.content_hero %}
          <div id="content-hero">
            <aside class="section clearfix" role="complementary">
              {{ page.content_hero }}
            </aside>
          </div>
        {% endif %}

        {# MAIN INNER = CONTENT WITHIN GUTTERS, MAX 960x ----------------  #}
        <div id="main-inner" class="clearfix">
          {# {{ breadcrumb }} #}

          {% if messages %}
            <div id="messages">
              <div class="section clearfix">{{ messages }}</div>
            </div>
          {% endif %}

          {{ page.help }}


          {# PRIMARY CONTENT REGION ---------------------------  #}
          <main id="main-content" role="main">
            <section class="section">
              <a id="main-content" tabindex="-1"></a>

              {% if tabs %}
                <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
                  {{ tabs }}
                </nav>
              {% endif %}

              {% if action_links %}
                <ul class="action-links">{{ action_links }}</ul>
              {% endif %}

              {{ page.content_main }}

            </section>
          </main>


          <div class="main-two-column-layout">
            <div class="main-two-column-first-column">
              {{ page.content_main_first_column }}
            </div>
            <div class="main-two-column-second-column">
              {{ page.content_main_second_column }}
            </div>
          </div>


          </div>
        {# END MAIN  = CONTENT WITHIN GUTTERS -------------  #}
      </div>
      {# END MAIN WRAPPER = FULL PAGE WIDTH -------------  #}

    </div>
    {# END MAIN WRAPPER = EDGE TO EDGE CONTENT, MAX 1024px ------------  #}

    {# FOOTER ---------------------------------------------------  #}
    <div id="footer-wrapper" class="l-footer" >
      <footer class="section">
        {% if page.footer_first_column or page.footer_second_column or page.footer_third_column or page.footer_fourth_column %}
          <div id="footer" class="clearfix">
            {{ page.footer_first_column }}
            {{ page.footer_second_column }}
            {{ page.footer_third_column }}
            {{ page.footer_fourth_column }}
          </div>
        {% endif %}
      </footer>
    </div>
    {# END FOOTER ---------------------------------------------------  #}
    {# FOOTER-COPYRIGHT ---------------------------------------------------  #}
    <div id="footer-copyright-wrapper" class="l-copyright">
      <div class="section">
        {% if page.footer_copyright %}
          <div id="copyright" role="contentinfo" class="clearfix">
            {{ page.footer_copyright }}
          </div>
        {% endif %}
      </div>
    {# END FOOTER-COPYRIGHT ---------------------------------------------------  #}
    </div>
  </div>
</div>
