.field-node--field-pr-location { display: inline-block; text-transform: uppercase; }

.field-node--field-pr-published-date { display: inline-block; }

.node--type-press-release .field-node--field-content-top-right { background-color: #d8d9da; }

/*# sourceMappingURL=pressrelease.css.map */
