{#
/**
 * @file
 * Default theme implementation for the site selector block.
 */
#}
<a href="{{ destination }}">
  <div class="site-selector {{ langcode }}">
    <span class="locale-flag">&nbsp;</span>
    <span class="locale-name">{{ locale_name }}</span>
  </div>
</a>