{#
/**
 * @file
 * Default theme implementation for the investor relations header.
 */
#}
  <div id="block-mobilephoneblock"><div class="content">{{ mobile_phone_block }}</div></div>
  <div id="block-headernavigationen" class="block-system"><div class="block-header-navigation" data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">{{ header_nav }}</div></div>
  <div id="block-sitelanguageselector-3" class="block-manh-site-selector"><div class="content">{{ site_selector_header }}</div></div>
  <div id="block-manh-search" class="search-block-form"><h2>Search</h2>{{ search_block }}</div>
