{#
/**
 * @file
 * Specialized implementation to display a menu in the top nav.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 */
#}
{% import _self as mtn_menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ mtn_menus.mtn_menu_links(items, attributes, 0) }}
{% macro mtn_menu_links(items, attributes, menu_level) %}
  {% import _self as mtn_menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu') }}>
    {% else %}
      <ul class="menu">
    {% endif %}
      {% for item in items %}
        {%
          set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
          ]
        %}
        <li{{ item.attributes.addClass(classes) }}>
          {% if item.url.isRouted and item.url.routeName == 'manh_nav_drawers.non_linked_item' %}
            <div class="menu-item--unlinked">{{ item.title }}</div>
          {% else %}
            {{ link(item.title, item.url) }}
          {% endif %}
          {% if item.below %}
            {{ mtn_menus.mtn_menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endmacro %}
