{#
/**
 * @file
 * Default theme implementation for the desktop version of top navigation.
 */
#}
<div id="top-navigation-desktop" class="top-navigation-desktop">
  <div class="top-items">
    <ul class="menu">
      {% for item in top_items %}
        <li class="menu-item menu-item--collapsed">
          <a href="#" title="{{ item }}">{{ item }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="sub-items">
    <div class="sub-items-container">
      {% set number = 0 %}
      {% for item in sub_items %}
        <div class="sub-item item-{{ number }}">
          {{ item }}
        </div>
        {% set number = number+1 %}
      {% endfor %}
    </div>
    <div class="close">
      <a class="nav-drawer-close"><span>{{ "Close"|t }}</span></a>
    </div>
  </div>
</div>