@import 'init';

html {
  font-size: 100%;
}

tr.ccbnBgTblTtl {
  color: $white;
  font-family: $primary-font-heavy;

  td {
    background: $ma-dark-blue;
    font-family: $primary-font;
    padding: 9px;
  }
}

tr.ccbnBgTblOdd,
tr.ccbnBgTblEven {
  background: transparent;
  border-top: 1px solid #d8d9da;

  &:hover {
    background: #e2e6e8;
  }
}

span.ccbnTblTtl,
span.ccbnTblOdd,
span.ccbnTblEven {
  padding: 0.5em;
}

tr.ccbnOutline > td {
  padding: 0;
}

ul.linkList {
  padding: 0;
}

.sidebar-nav {
  background-color: #d8d9da;
  padding: 0.5rem 1rem;
}

.main-column table {
  margin-top: 0;
}

h1.investor-relations-title {
  font-family: $primary-font;
  margin-top: 3rem;
  min-height: 2rem;
}

#block-manh-footer {
  float: none;
  width: 100%;
}

div.region-footer-first-column,
div.region-footer-second-column,
div.region-footer-fourth-column {
  float: left;
}

.region-footer-first-column #block-helpnavigationen {
  max-width: 200px;
}

.region-footer-first-column #block-helpnavigationen ul.menu li {
  clear: left;
  display: block;
  float: left;
  padding-top: 0.2em;
}

#ir-footer-copyright-wrapper ul.menu li {
  display: inline;
  margin-right: 1em;
}

#ir-footer-wrapper h2 {
  font-family: $primary-font-heavy;
  font-weight: 100;
}

// Header padding.
#main {
  transition: padding $transition;

  .ma-sticky-header & {
    @include breakpoint($desk) {
      padding-top: 94px;
    }
  }

  @include breakpoint($desk) {
    padding-top: 176px;
  }
}

// IR Footer Styles.
.ir-homepage {

  #ir-copyright {

    @media (min-width: 63.75em) {
      flex: 1 1 50%;
      order: 2;
    }

    p {

      @media (min-width: 39.9375em) {
        text-align: left;
      }

      @media (min-width: 63.75em) {
        text-align: right;
      }
    }
  }

  .l-copyright .section {

    @media (min-width: 63.75em) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .block-footer-menu {
    flex: 1 1 50%;
    order: 1;
  }

  .menu li {
    display: inline;
    margin-right: 20px;
  }
}

.nav-drawer-close::before {
  background-color: #121213;
  border-radius: 3px;
  color: $white;
  content: '';
  cursor: pointer;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 1.8rem;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0, 0);
  width: 2rem;
}

// Footer changes at breakpoints.
// #footer-copyright-wrapper {

//   .block-footer-menu {
//     display: none;

//     @media (min-width: 39.9375em) {
//       display: block;
//       flex: 1 1 100%;
//       order: 2;
//     }

//     @media (min-width: 63.75em) {
//       flex: 1 1 50%;
//       order: 1;
//     }
//   }

//   .block-footer-copyright {
//     flex: 1 1 100%;
//     order: 1;
//     text-align: center;

//     @media (min-width: 39.9375em) {
//       text-align: left;
//     }

//     @media (min-width: 63.75em) {
//       flex: 1 1 50%;
//       order: 2;
//       text-align: right;
//     }
//   }
// }

/* Footer Social Menus */
// .footer-socialnavigation.en {

//   .menu-item a {
//     background: url('http://www.manh.com/themes/manh/styles/images/footer_icons.png') no-repeat;
//     height: 46px;
//     text-indent: -9999px;
//     width: 46px;
//   }

//   li:first-child a {
//     background-position: -1px -2px;
//   }

//   li:nth-child(2) a {
//     background-position: -51px -2px;
//   }

//   li:nth-child(3) a {
//     background-position: -101px -2px;
//   }

//   li:nth-child(4) a {
//     background-position: -151px -2px;
//   }

//   li:last-child {
//     margin-right: 0;

//     a {
//       background-position: -201px -2px;
//     }
//   }

//   .block-secondarymenu-wrapper .menu .menu-item {
//     margin-right: 14px;
//   }
// }

// Keep logo.
#site-name {
  background: no-repeat url('../../logo.svg');
  background-size: 74%;
  height: 50px;
  margin: 10px 0 0 0;
  width: 250px;

  @media (min-width: 63.75em) {
    background-size: 100%;
    margin: 0;
  }
}

// Contact block tweaks.
#block-contactusblock {
  position: absolute;
  right: 10px;
  top: 24px;
}

// Site Selector block.
.region-header-site-selector {
  bottom: 6px;
  clear: none;
  display: block;
  float: none;
  position: absolute;
  right: 201px;
  z-index: 2000;

  .search-block-form {

    @media (min-width: 39.9375em) {
      background-color: $white;
      border: 0;
      color: $ma-gray;
      display: inline-block;
      float: right;
      font-size: 0.8em;
      height: 30px;
      line-height: 1.2;
      margin-top: 5px;
      padding: 0;
      width: 30px;
    }
  }
}

.block-secondarymenu-wrapper {
  margin: 0;
}

// Additional wrapper located in IR header.
#manh-ir-header {

  @include breakpoint($min-desk) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    white-space: nowrap;
  }
}

#manh-ir-drawers-mobile {

  .l-header & .menu .menu-item--expanded .menu-item--unlinked,
  .l-header & .menu .menu-item--expanded > a {
    font-size: inherit !important;
  }
}

#manh-ir-header,
#manh-ir-drawers-mobile {

  .menu {
    line-height: 1.4;
  }
}

#header.l-header {
  padding-bottom: 0;
}

#top-navigation-desktop .top-items {
  margin: 0 2em;
}

// Pointer events fix for nav drawers.
.header-top {
  @include breakpoint($min-desk) {
    pointer-events: none;
  }
}

.header-top-inner {
  @include breakpoint($min-desk) {
    pointer-events: all;
  }
}

// Fix text align on mobile.
@include breakpoint($max-desk) {
  body {
    #ir-copyright {
      #block-footercopyrightblock {
        .field-items {
          text-align: center;
        }
      }
    }
  }
}