body {
  color: #000;
}

#name-and-slogan {
  background-color: #fff;
}

.site-logo svg .a {
  fill: #002856;
}

.site-logo svg {
  width: 300px;
  height: auto;
  margin-left: -35%;
  margin-bottom: 30px;
}

.header-top {
  background: #fff;
}

.header-top-inner a[rel='home'] {
  overflow: visible;
}

// Hides mobile components.
.menu-toggle,
.phone-icon,
.social-sharing,
.secondarymenu {
  display: none;
}

// Changes text color so it's readable on both,
// white bg or over an image.
.hero[data-eq-state='wide'] .teaser-title,
.hero[data-eq-state='wide'] .field-node--field-teaser-text-long {
  color: #ccc;
}

// Expand hero image full width when printing.
.hero[data-eq-state='wide'] .page-header-hero-image img {
  min-width: 960px;
}

// Override home page features and assets.
.slick-list {
  overflow: visible;
}

.slick-slide {
  float: none;
  margin: 0;
}

// hides some footer components.
.footer-socialnavigation,
.region-footer-first-column,
.region-footer-copyright .block-footer-menu {
  display: none;
}

.l-footer {
  display: block !important;
  color: #000;
  width: 100%;
}

// Overrides mobile classes hiding this content for portrait print.
.region-footer-second-column {
  display: block;
}

// Hero.
.hero[data-eq-state='wide'] .overlay-content {
  max-width: none;
}

// Applies fix to hero cta buttons.
.content-buttons > a,
.button-primary--four {
  width: 200px;
}

.button-primary--four,
.region-footer-second-column .right {
  display: block;
}

// Related info.
.related-info,
.why-manhattan {
  float: none;
  margin: 0;
  max-height: none;
}

.why-manhattan-item {
  float: none;
  display: block;
  clear: both;
}

// Banners.
.node--type-banner {
  max-width: 300px;
  margin: 0 auto;
}

// Teaser images.
.page-teaser-image img {
  max-width: 300px;
}
