{#
/**
 * @file
 * Default theme implementation for a document link.
 */
#}
<a href="{{ url }}" class="button-primary--two{% if locked %} locked{% endif %}{% if marketo_track %} marketo-track{% endif %}">
  {{ text }}
</a>
