{#
/**
 * @file
 * Default theme implementation for the gate passed message.
 */
#}
{{ adwords_script | raw }}
<div class="gate-passed-message">
  <p class="message">
    {{ message }}
    {% if link is not empty %}{{ link }}{% endif %}
  </p>
</div>
