{#
/**
 * @file
 * Default theme implementation for a gated form in the sidebar (gate not passed).
 */
#}
<div class="manh-gated-form not-passed">
  <h3 class="title">{{ title }}</h3>
  {{ description }}
  <div class="gate-form">
    {{ gate_form_embed | raw }}
  </div>
</div>