{#
/**
 * @file
 * Default theme implementation for "gate passed" content in the sidebar.
 */
#}
<div class="manh-gated-form-passed">
  <h3 class="title">{{ title }}</h3>
  {{ description }}
</div>
{{ top_left_content | raw }}