{#
/**
 * @file
 * Theme override for a main view template.
 *
 */
#}
{%
  set classes = [
    'l-grid-layout',
    'l-office-locations',
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    <div class="l-top">
      {{ title }}
    </div>
  {% endif %}
  {{ title_suffix }}

  {% if exposed %}
    <div class="l-sidebar-first view-filters">
      {{ exposed }}
    </div>
  {% endif %}

  {% if rows or empty %}
    <div class="l-content-body">
      {% if rows %}
        <div class="view-content">
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
