.field-node--field-article-date {
  margin-right: 0.25em;
}

.node--type-article {

  .l-content-body {
    color: $black;
  }

  .date-and-author {
    @include primary-font-heavy;
    clear: none;
    color: $ma-gray;
    margin-bottom: 0.5em;

    // Overrides for the Biography Entity Reference styles.
    .display-mode {
      display: inline !important;
      float: none !important;
      margin-bottom: 0 !important;
      max-width: none !important;
      padding-top: 0;
    }

    .biography-wrapper {
      float: none !important;
      clear: none !important;
    }

    .biography-jobtitle,
    .biography-companyname {
      display: none;
    }

    .node--type-biography {
      display: inline-block;
      float: none;
    }

    .teaser-title {
      font-size: inherit;
      color: inherit;
      margin-right: -3px;
    }
  }

  /*** setting a max-width for this image so that it doesn't extend full width ***/
  .page-teaser-image {
    max-width: 630px;
    margin-bottom:1rem;
  }
}

.article-display-mode {

  &[data-eq-state='small'] {
    flex-direction: column;

    .page-wrapper {
      padding-left: 0;
    }

    .teaser-title {
      @include heading5;
      margin-top:15px;
    }
  }
}
