.business-problem-field-collection {

  > .node {
    border: none;
  }

  .display-mode {
    background: $white;
  }
}

.node--type-business-problem {

  .display-mode[data-eq-state='small'],
  .display-mode[data-eq-state='medium'],
  .display-mode[data-eq-state='large'] {
    border: none;
    display: flex;
    margin: 0 auto;
    padding: 0;

    .page-wrapper {
      padding: 0;
    }
  }

  .teaser-image {
    flex: 0 1 100px;
    max-width: 100px;
  }

  .teaser-title {
    @include heading5;
    margin-top: 0;
  }

  .businessproblem-item-text {
    flex: 1 0 60%;
    margin-left: 1rem;
  }

  .display-mode[data-eq-state='small'] {

    .business-problem-wrapper {
      max-width: 300px;
      width: 100%;
    }

    .teaser-title {
      font-size: 1em;
    }

    .related-text {
      font-size: 0.8em;
      line-height: normal;
    }

    .businessproblem-item-text {
      flex: 1 0 50%;
    }
  }
}

.field-node--field-bp-page-fc {
  background: $white;
}

.business-problem-header {
  padding: 0 2rem 1rem;
  cursor: pointer;
}

.business-problem-wrapper {
  background: $ma-gray;
  border-bottom: 0.5rem solid $ma-gray;
  width: 100%;

  .plus-minus {
    @include fa-icon($fa-plus);
    background: $white;
    border: 3px solid $ma-gray;
    border-radius: 5px;
    color: $ma-dark-blue;
    display: block;
    height: 26px;
    left: -2.75rem;
    top: 1.45rem;
    width: 26px;
  }

  .business-problem-title,
  .business-problem-text {
    color: $white;
    margin-top: 0;
  }

  .business-problem-title {
    @include heading5;
    color: $white;
    line-height: 1;
    margin: 0 0 0.5rem;
  }

  .business-problem-body{
    display: none;

    a:link,
    a:visited {
      color: inherit;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .display-mode[data-eq-state='medium'] {
    width: 100%;
  }
}

.business-problem-wrapper.open {
  background: $ma-light-gray;
  border-bottom: none;

  .plus-minus {
    @include fa-icon($fa-minus);
    border: 3px solid $ma-light-gray;
  }

  .business-problem-title {
    color: $black;
    margin-top: 0;
  }

  .business-problem-body {
    background: $white;
    display: block;
  }

  .business-problem-text{
    color: $black;
  }
}

.businessproblem-row {
  background-color: $white;
  border-bottom: 0.5rem solid $ma-light-gray;
  border-left: 0.5rem solid $ma-light-gray;
  border-right: 0.5rem solid $ma-light-gray;
  display: flex;
  padding: 1.5rem;

  .node--type-page.node--view-mode-block-1-column {
    border-top: none;
  }

  .node--type-page.node--view-mode-block-1-column h3 {
    font-size: 0.9em;
  }
}

@include breakpoint(960px) {

  .display-mode {
    margin: 0;
  }
}
