// This sass partial includes styles for the
// three Customer content type display modes.

.node--type-customer .customersuccess-teaser-image {
  clear: left;
  float: left;
}

.customer-display-mode {

  &[data-eq-state='large'] {
    display: flex;
    padding-top: 1rem;
    margin-bottom: 2rem;
    border-top: 1px solid $ma-light-gray;

    .customersuccess-teaser-image {
      flex: 1 1 auto;
    }

    .page-wrapper {
      flex: 1 1 auto;
      padding-left: 2rem;
    }

    .field-name-field-teaser-text-long {
      max-width: 37rem;
    }
  }

  &[data-eq-state='medium'] {
    display: flex;
    padding-top: 1rem;
    margin-bottom: 2rem;
    border-top: 1px solid $ma-light-gray;

    .customersuccess-teaser-image {
      flex: 1 1 auto;
      max-width: 50%;
    }

    .page-wrapper {
      flex: 1 1 auto;
      padding-left: 2rem;
    }
  }

  &[data-eq-state='small'] {
    display: block;

    .field-node--field-teaser-title {
      clear: left;
      float: left;
      width: 100%;
    }

    .field-name-field-teaser-text-short {
      display: none;
    }

    .node-category-type,
    .field-name-field-teaser-text-long {
      clear: left;
      float: left;
      width: 100%;
    }
  }
}

.customersuccess-displaymode {
  margin-bottom: 3rem;

  > .teaser-title {
    @include heading3;
    margin-bottom: 1rem;
    margin-top:0;
  }

  &.node--view-mode-block-1-column .display-mode {
    width: 100%;
  }

  .customersuccess-field-item {
    display: block;
    max-width: 100%;
  }
}

.customersuccess-fieldcollection-field {
  display: flex;
  flex-direction: column;

  .display-mode {
    display: block;
    margin-bottom: 2rem;

    .page-wrapper {
      padding-left: 0;
    }

    .teaser-title {
      @include heading4;
      font-size: 1em;
      line-height: 1.2;
    }
  }

  &[data-eq-state='large'] {
    flex-flow: row wrap;
    margin-left: -1em;
    margin-right: -1em;

    .customersuccess-item {
      border-bottom: 0;
      flex: 0 1 100%;
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($tab-slide) {
        flex-basis: 33.33%;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.customersuccess-item {
  border-bottom: 1px solid $ma-light-gray;
  width: 100%;

  @include breakpoint($tab-slide) {
    width: 33.33%;
  }

  > * {
    display: flex;
    height: 100%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.customersuccess-teaser-image {
  border: 0;
  margin-bottom: 1em;
}
