.node--type-image .display-mode {
  cursor: pointer;

  &[data-eq-state='large'] {
    display: flex;

    .field-node--field-teaser-image {
      flex: 1 1 auto;
      max-width: 300px;
    }

    .page-wrapper {
      flex: 1 1 auto;
      padding-left: 2rem;
    }

    .field-name-field-teaser-text-long {
      max-width: 37rem;
    }
  }

  &[data-eq-state='medium'] {
    display: flex;
    margin-bottom: 3em;

    .field-node--field-teaser-image,
    .field-node--field-noimage {
      flex: 1 1 auto;
      max-width: 50%;
    }

    .page-wrapper {
      flex: 1 1 auto;
      padding-left: 2rem;
      max-width: 50%;
    }
  }

  &[data-eq-state='small'] {
    display: block;
    margin-bottom: 1rem;

    .field-node--field-teaser-title {
      clear: left;
      float: left;
      width: 100%;
    }

    .field-name-field-teaser-text-short,
    .field-name-field-teaser-text-long {
      display: none;
    }

    .node-category-type {
      clear: left;
      float: left;
      width: 100%;
    }

    .field-node--field-noimage {
      min-width: none;
    }
  }
}

.image-fullsize {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  z-index: 100;
  display: none;
}

.image-fullsize-overlay {
  background: rgba(256, 256, 256, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.image-fullsize-close {
  @include primary-font-heavy;
  color: $ma-dark-blue;
  cursor: pointer;
}
