// Import element queries mixins
@import '../vendors/eq';

.node--type-media {
  background: $ma-light-gray;
  box-sizing: content-box;
  padding: 2.0625rem;

  .media-title{
    @include primary-font-heavy;
    color: $ma-dark-blue;
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 0;
    padding-bottom: 0.5rem;
  }
}

.media-items {
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-flow: center;
  line-height: 1.3;

  @include eq(medium) {
    border-color: green;
    background-color: rgba(red, 0.25);
  }
}

.media-row {
  width: 50%;
  height: auto;

  .field-name-field-media-name {
    @include primary-font-heavy;
  }

  .field-name-field-media-title {
    text-transform: uppercase;
  }

  .field-media--phone,
  .field-media--email {
    margin-top: .65rem;
    white-space: nowrap;

    &::before {
      @include fa;
      float: left;
      margin-right: 0.625rem;
    }
  }

  .field-media--phone::before {
    content: '\f095';
  }

  .field-media--email::before {
    content: $fa-envelope;
  }
}

.media-display-mode[data-eq-state='large'],
.media-display-mode[data-eq-state='medium'],
.media-display-mode[data-eq-state='small'] {
  display: block;
}

.media-display-mode[data-eq-state='small'] {

  .media-items {
    display: block;
  }

  .media-row {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.media-display-mode[data-eq-state='large'] {

  .media-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .media-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }
}

// Keep at the end of the stylesheet
// Call the eq-selectors mixin in order to write out the hook for eq.js.
@include eq-selectors;
