.node--type-office {

  .display-mode[data-eq-state='medium'],
  .display-mode[data-eq-state='large'] {

    .page-wrapper {
      padding-left: 0;
    }
  }

  .page-wrapper {
    border-bottom: 3px solid $ma-medium-gray;
    line-height: 1.6;
  }

  .block-title {
    @include primary-font-heavy;
    color: $ma-dark-blue;
    font-size: 1.25em;
    margin: 0.7em 0 0.3em;
  }

  .office-contact-row {
    border-bottom: 1px solid $ma-medium-gray;
    padding: 1em;
  }

  .office-contact-info {
    background: #ededed;
    padding: 1.5em;
  }

  .office-label {
    @include primary-font-heavy;
    color: $ma-dark-gray;
  }

  // icons
  .phone-number,
  .fax-number,
  .download-icon,
  .customer-portal {

    &::before {
      @include fa;
      float: left;
      margin-right: 10px;
    }
  }

  .phone-number::before {
    content: '\f095';
  }

  .fax-number::before {
    content: '\f1ac';
  }

  .download-icon::before {
    content: '\f218';
    color: $ma-light-blue;
  }

  .customer-portal::before {
    content: '\f108';
  }

  .field-name-field-of-link-cus-sup-text {
    float: left;
  }
}
