// Page display - Display: full
.node--type-page {

  // 2 Column display.
  &.node--view-mode-block_1_column,
  // 3 column layout is not styled and uses column display.
  &.node--view-mode-block_3_columns {
    margin-bottom: 3rem;

    @include breakpoint($tab-l) {
      clear: both;
      width: 100%;
    }
  }

  // 2 Column display.
  &.node--view-mode-block_2_columns {
    margin-bottom: 3rem;

    @include breakpoint($tab-l) {
      float: left;
      width: 50%;
    }

    .entityreference-item:nth-child(2n+1) & {

      @include breakpoint($tab-l) {
        clear: both;
        padding-left: 1rem;
        padding-right: 2rem;
      }
    }

    .entityreference-item:nth-child(2n+2) & {

      @include breakpoint($tab-l) {
        padding-left: 2rem;
        padding-right: 1rem;
      }
    }
  }
}
