.partner-page-header {
  width: 100%;
  float: left;
  clear: left;
  margin-bottom: 1rem;
}

.partner-page-logo {
  float: left;
  width: 33.33%;
}

.partner-page-title {
  float: right;
  width: 66.66%;
}

.partners-display-mode[data-eq-state='small'] {
  flex-direction: column;
}
