// This sass partial contains styles for the
// products display modes.

.field-name-field-product-list-fc .field-items > .field-item {
  margin-bottom: 1rem;

  &::before {
    content: url('../images/bullet-checkmark.svg');
    display: inline-block;
    width: 10%;
    vertical-align: top;
  }

  .field-item {
    display: inline-block;
    width: 85%;
  }
}

.node--type-product {

  .field-node--field-teaser-title {
    border-bottom: 1px solid $color-nine;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .display-mode {

    &[data-eq-state='large'] {

      .field-name-field-product-list-fc .field-items > .field-item {
        width: 33.33%;
        float: left;
      }
    }
  }

  .display-mode {

    &[data-eq-state='medium'] {

      .field-name-field-product-list-fc .field-items > .field-item {

        &::before {
          width: 5%;
        }
      }
    }
  }
}
