/////////////////////////////////////////////
////////// 2 COLUMN DISPLAY MODE
/////////////////////////////////////////////

.node--type-promotion.node--view-mode-block_2_columns {
  clear: both;
  float: left;
  height: 160px;
  position: relative;
  margin-bottom: 30px;
  max-height: 160px;
  max-width: 630px;

  .image-overlay img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 160px;
    z-index: 1;
  }

  .promotion-background-image {
    height: 160px;
    max-height: 160px;
    max-width: 630px;
    position: relative;
    width: 630px;
  }

  .field-name-field-teaser-image-medium {
    height: 160px;
    max-height: 160px;
    max-width: 630px;
    position: relative;
    width: 630px;

    img {
      height: 160px;
      max-height: 160px;
      max-width: 630px;
      position: relative;
      width: 630px;
      }
  }

  .field-node--field-promotion-title {
    color: $white;
    margin-top: 10px;
    max-width: 500px;
    padding: 5px 20px 10px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .field-node--field-promotion-title-sub {
    color: $white;
    font-size: 0.6em;
    margin-top: 28px;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .field-node--field-promotion-text {
    bottom: 0;
    color: $white;
    font-size: 0.6em;
    max-width: 300px;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
    z-index: 2;
  }

  .promotion-wrapper {
    float: left;
    margin-left: 2rem;
    max-width: 45%;
  }
}

/////////////////////////////////////////////
////////// 1 COLUMN DISPLAY MODE
/////////////////////////////////////////////

.node--type-promotion.node--view-mode-block_1_column {
  clear: both;
  float: left;
  height: 300px;
  position: relative;
  margin-bottom: 30px;
  max-height: 300px;
  max-width: 300px;

  .image-overlay img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 300px;
    z-index: 1;
  }

  .promotion-background-image {
    height: 300px;
    max-height: 300px;
    max-width: 300px;
    position: relative;
    width: 300px;
  }

  .field-name-field-teaser-image-small {
    height: 300px;
    max-height: 300px;
    max-width: 300px;
    position: relative;
    width: 300px;
  }

  .field-node--field-promotion-title {
    color: $white;
    font-size: initial;
    margin-top: 10px;
    max-width: 300px;
    padding: 5px 20px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .field-node--field-promotion-title-sub {
    color: $white;
    font-size: 0.6em;
    margin-top: 20px;
    max-width: 300px;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .field-node--field-promotion-text {
    bottom: 0;
    color: $white;
    font-size: 0.6em;
    max-width: 300px;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .promotion-wrapper {
    float: left;
    margin-left: 2rem;
    max-width: 45%;
  }
}
