.quote-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;

  .teaser-title {
    display: none;
  }
}

.customer-logo {
  max-width: 300px;
  width: 100%;

  .node-category-type {
    display: none;
  }
}

.quote-element {
  background: $color-ten;
  color: $color-seven;
  padding: 1rem 0.5rem;

  @include breakpoint($tab-l) {
    padding: 2rem 4rem 2rem 2rem;
  }
}

.quote-wrapper {
  order: 2;
  width: 100%;

  .quote-content {
    display: inline-block;
    padding-left: 1rem;
    width: 85%;
  }

  .icon-quote {
    vertical-align: top;
    display: inline-block;

    img {
      opacity: 0.6;
    }
  }
}

.download-report {
  @include clearfix;
  text-align: center;

  @include breakpoint($desk) {
    text-align: left;
    margin-left: 15%;
  }
}

.quote__quote-attribution {
  @include primary-font-heavy;
  margin-top: 1rem;
}

.quote__quote,
.quote__quote-attribution {
  font-size: 1em;
  line-height: 1.4;
}

.quote-container {

  &[data-eq-state='small'] {
    justify-content: center;

    .icon-quote {
      width: 10%;
    }

    .quote-wrapper {
      padding: 1rem;
    }

    .customer-logo {
      order: -1;
    }

    .quote-wrapper {
      padding: 1rem 0.5rem;
      width: 100%;
    }

    .quote__quote,
    .quote__quote-attribution {
      font-size: 0.8em;
      line-height: 1.1;
    }

    .download-report {
      margin-left: 0;
    }
  }

  &[data-eq-state='medium']{

    .icon-quote {
      width: 12%;
    }

    .quote-content {
      padding-left: 1rem;
      width: 70%;
    }

    .customer-logo {
      order: 1;
      margin: 0 auto;
    }
  }

  &[data-eq-state='large'] {
    flex-wrap: nowrap;

    .icon-quote {
      width: 8%;
    }

    .quote-wrapper {
      padding-left: 2rem;
    }

    .customer-logo {
      flex: 0 1 400px;
      max-width: 400px;
      order: 1;
    }

    .quote-wrapper {
      flex: 1 1 400px;
    }
  }
}

.quote-container {

  .customersuccess-item & {
    align-items: flex-start;
    background-color: $color-ten;

    .quote-wrapper {
      height: 100%;
    }

    .quote-element {
      background-color: transparent;

      @include breakpoint($tab-l) {
        padding: 2rem;
      }
    }

    .customer-logo {
      background-color: $white;
      max-width: 100%;

      @include breakpoint($tab-l) {
        padding: 1rem;
      }

      > * {
        max-width: 300px;
      }
    }


    .quote-element {
      height: 100%;
      padding: 1rem;

      @include breakpoint($tab-l) {
        padding: 1rem;
      }
    }

    &[data-eq-state='small'] .quote-wrapper {
      padding: 0;
    }

    &[data-eq-state='large'] .customer-logo {
      height: 100%;
    }
  }
}
