// Related Content
//
// This file contains styles for the Related content displays

.relatedcontent-field-wrapper {
  border-top: 1px solid $ma-light-gray;
  padding-top: 1rem;

  .teaser-title {
    font-size: 1.25em;
  }
}

.relatedcontent-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.related-display-mode[data-eq-state='small'] {

  .related-text {
    font-size: 0.8em;
    line-height: normal;
  }
}

.related-info .display-mode[data-eq-state='small'],
.related-info .display-mode[data-eq-state='medium'],
.related-display-mode[data-eq-state='small'],
.related-display-mode[data-eq-state='medium'] {
  display: block;

  .relatedcontent-text-wrapper {
    padding-left: 1rem;
  }

  .relatedcontent-image {
    flex: 0 0 100px;
    max-width: 100px;
  }
}

a .related-text {
  color: $black;
}

.related-info .display-mode[data-eq-state='large'],
.related-display-mode[data-eq-state='large'] {
  display: block;

  .relatedcontent-image {
    flex: 1 0 100px;
    max-width: 100px;
  }

  .relatedcontent-text-wrapper {
    flex: 0 1 500px;
    padding-left: 2rem;
  }
}

.node--type-related {

  > .teaser-title {
    font-size: 1.53em;
    margin-bottom: 0.35rem;
  }
}

.related-info .teaser-title {
  @include heading5;
}
