.node--type-support {

  .display-mode[data-eq-state='medium'],
  .display-mode[data-eq-state='large'] {

    .page-wrapper {
      padding-left: 0;
    }
  }

  .page-wrapper {
    border: 1px solid $ma-light-gray;
    height: 100%;
    padding: 1rem;

    h2 {
      font-size: 1.53em;

      &:first-child {
        margin-top: 0;
      }
    }

    .support-contact-info {
      display: flex;
      flex-direction:column;
    }

    .support-phone {
      display: block;
      margin-bottom: 1rem;

      &::before {
        @include fa;
        content: '\f10b';
        float: left;
        margin-right: 6px;
        font-size: 16px;
      }
    }

    .support-button {
      margin: 0;
      padding-top: 20px;

      .button {
        margin-top: 0;
      }
    }
  }
}

.support-contact-info .support-button {
  padding-top: 20px;
}
