.vidyard_player {
  display: block;
}

.vidyard_player > span,
.field-node--field-video-up .field-items {
  // the !important declarations are necessary to override styles applied by javascript
  max-width: 100%;
  margin: 0 0 1rem !important;
  height: 0 !important;
  padding-bottom: 56%;
  width: 100% !important;
}

.video-row .page-teaser-image {
  width: 100% !important;
  max-width: 100%;
  margin: 0 0 1rem 0!important;
  float: none;

  @include breakpoint($desk) {
    height: 266px !important;
    padding-bottom: 0;
    float: left;
    max-width: 630px;
  }
}

.node--type-video {

  .l-content-body {
    color: $black;
  }

  .field-node--field-body {
    clear: both;
  }

  .l-sidebar-second {
    position: relative;
    margin-top: 2rem;

    @include breakpoint($desk) {
      margin-top: 0;
    }

    .title {
      margin-top: 0;
    }
  }

  .teaser-title {
    @include heading5;
    margin-top:0;
  }

  .with-playlist {

    .main-column .l-content-body {
      min-height: inherit;

      @include breakpoint($desk) {
        min-height: 525px;
      }
    }

    .l-sidebar-second {
      position: relative;
      margin-top: 2rem;

      @include breakpoint($desk) {
        margin-top: 3rem;
      }
    }
  }

  .with-playlist .video-row,
  .with-playlist .video-row .page-teaser-image,
  .with-playlist .video-row .vidyard_player > span {
    max-width: 100%;
    margin: 0 0 1rem 0 !important;
  }
}

// Inline styling
.l-content-body .vidyard_player {
  display: inline-block;
  width: 100%;
}

.video-display-mode {

  &[data-eq-state='small'] {
    flex-direction: column;

    .page-wrapper {
      padding-left: 0;
    }

    .teaser-title {
      @include heading5;
      margin-top:15px;
    }
  }
}
