@import "vendors/breakpoint-sass/stylesheets/breakpoint";

@import "forms";

// For use with max-width only:
// +breakpoint(max-width: $tab-l)
$phone-p: 340px;
$phone-l: 479px;
$tab-p: 639px;
$tab-slide: 720px;
$region-col-snap: 775px;
$tab-l: 769px;
$desk: 1019px;
$desk-full: 1199px;
$menu: 979px;

$pop-unit: 250px;
$pop-unit-2: 540px;
$pop-unit-3: 790px;
$pop-unit-4: 940px;
$pop-unit-5: 1040px;


$pop-carousel-narrow: ($pop-unit * 2);
$pop-carousel-normal:($pop-unit * 3);
$pop-carousel-wide: 1210px;

// For use with min-width (default breakpoint mixin)
// +breakpoint($desktop)
$smartphone-portrait: "screen" $phone-p + 1px;
$smartphone-landscape: "screen" $phone-l + 1px;
$tablet-portrait: "screen" $tab-p + 1px;
$tablet-landscape: "screen" $tab-l + 1px;
$desktop: $desk + 1px, "no-query" ".lt-ie9";
$desktop-full: $desk-full + 1px, "no-query" ".lt-ie9";
$menu-break: $menu + 1px;
$menu-break-ie: $menu + 1px, "no-query" ".lt-ie9";

// Color variables
$blue-header:     #00447b;
$green:           #999933;
$gray-dark:       #55565a;
$gray-med-dark:   #77777a;
$gray-med-light:  #bec0c2;
$gray-light:      #d8d9da;
$gray-warm:       #dddfc2;
$white:           #ffffff;
$black:           #000000;


@include breakpoint($desktop) {
  .region-header-secondary {
    width: 40%;
    max-width: 659px;
  }
}

/*** Background image with green keyline ***/
.header-top {
  background: url("../../images/hdr-background-image.png") repeat-x 0 -37px;
  border-bottom: 1px solid $white;
  min-height: 84px;
}

@include breakpoint($desktop) {
  .header-top {
    background-position: 0 -8px;
  }
}

#name-and-slogan {
  margin: 0 auto;
  top: 0;
  background: transparent;

  @include breakpoint($desktop) {
    background-color: $white;
  }
}

.logo-logistics {

  img {
    width: 100%;
    height: auto;

    @include breakpoint($desktop) {
      margin-top: 0.75rem;
    }
  }
}

@include breakpoint($desktop) {
  #name-and-slogan {
    position: relative;
    max-width: 301px;
    float: left;
  }
}

/*** Override manh parent theme styles for header top inner ***/
.header-top-inner {
  padding: 0;
}

#site-name {
  height: 0;
  margin: 0;
}

/*** Override manh parent theme styles for the logo container ***/
.header-top-inner a[rel="home"] {
  overflow: visible;
}

.block--transportation-services-menu {
  display: none;
}

@include breakpoint($desktop) {
  .block--transportation-services-menu {
    display: table;
    margin-bottom: 1rem;
    white-space: nowrap;
  }
}

.block--transportation-services-menu {

  ul.menu {
    display: table-cell;
    padding: 0;
    width: 50%;
  }

  .menu .menu-item {
    background: transparent;
    display: inline-block;
    margin-left: 1rem;
  }

  .menu .menu-item a {
    color: $green;
    text-transform: none;
    font-size: 1em;
  }

  h2 {
    display: table-cell;
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
    font-size: 1em;
    margin: 0 10px 0 0;
    width: 50%;
    text-align: right;
  }
}

.block-secondarymenu-wrapper {
  margin: 0;

  .menu .menu-item {
    padding: 0;
  }
}

/*** Override manh parent styles for main nav bar ***/
.header-bottom {
  background: $blue-header;
}

.header-bottom-inner ul.menu {
  float: left;

  a {
    padding: 1.25rem 1rem 1rem;
  }
}

.list-display-mode {
  margin-top: 1em;
}

/*** Override styles for mobile menus ***/
.menu-toggle a::before {
  color: $green;
}

.phone-icon {
  background-image: url('../../images/icon-mobilephone.png');
}

#block-mobilephoneblock.open {
  width: 100%;
  display: block;
  background: $gray-dark;
  border-top: none;
  margin-top: 7px;
}

@include breakpoint($desktop) {

  #block-mobilephoneblock.open {
    display: none;
  }
}

/*** Override manh parent styles for the search field ***/

.region-header-secondary {
  position: relative;
  white-space: normal;
  margin-top: -5px;

  @include breakpoint($desktop) {
    margin-top: 24px;
  }

  .search-block-form {
    display: none;

    @include breakpoint($desktop) {
      display: inline-block;
      width: 38%;
      float: none;
    }

    h2 {
      display: none;
    }
  }

  .search-block-form .form-actions .form-submit {
    display: none;
  }

  .search-block-form .form-type-search input[type="search"] {
    width: 186px;
    float: right;
    margin: 0;
    background-color: $gray-warm;
    background-image: url('../../images/search_sm.png');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95%;
    color: $black;
    border: none;
    padding-left: 1em;
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  }
}

#block-headercontactuslink {
  display: none;

  p {
    margin: 0;
  }
}

@include breakpoint($desktop) {
  #block-headercontactuslink {
    display: inline-block;
    float: left;
    width: 62%;
    margin-top: 1px;
    text-align: right;

    a {
      color: $green;
    }
  }
}

/*** Primary Menu ***/
.region-header-primary-menu {

  .block-secondarymenu-wrapper a {
    text-transform: uppercase;
  }
}

/*** Override styles for lists ***/
.node--type-list .display-mode[data-eq-state="large"] .listfieldcollection-item {
  flex: 1 1 45%;
  max-width: none;
}

/*** fix for article images ***/
.article-display-mode[data-eq-state="medium"] .field-node--field-noimage {
  flex: none;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
}

/*** styles for sidebar blocks ***/
.l-sidebar-second .entityreference-item {
  background: $gray-dark;
  padding: 1em;
  color: $white;
  margin-bottom: 1em;

  h3 {
    color: $white;
    margin-top: 0;
  }

  .node-category-type, .teaser-title {
    color: $white;
    text-decoration: none;
  }

  a {
    color: $white;
    text-decoration: initial;
  }
}

/*** Mobile Navigation ***/
.top-navigation-mobile {

  .menu {
    width: 100%;
  }

  .menu-item a.is-active,
  .menu-item a {
    color: $white;
    text-transform: uppercase;
    width: 100%;
  }
}

.region-header-secondary .search-block-form {

  h2::before {
    content: "";
  }

  form .form-actions {
    margin-top: 0;
    margin-left: -30px;
  }

  .form-type-search {
    display: block;
    margin: 0;
    padding-top: 0;
  }
}

/*** override front page settings from manh ***/
body.path-frontpage .l-full-content.hero {
  display: block;

  &.hidden {
    display: none;
  }
}
