// HTML elements:  Forms
//
// Markup:
//     <p>Forms can be used when you wish to collect data from users. The <code>fieldset</code> element enables you to group related fields within a form, and each one should contain a corresponding <code>legend</code>. The <code>label</code> element ensures field descriptions are associated with their corresponding form widgets.</p>
//     <div class="example">
//         <form action="#">
//             <fieldset>
//                 <legend>Legend</legend>
//                 <div>
//                     <label for="text">Text Input <abbr title="Required">*</abbr></label>
//                     <input id="text" class="text" type="text"/>
//                     <em>Note about this field</em>
//                 </div>
//                 <div>
//                     <label for="password">Password</label>
//                     <input id="password" class="text" type="password"/>
//                     <em>Note about this field</em>
//                 </div>
//                 <div>
//                     <label for="url">Web Address</label>
//                     <input id="url" class="text" type="url"/>
//                     <em>Note about this field</em>
//                 </div>
//                 <div>
//                     <label for="email">Email Address</label>
//                     <input id="email" class="text" type="email"/>
//                     <em>Note about this field</em>
//                 </div>
//                 <div>
//                     <label for="search">Search</label>
//                     <input id="search" class="text" type="search"/><input id="password" class="search button" type="submit"/>
//                     <em>Note about this field</em>
//                 </div>
//                 <div>
//                     <label for="textarea">Textarea</label>
//                     <textarea id="textarea" rows="8" cols="48"></textarea>
//                     <em class="clear">Note about this field</em>
//                 </div>
//                 <div>
//                     <label for="checkbox">Single Checkbox</label>
//                     <label for="checkbox" class="check"><input id="checkbox" type="checkbox" class="checkbox"/> Label</label>
//                 </div>
//                 <div>
//                     <label for="select">Select</label>
//                     <select id="select">
//                         <optgroup label="Option Group">
//                             <option>Option One</option>
//                             <option>Option Two</option>
//                             <option>Option Three</option>
//                         </optgroup>
//                     </select>
//                     <em>Note about this selection</em>
//                 </div>
//                 <fieldset class="options">
//                     <legend>Checkbox <abbr title="Required">*</abbr></legend>
//                     <ul>
//                         <li><label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked" /> Choice A</label></li>
//                         <li><label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox" /> Choice B</label></li>
//                         <li><label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox" /> Choice C</label></li>
//                     </ul>
//                 </fieldset>
//                 <fieldset class="options">
//                     <legend>Radio</legend>
//                     <ul>
//                         <li><label for="radio1"><input id="radio1" name="radio" type="radio" class="radio" checked="checked" /> Option 1</label></li>
//                         <li><label for="radio2"><input id="radio2" name="radio" type="radio" class="radio" /> Option 2</label></li>
//                     </ul>
//                 </fieldset>
//                 <div class="submit">
//                     <input class="button" type="submit" value="Post Comment" />
//                     <input class="button" type="button" value="Preview" />
//                     <a href="#">Cancel</a>
//                 </div>
//             </fieldset>
//         </form>
//     </div>
//
// Styleguide 1.4

%inline-label {
  label {
    float: left;
    margin-right: 10px;
  }
}


//Known limitation: by default, Chrome and Safari on OS X allow very limited
//styling of `select`, unless a `border` property is set.


form {

  &.submitting {

    #main & {
      @include fa-icon('\f1ce');
      cursor: wait;

      &::before {
        // Add rotation animation.
        animation: ui-rotation 2s infinite linear;
        bottom: 20%;
        color: $ma-light-blue;
        display: block;
        font-size: 2.5rem;
        left: 45%;
        position: absolute;
        z-index: 10;

        // Page rendering is effectively disabled on form submission on
        // iOS safari.
        @include breakpoint ($max-desk) {
          display: none;
        }
      }

      > * .form-item,
      > .form-actions {
        opacity: 0.25;
      }

      .form-wrapper {
        pointer-events: none;
      }

      // Mobile and a11y fallback text.
      .submitting__mobile {
        display: block;
        color: $black;

        // Mimic visually-hidden class for desktop breakpoints (where the
        // spinner works correctly).
        @include breakpoint ($desk) {
          @include visually-hidden;
        }
      }

      &.contact-message-contact-us-slim-form,
      &.contact-message-gated-content-form,
      &.contact-message-rfp-template-request-form {

        &::before {
          color: $white;
        }

        .submitting__mobile {
          color: $white;
        }
      }

      .g-recaptcha {
        opacity: 0.25;
      }
    }
  }

  // The reCAPTCHA iframe can't have its width modified, so we need to scale
  // it at certain breakpoints in order to fit within the sidebar.
  .l-sidebar & {

    .g-recaptcha {
      transform-origin: top left;
      transition: transform $transition;

      @include breakpoint (1000px) {
        transform: scale(0.9);
      }

      @include breakpoint (1100px) {
        transform: scale(1);
      }

      @include breakpoint (1199px) {
        transform: scale(0.65);
      }

      @include breakpoint (1300px) {
        transform: scale(0.74);
      }

      @include breakpoint (1400px) {
        transform: scale(0.82);
      }

      @include breakpoint (1500px) {
        transform: scale(0.9);
      }

      @include breakpoint (1600px) {
        transform: scale(1);
      }
    }
  }
}

// Copying SVG fallback mixin from brevis
$base-images: '../../images';

@mixin svg-bg-simple($filename,
  $source: $base-images,
  $no-svg-class: '.lt-ie9',
  $pseudo: 'before') {
  background-image: url($source + '/' + $filename + '.svg');

  #{$no-svg-class} & {
    background-image: url($source + '/' + $filename + '.png');
  }
}

// Address Firefox 4+ setting `line-height` on `input`
// using `!important` in the UA stylesheet.
input {
  line-height: normal;
}

.form-submit ~ p {
  clear: left;
}

textarea {
  overflow: auto;
}

.form-select {
  min-width: 120px;
  margin: 0 5px;
}

div.ctools-modal-content .form-item label.option {
  font-size: 16px;
}

optgroup {
  font-weight: bold;
}

// Fix the cursor style for Chrome's increment/decrement buttons. For certain
// `font-size` values of the `input`, it causes the cursor style of the
// decrement button to change from `default` to `text`.
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

// 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
// 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
//    (include `-moz` to future-proof).
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

// Remove inner padding and search cancel button in Safari and Chrome on OS X.
// Safari (but not Chrome) clips the cancel button when the search input has
// padding (and `textfield` appearance).
// &::-webkit-search-cancel-button,
// &::-webkit-search-decoration
//   -webkit-appearance: none

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
button,
input,
select,
textarea {
  max-width: 100%;
}

input[type='search']::-webkit-search-decoration {
  display: none;
}

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  box-shadow: 0;
  z-index: 1;
}

input[type='file']:focus,
input[type='file']:active,
input[type='radio']:focus,
input[type='radio']:active,
input[type='checkbox']:focus,
input[type='checkbox']:active {
  box-shadow: none;
}

textarea,
select[multiple],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0.65rem;
  -webkit-appearance: none;
  background-color: $white;
  border: 1px solid;
  border-color: $color-eight;
  margin: 0 3px;
  padding: 0.3rem;
  text-align: left;
  font-size: 13px;
  vertical-align: top;
}

textarea[disabled],
select[disabled],
input[type='date'][disabled],
input[type='datetime'][disabled],
input[type='datetime-local'][disabled],
input[type='email'][disabled],
input[type='month'][disabled],
input[type='number'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='time'][disabled],
input[type='url'][disabled],
input[type='week'][disabled] {
  background-color: $glass_md;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  user-select: none;
  color: #eee;
  cursor: default;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $text-tertiary;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: $text-tertiary;
}

input.placeholder_text,
textarea.placeholder_text {
  color: $text-tertiary;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select[size='0'],
select[size='1'] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {

  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  select,
  select[size='0'],
  select[size='1'] {
    @include svg-bg-simple('arrow-down');
    background-repeat: no-repeat;
    background-position: 90% 50%;
    padding-right: 30px;
    padding-left: 10px;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $text-secondary), color-stop(1, $black));
    border: 1px solid;
    border-color: $text-tertiary;
    color: $white;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: $black 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: $text-secondary;
    border: 0;
  }
}

$form-element-height: 40px;

textarea {
  min-height: $form-element-height;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: $black;
  font-style: normal;
  font-weight: normal;
}

optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.placeholder_text {
  color: $text-tertiary;
}

#wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 800px;
}

label.error {
  background: #ffffcc;
  color: #cc0000;
  font-style: italic;
}

input.error,
select.error,
textarea.error {
  background-color: #ffeeee;
}

.horiz {
  margin-top: -20px;
  margin-left: -20px;
}

.horiz td {
  padding: 20px 0 0 20px;
}

.form-type-select {
  display: inline-block;

  label {
    display: inline-block;
    @include label;
  }
}

.field-label,
.field__label {
  font-weight: normal;
}

.container-inline-date > .form-item {
  margin-right: 0;
}
