// Images & Media
//
// Markup:
// <h3>Figures</h3>
//     <p>Figures are usually used to refer to images:</p>
//     <div class="example">
//         <figure>
//             <img src="http://lorempixum.com/680/400/abstract/?r" alt="Example image"/>
//             <figcaption>
//                 <h4>Figure Heading</h4>
//                 <p>This is a placeholder image, with supporting caption.</p>
//             </figcaption>
//         </figure>
//     </div>
//     <p>Here, a part of a poem is marked up using figure:</p>
//     <div class="example">
//         <figure>
//             <p>&#8216;Twas brillig, and the slithy toves<br/>
//             Did gyre and gimble in the wabe;<br/>
//             All mimsy were the borogoves,<br/>
//             And the mome raths outgrabe.</p>
//             <figcaption>
//                 <p><cite>Jabberwocky</cite> (first verse). Lewis Carroll, 1832-98</p>
//             </figcaption>
//         </figure>
//     </div>
//
// Styleguide 1.3

//////////////////////////////
// Image paths - for use with interpolation syntax:
// background: url('#{$base-images}/image-name.png')
$sub: '../../butler';
$sub-images: '../../butler/butler_images';

%xxs-thumbnail {
  display: block;
  width: 90px;
  height: 50px;
}

%xs-thumbnail {
  display: block;
  width: 140px;
  height: 85px;
}

%sm-thumbnail {
  display: block;
  width: 205px;
  height: 128px;
}

%md-thumbnail {
  display: block;
  width: 226px;
  height: 136px;
}

%lg-thumbnail {
  display: block;
  width: 290px;
  height: 170px;
}

%xl-thumbnail {
  display: block;
  width: 373px;
  height: 224px;
}

%xxl-thumbnail {
  display: block;
  width: 636px;
  height: 223px;
}

picture,
img {
  line-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.image-fpp {
  @include clearfix;
  width: 100%;

  figure {
    margin: 0;
  }
}

// If the image fpp is inside the node body don't clear it.
.field--name-body {

  .image-fpp::after {
    content: inherit;
    display: inherit;
    clear: inherit;
  }
}

picture,
img,
embed,
object,
video,
media {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

// to fix the borealis bug
.field--type-image a {
  display: inline-block;

  .front &,
  .section-multimedia & {
    display: block !important;
  }
}

iframe {
  max-width: 100%;

  .sidebar & {
    width: auto;
  }
}

#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img,
.views_horizontal_slider img {
  max-width: none !important;
}

svg:not(:root) {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

audio,
canvas,
progress,
video {
  vertical-align: baseline;
}

// Prevent modern browsers from displaying `audio` without controls.
// Remove excess height in iOS 5 devices.
audio:not([controls]) {
  display: none;
  height: 0;
}
