// HTML elements: Tabular Data
//

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0;
  padding: 0;

  @include breakpoint($max-phone-l) {
    max-width: 100%;
    display: block;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &.sticky-header {
    z-index: 10;
  }
}

caption {
  @include heading4;
  padding: 9px 0 0;
}

thead {
  color: $color-one;
  border-bottom: 1px solid $color-three;
}

td,
th {
  padding: 0;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 9px 0;
  background-color: transparent;
}

table.views-table {
  min-width: 320px;
}

.mobile-table {

  @include breakpoint($max-phone-l) {

    tr {
      border-bottom: 10px solid transparent;
    }

    td,
    th {
      display: block;
    }
  }
}

table.borders {

  td {
    border: 1px solid $color-three;
  }

  caption,
  td,
  th {
    padding: 9px 5px;
  }
}
