// Base HTML
//
// Basic HTML styling used throughout the site.

body {
  @include primary-font;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  font-weight: 100;
}

h1,
.header1 {

  @include breakpoint($min-desk) {
    @include heading1;

    .title-and-tabs & {
      line-height: 1.1;
    }
  }

  @include breakpoint($max-desk) {
    @include heading2;

    .title-and-tabs & {
      line-height: 1.2;
    }
  }
}

h2,
.header2 {

  @include breakpoint($min-desk) {
    @include heading2;

    .title-and-tabs & {
      line-height: 1.2;
    }
  }

  @include breakpoint($max-desk) {
    @include heading4;

    .title-and-tabs & {
      line-height: 1.3;
    }
  }
}

h3,
.header3 {

  @include breakpoint($min-desk) {
    @include heading3;

    .title-and-tabs & {
      line-height: 1.2;
    }
  }

  @include breakpoint($max-desk) {
    @include heading4;

    .title-and-tabs & {
      line-height: 1.3;
    }
  }
}

h4,
.header4 {
  @include heading4;
  font-weight: 100;
}

h5,
.header5 {
  @include heading4;
  font-weight: 100;
}

h6,
.header6 {
  @include heading6;
  font-weight: 100;
}

.field-name-field-page-title {
  color: $ma-dark-blue;
}

.related-title {
  @include heading3;
  font-weight: 100;
}

.sidebar-title {
  @include heading4;
  font-weight: 100;
}

// Using the lang selector to apply particular font families.
:lang(ja) {
  font-family: $ja-font;

  body {
    font-size: 16px;
    line-height: 1.6em;
  }
}

:lang(zh-hans) {
  font-family: $zh-hans-font;
}

:lang(zh-hans) {

  body {
    font-size: 16px;
    line-height: 1.6em;
  }

  h1,
  h2,
  h3,
  strong,
  b,
  .field-name-field-pr-published-date,
  .teaser-month,
  .teaser-date,
  .teaser-year,
  .button-link a,
  .manh-column-menu .unlinked,
  .field-node--field-event-location,
  .node--type-event .date,
  .node--type-event .location,
  .field-node--field-event-dates .teaser-date-separator,
  .node--type-article .date-and-author,
  .contact-message-contact-us-form label,
  .node--type-link .teaser-title,
  .quote__quote-attribution,
  .stat-fittext-container,
  .partners-view .partners-title-field {
    font-family: $zh-hans-font-bold;
    font-weight: bold;
  }

  p, .views-field-field-teaser-text-long, .field-node--field-teaser-text-short, .field-node--field-teaser-text-long {
    text-align: justify;
    word-break: break-all;
  }

  em {
    font-style: normal;
  }
}

:lang(ja) {

  body {
    font-size: 16px;
    line-height: 1.6em;
  }

  h1,
  h2,
  h3,
  strong,
  b,
  .field-name-field-pr-published-date,
  .teaser-month,
  .teaser-date,
  .teaser-year,
  .button-link a,
  .manh-column-menu .unlinked,
  .field-node--field-event-location,
  .node--type-event .date,
  .node--type-event .location,
  .field-node--field-event-dates .teaser-date-separator,
  .node--type-article .date-and-author,
  .contact-message-contact-us-form label,
  .node--type-link .teaser-title,
  .quote__quote-attribution,
  .stat-fittext-container,
  .partners-view .partners-title-field {
    font-weight: bold;
  }

  p, .views-field-field-teaser-text-long, .field-node--field-teaser-text-short, .field-node--field-teaser-text-long {
    text-align: justify;
    word-break: break-all;
  }

  em {
    font-style: normal;
  }
}

p, pre {
  margin: 0 0 20px;
}

strong,
b {
  @include primary-font-heavy;
  font-weight: normal;
}


pre, code, tt, samp, kbd, var {
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
  font-size: 1em;
}

// Contain overflow in all browsers.
pre {
  overflow: auto;
}

//Address differences between Firefox and other browsers.
hr {
  box-sizing: content-box;
  height: 1px;
  border: none;
  background-color: $border-primary;
}

// HTML elements: Links styles
a {
  text-decoration: none;
  color: $ma-light-blue;
  &:hover,
  &:focus {
    h1 &,
    h2 &,
    h3 &,
    h4 &,
    h5 &,
    h6 & {
      text-decoration: none;
    }
  }
}

.content-link:hover {
  text-decoration: none;
}

.cke_editable *:focus {
  outline: none;
}

blockquote {
  @include primary-font-heavy;
  border-left: 2px solid $border-secondary;
  color: $color-one;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.2;
  margin: 15px 0 0 30px;
  padding: 0 25px 0 18px;
  position: relative;

  > *:first-child {
    text-indent: 30px;
  }

  p {
    color: $color-one;
    font-size: 1.25em;
    line-height: 1.2;

    &::before {
      background: image-url('quote-lft.png') no-repeat top left;
      background-image: image-url('quote-lft.svg');
      content: '';
      display: block;
      height: 13px;
      left: 20px;
      position: absolute;
      top: 7px;
      width: 18px;
    }
  }

  > *:last-child::after {
    background: image-url('quote-rt.png') no-repeat top left;
    background-image: image-url('quote-rt.svg');
    content: '';
    display: inline-block;
    height: 13px;
    left: 10px;
    position: relative;
    top: -6px;
    width: 18px;
  }
}

// Address inconsistent and variable font size in all browsers.
small {
  font-size: 80%;
}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  font-size: 40%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -1.1em;
}

sub {
  bottom: -0.25em;
}

// Lists
dfn {
  font-style: italic;
}

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title] {
  border-bottom: 1px dotted;
}

//Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
template {
  display: none;
}

ul.pagination li {
  display: inline-block;
}

// Add list styling for WYSIWYG
.field-node--field-body ul, .field-node--field-body-left ul, .field-node--field-body-right ul {

  li {
    list-style-image: url('../images/bullet-ma-dark-blue.svg');
    padding-left: 1rem;
  }

  li.ma-dark-blue {
    list-style-image: url('../images/bullet-ma-dark-blue.svg');
    padding-left: 1rem;
  }

  li.ma-light-blue {
    list-style-image: url('../images/bullet-ma-light-blue.svg');
    padding-left: 1rem;
  }

  li.ma-flame {
    list-style-image: url('../images/bullet-ma-flame.svg');
    padding-left: 1rem;
  }

  li.ma-aqua {
    list-style-image: url('../images/bullet-ma-aqua.svg');
    padding-left: 1rem;
  }

  li.ma-lavender {
    list-style-image: url('../images/bullet-ma-lavender.svg');
    padding-left: 1rem;
  }

  li.dark-blue {
    list-style-image: url('../images/bullet-ma-dark-blue.svg');
    padding-left: 1rem;
  }

  li.medium-blue {
    list-style-image: url('../images/bullet-ma-dark-blue.svg');
    padding-left: 1rem;
  }

  li.bright-blue {
    list-style-image: url('../images/bullet-ma-light-blue.svg');
    padding-left: 1rem;
  }

  li.dark-green {
    list-style-image: url('../images/bullet-ma-flame.svg');
    padding-left: 1rem;
  }

  li.medium-green {
    list-style-image: url('../images/bullet-ma-flame.svg');
    padding-left: 1rem;
  }

  li.bright-green {
    list-style-image: url('../images/bullet-ma-flame.svg');
    padding-left: 1rem;
  }

  li.dark-grey {
    list-style-image: url('../images/bullet-ma-dark-gray.svg');
    padding-left: 1rem;
  }

  li.medium-dark-grey {
    list-style-image: url('../images/bullet-ma-medium-gray.svg');
    padding-left: 1rem;
  }

  li.gold {
    list-style-image: url('../images/bullet-ma-light-blue.svg');
    padding-left: 1rem;
  }

  li.brown {
    list-style-image: url('../images/bullet-ma-light-blue.svg');
    padding-left: 1rem;
  }

  li.rust {
    list-style-image: url('../images/bullet-ma-light-blue.svg');
    padding-left: 1rem;
  }

  li.checkmark {
    list-style-image: url('../images/bullet-checkmark.svg');
    padding-left: 1rem;
  }
}

.visually-hidden {
  font-size: 0;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
