/**
 * @license
 * MyFonts Webfont Build ID 3016451, 2015-04-27T16:34:20-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: AvenirLTStd-Heavy by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/85-heavy/
 *
 * Webfont: AvenirLTStd-BookOblique by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/45-book-oblique/
 *
 * Webfont: AvenirLTStd-Book by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/45-book/
 *
 * Webfont: AvenirLTStd-HeavyOblique by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir/85-heavy-oblique/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3016451
 * Licensed pageviews: 750,000
 * Webfonts copyright: Copyright &#x00A9; 1989, 1995, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 1995, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 *
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/2e0703"); */


@font-face {font-family: 'AvenirLTStd-Heavy';src: url('../fonts/2E0703_0_0.eot');src: url('../fonts/2E0703_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E0703_0_0.woff2') format('woff2'),url('../fonts/2E0703_0_0.woff') format('woff'),url('../fonts/2E0703_0_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-BookOblique';src: url('../fonts/2E0703_1_0.eot');src: url('../fonts/2E0703_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E0703_1_0.woff2') format('woff2'),url('../fonts/2E0703_1_0.woff') format('woff'),url('../fonts/2E0703_1_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-Book';src: url('../fonts/2E0703_2_0.eot');src: url('../fonts/2E0703_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E0703_2_0.woff2') format('woff2'),url('../fonts/2E0703_2_0.woff') format('woff'),url('../fonts/2E0703_2_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirLTStd-HeavyOblique';src: url('../fonts/2E0703_3_0.eot');src: url('../fonts/2E0703_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E0703_3_0.woff2') format('woff2'),url('../fonts/2E0703_3_0.woff') format('woff'),url('../fonts/2E0703_3_0.ttf') format('truetype');}
