@charset "UTF-8";

tr.ccbnBgTblTtl {
  color: white;
  font-family: "AvenirLTStd-Heavy", Arial, sans-serif;
}

tr.ccbnBgTblTtl td {
  background: #071D49;
  padding: 9px;
  font-family: "AvenirLTStd-Book", Arial, sans-serif;
}

tr.ccbnBgTblOdd,
tr.ccbnBgTblEven {
  background: transparent;
  border-top: 1px solid #d8d9da;
}

tr.ccbnBgTblOdd:hover,
tr.ccbnBgTblEven:hover {
  background: #e2e6e8;
}

span.ccbnTblTtl,
span.ccbnTblOdd,
span.ccbnTblEven {
  padding: 0.5em;
}

tr.ccbnOutline > td {
  padding: 0;
}

ul.linkList {
  padding: 0;
}

.sidebar-nav {
  background-color: #d8d9da;
  padding: 0.5rem 1rem;
}

.main-column table {
  margin-top: 0;
}

h1.investor-relations-title {
  font-family: "AvenirLTStd-Book", Arial, sans-serif;
  min-height: 2rem;
  margin-top: 3rem;
}

#block-manh-footer {
  width: 100%;
  float: none;
}

div.region-footer-first-column, div.region-footer-second-column, div.region-footer-fourth-column {
  float: left;
}

.region-footer-first-column #block-helpnavigationen {
  max-width: 200px;
}

.region-footer-first-column #block-helpnavigationen ul.menu li {
  display: block;
  float: left;
  clear: left;
  padding-top:0.2em;
}

#ir-footer-copyright-wrapper ul.menu li {
  display: inline;
  margin-right: 1em;
}
#ir-footer-wrapper h2 {
  font-weight: 100;
  font-family: "AvenirLTStd-Heavy", serif;
}

/*** IR Header is a container for header nav on the IR site ***/
.ir-header {
  position: relative;
  height: 100px;
}

.ir-header .menu {
  display: flex;
  justify-content: space-around;
}

.ir-header .menu .menu-item {
  flex: 1 1 auto;
  display: inline-block;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  white-space: nowrap;
}

.ir-header .site-selector {
  display: block;
  float: right;
  height: 40px;
  position: relative;
  margin: -17px auto 10px -65px;
  padding-top: 30px;
  max-width: 300px;
}

.ir-header .field-block-content--body:nth-of-type(2) {
    display: block;
    float: right;
    top: 8px;
    right: 32px;
    z-index: 9999999;
    position: relative;
}

/* IR Footer Styles */
@media (min-width: 63.75em) {
  .ir-homepage #ir-copyright {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }

  .ir-homepage .l-copyright .section {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  }
}

@media (min-width: 39.9375em) {
  .ir-homepage #ir-copyright p {
    text-align: left;
  }
}

@media (min-width: 63.75em) {
  .ir-homepage #ir-copyright p {
    text-align: right;
  }
}

.ir-homepage .block-footer-menu {
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.ir-homepage .block-footer-menu .menu li {
  display: inline;
  margin-right: 20px;
}

.nav-drawer-close:before { display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); content: ""; background-color: #002856; color: #fff; cursor: pointer; width: 2rem; border-radius: 3px; font-size: 1.8rem; line-height: 1; }

/* Footer changes at breakpoints */
#footer-copyright-wrapper .block-footer-menu { display: none; }
@media (min-width: 39.9375em) { #footer-copyright-wrapper .block-footer-menu { display: block; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-flex: 1 1 100%; -ms-flex: 1 1 100%; flex: 1 1 100%; } }
@media (min-width: 63.75em) { #footer-copyright-wrapper .block-footer-menu { -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-flex: 1 1 50%; -ms-flex: 1 1 50%; flex: 1 1 50%; } }

#footer-copyright-wrapper .block-footer-copyright { -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-flex: 1 1 100%; -ms-flex: 1 1 100%; flex: 1 1 100%; text-align: center; }
@media (min-width: 39.9375em) { #footer-copyright-wrapper .block-footer-copyright { text-align: left; } }
@media (min-width: 63.75em) { #footer-copyright-wrapper .block-footer-copyright { -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-flex: 1 1 50%; -ms-flex: 1 1 50%; flex: 1 1 50%; text-align: right; } }

/* Footer Social Menus */
.footer-socialnavigation.en .menu-item a {
  background: url('http://www.manh.com/themes/manh/styles/images/footer_icons.png') no-repeat;
  width: 46px;
  height: 46px;
  text-indent: -9999px;
}

.footer-socialnavigation.en li:first-child a {
  background-position: -1px -2px;
}

.footer-socialnavigation.en li:nth-child(2) a {
  background-position: -51px -2px;
}

.footer-socialnavigation.en li:nth-child(3) a {
  background-position: -101px -2px;
}

.footer-socialnavigation.en li:nth-child(4) a {
  background-position: -151px -2px;
}

.footer-socialnavigation.en li:last-child a {
  background-position: -201px -2px;
}

.footer-socialnavigation.en li:last-child {
  margin-right: 0;
}

.footer-socialnavigation.en .block-secondarymenu-wrapper .menu .menu-item {
    margin-right: 14px;
}

/* MA-35: Temporary workarounds to keep IR site styles from breaking */

/* Keep logo */
#site-name {
  background: no-repeat url("../../logo.svg");
  width: 250px;
  height: 50px;
  margin: 10px 0 0 0;
  background-size: 74%;
}

@media (min-width: 63.75em) {
  #site-name {
    background-size: 100%;
    margin: 0;
  }
}

/* Search form tweaks */
#block-manh-search  {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

#block-manh-search h2 {
  display: none;
}

#block-manh-search .form-actions {
  text-indent: -100%;
  font-size: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  display: block;
  top: -4px;
  right: 10px;
  z-index: 2;
}

#block-manh-search #edit-keys {
  float: right;
  color: #77777A;
  width: 190px;
  height:32px;
  display: inline-block;
}

#block-manh-search #edit-submit {
  width: 55px;
  height: 28px;
  padding: 0;
  text-indent: -999%;
  background-image: url("../images/search_sm.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 80% 50%;
  background-color: transparent;
  display: inline-block;
  float: right;
  top: 5px;
}

/* Contact block tweaks */
#block-contactusblock {
  position: absolute;
  top: 24px;
  right: 10px;
}

.header-top-inner {
  position: relative;
  height: 100px;
}

/*** Site Selector block ***/
.region-header-site-selector {
  position: absolute;
  right: 201px;
  bottom: 6px;
  z-index: 2000;
  display: block;
  float: none;
  clear: none;
}

/*** Secondary Nav Block ***/
.region-header-secondary {
  position: absolute;
  right: -10px;
  margin: 0;
  float: none;
  clear: none;
}

.region-header-secondary .block {
  float: none;
}

#block-headernavigationen {
  position: absolute;
  top: 28px;
  right: 24px;
}

.block-secondarymenu-wrapper {
  margin: 0;
}

@media (max-width: 63.75em) { .ir-header .search-block-form  { display: none; } }
@media (min-width: 39.9375em) { .region-header-site-selector .search-block-form  { padding: 0;display: inline-block;line-height: 1.2;font-size: 0.8em;float: right;margin-top: 5px;background-color: white;width: 30px;height: 30px;color: $color-eight;border: 0; } }



