@charset "UTF-8";
input[type="reset"], input[type="submit"], input[type="button"], button, .button-primary--one, .button-primary--two, .button-primary--three, .button-primary--four { border-radius: 0.65rem; background-clip: padding-box; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; cursor: pointer; display: inline-block; overflow: visible; text-decoration: none; vertical-align: top; width: auto; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-size: 15px; font-size: 0.9375rem; line-height: 1.4; padding: 0.3rem 2rem; margin: 0 0 0.5rem; letter-spacing: 0.02em; text-align: center; line-height: normal; position: relative; color: #fff !important; border: 0; transition: background 0.3s ease; *padding-top: 2px; *padding-bottom: 0; }
input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button-primary--one:hover, .button-primary--two:hover, .button-primary--three:hover, .button-primary--four:hover, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus, button:focus, .button-primary--one:focus, .button-primary--two:focus, .button-primary--three:focus, .button-primary--four:focus { text-decoration: none; }

input[type="reset"], input[type="submit"], input[type="button"], button, .button-primary--one { background-color: #002856; }
input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button-primary--one:hover { color: white; text-decoration: none; background-color: #00040a; }

.button-primary--two { background-color: #0069AA; }
.button-primary--two:hover { color: white; text-decoration: none; background-color: #003a5d; }

.button-primary--three { background-color: #79BDE8; }
.button-primary--three:hover { color: white; text-decoration: none; background-color: #389ddd; }

.button-primary--four { background-color: #AAAD00; }
.button-primary--four:hover { color: white; text-decoration: none; background-color: #5f6100; }

.button-secondary { border-radius: 0.65rem; background-clip: padding-box; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; cursor: pointer; display: inline-block; overflow: visible; text-decoration: none; vertical-align: top; width: auto; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-size: 9px; font-size: 0.5625rem; line-height: 1.4; padding: 10px 20px; margin: 0 0 0.5rem; letter-spacing: 0.02em; text-align: center; line-height: normal; position: relative; color: #fff !important; border: 0; transition: background 0.3s ease; *padding-top: 2px; *padding-bottom: 0; background-color: #0069AA; }
.button-secondary:hover { color: white; text-decoration: none; background-color: #003a5d; }

.button--large { border-radius: 0.65rem; background-clip: padding-box; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; cursor: pointer; display: inline-block; overflow: visible; text-decoration: none; vertical-align: top; width: auto; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-size: 18px; font-size: 1.125rem; line-height: 1.4; padding: 0.9rem 12rem 1rem; margin: 0 0 0.5rem; letter-spacing: 0.02em; text-align: center; line-height: normal; position: relative; color: #fff !important; border: 0; transition: background 0.3s ease; *padding-top: 2px; *padding-bottom: 0; background-color: #0069AA; }
.button--large:hover { color: white; text-decoration: none; background-color: #003a5d; }

/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
*, *:before, *:after { box-sizing: border-box; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; *font-family: inherit; *vertical-align: middle; }

button, select { text-transform: none; margin-bottom: 5px; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; *overflow: visible; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

button:hover, a.button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, button:active, a.button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active { color: white; background: #004977; }

button::-moz-focus-inner, a.button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border: 0; padding: 0; }

.mfp-wrap button:hover { background: transparent; }

fieldset { margin: 0 2px; border-color: silver; border-top-width: 1px; border-top-width: 0.0625rem; border-top-style: solid; padding-top: 4px; padding-top: 0.24375rem; border-bottom-width: 1px; border-bottom-width: 0.0625rem; border-bottom-style: solid; padding-bottom: 8px; padding-bottom: 0.50625rem; border-left-width: 1px; border-left-width: 0.0625rem; border-left-style: solid; padding-left: 8px; padding-left: 0.48438rem; border-right-width: 1px; border-right-width: 0.0625rem; border-right-style: solid; padding-right: 8px; padding-right: 0.48438rem; }

legend { border: 0; padding: 0; *margin-left: -7px; }

.clearfix::after { content: ""; display: table; clear: both; }

@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome-webfont.eot?v=4.3.0"); src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }
form { margin: 0; }

input { line-height: normal; }

.form-submit ~ p { clear: left; }

textarea { overflow: auto; }

.form-select { min-width: 120px; margin: 0 5px; }

div.ctools-modal-content .form-item label.option { font-size: 16px; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

optgroup { font-weight: bold; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
button, input, select, textarea { max-width: 100%; }

input[type="search"]::-webkit-search-decoration { display: none; }

input:invalid, button:invalid, a.button:invalid, select:invalid, textarea:invalid { box-shadow: none; }

input:focus, button:focus, a.button:focus, select:focus, textarea:focus { box-shadow: 0; z-index: 1; }

input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active { box-shadow: none; }

textarea, select[multiple], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] { box-sizing: border-box; background-clip: padding-box; -o-border-radius: 0.65rem; border-radius: 0.65rem; -webkit-appearance: none; background-color: white; border: 1px solid; border-color: #77777A; margin: 0 3px; padding: 0.3rem; text-align: left; font-size: 13px; vertical-align: top; *padding-top: 2px; *padding-bottom: 1px; *height: auto; }

textarea[disabled], select[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled] { background-color: rgba(100, 100, 100, 0.75); }

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled], a.button_disabled { box-shadow: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; user-select: none; color: #eee; cursor: default; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #999; }

input.placeholder_text, textarea.placeholder_text { color: #999; }

textarea, select[size], select[multiple] { height: auto; }

select[size="0"], select[size="1"] { height: 1.8em; *height: auto; }

@media (-webkit-min-device-pixel-ratio: 0) { select[size], select[multiple], select[multiple][size] { background-image: none; padding-right: 3px; }
  select, select[size="0"], select[size="1"] { background-image: url("../../images/arrow-down.svg"); background-repeat: no-repeat; background-position: 90% 50%; padding-right: 30px; padding-left: 10px; }
  .lt-ie9 select, .lt-ie9 select[size="0"], .lt-ie9 select[size="1"] { background-image: url("../../images/arrow-down.png"); }
  ::-webkit-validation-bubble-message { box-shadow: none; border: 1px solid; border-color: #999; color: white; overflow: hidden; padding: 15px 15px 17px; text-shadow: black 0 0 1px; height: 16px; }
  ::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-top-outer-arrow, ::-webkit-validation-bubble-top-inner-arrow { box-shadow: none; background: #666; border: 0; } }
textarea { min-height: 40px; overflow: auto; resize: vertical; width: 100%; }

optgroup { color: black; font-style: normal; font-weight: normal; }

optgroup::-moz-focus-inner { border: 0; padding: 0; }

.ie6_button, * html button, * html a.button { background: #dddddd url("../images/button.png?1298351022") repeat-x; border: 1px solid; border-color: rgba(100, 100, 100, 0.75); cursor: pointer; color: #333; padding: 2px 10px 0px; text-decoration: none; overflow: visible; vertical-align: top; width: auto; }

* html a.button { position: relative; top: 3px; padding-bottom: 2px; }

* html button { padding-top: 1px; padding-bottom: 1px; }

.ie6_input, * html textarea, * html select { background: white; border: 1px solid; border-color: rgba(100, 100, 100, 0.75); color: black; padding: 2px 3px 1px; font-size: 13px; vertical-align: top; }

* html select { margin-top: 1px; }

.placeholder_text, .ie6_input_disabled, .ie6_button_disabled { color: #999; }

.ie6_input_disabled { background: rgba(100, 100, 100, 0.75); }

#wrapper { margin: 0 auto; padding: 20px; width: 800px; }

label.error { background: #ffffcc; color: #cc0000; font-style: italic; }

input.error, select.error, textarea.error { background-color: #ffeeee; }

.horiz { margin-top: -20px; margin-left: -20px; }

.horiz td { padding: 20px 0 0 20px; }

.form-type-select { display: inline-block; }
.form-type-select label { display: inline-block; font-weight: bold; }

.field-label, .field__label { font-weight: bold; }

.container-inline-date > .form-item { margin-right: 0; }

ul.menu li.leaf, ul li.leaf { list-style-image: none; }

body ul.menu, ul { margin: 0; padding: 0; }
body ul.menu li, ul li { list-style: none; }
.field--name-body body ul.menu li, .field--name-body ul li { list-style: disc; }
.field--name-body body ul.menu li li, .field--name-body ul li li { list-style: circle; }
body ul.menu .collapsed, body ul.menu .expanded, ul .collapsed, ul .expanded { list-style: none; list-style-image: none; }

.view ul li { list-style: none; }

.bullets, .cke_editable ul, .field--name-body ul, .field--type-text-long ul { padding: 0 0 0 20px; }
.bullets li, .cke_editable ul li, .field--name-body ul li, .field--type-text-long ul li { list-style: disc; }

/* Ethan Marcotte - http://front.ie/l8rJaA */
picture, img { line-height: 0; max-width: 100%; max-height: 100%; height: auto; }

.image-fpp { width: 100%; }
.image-fpp::after { content: ""; display: table; clear: both; }
.image-fpp figure { margin: 0; }

.field--name-body .image-fpp:after { content: inherit; display: inherit; clear: inherit; }

picture, img, embed, object, video, media, .yui3-widget, .yui3-nfl-video { max-width: 100%; -ms-interpolation-mode: bicubic; }

.field--type-image a { display: inline-block; }
.front .field--type-image a, .section-multimedia .field--type-image a { display: block !important; }
.lt-ie9 .field--type-image a { display: block; }

iframe { max-width: 100%; }
.sidebar iframe { width: auto; }

/* Override max-width 100% for map displays */
#map img, .gmap img, .view-gmap img, .openlayers-map img, #getlocations_map_canvas img, #locationmap_map img, .geofieldMap img, .views_horizontal_slider img { max-width: none !important; }

svg:not(:root) { overflow: hidden; }

.media-16-9 { position: relative; height: 0; padding-top: 56.25%; width: 100%; }
.media-16-9 > * { display: block; position: absolute; width: 100% !important; height: 100% !important; top: 0; margin: 0; padding: 0; }

.media-4-3 { position: relative; height: 0; padding-top: 75%; width: 100%; }
.media-4-3 > * { display: block; position: absolute; width: 100% !important; height: 100% !important; top: 0; margin: 0; padding: 0; }

audio, canvas, progress, video { display: inline-block; *display: inline; *zoom: 1; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; }

figure { margin: 0.875rem 40px; }

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder { background: #fff !important; border: 0 none !important; visibility: visible !important; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after { content: '!'; visibility: hidden; }

.selectize-dropdown-header { position: relative; padding: 5px 8px; background: #fff; }

.selectize-dropdown-header-close { position: absolute; top: 50%; right: 8px; margin-top: -12px; font-size: 20px !important; line-height: 20px; color: #303030; opacity: 0.4; }

.selectize-dropdown-header-close:hover { color: #000000; }

.selectize-dropdown.plugin-optgroup_columns .optgroup { float: left; border-top: 0 none; border-right: 1px solid #f2f2f2; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child { border-right: 0 none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:before { display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header { border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] { position: relative; padding-right: 24px !important; }

.selectize-control.plugin-remove_button [data-value] .remove { position: absolute; top: 0; right: 0; bottom: 0; display: inline-block; width: 17px; padding: 2px 0 0 0; font-size: 12px; font-weight: bold; color: inherit; text-align: center; text-decoration: none; vertical-align: middle; border-left: 1px solid #0073bb; }

.selectize-control.plugin-remove_button [data-value] .remove:hover { background: rgba(0, 0, 0, 0.05); }

.selectize-control.plugin-remove_button [data-value].active .remove { border-left-color: #00578d; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover { background: none; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove { border-left-color: #aaaaaa; }

.selectize-control { position: relative; }

.selectize-dropdown, .selectize-input, .selectize-input input { font-family: inherit; font-size: 13px; -webkit-font-smoothing: inherit; line-height: 18px; color: #303030; }

.selectize-input, .selectize-control.single .selectize-input.input-active { display: inline-block; cursor: text; background: #ffffff; }

.selectize-input { position: relative; z-index: 1; display: inline-block; width: 100%; padding: 8px 8px; overflow: hidden; }

.selectize-control.multi .selectize-input.has-items { padding: 5px 8px 2px; }

.selectize-input.full { background-color: #ffffff; }

.selectize-input.disabled, .selectize-input.disabled * { cursor: default !important; }

.selectize-input > * { display: -moz-inline-stack; display: inline-block; *display: inline; vertical-align: baseline; zoom: 1; }

.selectize-control.multi .selectize-input > div { padding: 2px 6px; margin: 0 3px 3px 0; color: #ffffff; cursor: pointer; background: #fff; border: 1px solid #0073bb; }

.selectize-control.multi .selectize-input > div.active { color: #ffffff; background: #92c836; border: 1px solid #00578d; }

.selectize-control.multi .selectize-input.disabled > div, .selectize-control.multi .selectize-input.disabled > div.active { color: #ffffff; background: #002856; border: 1px solid #aaaaaa; }

.selectize-input > input { max-width: 100% !important; max-height: none !important; min-height: 0 !important; padding: 0 !important; margin: 0 1px !important; line-height: inherit !important; text-indent: 0 !important; background: none !important; border: 0 none !important; -webkit-user-select: auto !important; }

.selectize-input::after { display: block; clear: left; content: ' '; }

.selectize-input.dropdown-active::before { position: absolute; right: 0; bottom: 0; left: 0; display: block; height: 1px; background: #fff; content: ' '; }

.selectize-dropdown { position: absolute; z-index: 10; margin: -1px 0 0 0; background: #ffffff; border: 1px solid #edf0e9; border-top: 0px; }

.selectize-dropdown [data-selectable] { overflow: hidden; cursor: pointer; }

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header { padding: 5px 8px; }

.selectize-dropdown .optgroup:first-child .optgroup-header { border-top: 0 none; }

.selectize-dropdown .optgroup-header { color: #303030; cursor: default; background: #ffffff; }

.selectize-dropdown [data-selectable] .active, .selectize-dropdown [data-selectable] .highlight, .selectize-dropdown .active { color: #495c68; background-color: #d4dbcb; }

.selectize-dropdown .active.create { color: #495c68; }

.selectize-dropdown .create { color: rgba(48, 48, 48, 0.5); }

.selectize-dropdown-content { max-height: 200px; overflow-x: hidden; overflow-y: auto; }

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input { cursor: pointer; }

.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input { cursor: text; }

.selectize-control.single .selectize-input:after { position: absolute; top: 50%; right: 15px; display: block; width: 0; height: 0; margin-top: -3px; content: ' '; }

.selectize-control.single .selectize-input.dropdown-active:after { margin-top: -4px; border-width: 0; }

.selectize-control.rtl.single .selectize-input:after { right: auto; left: 15px; }

.selectize-control.rtl .selectize-input > input { margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled { background-color: #fafafa; opacity: 0.5; }

.selectize-control.multi .selectize-input.has-items { padding-right: 5px; padding-left: 5px; }

.selectize-control.multi .selectize-input.disabled [data-value] { color: #999; text-shadow: none; background: none; }

.selectize-control.multi .selectize-input.disabled [data-value] .remove { background: none; }

.selectize-control.multi .selectize-input [data-value] { background: #edf0e9; }

.selectize-control.single .selectize-input { background: #edf0e9 url('../images/arrow-down.png') calc(100% - 7px) 50% no-repeat; }

.selectize-dropdown .optgroup-header { padding-top: 7px; font-size: 0.85em; font-weight: bold; }

.selectize-dropdown .optgroup:first-child { border-top: 0 none; }

table { border-collapse: collapse; border-spacing: 0; margin: 10px 0; padding: 0; }
table.sticky-header { z-index: 10; }

caption { font-size: 18px; font-size: 1.125rem; line-height: 1.5; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-weight: normal; font-weight: 100; text-transform: none; margin: 0.7rem 0 0.3rem; color: #00447b; padding: 9px 0px 0; }
caption a { text-decoration: none; }
caption a:link, caption a:visited { text-decoration: none; color: #00447b; }
caption a:hover, caption a:focus { color: #79BDE8; }
caption a:hover, caption a:focus { text-decoration: underline; color: #79BDE8; }

thead { color: #002856; border-bottom: 1px solid #79BDE8; }

td, th { padding: 0; }

table, td, th { vertical-align: middle; }

caption, th, td { text-align: left; }

td, th { border-bottom: 0; margin: 0; padding: 9px 0px; background-color: transparent; }

table.views-table { min-width: 320px; }

table.borders td { border: 1px solid #79BDE8; }
table.borders caption, table.borders td, table.borders th { padding: 9px 5px; }

body { font-family: "AvenirLTStd-Book", "Avenir", "Arial", sans-serif; font-size: 15px; font-size: 0.9375rem; line-height: 1.4; color: #77777A; font-weight: 100; }

h1, .header1 { font-size: 27px; font-size: 1.6875rem; line-height: 1.4; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; margin: 1rem 0 0.4rem; font-weight: normal; font-weight: 100; color: #00447b; }
h1 a, .header1 a { text-decoration: none; }
h1 a:link, h1 a:visited, .header1 a:link, .header1 a:visited { text-decoration: none; color: #00447b; }
h1 a:hover, h1 a:focus, .header1 a:hover, .header1 a:focus { color: #79BDE8; }
h1 a:hover, h1 a:focus, .header1 a:hover, .header1 a:focus { text-decoration: underline; color: #79BDE8; }
.title-and-tabs h1, .title-and-tabs .header1 { line-height: 1.1; }

h2, .header2 { font-size: 24px; font-size: 1.5rem; line-height: 1.4; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-weight: bold; color: #00447b; margin: 0.8rem 0 0.4rem; font-weight: 100; }
h2 a, .header2 a { text-decoration: none; }
h2 a:link, h2 a:visited, .header2 a:link, .header2 a:visited { text-decoration: none; color: #00447b; }
h2 a:hover, h2 a:focus, .header2 a:hover, .header2 a:focus { color: #79BDE8; }
h2 a:hover, h2 a:focus, .header2 a:hover, .header2 a:focus { text-decoration: underline; color: #79BDE8; }

h3, .header3 { font-size: 21px; font-size: 1.3125rem; line-height: 1.4; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-weight: normal; font-weight: 100; margin: 0.8rem 0 0.4rem; color: #00447b; font-weight: 100; }
h3 a, .header3 a { text-decoration: none; }
h3 a:link, h3 a:visited, .header3 a:link, .header3 a:visited { text-decoration: none; color: #00447b; }
h3 a:hover, h3 a:focus, .header3 a:hover, .header3 a:focus { color: #79BDE8; }
h3 a:hover, h3 a:focus, .header3 a:hover, .header3 a:focus { text-decoration: underline; color: #79BDE8; }

h4, .header4 { font-size: 18px; font-size: 1.125rem; line-height: 1.5; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-weight: normal; font-weight: 100; text-transform: none; margin: 0.7rem 0 0.3rem; color: #00447b; font-weight: 100; }
h4 a, .header4 a { text-decoration: none; }
h4 a:link, h4 a:visited, .header4 a:link, .header4 a:visited { text-decoration: none; color: #00447b; }
h4 a:hover, h4 a:focus, .header4 a:hover, .header4 a:focus { color: #79BDE8; }
h4 a:hover, h4 a:focus, .header4 a:hover, .header4 a:focus { text-decoration: underline; color: #79BDE8; }

h5, .header5 { font-size: 18px; font-size: 1.125rem; line-height: 1.5; font-family: "AvenirLTStd-Book", "Avenir", "Arial", sans-serif; font-weight: normal; font-weight: 100; margin: 0.6rem 0 0.3rem; color: #00447b; font-weight: 100; }
h5 a, .header5 a { text-decoration: none; }
h5 a:link, h5 a:visited, .header5 a:link, .header5 a:visited { text-decoration: none; color: #00447b; }
h5 a:hover, h5 a:focus, .header5 a:hover, .header5 a:focus { color: #79BDE8; }
h5 a:hover, h5 a:focus, .header5 a:hover, .header5 a:focus { text-decoration: underline; color: #79BDE8; }

h6, .header6 { font-size: 17px; font-size: 1.0625rem; line-height: 1.5; font-family: "AvenirLTStd-Book", "Avenir", "Arial", sans-serif; font-weight: bold; margin: 0.5rem 0 0.2rem; color: #00447b; font-weight: 100; }
h6 a, .header6 a { text-decoration: none; }
h6 a:link, h6 a:visited, .header6 a:link, .header6 a:visited { text-decoration: none; color: #00447b; }
h6 a:hover, h6 a:focus, .header6 a:hover, .header6 a:focus { color: #79BDE8; }
h6 a:hover, h6 a:focus, .header6 a:hover, .header6 a:focus { text-decoration: underline; color: #79BDE8; }

.field-name-field-page-title { color: #00457c; }

p, pre { margin: 0 0 8px 0; }

strong, b { font-weight: bold; }

pre, code, tt, samp, kbd, var { font-family: Consolas, Monaco, "Courier New", Courier, monospace, sans-serif; font-size: 1em; }

pre { overflow: auto; }

hr { box-sizing: content-box; height: 1px; border: none; background-color: #79BDE8; }

a { text-decoration: none; }
a:link, a:visited { text-decoration: none; color: #0069AA; }
a:hover, a:focus { text-decoration: underline; color: #79BDE8; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus { text-decoration: none; }

.cke_editable *:focus { outline: none; }

a { background: transparent; }

blockquote { font-size: 20px; font-size: 1.25rem; line-height: 1.4; color: #002856; font-style: italic; font-weight: bold; border-left: 2px solid rgba(100, 100, 100, 0.75); margin: 15px 0; padding: 0 25px 0 18px; position: relative; }
blockquote > *:first-child { text-indent: 30px; }
blockquote p { font-size: 20px; font-size: 1.25rem; line-height: 1.4; color: #002856; }
blockquote p:before { content: ""; display: block; width: 18px; height: 13px; position: absolute; }
blockquote p:before { background: url('../images/quote-lft.png') no-repeat top left; background-image: url('../images/quote-lft.svg'); left: 20px; top: 7px; }
blockquote > *:last-child:after { content: ""; display: inline-block; width: 18px; height: 13px; position: relative; background: url('../images/quote-rt.png') no-repeat top left; background-image: url('../images/quote-rt.svg'); top: -6px; left: 10px; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 0.875rem 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

dfn { font-style: italic; }

abbr[title] { border-bottom: 1px dotted; }

mark { background: yellow; color: black; }

template { display: none; }

[hidden] { display: none; }

ul.pagination li { display: inline-block; }

#block-manh-tools { width: 100%; float: left; clear: left; }

.kss-styleguideElement .bg-one, #page .bg-one { background: #002856; color: #fff; }
.kss-styleguideElement .bg-one.color-block:after, #page .bg-one.color-block:after { content: "one #002856"; }
.kss-styleguideElement .bg-two, #page .bg-two { background: #0069AA; color: #fff; }
.kss-styleguideElement .bg-two.color-block:after, #page .bg-two.color-block:after { content: "two #0069AA"; }
.kss-styleguideElement .bg-three, #page .bg-three { background: #79BDE8; color: #333; }
.kss-styleguideElement .bg-three.color-block:after, #page .bg-three.color-block:after { content: "three #79BDE8"; }
.kss-styleguideElement .bg-four, #page .bg-four { background: #AAAD00; color: #fff; }
.kss-styleguideElement .bg-four.color-block:after, #page .bg-four.color-block:after { content: "four #AAAD00"; }
.kss-styleguideElement .bg-five, #page .bg-five { background: #C1D42F; color: #333; }
.kss-styleguideElement .bg-five.color-block:after, #page .bg-five.color-block:after { content: "five #C1D42F"; }
.kss-styleguideElement .bg-six, #page .bg-six { background: #E2E668; color: #333; }
.kss-styleguideElement .bg-six.color-block:after, #page .bg-six.color-block:after { content: "six #E2E668"; }
.kss-styleguideElement .bg-seven, #page .bg-seven { background: #55565A; color: #fff; }
.kss-styleguideElement .bg-seven.color-block:after, #page .bg-seven.color-block:after { content: "seven #55565A"; }
.kss-styleguideElement .bg-eight, #page .bg-eight { background: #77777A; color: #fff; }
.kss-styleguideElement .bg-eight.color-block:after, #page .bg-eight.color-block:after { content: "eight #77777A"; }
.kss-styleguideElement .bg-nine, #page .bg-nine { background: #BEC0C2; color: #333; }
.kss-styleguideElement .bg-nine.color-block:after, #page .bg-nine.color-block:after { content: "nine #BEC0C2"; }
.kss-styleguideElement .bg-ten, #page .bg-ten { background: #D8D9DA; color: #333; }
.kss-styleguideElement .bg-ten.color-block:after, #page .bg-ten.color-block:after { content: "ten #D8D9DA"; }
.kss-styleguideElement .bg-eleven, #page .bg-eleven { background: #AF8400; color: #fff; }
.kss-styleguideElement .bg-eleven.color-block:after, #page .bg-eleven.color-block:after { content: "eleven #AF8400"; }
.kss-styleguideElement .bg-twelve, #page .bg-twelve { background: #A03123; color: #fff; }
.kss-styleguideElement .bg-twelve.color-block:after, #page .bg-twelve.color-block:after { content: "twelve #A03123"; }
.kss-styleguideElement .bg-thirteen, #page .bg-thirteen { background: #52302C; color: #fff; }
.kss-styleguideElement .bg-thirteen.color-block:after, #page .bg-thirteen.color-block:after { content: "thirteen #52302C"; }
.kss-styleguideElement .bg-fourteen, #page .bg-fourteen { background: #C8B783; color: #333; }
.kss-styleguideElement .bg-fourteen.color-block:after, #page .bg-fourteen.color-block:after { content: "fourteen #C8B783"; }
.kss-styleguideElement .bg-white, #page .bg-white { background: #fff; color: #333; }
.kss-styleguideElement .bg-white.color-block:after, #page .bg-white.color-block:after { content: "white #fff"; }
.kss-styleguideElement .bg-black, #page .bg-black { background: #000; color: #fff; }
.kss-styleguideElement .bg-black.color-block:after, #page .bg-black.color-block:after { content: "black #000"; }

.carousel-wrapper { position: relative; width: 90%; margin: 0 auto; }

.carousel-list-container { overflow: hidden; position: relative; }

.carousel-list { padding-left: 0; width: 99999em; position: relative; left: 0; transition: left 0.5s ease-out; }
.carousel-list::after { content: ""; display: table; clear: both; }

.carousel-wrapper li.carousel-slide { float: left; }

.carousel-wrapper li.carousel-slide a { display: block; }

.carousel-wrapper article { display: block; }

.carousel-wrapper h2 { margin-top: 0; }

.carousel-nav { clear: both; overflow: hidden; }

.carousel-nav a { font-size: 0; position: absolute; top: 40%; left: -4em; width: 4em; height: 2em; padding: 0; margin-top: -1em; transition: opacity 0.5s ease-out; }
.carousel-nav a:before { display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); display: block; width: 65px; height: 65px; }
.carousel-nav a:hover, .carousel-nav a:focus { text-decoration: none; border: none; }

.carousel-nav a.prev { left: 0; }
.carousel-nav a.prev:before { font-size: 64px; font-size: 4rem; line-height: 1.4; content: ""; }

.carousel-nav a.next { right: 22px; left: auto; border: 0; }
.carousel-nav a.next:before { font-size: 64px; font-size: 4rem; line-height: 1.4; content: ""; }

.carousel-nav a.inactive { opacity: 0.2; }

.field-node--field-pr-published-date { display: inline-block; padding-right: 0.25em; }

.field-node--field-noimage { width: 100%; height: auto; max-height: 150px; }
.field-node--field-noimage::after { content: ""; display: table; clear: both; }
.field-node--field-noimage .field-name-field-pr-published-date { float: right; width: 50%; color: white; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; }

.teaser-date-container { position: absolute; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; z-index: 2; height: 100%; max-width: 50%; max-height: 150px; }

.teaser-month, .teaser-date, .teaser-year { -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; -webkit-align-content: middle; -ms-flex-line-pack: middle; align-content: middle; text-align: center; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; line-height: 0.9; color: white; }

.teaser-month { text-transform: uppercase; font-size: 1.2em; }

.teaser-date { font-size: 2.4em; }

.teaser-year { font-size: 1.2em; }

.teaser-noimage-background { width: 100%; }

.teaser-noimage-background img { width: 100%; }

.display-mode[data-eq-state="medium"] .teaser-date-container { margin-left: 199px; }

.display-mode::after { content: ""; display: table; clear: both; }
.display-mode[data-eq-state="large"] { display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; }
.display-mode[data-eq-state="large"] .field-node--field-teaser-image, .display-mode[data-eq-state="large"] .field-node--field-noimage { flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; max-width: 300px; float: none; clear: none; }
.display-mode[data-eq-state="large"] .page-wrapper, .display-mode[data-eq-state="large"] .biography-wrapper { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; padding-left: 2rem; max-width: 33rem; }
.display-mode[data-eq-state="large"] .teaser-date-container { max-width: 300px; width: auto; left: 180px; }
.display-mode[data-eq-state="large"] .teaser-date, .display-mode[data-eq-state="large"] .teaser-year, .display-mode[data-eq-state="large"] .teaser-month { width: 50%; -webkit-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
.display-mode[data-eq-state="large"] .teaser-noimage-background { max-width: 300px; width: auto; position: absolute; }
.display-mode[data-eq-state="medium-large"] { display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; margin-bottom: 3em; }
.display-mode[data-eq-state="medium-large"] .field-node--field-teaser-image, .display-mode[data-eq-state="medium-large"] .field-node--field-noimage { flex: 1 0 auto; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; max-width: 300px; }
.display-mode[data-eq-state="medium-large"] .page-wrapper { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; padding-left: 2rem; max-width: none; }
.display-mode[data-eq-state="medium"] { display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; margin-bottom: 3em; }
.display-mode[data-eq-state="medium"] .field-node--field-teaser-image, .display-mode[data-eq-state="medium"] .field-node--field-noimage, .display-mode[data-eq-state="medium"] .field-node--field-bio-image { flex: 1 1 300px; -webkit-flex: 1 1 300px; -ms-flex: 1 1 300px; max-width: 300px; }
.display-mode[data-eq-state="medium"] .page-wrapper, .display-mode[data-eq-state="medium"] .biography-wrapper { flex: 1 1 300px; -webkit-flex: 1 1 300px; -ms-flex: 1 1 300px; padding-left: 2rem; max-width: none; }
.display-mode[data-eq-state="small"] { display: block; margin-bottom: 1rem; }
.display-mode[data-eq-state="small"] .teaser-date-container { margin-left: 66%; margin-top: 5%; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-justify-content: none; -ms-flex-pack: none; justify-content: none; }
.display-mode[data-eq-state="small"] .field-node--field-teaser-title { width: 100%; float: left; clear: left; }
.display-mode[data-eq-state="small"] .node-category-type { width: 100%; float: left; clear: left; margin: 0 0 1rem 0; }
.display-mode[data-eq-state="small"] .field-name-field-teaser-text-long, .display-mode[data-eq-state="small"] .field-name-field-teaser-text-short { display: none; }
.display-mode[data-eq-state="small"] .field-node--field-noimage { min-width: 0; }
.display-mode[data-eq-state="small"] .teaser-title { font-size: 18px; font-size: 1.125rem; line-height: 1.4; margin: 0; }
.display-mode[data-eq-state="small"] .teaser-title::after { content: ""; display: table; clear: both; }

.node--view-mode-block-2-columns .display-mode, .node--view-mode-block-3-columns .display-mode { display: -webkit-flex; display: -ms-flexbox; display: flex; }
.node--view-mode-block-2-columns .display-mode[data-eq-state="small-medium"], .node--view-mode-block-3-columns .display-mode[data-eq-state="small-medium"] { display: block; }

.l-footer { background: #BEC0C2; }
.l-footer .section { max-width: 960px; margin: 0 auto; padding: 20px 0; }
.l-footer .block { float: left; clear: none; }
.l-footer h2 { color: #55565A; font-size: 18px; font-size: 1.125rem; line-height: 28px; line-height: 1.75rem; }
.l-footer a { color: #002856; }
.l-footer a:hover { text-decoration: none; color: #002856; }

#footer { display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; }

.region-footer-first-column, .region-footer-second-column, .region-footer-third-column { flex: 0 1 21%; -webkit-flex: 0 1 21%; -ms-flex: 0 1 21%; padding-right: 1rem; }

.region-footer-fourth-column { flex: 0 1 35%; -webkit-flex: 0 1 35%; -ms-flex: 0 1 35%; padding-right: 0; }

.l-copyright .section { max-width: 960px; margin: 0 auto; padding: 20px 0; }

@media all and (max-width: 800px) { #toolbar, #admin-menu { display: none; }
  html body.toolbar, html body.admin-menu { padding-top: 0 !important; margin-top: 0 !important; } }
.l-header { background: #00447b; color: white; }
.l-header ul.menu li a, .l-header a { color: #fff; }
.l-header .header-bottom { border-top: 1px solid #fff; margin-top: 5px; }
.l-header .header-top-inner { max-width: 960px; margin: 0 auto; padding: 20px 0; }
.l-header .header-bottom-inner { max-width: 960px; margin: 0 auto; }
.l-header .header-bottom-inner a { padding: 20px 0; display: inline-block; background: transparent; width: 100%; }
.l-header .header-bottom-inner a.active, .l-header .header-bottom-inner a:hover { background: #D8D9DA !important; color: #77777A; }
.l-header .header-bottom-inner ul.menu { display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.l-header .header-bottom-inner ul.menu ul.menu { display: block; }
.l-header .header-bottom-inner ul.menu ul.menu li { display: block !important; text-align: left; text-transform: none; }
.l-header .header-bottom-inner ul.menu ul.menu li a { color: #002856; padding: 0; }
.l-header .header-bottom-inner ul.menu li.menu-item { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; text-align: center; margin: 0; }

#block-topnavigationdrawerdesktop, .menu--account { display: none; }
.lt-ie9 #block-topnavigationdrawerdesktop, .lt-ie9 .menu--account { display: block; }

.lt-ie9 .region-header-mobile-menu { display: none; }

.menu-toggle { display: block; float: left; }
.lt-ie9 .menu-toggle { display: none; }

#site-name { background: no-repeat url("../../logo.svg"); margin: 0 0 10px; padding: 0; float: none; width: 146px; height: 29px; margin: 0 auto; }
.lt-ie9 #site-name { float: left; margin: 0; width: 250px; height: 50px; }
#site-name a { text-indent: -100%; font-size: 0; }

.lt-ie9 .region-header-secondary { float: right; width: calc(100% - 300px); }
.region-header-secondary ul.menu { padding: 10px; }
.region-header-secondary ul.menu li { padding: 0; display: inline; margin: 0 10px 0 0; }
.region-header-secondary .block { float: right; }

.region-header-primary-menu { width: 100%; clear: both; }

.node--type-page-header h2 { position: absolute; color: #fff; left: 2em; top: 2.3em; }
.node--type-page-header h2 a { color: #fff; }
.node--type-page-header .button-link { position: absolute; bottom: 3em; left: 2em; }
.node--type-page-header .field-node--field-section-text { position: absolute; color: #fff; text-transform: uppercase; top: 3em; left: 3em; }

a.menu-link { float: right; display: block; padding: 1em; }

.region-header-mobile-menu { clear: both; transition: all 0.3s ease-out; }

.region-header-mobile-menu { overflow: hidden; max-height: 0; }

.region-header-mobile-menu.active { max-height: 30em; }

.region-header-mobile-menu ul { margin: 0; padding: 0; border-top: 1px solid #808080; }

.region-header-mobile-menu li a { display: block; padding: 0.8em; border-bottom: 1px solid #808080; }

@media screen and (min-width: 60em) { a.menu-link { display: none; }
  .region-header-mobile-menu { max-height: none; }
  .region-header-mobile-menu ul { margin: 0 0 0 -0.25em; border: 0; }
  .region-header-mobile-menu li { display: inline-block; margin: 0 0.25em; }
  .region-header-mobile-menu li a { border: 0; } }
.hero { max-height: 750px; }
.hero .field-node--field-section-text { text-transform: uppercase; font-size: 12px; font-size: 0.75rem; line-height: 28px; line-height: 1.75rem; }
.hero .teaser-title { margin-top: 0; margin-bottom: 1rem; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-size: 21px; font-size: 1.3125rem; line-height: 28px; line-height: 1.75rem; color: #00447b; }
.hero .field-node--field-teaser-text-long { margin-bottom: 2rem; font-size: 12px; font-size: 0.75rem; line-height: 28px; line-height: 1.75rem; line-height: 1.5; }
.hero[data-eq-state="small"] .page-header-hero-image, .hero[data-eq-state="medium"] .page-header-hero-image { display: none; }
.hero[data-eq-state="small"] .l-content-buttons a, .hero[data-eq-state="medium"] .l-content-buttons a { width: 100%; display: block; }
.hero[data-eq-state="medium"] .overlay-content { margin: 1rem; }
.hero[data-eq-state="medium"] .teaser-title { font-size: 24px; font-size: 1.5rem; line-height: 28px; line-height: 1.75rem; }
.hero[data-eq-state="medium"] .field-node--field-teaser-text-long { font-size: 15px; font-size: 0.9375rem; line-height: 28px; line-height: 1.75rem; line-height: 1.75; }
.hero[data-eq-state="large"] .overlay-content { max-width: 50%; margin: 3rem; }
.hero[data-eq-state="large"] .teaser-title { font-size: 27px; font-size: 1.6875rem; line-height: 42px; line-height: 2.625rem; margin-bottom: 1.1rem; }
.hero[data-eq-state="large"] .field-node--field-teaser-text-long { font-size: 18px; font-size: 1.125rem; line-height: 28px; line-height: 1.75rem; }
.hero[data-eq-state="large"] .page-header-hero-image { height: 350px; overflow: hidden; }
.hero[data-eq-state="large"] .page-header-hero-image img { min-height: 350px; }
.hero[data-eq-state="wide"] .overlay-content { max-width: 50%; margin: 3rem; }
.hero[data-eq-state="wide"] .teaser-title { font-size: 27px; font-size: 1.6875rem; line-height: 42px; line-height: 2.625rem; margin-bottom: 1.1rem; }
.hero[data-eq-state="wide"] .field-node--field-teaser-text-long { font-size: 18px; font-size: 1.125rem; line-height: 28px; line-height: 1.75rem; }
.hero[data-eq-state="large"] .overlay-content, .hero[data-eq-state="wide"] .overlay-content { position: absolute; z-index: 2; }
.hero[data-eq-state="large"] .field-node--field-section-text, .hero[data-eq-state="wide"] .field-node--field-section-text { color: white; }
.hero[data-eq-state="large"] .image-overlay img, .hero[data-eq-state="wide"] .image-overlay img { position: absolute; width: 100%; height: 100%; max-height: 350px; }
.hero[data-eq-state="large"] .teaser-title, .hero[data-eq-state="large"] .field-node--field-section-text, .hero[data-eq-state="large"] .field-node--field-teaser-text-long, .hero[data-eq-state="wide"] .teaser-title, .hero[data-eq-state="wide"] .field-node--field-section-text, .hero[data-eq-state="wide"] .field-node--field-teaser-text-long { color: white; }

.region-header-primary-menu ul li { text-transform: uppercase; letter-spacing: 0.03rem; display: inline-block; margin: 0 20px 0 0; }

.region-header-secondary .search-block-form { position: relative; width: 40px; height: 40px; }
.region-header-secondary .search-block-form .form-item { margin: 0; }
.region-header-secondary .search-block-form .form-type-search { width: calc(100% - 65px); padding-top: 20px; display: block; }
.region-header-secondary .search-block-form .form-type-search input[type="search"] { width: 100%; }
.region-header-secondary .search-block-form .form-actions { position: absolute; top: 25px; right: 5px; }
.region-header-secondary .search-block-form .form-actions input { width: 65px; height: 38px; }
.region-header-secondary .search-block-form .form-actions input:hover { background: #79BDE8; }
.region-header-secondary .search-block-form input { padding: 10px 7px; margin: 0; display: inline-block; line-height: 1; font-size: 12px; }
.region-header-secondary .search-block-form .trigger { left: 25px; border-radius: 0; }
.region-header-secondary .search-block-form h2 { text-indent: -100%; font-size: 0; position: absolute; top: 0; right: 0; margin: 0; width: 40px; height: 40px; display: block; }
.region-header-secondary .search-block-form h2:before { display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); content: ""; color: white; width: 35px; height: 35px; display: block; position: absolute; right: 0; top: 6px; font-size: 24px; text-indent: 5px; }
.region-header-secondary .search-block-form:hover #search-block-form { display: block; }

.region-header-secondary #search-block-form { display: none; position: absolute; top: 40px; right: 0; z-index: 300; width: 240px; background: #002856; padding: 5px; }

.region-header-mobile-menu .search-block-form { text-align: center; }
.region-header-mobile-menu .search-block-form input.form-search { width: 80%; }
.region-header-mobile-menu .search-block-form input.button { border-radius: 0.5rem; padding: 0.5rem; }

.node-category-type { text-transform: uppercase; font-size: 13px; font-size: 0.8125rem; line-height: 28px; line-height: 1.75rem; line-height: 1; color: #77777A; margin-bottom: 0.75rem; }

.l-full-content .node-category-type { margin-bottom: 0; }

.region-content-main .button-primary--four a { color: white; }
.region-content-main .button-primary--four a:hover { text-decoration: none; }
.region-content-main .subtitle { color: #77777A; margin-top: 0; font-size: 18px; font-size: 1.125rem; line-height: 28px; line-height: 1.75rem; }
.region-content-main .field-node--field-teaser-image { margin-bottom: 1rem; }

.button-link { margin: 1em 0; }
.button-link a { background-color: #AAAD00; border-radius: 1rem; padding: 0.5rem 2rem; color: white; font-weight: bold; }

.button-link a:hover { background-color: #5f6100; text-decoration: none; }

.anchor-wrapper:link, .anchor-wrapper:visited { color: #77777A; text-decoration: none; }

.teaser-title { margin-bottom: 0; }

.node--type-article > .display-mode[data-eq-state="medium"], .node--type-article > .display-mode[data-eq-state="medium-large"], .node--type-article > .display-mode[data-eq-state="large"], .node--type-webinar > .display-mode[data-eq-state="medium"], .node--type-webinar > .display-mode[data-eq-state="medium-large"], .node--type-webinar > .display-mode[data-eq-state="large"], .node--type-press-release > .display-mode[data-eq-state="medium"], .node--type-press-release > .display-mode[data-eq-state="medium-large"], .node--type-press-release > .display-mode[data-eq-state="large"], .node--type-page > .display-mode[data-eq-state="medium"], .node--type-page > .display-mode[data-eq-state="medium-large"], .node--type-page > .display-mode[data-eq-state="large"], .node--type-event > .display-mode[data-eq-state="medium"], .node--type-event > .display-mode[data-eq-state="medium-large"], .node--type-event > .display-mode[data-eq-state="large"] { border-top: 1px solid #BEC0C2; padding-top: 1rem; margin-top: 1rem; margin-bottom: 2rem; }

.sub-items { background: #D8D9DA; z-index: 100; width: 100%; }

.nav-drawer-close { color: transparent !important; text-align: center; }

.nav-drawer-close:before { display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); content: ""; background-color: #002856; color: #fff; cursor: pointer; border-radius: 3px; width: 1.2em; font-size: 1.5em; line-height: 1em; }

.l-header .header-bottom-inner .menu-item--expanded > a { color: #55565A; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; text-align: left; }

.block-secondarymenu-wrapper { max-width: 960px; margin: 1rem auto; }
.block-secondarymenu-wrapper .menu { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }
.block-secondarymenu-wrapper .menu li { display: inline-block; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; text-transform: uppercase; }
.block-secondarymenu-wrapper .menu li { background: #00447b; padding: 0.5rem 0; margin-right: 0.25rem; }
.block-secondarymenu-wrapper .menu li:hover { background: #D8D9DA; }
.block-secondarymenu-wrapper .menu li a { display: block; text-align: center; font-size: 13px; font-size: 0.8125rem; line-height: 28px; line-height: 1.75rem; color: white; }
.block-secondarymenu-wrapper .menu li a:hover { text-decoration: none; }
.block-secondarymenu-wrapper .menu li.menu-item--active-trail { background: #D8D9DA; }
.block-secondarymenu-wrapper .menu li.menu-item--active-trail a { color: #55565A; }

.field-node--field-article-date { margin-right: 0.25em; }

.node--type-article h1 { margin: 0; }
.node--type-article .l-content-body { color: #77777A; margin-top: 0.75rem; }
.node--type-article .date-and-author { float: left; clear: none; font-weight: bold; }

.node--type-biography { float: left; }
.node--type-biography .display-mode { border-top: 1px solid #77777A; margin-bottom: 3rem; padding-top: 1rem; }

.biography-jobtitle, .biography-companyname { display: inline-block; font-size: 13px; font-size: 0.8125rem; line-height: 28px; line-height: 1.75rem; line-height: 1rem; }

.field-node--field-field-bio-desc { margin-top: 1rem; }

.node--type-biography h3 { margin-bottom: 0; }

.node--type-biography .display-mode[data-eq-state="large"] .biography-image-quote { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; max-width: 300px; }
.node--type-biography .display-mode[data-eq-state="large"] .field-name-field-teaser-text-long { max-width: 37rem; }
.node--type-biography .display-mode[data-eq-state="large"] .field-node--field-bio-quote { padding: 1rem 2rem; float: left; }
.node--type-biography .display-mode[data-eq-state="medium"] { display: -webkit-flex; display: -ms-flexbox; display: flex; }
.node--type-biography .display-mode[data-eq-state="medium"] .biography-image-quote { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; max-width: 300px; }
.node--type-biography .display-mode[data-eq-state="medium"] .field-name-field-bio-quote { padding: 1em 0 0 0; }
.node--type-biography .display-mode[data-eq-state="small"] { display: block; float: left; max-width: 300px; margin-bottom: 2rem; padding-top: 0; border-top: none; }
.node--type-biography .display-mode[data-eq-state="small"] .biography-wrapper { float: left; clear: left; }
.node--type-biography .display-mode[data-eq-state="small"] .biography-wrapper .field-name-field-field-bio-desc { display: none; }

.business-problem-field-collection > .node { border: none; }
.business-problem-field-collection .display-mode { background: white; }

.node--type-business-problem .display-mode[data-eq-state="small"], .node--type-business-problem .display-mode[data-eq-state="medium"], .node--type-business-problem .display-mode[data-eq-state="large"] { border: none; padding: 0; margin: 0; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.node--type-business-problem .display-mode[data-eq-state="small"] .page-wrapper, .node--type-business-problem .display-mode[data-eq-state="medium"] .page-wrapper, .node--type-business-problem .display-mode[data-eq-state="large"] .page-wrapper { padding: 0; }
.node--type-business-problem .page-teaser-image { -webkit-flex: 1 1 50px; -ms-flex: 1 1 50px; flex: 1 1 50px; overflow: hidden; }

.field-node--field-bp-page-fc { background: white; }

.business-problem-row { background: white; padding: 0 2rem; border-left: 3px solid #D8D9DA; border-right: 3px solid #D8D9DA; padding-bottom: 1rem; }

.business-problem-header { padding: 1rem 2rem; cursor: pointer; }

.business-problem-wrapper { margin-bottom: 2rem; }
.business-problem-wrapper:before { left: -0.75rem; top: 1rem; color: #00447b; background: white; border: 3px solid #D8D9DA; border-radius: 5px; }

.business-problem-wrapper { background: #D8D9DA; border-bottom: 0.5rem solid #D8D9DA; position: relative; }
.business-problem-wrapper:before { content: ""; padding: 0 5px; display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.business-problem-wrapper:before { position: absolute; }
.business-problem-wrapper .business-problem-title { color: #55565A; margin-top: 0; }
.business-problem-wrapper .business-problem-body { display: none; }

.business-problem-wrapper.open { background: #77777A; border-bottom: 0.5rem solid #77777A; position: relative; }
.business-problem-wrapper.open:before { content: ""; padding: 0 5px; display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.business-problem-wrapper.open:before { position: absolute; }
.business-problem-wrapper.open:before { border: 3px solid #77777A; }
.business-problem-wrapper.open .business-problem-title { color: white; margin-top: 0; }
.business-problem-wrapper.open .business-problem-body { display: block; }
.business-problem-wrapper.open .business-problem-text { color: white; }

.businessproblem-row { background-color: white; margin: 0 0.5rem; padding: 0 1rem; }
.businessproblem-row .node--type-page.node--view-mode-block-1-column { border-top: none; }
.businessproblem-row .node--type-page.node--view-mode-block-1-column h3 { font-size: 16px; font-size: 1rem; line-height: 28px; line-height: 1.75rem; }

.node--type-customer .field-node--field-teaser-image { float: left; clear: left; }

.node--type-customer .display-mode[data-eq-state="large"] { display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; }
.node--type-customer .display-mode[data-eq-state="large"] .field-node--field-teaser-image { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; }
.node--type-customer .display-mode[data-eq-state="large"] .page-wrapper { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; padding-left: 2rem; }
.node--type-customer .display-mode[data-eq-state="large"] .field-name-field-teaser-text-long { max-width: 37rem; }
.node--type-customer .display-mode[data-eq-state="medium"] { margin-bottom: 3em; display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; }
.node--type-customer .display-mode[data-eq-state="medium"] .field-node--field-teaser-image { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; max-width: 50%; }
.node--type-customer .display-mode[data-eq-state="medium"] .page-wrapper { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; padding-left: 2rem; }
.node--type-customer .display-mode[data-eq-state="small"] { display: block; }
.node--type-customer .display-mode[data-eq-state="small"] .field-node--field-teaser-title { width: 100%; float: left; clear: left; }
.node--type-customer .display-mode[data-eq-state="small"] .field-name-field-teaser-text-short { display: none; }
.node--type-customer .display-mode[data-eq-state="small"] .node-category-type, .node--type-customer .display-mode[data-eq-state="small"] .field-name-field-teaser-text-long { width: 100%; float: left; clear: left; clear: left; }

.node--type-customer-success > .teaser-title { border-bottom: 1px solid #D8D9DA; margin-bottom: 1rem; padding-bottom: 0.5rem; }
.node--type-customer-success .display-mode { display: block; width: 30%; }
.node--type-customer-success.node--view-mode-block-1-column .display-mode { width: 100%; }

.node--type-document h1 { margin: 0; }
.node--type-document .l-content-body { color: #77777A; }

.node--type-document .node-grid-type > .node-category-type { margin-top: 1rem; }
.node--type-document .node-grid-type h1 { margin-bottom: 1rem; }

.field-node--field-event-location { display: inline-block; text-transform: uppercase; font-weight: bold; }

.node--type-event h1 { margin: 0; }
.node--type-event .l-content-body { color: #77777A; margin-top: 0.75rem; }
.node--type-event .event_datestamp { float: left; clear: none; line-height: 1.25em; }
.node--type-event .event_datestamp .date-field { display: inline-block; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; }

.field-node--field-event-dates { height: 150px; background: #00457c; -webkit-flex: 1 1 300px; -ms-flex: 1 1 300px; flex: 1 1 300px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.field-node--field-event-dates .teaser-startdate-container { -webkit-flex: 1 1 40%; -ms-flex: 1 1 40%; flex: 1 1 40%; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }
.field-node--field-event-dates .teaser-date-separator { -webkit-flex: 1 1 20%; -ms-flex: 1 1 20%; flex: 1 1 20%; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; font-size: 24px; font-size: 1.5rem; line-height: 28px; line-height: 1.75rem; text-align: center; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; color: white; }
.field-node--field-event-dates .teaser-enddate-container { -webkit-flex: 1 1 40%; -ms-flex: 1 1 40%; flex: 1 1 40%; -webkit-align-self: center; -ms-flex-item-align: center; align-self: center; }

.display-mode[data-eq-state="small"] .field-node--field-event-dates { margin-bottom: 1rem; }

.node--type-image .display-mode { cursor: pointer; }
.node--type-image .display-mode[data-eq-state="large"] { display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; }
.node--type-image .display-mode[data-eq-state="large"] .field-node--field-teaser-image { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; max-width: 300px; }
.node--type-image .display-mode[data-eq-state="large"] .page-wrapper { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; padding-left: 2rem; }
.node--type-image .display-mode[data-eq-state="large"] .field-name-field-teaser-text-long { max-width: 37rem; }
.node--type-image .display-mode[data-eq-state="medium"] { margin-bottom: 3em; display: -ms-flexbox; display: flex; display: -webkit-flex; display: -ms-flex-direction; }
.node--type-image .display-mode[data-eq-state="medium"] .field-node--field-teaser-image, .node--type-image .display-mode[data-eq-state="medium"] .field-node--field-noimage { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; max-width: 50%; }
.node--type-image .display-mode[data-eq-state="medium"] .page-wrapper { flex: 1 1 auto; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; padding-left: 2rem; max-width: 50%; }
.node--type-image .display-mode[data-eq-state="small"] { display: block; margin-bottom: 1rem; }
.node--type-image .display-mode[data-eq-state="small"] .field-node--field-teaser-title { width: 100%; float: left; clear: left; }
.node--type-image .display-mode[data-eq-state="small"] .field-name-field-teaser-text-short, .node--type-image .display-mode[data-eq-state="small"] .field-name-field-teaser-text-long { display: none; }
.node--type-image .display-mode[data-eq-state="small"] .node-category-type { width: 100%; float: left; clear: left; }
.node--type-image .display-mode[data-eq-state="small"] .field-node--field-noimage { min-width: none; }

.image-fullsize { position: fixed; top: 20%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); max-width: 90%; z-index: 100; display: none; }

.image-fullsize-overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 50; background: rgba(255, 255, 255, 0.5); }

.image-fullsize-close { font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; color: #002856; cursor: pointer; }

.node--type-link { display: block; color: white; }
.node--type-link .teaser-title { margin-top: 0; font-size: 18px; font-size: 1.125rem; line-height: 28px; line-height: 1.75rem; line-height: 1.2; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; color: white; }
.node--type-link .display-mode { border: none; padding: 0; background-color: #0069AA; padding: 1.5rem; }
.node--type-link .content-link { color: inherit; }
.node--type-link .content-link:hover { text-decoration: none; }
.node--type-link .field-node--field-link-author, .node--type-link .field-node--field-link-publication { display: inline-block; }
.node--type-link .display-mode { display: -webkit-flex; display: -ms-flexbox; display: flex; }
.node--type-link .icon-link { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; min-width: 2rem; margin-right: 1rem; }
.node--type-link .link-byline { margin-bottom: 1rem; }
.node--type-link .page-wrapper { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }
.node--type-link.node--view-mode-block-3-columns .display-mode { max-width: 40rem; margin: 0 auto; }
.node--type-link.node--view-mode-block-1-column .icon-link { max-width: 2rem; margin-right: 0.5rem; }

.field-field-collection-item--field-list-text { margin-bottom: 1rem; }
.field-field-collection-item--field-list-text:before { content: url("../images/checkbox.svg"); display: inline-block; vertical-align: top; margin-right: 1rem; }
.field-field-collection-item--field-list-text .field-field-collection-item--field-list-text { display: inline-block; }

.l-sidebar .field-field-collection-item--field-list-text:before { content: url("../images/bullet-colortwelve.svg"); }

.node--type-list .display-mode[data-eq-state="large"] .field-field-collection-item--field-list-text { width: 33%; float: left; }

.node--type-media { /* Style */ background: #D8D9DA; /* Layout */ box-sizing: content-box; padding: 2.0625rem; /* Typography */ }
.node--type-media h2 { margin: 0; padding-bottom: .5rem; }
.node--type-media h2, .node--type-media h2 a { color: #77777A; font-size: 15px; font-size: 0.9375rem; line-height: 2; }

.media-items { /* Layout */ -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-flow: center; -ms-flex-flow: center; flex-flow: center; /* Typography */ line-height: 1.3; }
.media-items[data-eq-state$="medium"] { border-color: green; background-color: rgba(255, 0, 0, 0.25); }

.media-row { /* Layout */ width: 50%; height: auto; /* Theme media name field */ /* Theme media title field */ /* Theme media phone field & email field */ /* Theme media phone field */ /* Theme media email field */ }
.media-row .field-name-field-media-name { font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; font-weight: bold; }
.media-row .field-name-field-media-title { text-transform: uppercase; }
.media-row .field-media--phone, .media-row .field-media--email { margin-top: .65rem; /* Add icons */ }
.media-row .field-media--phone:before, .media-row .field-media--email:before { display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); float: left; margin-right: .625rem; }
.media-row .field-media--phone:before { content: ""; }
.media-row .field-media--email:before { content: ""; }

html:before { display: none; }
.node--type-office .display-mode[data-eq-state="medium"] .page-wrapper, .node--type-office .display-mode[data-eq-state="large"] .page-wrapper { padding-left: 0; }
.node--type-office .page-wrapper { width: 100%; float: right; margin-left: 0; margin-right: 0; clear: none; border-bottom: 3px solid #BEC0C2; line-height: 1.6; }
.node--type-office .page-wrapper .office-contact-row { border-bottom: 1px solid #BEC0C2; padding: 1em; }
.node--type-office .page-wrapper .office-contact-info { background: #ededed; padding: 1.5em; }
.node--type-office .page-wrapper .office-label { color: #55565A; font-weight: bold; }
.node--type-office .page-wrapper .phone-number:before, .node--type-office .page-wrapper .fax-number:before, .node--type-office .page-wrapper .download-icon:before, .node--type-office .page-wrapper .customer-portal:before { display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); float: left; margin-right: 10px; }
.node--type-office .page-wrapper .phone-number:before { content: ""; }
.node--type-office .page-wrapper .fax-number:before { content: ""; }
.node--type-office .page-wrapper .download-icon:before { content: ""; }
.node--type-office .page-wrapper .customer-portal:before { content: ""; }

.l-content-bottom { clear: both; }

.node--type-page.node--view-mode-block-3-columns .field-name-field-teaser-image { float: left; max-width: 35%; }
.node--type-page.node--view-mode-block-3-columns .page-wrapper { float: left; max-width: 60%; margin-left: 2rem; }

.node--type-page.node--view-mode-block-2-columns { width: 100%; float: left; clear: both; padding-top: 1rem; }
.node--type-page.node--view-mode-block-2-columns .field-name-field-teaser-image { float: left; max-width: 45%; }
.node--type-page.node--view-mode-block-2-columns .page-wrapper { float: left; max-width: 45%; margin-left: 2rem; }

.node--type-page.node--view-mode-block-1-column { width: 100%; border-top: 1px solid #D8D9DA; padding-top: 1rem; }
.node--type-page.node--view-mode-block-1-column .main-column { width: 100%; margin: 0; }
.node--type-page.node--view-mode-block-1-column h3 { font-size: 14px; font-size: 0.875rem; line-height: 28px; line-height: 1.75rem; margin: 0; }

.content-bottom-item { vertical-align: top; }

.partner-page-header { width: 100%; float: left; clear: left; margin-bottom: 1rem; }

.partner-page-logo { float: left; width: 33%; }

.partner-page-title { float: right; width: 66%; }

.node--type-press-release .field-node--field-teaser-image { max-width: 100%; }

.field-node--field-pr-location { display: inline-block; text-transform: uppercase; }

.node--type-press-release h1 { margin: 0; }
.node--type-press-release .l-content-body { margin-top: 0.75rem; }
.node--type-press-release .pr_datestamp { float: left; clear: none; font-weight: bold; }

.node--type-press-release .field-node--field-teaser-image { float: left; clear: left; overflow: hidden; }

.field-name-field-product-list-fc .field-items > .field-item { margin-bottom: 1rem; }
.field-name-field-product-list-fc .field-items > .field-item:before { content: url("../images/checkbox.svg"); display: inline-block; width: 10%; vertical-align: top; }
.field-name-field-product-list-fc .field-items > .field-item .field-item { display: inline-block; width: 85%; }

.node--type-product .field-node--field-teaser-title { border-bottom: 1px solid #BEC0C2; margin-bottom: 1rem; padding-bottom: 1rem; }
.node--type-product .display-mode[data-eq-state="large"] .field-name-field-product-list-fc .field-items > .field-item { width: 33%; float: left; }
.node--type-product .display-mode[data-eq-state="medium"] .field-name-field-product-list-fc .field-items > .field-item:before { width: 5%; }

.quote-container { border: 1px solid #D8D9DA; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.quote-container .teaser-title { display: none; }

.customer-logo { -webkit-order: 1; -ms-flex-order: 1; order: 1; width: 30%; max-width: 300px; }
.customer-logo .node-category-type { display: none; }

.quote-wrapper { -webkit-order: 2; -ms-flex-order: 2; order: 2; background: #D8D9DA; color: #55565A; padding: 1rem .5rem; width: 100%; max-width: 600px; }
.quote-wrapper .l-full-content { margin-left: 4%; width: 85%; display: inline-block; }
.quote-wrapper .icon-quote { vertical-align: top; display: inline-block; }
.quote-wrapper .icon-quote img { opacity: .6; }

.download-report { text-align: center; }
.download-report::after { content: ""; display: table; clear: both; }

.field-node--field-quote-attribution { margin-top: 1rem; font-weight: bold; }

.quote-wrapper[data-eq-state="small"] { padding: 1rem; }
.quote-wrapper[data-eq-state="small"] .field-node--field-quote, .quote-wrapper[data-eq-state="small"] .field-node--field-quote-attribution { font-size: 13px; font-size: 0.8125rem; line-height: 28px; line-height: 1.75rem; line-height: 1.4; }
.quote-wrapper[data-eq-state="small"] .icon-quote { width: 10%; }
.quote-wrapper[data-eq-state="small"] .quote-wrapper { padding: 1rem; }
.quote-wrapper[data-eq-state="small"] .l-full-content { margin: 0 0 3rem 0; float: right; }
.quote-wrapper[data-eq-state="medium"] .icon-quote { width: 8%; }
.quote-wrapper[data-eq-state="medium"] .l-full-content { margin: 0 0 3rem 1rem; width: 85%; }
.quote-wrapper[data-eq-state="large"] .icon-quote { width: 8%; }
.quote-wrapper[data-eq-state="large"] .field-node--field-quote, .quote-wrapper[data-eq-state="large"] .field-node--field-quote-attribution { font-size: 18px; font-size: 1.125rem; line-height: 28px; line-height: 1.75rem; }

.l-sidebar-second .customer-logo { -webkit-order: -1; -ms-flex-order: -1; order: -1; }
.l-sidebar-second .quote-wrapper { padding: .5rem; width: 100%; }
.l-sidebar-second .field-node--field-quote, .l-sidebar-second .field-node--field-quote-attribution { font-size: 13px; font-size: 0.8125rem; line-height: 28px; line-height: 1.75rem; line-height: 1.1; }
.l-sidebar-second .download-report { margin-left: 0; }

.stat-fittext-container { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 50%; height: 50%; margin: auto 2rem; overflow: auto; font-family: "AvenirLTStd-Heavy", "Avenir", "Arial", sans-serif; color: white; }

.statistic-body-wrapper { position: relative; max-height: 320px; max-width: 960px; }

.statistic-display-mode[data-eq-state="small"] .stat-fittext-container { width: 75%; margin: 60% auto 0 auto; }
.statistic-display-mode[data-eq-state="small"] .field-node--field-teaser-image-large { display: none; }
.statistic-display-mode[data-eq-state="small"] .field-node--field-teaser-image-medium { display: none; }

.statistic-display-mode[data-eq-state="medium"] .field-node--field-teaser-image-medium { display: none; }
.statistic-display-mode[data-eq-state="medium"] .field-node--field-teaser-image-small { display: none; }

.statistic-display-mode[data-eq-state="large"] .field-node--field-teaser-image-small { display: none; }
.statistic-display-mode[data-eq-state="large"] .field-node--field-teaser-image-medium { display: none; }

.node--type-statistic.node--view-mode-block-3-columns .field-name-field-stat-image-text { width: 100%; bottom: 0; padding: 3rem; }

.node--type-statistic.node--view-mode-block-2-columns .field-name-field-stat-image-text { width: 100%; bottom: 0; padding: 3rem; }

.node--type-statistic.node--view-mode-block-1-column .field-name-field-stat-image-text { width: 100%; bottom: 0; padding: 3rem; }

.node--type-support .display-mode[data-eq-state="medium"] .page-wrapper, .node--type-support .display-mode[data-eq-state="large"] .page-wrapper { padding-left: 0; }
.node--type-support .page-wrapper { width: 100%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.node--type-support .page-wrapper .support-wrapper { padding: 1rem; border: 1px solid #D8D9DA; }
.node--type-support .page-wrapper .support-phone { display: block; margin-bottom: 1rem; }
.node--type-support .page-wrapper .support-phone:before { display: inline-block; font-family: "FontAwesome"; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); content: ""; float: left; margin-right: 6px; font-size: 16px; font-size: 1rem; line-height: 1.4; }
.node--type-support .page-wrapper .support-button { margin: 0; }

.field-node--field-webinar-date { display: inline-block; font-weight: bold; }

.node--type-webinar h1 { margin: 0; }
.node--type-webinar .l-content-body { color: #77777A; }
.node--type-webinar .webinar_datestamp { float: left; clear: none; margin-right: 0.25em; }
.node--type-webinar .l-content-buttons { width: 100%; margin: 1.5rem 0; }
.node--type-webinar .l-content-buttons a { margin-right: 1rem; }
.node--type-webinar .l-full-content > .field-node--field-teaser-image { margin-bottom: 1rem; }

#main-wrapper { background: white; padding-bottom: 2%; }

#main { clear: both; position: relative; max-width: 1024px; margin: 0 auto; margin-bottom: 20px; }
#main::after { content: ""; display: table; clear: both; }
.lt-ie9 #main { min-height: 300px; }

.main-column, .l-sidebar-first, .l-sidebar-second { margin-bottom: 1rem; }

#main-inner { clear: both; position: relative; max-width: 960px; margin: 0 auto; }
#main-inner::after { content: ""; display: table; clear: both; }

.l-content-only > .main-column { width: 23.72881%; float: left; margin-right: -100%; margin-left: 0; clear: none; }

.l-content-bottom { max-width: 960px; }
.l-content-bottom::after { content: ""; display: table; clear: both; }

.views-element-container { max-width: 630px; }

.view-resources .views-row { border-top: 1px solid #D8D9DA; margin-bottom: 1rem; }
.view-resources h2 { font-size: 18px; font-size: 1.125rem; line-height: 28px; line-height: 1.75rem; line-height: 1.25rem; }

/*# sourceMappingURL=manh.css.map */
