{#
/**
 * @file
 * Default theme implementation for an individual item in a list.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{# CAN OVERRIDE #}
{% block field_data %}
  {% for item in items %}
    <div class="field-field-collection-item--field-list-text" >{{ item.content }}</div>
  {% endfor %}
{% endblock %}
