
{#
/**
 * @file
 * Default theme implementation for the node pr Manhattan Title Text.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides. This override eliminates
 * extraneous field divs.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 *
 * @ingroup themeable
 */
#}
{% extends 'themes/manh/templates/field/field.html.twig' %}


{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
  ]
%}

{% block field_data %}
  <div {{ attributes.addClass(classes) }}>
    {%- for item in items -%}
      {{ item.content }}
    {%- endfor -%}
  </div>
{% endblock %}
