{#
/**
 * @file
 * Default theme implementation for a field.
 *
 * @ingroup themeable
 */
#}
{% block field_data %}
  {% for item in items %}
    <div{{ item.attributes.addClass('interactive-wrapper') }} >{{ item.content }}</div>
  {% endfor %}
{% endblock %}
