{#
/**
 * @file
 * Default theme implementation for the secondary nav field.
 */
#}

{# CAN OVERRIDE #}
<div class="secondarymenu">
  {% for item in items %}
    <div{{ item.attributes.addClass('secondarymenu-inner') }}>{{ item.content }}</div>
  {% endfor %}
</div>
