{#
/**
 * @file
 * Theme implementation for the field_list_fc field collection.
 */
#}
{# CAN OVERRIDE #}
{% block field_data %}
  {% for item in items %}
    <div class="listfieldcollection-item">
      {% if item.field_list_link is not empty %}
        <a href="{{ item.field_list_link }}">{{ item.field_list_text }}</a>
      {% else %}
        {{ item.field_list_text }}
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
