{#
/**
 * @file
 * Default theme implementation to display the Footer Help Menu Block.
#}

{{ title_prefix }}
{% if label %}
  <div class="heading" {{ title_attributes }}>{{ label }}</div>
{% endif %}
{{ title_suffix }}
{% block content %}
  <div{{ content_attributes.addClass('block-footer-help-navigation') }} data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
    {{ content }}
  </div>
{% endblock %}
