.top-navigation-desktop {

  .sub-items {
    display: none;
    overflow: hidden;

    .sub-items-container {
      position: relative;
      left: 0;
      top: 0;
    }

    .sub-item {
      display: inline-block;
    }
  }
}

#block-topnavigationmobile ul.menu {
  display: block;

  > li.menu-item {
    display: block;
  }
}
