// Branding Colors:
// These colors are listed only for reference.
// Do not use these variables in your sass.

// PRIMARY
// Brand palette
// Changes to the colors in this file may need to also be applied to
// docroot/modules/custom/manh_metatag_teaser/src/EventSubscriber/ManhMetatagTeaserSubscriber.php
$ma-dark-blue: #071d49;
$ma-dark-blue-opacity: rgba(7, 29, 73, 0.5);
$ma-light-blue: #2c5697;

$ma-flame: #e03c31;
$ma-aqua: #77c5d5;
$ma-lavender: #6f7bd4;

$ma-dark-gray: #535353;
$ma-gray: #767676;
$ma-medium-gray: #bcbcbc;
$ma-light-gray: #d9d9d6;

$gold: #aF8400;
$rust: #a03123;
$brown: #52302c;
$beige: #c8b783;
$warm-gray: #edf0e9;
$white: #fff;
$black: #000;

//=================================================
// The following variables ARE to be used throughout
// your sass.
$colors: (
  one: $ma-dark-blue,
  two: $ma-light-blue,
  three: $ma-light-blue,
  four: $ma-flame,
  five: $ma-aqua,
  six: $ma-lavender,
  seven: $ma-dark-gray,
  eight: $ma-gray,
  nine: $ma-medium-gray,
  ten: $ma-light-gray,
  eleven: $gold,
  twelve: $rust,
  thirteen: $brown,
  fourteen: $beige,
  'white': $white,
  'black': $black,
);

// for ease of use, here are some shortcut variables for the map above
$color-one: map-get($colors, one);
$color-two: map-get($colors, two);
$color-three: map-get($colors, three);
$color-four: map-get($colors, four);
$color-five: map-get($colors, five);
$color-six: map-get($colors, six);
$color-seven: map-get($colors, seven);
$color-eight: map-get($colors, eight);
$color-nine: map-get($colors, nine);
$color-ten: map-get($colors, ten);

// For use on drop shadows
$glass_lt: rgba($white, 0.75);
$glass_md: rgba(100, 100, 100, 0.75);
$glass_dk: rgba($black, 0.75);

// Element Colors:
$text-primary: #333;
$text-secondary: #666;
$text-tertiary: #999;
$text-quaternary: #ccc;

$border-primary: $color-three;
$border-secondary: $glass-md;
$border-tertiary: $glass-lt;

$link: $color-two;
$link-hover: lighten($link, 10%);

// Icons
$icon-normal: $color-one;
$icon-normal-hover: $color-one;

// Buttons
$button-primary-text: $white;
$button-primary-bg: $color-one;
$button-primary-text-hover: lighten($button-primary-text, 10%);
$button-primary-bg-hover: lighten($color-one, 10%);
$button-border: transparent;
$button-disabled-text: $text-secondary;
$button-disabled-bg: $warm-gray;
$button-disabled-border: $text-tertiary;
