// FONT AWESOME
@mixin font-awesome {
  font-family: 'FontAwesome';
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @if $value == subpixel {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin fa {
  @include font-awesome;
  @include font-smoothing;
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}

@mixin icon-rotate($degrees) {
  transform: rotate($degrees);
}

@mixin icon-flip($horiz, $vert) {
  transform: scale($horiz, $vert);
}

// FONT AWESOME SHORTCUTS
$fa-bank: '\f19c';
$fa-bar-chart: '\f080';
$fa-sitemap: '\f0e8';
$fa-flask: '\f0c3';
$fa-fighter-jet: '\f0fb';
$fa-certificate: '\f0a3';
$fa-exclamation-triangle: '\f071';
$fa-pushpin: '\f08d';
$fa-var-play-circle-o: '\f01d';
$fa-var-bullhorn: '\f0a1';
$fa-caret-up: '\f0d8';
$fa-caret-down: '\f0d7';
$fa-caret-right: '\f0da';
$fa-caret-left:  '\f0d9';
$fa-envelope: '\f0e0';
$fa-minus: '\f068';
$fa-plus: '\f067';
$fa-lock: '\f023';

@mixin fa-icon($fa-icon, $position: before, $absolute: true) {
  &:#{$position} {
    content: $fa-icon;
    padding: 0 3px;
    @include fa;
  }

  @if $absolute == true {
    position: relative;

    &:#{$position} {
      position: absolute;
    }
  }
}

@mixin pushpin($position: before, $position-side: -25px, $position-top: -3px, $size: 22px) {
  @if $position == before {
    &:#{$position} {
      color: $brand;
      font-size: $size !important;
      left: $position-side;
      top: $position-top;
    }
  }
  @else {
    &:#{$position} {
      color: $brand;
      font-size: $size !important;
      right: $position-side;
      top: $position-top;
    }
  }
}
