// Common Theme Mixins

@mixin visually-hidden {
  font-size: 0;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

@mixin clearfix {

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin clearfix-before {

  &::before,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
