// Transitions
//
// Defined transition variables.

// Speeds.
$motion-slow: 500ms;
$motion-default: 250ms;
$motion-fast: 100ms;

// Transitions.
$transition: $motion-default ease-in-out;
$transition-slow: $motion-slow linear;
