$base-line-height: 18px;
$rhythm-unit: 'rem'; // Sets rhythm unit to rem. Remove to use default em unit.

// Font Stacks
$primary-sans: 'Arial', sans-serif;
$primary-serif: 'Georgia', 'Times' serif;

$primary-font: 'AvenirLTStd-Book', $primary-sans;
$primary-font-heavy: 'AvenirLTStd-Heavy', $primary-sans;

$icon-font: 'icon-webfont';

$ja-font: メイリオ, Meiryo, 'Hiragino Kaku Gothic Pro', Osaka, ＭＳ Ｐゴシック, 'MS PGothic', sans-serif;
$zh-hans-font: 'AvenirLTStd-Book', STHeiti Light, 华文细黑, Yahei, 微软雅黑, SimSun, 宋体, sans-serif;
$zh-hans-font-bold: 'AvenirLTStd-Heavy', STHeiti Regular, 华文字体, 'Microsoft Yahei Bold', 微软雅黑, SimSun, 宋体, sans-serif;

@mixin primary-font {
  font-family: $primary-font;
}

@mixin primary-font-heavy {
  @include jp-bold;
  font-family: $primary-font-heavy;
}

@mixin icon-font {
  font-family: $icon-font;
}

@mixin thin {
  font-weight: normal;
  font-weight: 100;
}

@mixin jp-bold {

  :lang(ja) & {
    font-weight: bold;
  }
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
}

// **************************************
// HEADINGS
@mixin heading1 {
  @include primary-font-heavy;
  @include thin;
  color: $ma-dark-blue;
  font-size: 2.441em;
  line-height: 1.1em;
  margin: 0rem 0 0.4rem;
  text-transform: uppercase;

  a {
    @include link($ma-dark-blue, $color-three);
  }
}

@mixin heading2 {
  @include primary-font;
  color: $ma-dark-blue;
  font-size: 1.953em;
  line-height: 1.2em;
  margin: 0.8rem 0 0.4rem;
  text-transform: uppercase;

  a {
    @include link($ma-dark-blue, $color-three);
  }
}

@mixin heading3 {
  @include primary-font;
  @include thin;
  color: $ma-dark-blue;
  font-size: 1.563em;
  line-height:1.3em;
  margin: 0.8rem 0 0.4rem;
  text-transform: uppercase;

  a {
    @include link($ma-dark-blue, $color-three);
  }
}

@mixin heading4 {
  @include primary-font;
  @include thin;
  color: $ma-dark-blue;
  font-size: 1.25em;
  line-height: 1.3em;
  margin: 0.7rem 0 0.3rem;
  text-transform: uppercase;

  a {
    @include link($ma-dark-blue, $color-three);
  }
}

@mixin heading5 {
  @include primary-font;
  @include thin;
  color: $ma-dark-blue;
  font-size: 1em;
  line-height: 1.3em;
  margin: 0.6rem 0 0.3rem;
  text-transform: uppercase;

  a {
    @include link($ma-dark-blue, $color-three);
  }
}

@mixin heading6 {
  @include primary-font-heavy;
  color: $ma-dark-blue;
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0.5rem 0 0.2rem;

  a {
    @include link($ma-dark-blue, $color-three);
  }
}

//===== TEXT STYLES TO EXTEND FROM, IN ORDER OF SIZE ==============

// *******   BASIC  ************************** //
@mixin link($link-color: $link, $link-hover: $link-hover, $underline: no) {
  text-decoration: none;
  color: $link-color;

  &:visited {
    text-decoration: none;
    color: $link-color;
  }

  @if $underline == no {
    //&.active,
    &:hover,
    &:focus {
      color: $link-hover;
    }
  }

  @if $underline == yes OR $underline == true {
    //&.active,
    &:hover,
    &:focus {
      text-decoration: underline;
      color: $link-hover;
    }
  }
}

@mixin category {
  @include text-style($size: 30px, $lh: 1.6);
  @include primary-font-heavy;
}

@mixin pane-title {
  @include primary-font-heavy;
  @include caps;
  @include thin;
  color: $color-one;
  font-size: 26px;
  line-height: 1;
  margin: 1rem 0 0.4rem;

  a {
    @include link($color-one, lighten($color-one, 20%));
  }
}

@mixin primary-headline {
  @include primary-font;
  font-size: 2.441em;
  line-height: 1.2em;
}

@mixin secondary-headline {
  @include primary-font-heavy;
  font-size: 1.953em;
  line-height: 1.3em;
}

@mixin author {

  .term-name {
    @include primary-font-heavy;
    @include text-style($size: 14px, $lh: 13px);
  }

  .taxonomy-term-description,
  .field--name-field-twitter {
    @include text-style($size: 12px, $lh: 11px);
  }
}

@mixin small-text {
  @include text-style($size: 12px, $lh: 16px);
}

@mixin label {
  @include primary-font-heavy;
}

@mixin caption {
  @include small-text;
  border-bottom: 1px solid $border-tertiary;
  padding: 10px;
}

@mixin date {
  @include small-text;
}

@mixin author {
  @include small-text;
  @include caps;
  @include thick;
}

/// example class created add-font-icon('.icon-googleplus')
@mixin add-font-icon($iconnamehere){
  @extend #{$iconnamehere};
}

@mixin icon-font-control{
  @include link(white, $pink);
  @include  font-smoothing;
  font-size: 58px;
  margin: 0 0.25rem;
}

// Below is code for the page header text styles.
@mixin page-header-title {
  @include heading1;
  color: $white;
}
