// Common Variables

$content-width: 1620px;

$grid--sidebar-1--thin: 300px;
$grid--sidebar-2--thin: 300px;
$grid--content-body-max--thin: ($content-width - $grid--sidebar-1--thin - $grid--sidebar-2--thin);
$grid--content-body-min--thin: calc(#{$desk} - #{$grid--sidebar-1--thin} - #{$grid--sidebar-2--thin} - 2rem);

$grid--sidebar-1--wide: 400px;
$grid--sidebar-2--wide: 400px;
$grid--content-body-max--wide: ($content-width - $grid--sidebar-1--wide - $grid--sidebar-2--wide);
$grid--content-body-min--wide: calc(#{$desk} - #{$grid--sidebar-1--wide} - #{$grid--sidebar-2--wide} - 2rem);
