{#
/**
 * @file
 * Manh's theme implementation to display a single page.
 *
 */
#}

{% extends 'themes/manh/templates/page/page.html.twig' %}

{% block content_main %}
  <div class="l-grid-layout l-content-only">
    <div class="l-content-body">
      {{ page.content_main }}
    </div>
  </div>
{% endblock %}
