{#
/**
 * @file
 * Manh's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - header_branding: 'Header branding'
 * - header_secondary_menu: 'Header secondary menu'
 * - header_primary_menu: 'Header primary menu'
 * - header_mobile_menu: 'Header mobile menu'
 * - header_landing_page: 'Header for Landing Pages'
 * - header_mobile_menu_landing: 'Mobile Nav for Landing Pages'
 * - help: 'Help'
 * - content_hero: 'Content hero'
 * - content_top_first: 'Content top first'
 * - content_top_second: 'Content top second'
 * - content_top_third: 'Content top third'
 * - content_sidebar_left: 'Content sidebar left'
 * - content_sidebar_right: 'Content sidebar right'
 * - content_main: 'Content main'
 * - content_bottom_first: 'Content bottom first'
 * - content_bottom_second: 'Content bottom second'
 * - content_bottom_third: 'Content bottom third'
 * - footer_firstcolumn: 'Footer first column'
 * - footer_secondcolumn: 'Footer second column'
 * - footer_thirdcolumn: 'Footer third column'
 * - footer_fourthcolumn: 'Footer fourth column'
 * - footer_first_column_landing: 'Footer first column for Landing Pages'
 * - footer_copyright: 'Footer copyright'
 *
 * @see template_preprocess_page()
 * @see manh_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page-wrapper">
  <div id="page"{% if page_display_type == 'landing' %} class="landing"{% endif %}>

    <header id="header" class="l-header" role="banner" aria-label="{{ 'Site header'|t}}">
      <div class="header-top clearfix">
        <div class="header-top-inner">
          <div id="name-and-slogan"{% if hide_site_name and hide_site_slogan %} class="visually-hidden"{% endif %}>
            <div class="menu-toggle">
              <a href="#"><span class="mobile-menu-label">Menu</span></a>
            </div>
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
            <div id="site-logo" class="site-logo">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="5.969" viewBox="0 0 30 5.969"><style>.a{fill:#FFF;}</style><path class="a" d="M3.605 3.558h-.732l1.65-2.197v.943M4.523 3.558H3.78l.743-.953M1.92 3.558h.72l1.883-2.535V.07M1.687 3.558H.954l1.65-2.197v.943M0 3.558h.72l1.885-2.535V.07M8.675 0L7.71 2.49 6.767 0h-.965v3.558h.604V.605L7.49 3.558h.44L9.013.605h.01v2.953h.606V0M11.687 2.477h-.128c-.338 0-.908.023-.908.372 0 .22.22.313.418.313.407 0 .605-.22.605-.558v-.128h.012zm.034.744h-.01c-.175.27-.455.397-.78.397-.442 0-.884-.245-.884-.72 0-.792.918-.838 1.523-.838h.15v-.07c0-.292-.232-.455-.558-.455-.256 0-.477.104-.64.256l-.314-.313c.268-.268.64-.384 1.023-.384 1.036 0 1.036.744 1.036 1.082v1.383h-.546V3.22zM12.826 1.15h.57v.385h.012c.104-.244.337-.442.744-.442.65 0 .884.454.884.954V3.57h-.604V2.337c0-.268-.023-.71-.442-.71-.396 0-.558.292-.558.617v1.314h-.605V1.15zM16.198 1.477c.104-.198.35-.396.72-.396.65 0 .885.455.885.955v1.523H17.2v-1.22c0-.27-.024-.71-.443-.71-.396 0-.558.29-.558.616v1.314h-.606V0h.605v1.477zM19.86 2.477h-.127c-.338 0-.908.023-.908.372 0 .22.222.313.42.313.406 0 .604-.22.604-.558v-.128h.01zm.036.744h-.012c-.174.27-.453.397-.78.397-.44 0-.882-.245-.882-.72 0-.792.918-.838 1.523-.838h.15v-.07c0-.292-.232-.455-.56-.455-.255 0-.487.104-.638.256l-.314-.313c.268-.268.64-.384 1.023-.384 1.035 0 1.035.744 1.035 1.082v1.383h-.546V3.22zM20.803 1.663l.86-1.21v.7h.756l-.36.51h-.385v1.06c0 .243.07.395.337.395.104 0 .256-.023.325-.082v.512c-.127.057-.337.08-.477.08-.64 0-.79-.29-.79-.85V1.676H20.8v-.012z"/><path d="M22.372 1.663l.86-1.21v.7h.663v.51h-.662v1.06c0 .243.07.395.336.395.104 0 .255-.023.325-.082v.512c-.128.058-.337.08-.477.08-.64 0-.79-.29-.79-.848V1.675h-.257v-.012zM25.837 2.477h-.127c-.338 0-.907.023-.907.372 0 .22.22.313.42.313.405 0 .603-.22.603-.558v-.128h.01zm.035.744h-.012c-.174.27-.453.397-.78.397-.44 0-.882-.245-.882-.72 0-.792.918-.838 1.523-.838h.15v-.07c0-.292-.23-.455-.557-.455-.256 0-.49.104-.64.256l-.313-.313c.268-.268.64-.384 1.023-.384 1.035 0 1.035.744 1.035 1.082v1.383h-.547V3.22zM26.942 1.15h.57v.385h.01c.117-.244.338-.442.745-.442.65 0 .884.454.884.954V3.57h-.603V2.337c0-.268-.023-.71-.442-.71-.395 0-.558.292-.558.617v1.314h-.604V1.15zM18.884 4.418l-.36.838h.698l-.338-.838zm-.093-.255h.188l.72 1.698h-.23l-.176-.418h-.85l-.174.42h-.232l.755-1.7zM19.92 5.57c.07.093.15.15.29.15.115 0 .244-.046.244-.173 0-.117-.117-.152-.244-.176-.21-.044-.396-.09-.396-.323 0-.222.21-.326.42-.326.16 0 .3.06.382.21l-.15.105c-.047-.082-.13-.14-.232-.14-.105 0-.222.046-.222.15 0 .093.14.14.28.163.197.035.37.116.37.338 0 .256-.22.348-.452.348-.187 0-.326-.046-.442-.21l.15-.114zM20.942 5.57c.07.093.15.15.29.15.116 0 .245-.046.245-.173 0-.117-.117-.152-.244-.176-.21-.045-.396-.09-.396-.323 0-.222.21-.326.42-.326.162 0 .302.06.383.21l-.15.105c-.047-.082-.13-.14-.233-.14s-.22.046-.22.15c0 .093.14.14.278.163.197.035.372.116.372.338 0 .256-.22.348-.453.348-.187 0-.326-.046-.442-.21l.15-.114zM22.478 5.72c.244 0 .395-.185.395-.417 0-.233-.15-.42-.395-.42s-.396.187-.396.42c0 .233.15.418.396.418m0-1.01c.348 0 .604.243.604.593 0 .348-.256.592-.604.592-.35 0-.605-.244-.605-.592 0-.36.255-.594.605-.594M24.163 5.012c-.082-.094-.174-.14-.28-.14-.255 0-.383.186-.383.42 0 .23.15.417.384.417.116 0 .22-.048.29-.14l.14.127c-.103.128-.267.174-.43.174-.35 0-.58-.243-.58-.59 0-.34.23-.595.58-.595.163 0 .314.06.43.175l-.15.152zM24.547 4.733h.187V5.86h-.187V4.734zm.093-.57c.082 0 .14.06.14.14 0 .08-.058.14-.14.14-.08 0-.14-.06-.14-.14 0-.082.06-.14.14-.14M25.58 5.326c-.23 0-.394.07-.394.222 0 .14.104.197.244.197.22 0 .325-.15.337-.338v-.07h-.187v-.01zm-.545-.443c.116-.115.28-.174.442-.174.337 0 .477.16.477.476v.488c0 .06.012.14.012.197h-.175c-.01-.045-.01-.114-.01-.16-.07.115-.2.196-.373.196-.232 0-.418-.115-.418-.337 0-.373.43-.397.708-.397h.07V5.14c0-.163-.105-.245-.28-.245-.116 0-.243.035-.337.13l-.115-.142zM26.814 4.895h-.337v.56c0 .14 0 .255.162.255.058 0 .115-.012.162-.035l.012.175c-.07.022-.15.034-.222.034-.268 0-.313-.14-.313-.37v-.62h-.152l.338-.476v.314h.337v.162h.01zM27.896 5.198c-.012-.186-.128-.314-.337-.314-.21 0-.35.13-.373.314h.71zm.15.453c-.127.176-.29.233-.5.233-.348 0-.568-.267-.568-.592 0-.35.244-.593.58-.593.314 0 .535.22.535.594v.06h-.906c.012.197.162.36.372.36.162 0 .266-.06.36-.175l.127.116zM28.407 5.57c.07.093.15.15.29.15.117 0 .245-.046.245-.173 0-.117-.117-.152-.244-.176-.21-.045-.396-.09-.396-.323 0-.222.21-.326.42-.326.16 0 .3.06.382.21l-.15.105c-.047-.082-.13-.14-.232-.14-.105 0-.222.046-.222.15 0 .093.14.14.28.163.197.035.37.116.37.338 0 .256-.22.348-.452.348-.187 0-.326-.046-.442-.21l.15-.114zM29.547 5.617h.058c.023 0 .047 0 .06-.012s.01-.023.01-.035 0-.022-.01-.022c0-.012-.013-.012-.024-.012H29.537v.08h.01zm-.047.175v-.315h.104c.035 0 .06 0 .082.012.012.01.024.01.036.034.012.012.012.034.012.046 0 .023-.012.047-.023.058-.01.023-.034.023-.058.035.012 0 .023.012.023.012.012.012.023.035.047.06l.034.058h-.058l-.023-.047c-.023-.035-.035-.06-.06-.07-.01 0-.022-.012-.046-.012h-.023v.13H29.5zm.128-.397c-.035 0-.08.012-.116.035-.034.023-.07.047-.093.094-.024.034-.036.08-.036.115 0 .046.012.08.035.116s.046.07.092.093c.035.02.08.033.116.033.047 0 .082-.012.117-.034.034-.024.07-.047.092-.094.023-.035.035-.082.035-.117 0-.047-.012-.082-.035-.116-.022-.035-.046-.07-.092-.094-.047-.023-.082-.035-.117-.035m0-.046c.047 0 .094.01.14.033.047.023.08.06.104.105s.035.093.035.14c0 .046-.012.093-.035.14-.023.046-.058.08-.104.104-.046.023-.093.035-.14.035s-.093-.012-.14-.035c-.046-.022-.08-.058-.104-.104-.023-.047-.035-.094-.035-.14 0-.047.01-.093.034-.14s.06-.082.105-.105c.033-.022.08-.034.138-.034" class="a"/></svg>
            </div>
            </a>
            {% if page_display_type != 'landing' %}
               <a class="phone-icon" href="#"></a>
            {% endif %}
          </div>
          {% if page_display_type == 'landing' %}
            {{ page.header_landing_page }}
          {% else %}
            {{ page.header_secondary }}
            {{ page.header_site_selector }}
          {% endif %}
        </div>
      </div>

      <div class="header-bottom clearfix">
        <div class="header-bottom-inner">
          {% if page_display_type == 'landing' %}
            {{ page.header_primary_menu }}
            {{ page.header_mobile_menu }}
            {#{{ page.header_mobile_menu_landing }}#}
          {% else %}
            {{ page.header_primary_menu }}
            {{ page.header_mobile_menu }}
          {% endif %}
        </div>
      </div>
    </header>

    <div id="main-wrapper" class="clearfix">
      <div id="main" class="clearfix">
        {% if page.share %}
          <div id="share">
            <aside class="section clearfix" role="complementary">
              {{ page.share }}
            </aside>
          </div>
        {% endif %}

        {% if page.content_hero %}
          <div id="content-hero">
            <aside class="section clearfix" role="complementary">
              {{ page.content_hero }}
            </aside>
          </div>
        {% endif %}

        <div id="main-inner" class="clearfix">

          {% if messages %}
            <div id="messages">
              <div class="section clearfix">{{ messages }}</div>
            </div>
          {% endif %}

          {{ page.help }}

          <main id="main-content" role="main">
            <section class="section">
              <a id="main-content" tabindex="-1"></a>
              {% if tabs %}
                <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
                  {{ tabs }}
                </nav>
              {% endif %}

              {% if action_links %}
                <ul class="action-links">
                  {{ action_links }}
                </ul>
              {% endif %}

              {% block content_main %}
                {{ page.content_main }}
              {% endblock %}

            </section>
          </main>

          {% if (page.content_main_first_column|render|trim is not empty) or (page.content_main_second_column|render|trim is not empty) %}
            <div class="l-grid-layout l-content-only">
              <div class="l-content-body">
                <div class="l-flex-60-40">
                  {% if page.content_main_first_column|render|trim is not empty %}
                    <div class="l-column-first">
                      {{ page.content_main_first_column }}
                    </div>
                  {% endif %}

                  {% if page.content_main_second_column|render|trim is not empty %}
                    <div class="l-column-second">
                      {{ page.content_main_second_column }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>

    <div id="footer-wrapper" class="l-footer" >
      <footer class="section">
        {% if page.footer_first_column or page.footer_second_column or page.footer_third_column or page.footer_fourth_column %}
          <div id="footer" class="clearfix">
            {% if page_display_type == 'landing' %}
              {{ page.footer_first_column_landing }}
            {% else %}
              {{ page.footer_first_column }}
              {{ page.footer_second_column }}
              {{ page.footer_third_column }}
            {% endif %}
            {{ page.footer_fourth_column }}
          </div>
        {% endif %}
      </footer>
    </div>

    <div id="footer-copyright-wrapper" class="l-copyright">
      <div class="section">
        {% if page.footer_copyright %}
          <div id="copyright" role="contentinfo" class="clearfix">
            {{ page.footer_copyright }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
