{#
/**
 * @file
 * Theme override for a main view template.
 *
 */
#}
{%
  set classes = [
    'l-grid-layout',
    'l-content-only',
    'view',
    'view-' ~ id|clean_class,
    'view-display-id-' ~ display_id,

  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <div class="l-page-header view-header">
      {{ header }}
    </div>
  {% endif %}

  {% if exposed %}
    <div class="l-top view-filters">
      {{ exposed }}
    </div>
  {% endif %}

  {% if attachment_before or rows or empty or attachment_after %}
    <div class="l-content-body">
      {% if attachment_before %}
        <div class="l-content-top attachment attachment-before">
          {{ attachment_before }}
        </div>
      {% endif %}

      {% if rows %}
        <div class="view-content">
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}

      {% if attachment_after %}
        <div class="l-content-bottom attachment attachment-after">
          {{ attachment_after }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if pager or more or footer or feed_icons %}
    <div class="l-bottom">
      {% if pager %}
        {{ pager }}
      {% endif %}

      {% if more %}
        {{ more }}
      {% endif %}

      {% if footer %}
        <div class="view-footer">
          {{ footer }}
        </div>
      {% endif %}

      {% if feed_icons %}
        <div class="feed-icons">
          {{ feed_icons }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
