{#
/**
 * @file
 * Custom theme template for Manhattan 2-level menu formatter.
 */
#}
<div class="secondarymenu-main">
  <button class="reset-appearance tabs__tab tabs__trigger" aria-label="Secondary nav display toggle" data-drupal-nav-tabs-trigger>{{ "More" | t }}</button>
  {{ level_1 }}
</div>

{% if level_2 == empty %}
  <div class="secondarymenu-divider"></div>
{% else %}
  <div class="secondarymenu-secondary">
    {{ level_2 }}
  </div>
{% endif %}
