.top-navigation-desktop .sub-items {
  display: none;
  overflow: hidden; }
  .top-navigation-desktop .sub-items .sub-items-container {
    position: relative;
    left: 0;
    top: 0; }
  .top-navigation-desktop .sub-items .sub-item {
    display: inline-block; }

#block-topnavigationmobile ul.menu {
  display: block; }
  #block-topnavigationmobile ul.menu > li.menu-item {
    display: block; }
