{#
/**
 * @file
 * Default theme implementation to display the Client Logos Block.
 *
 */
#}
{%
  set classes = [
    'client-logos-block',
    'block',
    'block-' ~ configuration.provider|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div class="client-logo-title">{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  <div class="logos">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
