{#
/**
 * @file
 * Default theme implementation to display the Social Media Footer links.
 *
 */
#}

{{ title_prefix }}
{{ title_suffix }}
{% block content %}
  <div{{ content_attributes.addClass('block-secondarymenu-wrapper') }} data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
    {{ content }}
  </div>
{% endblock %}
