{#
/**
 * @file
 * This is the resources secondary menu block that will be imported into the individual 
 *
 */
#}

{{ title_prefix }}
{{ title_suffix }}
{% block content %}
  <div{{ content_attributes.addClass('secondarymenu-inner') }} data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
    <div class="secondarymenu-main">
      <button class="reset-appearance tabs__tab tabs__trigger" aria-label="Secondary nav display toggle" data-drupal-nav-tabs-trigger>{{ "More" | t }}</button>
      <div class="secondarymenu-level-wrapper level-1">
        {{ content }}
        <div class="secondarymenu-divider"></div>
      </div>
    </div>
  </div>
{% endblock %}
