{#
/**
 * @file
 * This is the basic footer navigation template that will be included in language specific templates.
 *
#}

{% block content %}
  <div{{ content_attributes.addClass('block-footer-menu-wrapper') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="block-footer-menu-wrapper">
      {{ content }}
    </div>
  </div>
{% endblock %}
