{#
/**
 * @file
 * Manhattan's theme implementation to display an Article node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['node']->getCreatedTime().
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

  {% block content %}

    {#  MAIN----------------------------------------------------- #}
    <div class="{{ body_class }}" role="main">
      {# Message placeholder for gated content. #}
      {% if content.message_placeholder is not empty %}
        {{ content.message_placeholder }}
      {% endif %}

      {# TOP  -----------------------------------------  #}
      <div class="l-full-content l-top">
        <div class="node-category-type">
          {{ type_name }}
        </div>
        {% block title %}
          <h1>
            {{ content.field_page_title }}
          </h1>
        {% endblock %}
        <div class="date-and-author">
          {% if author_name is not empty %}{% trans %}By {{ author_name }},{% endtrans %} {% endif %}{{ content.field_article_date }}
        </div>
      </div>
      {# END TOP  -----------------------------------------  #}

      {# MAIN COLUMN -----------------------------------------  #}
      <div class="main-column">

        {# CONTENT BODY  -----------------------------------------  #}
        <div class="l-full-content l-content-body">
          {{ content.field_content_top }}
          {{ content.field_teaser_image }}
          {{ content.field_body }}
          {{ content.field_block_bottom }}
          {{ content.field_view_bottom }}
          {{ content.field_content_bottom }}
          {# BUTTONS  -----------------------------------------  #}
          <div class="l-content-buttons">
            {% if content.link_placeholder is not empty %}
              {# For gated content, render the gated content placeholder instead of the download link. #}
              {{ content.link_placeholder }}
            {% elseif doc_url is not empty %}
              <a href="{{ doc_url }}" class="button-primary--two marketo-track">
                {{ content.field_doc_text }}
              </a>
              {% if contact_url is not empty %}
                <a href="{{ contact_url }}" class="button-primary--four">
                  {{ content.field_contact_text }}
                </a>
              {% endif %}
            {% endif %}
          </div>
          {# END BUTTONS  -----------------------------------------  #}

        </div>
        {# END CONTENT BODY  -----------------------------------------  #}

        {# SIDEBAR RIGHT ----------------------------------------- #}
        {% if has_right_sidebar %}
        <div class="l-sidebar l-sidebar-second">
          {% if content.sidebar_placeholder is not empty %}
            {# For gated content, render the sidebar placeholder. #}
            {{ content.sidebar_placeholder }}
          {% else %}
            {{ content.field_content_top_right }}
            {{ content.field_view_top_right }}
            {{ content.field_block_top_right }}
          {% endif %}
          <div class='{{ body_right_bg }}'>
            {{ content.field_body_right }}
          </div>
          {{ content.field_block_bottom_right }}
          {{ content.field_view_bottom_right }}
          {{ content.field_content_bottom_right }}
        </div>
        {% endif %}
        {# END SIDEBAR RIGHT ----------------------------------------- #}

        {# CONTENT BOTTOM  -----------------------------------------  #}
        {% if has_content_bottom %}
        <div id="content-bottom" class="l-full-content l-content-bottom">
          <aside class="section" role="complementary">
            {{ content.field_bottom }}
          </aside>
        </div>
        {% endif %}
        {# END CONTENT BOTTOM  -----------------------------------------  #}

        {# RELATED INFO -- variable is in the manh.theme file #}
        {% if has_related_info %}
        <div class="l-related-info">
          <aside class="section" role="complementary">
            {{ content.field_related_information }}
          </aside>
        </div>
        {% endif %}

      </div>
      {# END MAIN COLUMN ------------------------------------------- #}

    </div>
    {#  END MAIN----------------------------------------------------- #}

  {% endblock %}
