{#
/**
 * @file
 * Manhattan's theme implementation to display a Page node.
 *
 * Available variables:
 * - node: Full node entity.
 *   - id: The node ID.
 *   - bundle: The type of the node, for example, "page" or "article".
 *   - authorid: The user ID of the node author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['node']->getCreatedTime().
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}


  {% block content %}

  {#  MAIN ----------------------------------------------------- #}
  <div class="{{ body_class }}" role="main">

    {# HERO   -----------------------------------------  #}
    {% if content.field_teaser_image %}
      {% if hide_hero %}
        {% set hero_classes = 'l-full-content hero hidden' %}
      {% else %}
        {% set hero_classes = 'l-full-content hero' %}
      {% endif %}
      <div id="content-hero" class="{{ hero_classes }}" data-eq-pts="small: 0, medium: 331, large: 631, wide: 900">
        <aside class="section overlay-content" role="complementary">
          {{ content.field_section_text }}
          <h1 class="teaser-title">
            {{ content.field_page_title }}
          </h1>
          {{ content.field_teaser_text_long }}
          <div class="l-content-buttons">
            {% if document_url is not empty %}
              <a href="{{ document_url }}" class="button-primary--two">
                {{ content.field_doc_text }}
              </a>
            {% endif %}
            {% if contact_url is not empty %}
              <a href="{{ contact_url }}" class="button-primary--four">
                {{ content.field_contact_text }}
              </a>
            {% endif %}
          </div>
        </aside>
        <div class="page-header-hero-image">
          {{ content.field_teaser_image }}
        </div>
      </div>
    {% endif %}
    {# END HERO   -----------------------------------------  #}

    {% if not page %}
      {% block title %}
        <h1><a href="{{ url  }}" rel="bookmark">{{ label }}</a> </h1>
      {% endblock %}
    {% endif %}

    {#  CONTENT_TOP #}
    {% if has_field_page_header %}
      <div class="page-header">
        {{ content.field_page_header }}
      </div>
    {% endif %}
    {% if content.field_menu_secondary is not empty %}
      {{ content.field_menu_secondary }}
    {% endif %}
    {# END CONTENT TOP  -----------------------------------------  #}

    {# MAIN COLUMN -----------------------------------------  #}
      <div class="main-column">

      {{ content.field_top }}
      {{ content.field_body_intro_title }}
      {{ content.field_body_intro_text }}

      {# SIDEBAR LEFT  ----------------------------------------- #}
      {% if has_left_sidebar %}
        <div class="l-sidebar l-sidebar-first">
          {{ content.field_content_top_left }}
          {{ content.field_view_top_left }}
          {{ content.field_block_top_left }}
          <div class='{{ body_left_bg }}'>
            {{ content.field_body_left }}
          </div>
          {{ content.field_block_bottom_left }}
          {{ content.field_view_bottom_left }}
          {{ content.field_content_bottom_left }}
        </div>
      {% endif %}
      {# END SIDEBAR LEFT  ----------------------------------------- #}

      {# CONTENT BODY  ----------------------------------------- #}
      <div class="l-content-body">
        {{ content.field_content_top }}
        {{ content.field_view_top }}
        {{ content.field_block_top }}
        {{ content.field_body }}
        {{ content.field_block_bottom }}
        {{ content.field_view_bottom }}
        {{ content.field_content_bottom }}
      </div>
      {# END CONTENT BODY  ----------------------------------------- #}

      {# SIDEBAR RIGHT  ----------------------------------------- #}
      {% if has_right_sidebar %}
        <div class="l-sidebar l-sidebar-second">
          {{ content.field_content_top_right }}
          {{ content.field_view_top_right }}
          {{ content.field_block_top_right }}
          <div class='{{ body_right_bg }}'>
            {{ content.field_body_right }}
          </div>
          {{ content.field_block_bottom_right }}
          {{ content.field_view_bottom_right }}
          {{ content.field_content_bottom_right }}
        </div>
      {% endif %}
      {# END SIDEBAR RIGHT  ----------------------------------------- #}

    </div>
    {# END MAIN COLUMN -----------------------------------------  #}

    {# CONTENT BODY  ----------------------------------------- #}
    {% if has_bottom %}
      <div id="bottom" class="l-full-content l-bottom">
        <aside class="section" role="complementary">
          {{ content.field_bottom }}
        </aside>
      </div>
    {% endif %}
    {# END CONTENT BODY  ----------------------------------------- #}

    {# RELATED INFO -- variable is in the manh.theme file #}
    {% if has_related_info %}
      <div class="l-related-info">
        <aside class="section" role="complementary">
          {{ content.field_related_information }}
        </aside>
      </div>
    {% endif %}
    {# END RELATED INFO ------------------------------------------ #}

    {# WHY MANHATTAN  ----------------------------------------- #}
    {% if has_why_manhattan %}
      <div class="l-why-manhattan">
        <aside class="section" role="complementary">
          {{ content.field_why_manhattan }}
        </aside>
      </div>
    {% endif %}
    {# END WHY MANHATTAN  ----------------------------------------- #}

  </div>
  {#  END MAIN ----------------------------------------------------- #}

  {% endblock %}
