{#
/**
 * @file
 * Default theme implementation for content embedded in a top navigation section.
 */
#}
<a href="{{ link_url }}" class="top-nav-content-link">
  <div class="top-nav-content">
    <div class="top-nav-content-teaserimg">
      {{ teaser_image }}
    </div>
    <div class="top-nav-content-wrapper">
      <div class="teaser-title">
        {{ teaser_title }}
      </div>
      {% if document_type is not empty %}
      <p class="node-category-type">
        {{ document_type }}
      </p>
      {% endif %}
      <p class="teaser-text">
        {{ teaser_text }}
      </p>
     </div>
  </div>
</a>