{#
/**
 * @file
 * Default theme implementation for the desktop version of a top navigation section.
 */
#}
<div class="top-nav-section">
  <div class="column column-1{% if divider_1 %} divider-right{% endif %}">
    {{ menus_column_1 }}
    {{ content_column_1 }}
  </div>
  <div class="column column-2{% if divider_2 %} divider-right{% endif %}">
    {{ menus_column_2 }}
    {{ content_column_2 }}
  </div>
  <div class="column column-3">
    {{ menus_column_3 }}
    {{ content_column_3 }}
  </div>
</div>