{#
/**
 * @file
 * Default theme implementation for banner embedded in a top navigation section.
 */
#}
<a href="{{ link_url }}" class="top-nav-banner-link">
  <div class="top-nav-banner">
    {{ banner_image }}
  </div>
</a>