{#
/**
 * @file
 * Default theme implementation for the investor relations mobile menu.
 */
#}
<div class="search-block-form block block-search">
  {{ search_block }}
</div>
<div id="block-topnavigationmobile" class="block block-manh-nav-drawers">
  {{ primary_navigation }}
</div>
<div id="block-footernavigationen-2" class="block block-system">
  <div class="block-secondarymenu-wrapper">
    {{ footer_block }}
  </div>
</div>
<div id="block-sitelanguageselector-2" class="block block-manh-site-selector">
  {{ site_selector }}
</div>
