{#
/**
 * @file
 * Default theme implementation for the investor relations footer.
 */
#}
<div id="ir-footer-wrapper" class="ir-footer">
  <footer id="manh-ir-footer" class="section">
    <div id="footer" class="clearfix">

      <div class="region region-footer-first-column">
        <div id="block-discoveren" class="block block-system">
          <div>{{ "Discover"|t }}</div>
          <div class="block-secondarymenu-wrapper" data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
            {{ discover_block }}
          </div>
        </div>
      </div>

      <div class="region region-footer-second-column">
        <div id="block-servicesen" class="block block-system">
          <div>{{ "Services"|t }}</div>
          <div class="block-secondarymenu-wrapper" data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
            {{ services_block }}
          </div>
        </div>
      </div>


      <div class="region region-footer-third-column">
        <div id="block-connecten" class="block block-system">
          <div>{{ "Connect"|t }}</div>
          <div class="block-secondarymenu-wrapper" data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
            {{ connect_with_us_block }}
          </div>
        </div>
      </div>

      <div class="region region-footer-fourth-column">
        <div id="block-aboutusen" class="block block-system">
          <div>{{ "About Us"|t }}</div>
          <div class="block-secondarymenu-wrapper" data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
            {{ about_us_block }}
          </div>
        </div>
      </div>

    </div>
  </footer>
</div>

<div id="ir-footer-copyright-wrapper" class="l-copyright">
  <div class="section">
    <div id="ir-copyright" class="clearfix">
       <div class="region region-footer-copyright">
          <div id="block-sitelanguageselector" class="block block-manh-site-selector">
            {{ site_selector }}
          </div>
          <div class="footer-socialnavigation en">
            <div class="block-secondarymenu-wrapper" data-eq-pts="menu-300: 300, menu-450: 450, menu-600: 600, menu-750: 750, menu-900: 900">
              {{ connect_block }}
            </div>
          </div>
          <div id="block-footernavigationen" class="block-footer-menu">
            <div class="block-footer-menu-wrapper">
              {{ footer_block }}
            </div>
          </div>
          <div id="block-footercopyrightblock" class="block-footer-copyright">
            {{ copyright_block }}
          </div>
      </div>
    </div>
  </div>
</div>

