.contact-message-contact-us-form .form-item-field-opt-in-gdpr-cookie-value label,
.contact-message-gated-content-form .form-item-field-opt-in-gdpr-cookie-value label {
  font-size: 16px;
  display: inline-block;
}

.contact-message-gated-content-form .form-item-field-opt-in-gdpr-cookie-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-message-gated-content-form .form-item-field-opt-in-gdpr-cookie-value .form-checkbox {
  min-height: 0 !important;
  margin-top: 0.5em;
}

.contact-message-gated-content-form .form-item-field-opt-in-gdpr-cookie-value label {
  padding: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
  padding-left: 0.5em;
  line-height: 1.3;
  margin-bottom: 0.25em;
  font-size: 0.9em;
}

.contact-message-gated-content-form .form-item-field-opt-in-gdpr-cookie-value .description {
  font-size: 0.7em;
  margin-left: 1.5em;
  margin-top: 0.25em;
  color: #fff;
}

.contact-message-gated-content-form .form-item-field-opt-in-gdpr-cookie-value .description a {
  color: #071D49;
}
