{#
/**
 * @file
 * Default theme implementation to display a predictive content block.
 *
 * Available variables:
 * - block: The predictive_content entity
 * - attributes: HTML attributes for the containing element.
 * - block_id: The machine name for the predictive content block being rendered.
 * - template_id: The Marketo template to use for rendering.
 * - rtp_configuration: RTP configuration for rendering results.
 * - show_placeholder: Flag for users with permission to see placeholder content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_predictive_content_block()
 *
 * @ingroup themeable
 */
#}
<div class="{{ attributes.class }}" {{ attributes|without('class') }} data-rtp-template-id="{{ element['#template_id'] | default('template1') | clean_class }}">

  {% if show_placeholder %}
    <h3>Predictive content placeholder.</h3>
    <p><strong>Template ID:</strong> {{ template_id|clean_id }}</p>
    <pre>{{ dump(rtp_configuration) }}</pre>
  {% endif %}

</div>
