@charset "UTF-8";
html {
  font-size: 100%; }

tr.ccbnBgTblTtl {
  color: #fff;
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif; }
  tr.ccbnBgTblTtl td {
    background: #071d49;
    font-family: "AvenirLTStd-Book", "Arial", sans-serif;
    padding: 9px; }

tr.ccbnBgTblOdd,
tr.ccbnBgTblEven {
  background: transparent;
  border-top: 1px solid #d8d9da; }
  tr.ccbnBgTblOdd:hover,
  tr.ccbnBgTblEven:hover {
    background: #e2e6e8; }

span.ccbnTblTtl,
span.ccbnTblOdd,
span.ccbnTblEven {
  padding: 0.5em; }

tr.ccbnOutline > td {
  padding: 0; }

ul.linkList {
  padding: 0; }

.sidebar-nav {
  background-color: #d8d9da;
  padding: 0.5rem 1rem; }

.main-column table {
  margin-top: 0; }

h1.investor-relations-title {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  margin-top: 3rem;
  min-height: 2rem; }

#block-manh-footer {
  float: none;
  width: 100%; }

div.region-footer-first-column,
div.region-footer-second-column,
div.region-footer-fourth-column {
  float: left; }

.region-footer-first-column #block-helpnavigationen {
  max-width: 200px; }

.region-footer-first-column #block-helpnavigationen ul.menu li {
  clear: left;
  display: block;
  float: left;
  padding-top: 0.2em; }

#ir-footer-copyright-wrapper ul.menu li {
  display: inline;
  margin-right: 1em; }

#ir-footer-wrapper h2 {
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif;
  font-weight: 100; }

#main {
  transition: padding 250ms ease-in-out; }
  @media (min-width: 1020px) {
    .ma-sticky-header #main {
      padding-top: 94px; } }
  @media (min-width: 1020px) {
    #main {
      padding-top: 176px; } }

@media (min-width: 63.75em) {
  .ir-homepage #ir-copyright {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -ms-flex-order: 2;
    order: 2; } }

@media (min-width: 39.9375em) {
  .ir-homepage #ir-copyright p {
    text-align: left; } }

@media (min-width: 63.75em) {
  .ir-homepage #ir-copyright p {
    text-align: right; } }

@media (min-width: 63.75em) {
  .ir-homepage .l-copyright .section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.ir-homepage .block-footer-menu {
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -ms-flex-order: 1;
  order: 1; }

.ir-homepage .menu li {
  display: inline;
  margin-right: 20px; }

.nav-drawer-close::before {
  background-color: #121213;
  border-radius: 3px;
  color: #fff;
  content: '';
  cursor: pointer;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 1.8rem;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0, 0);
  width: 2rem; }

/* Footer Social Menus */
#site-name {
  background: no-repeat url("../../logo.svg");
  background-size: 74%;
  height: 50px;
  margin: 10px 0 0 0;
  width: 250px; }
  @media (min-width: 63.75em) {
    #site-name {
      background-size: 100%;
      margin: 0; } }

#block-contactusblock {
  position: absolute;
  right: 10px;
  top: 24px; }

.region-header-site-selector {
  bottom: 6px;
  clear: none;
  display: block;
  float: none;
  position: absolute;
  right: 201px;
  z-index: 2000; }
  @media (min-width: 39.9375em) {
    .region-header-site-selector .search-block-form {
      background-color: #fff;
      border: 0;
      color: #767676;
      display: inline-block;
      float: right;
      font-size: 0.8em;
      height: 30px;
      line-height: 1.2;
      margin-top: 5px;
      padding: 0;
      width: 30px; } }

.block-secondarymenu-wrapper {
  margin: 0; }

@media (min-width: 1021px) {
  #manh-ir-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    white-space: nowrap; } }

.l-header #manh-ir-drawers-mobile .menu .menu-item--expanded .menu-item--unlinked,
.l-header #manh-ir-drawers-mobile .menu .menu-item--expanded > a {
  font-size: inherit !important; }

#manh-ir-header .menu,
#manh-ir-drawers-mobile .menu {
  line-height: 1.4; }

#header.l-header {
  padding-bottom: 0; }

#top-navigation-desktop .top-items {
  margin: 0 2em; }

@media (min-width: 1021px) {
  .header-top {
    pointer-events: none; } }

@media (min-width: 1021px) {
  .header-top-inner {
    pointer-events: all; } }

@media (max-width: 1020px) {
  body #ir-copyright #block-footercopyrightblock .field-items {
    text-align: center; } }
