.partners-view {

  .views-row {
    float: left;
    clear: both;
    margin: 0 0 1rem 0;
  }

  .views-field-field-teaser-image,
  .views-field-field-teaser-image-media {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .views-field-field-partner-text {
    display: block;
    float: left;
  }

  .partners-title-field {
    @include primary-font-heavy;
    font-size: 1.25em;
    line-height: normal;
    margin-bottom: .5rem;
  }

  @include breakpoint($min-tab-p) {

    .views-field-field-teaser-image,
    .views-field-field-teaser-image-media {
      display: inline-block;
      float: left;
      max-width: 300px;
      width: 25%;
    }

    .views-field-field-partner-text {
      display: inline-block;
      float: left;
      width: 65%;
    }

  }

}
