{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-cta',

  ]
%}
{%
  set field_classes = [
    content['#block_content'].field_background_color_pattern.value,
    content['#block_content'].field_cta_image_align.value,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes }}>{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass(field_classes) }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
