{#
/**
 * @file
 * Default theme implementation to display the homepage feature carousel.
 *
 */
#}
<div class="features-homepage-block">
  <div class="slick-list-container">
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
