{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 */
#}
{%
  set classes = [
    'block',
    'block-cta',
    'block-cta--video',
    'l-grid-layout',
    'l-content-only',
  ]
%}
{%
  set field_classes = [
    'l-content-body',
    content['#block_content'].field_background_color_pattern.value,
    content['#block_content'].field_cta_video_align.value,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes }}>{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass(field_classes) }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
