{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    <div class="l-grid-layout l-content-only lifestyle" role="main">
      {% if content.field_teaser_image %}
        <div class="l-hero">
          <div class="hero" data-eq-pts="small: 0, medium: 331, large: 631, wide: 900">
            <div class="page-header-hero-image">
              {{ content.field_teaser_image }}
            </div>
          </div>
        </div>
      {% endif %}

      <div class="l-page-header">
        <aside class="section page-title" role="complementary">
          <h1 class="teaser-title">
            {{ content.field_teaser_title }}
          </h1>
        </aside>
      </div>
  {% endblock %}
</div>
