{#
/**
 * @file
 * Default theme implementation to display the Scrolling Assets Block.
 *
 */
#}
{%
  set classes = [
    'assets-homepage-block',
    'l-grid-layout',
    'l-content-only',
    'block',
    'block-' ~ configuration.provider|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="l-content-body slick-list-container">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
