{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'cta-strip'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes }}>{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass(content['#block_content'].field_headline_strip_color.value) }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
