{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes }}>{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="solutions">
      <div class="{{ content['#block_content'].field_solution_1_bg_color.value }} col-1">
        <div class="background" style="background-image: url('{{ image_1 }}');background-repeat: no-repeat;background-size: contain;
     background-position: center;width: 100%;height: 0;padding-top: 100%;"></div>
        <div class="solutions-content">

            <div class="icon">
              {{ content.field_solution_1_icon }}
            </div>
            <div class="title">
              {{ content.field_solution_1_title }}
            </div>
            <div class="desc">
              <span>{{ content.field_solution_1_description }}</span>
            </div>
            <div class="link">
              <span>{{ content.field_solution_1_link }}</span>
            </div>
        </div>
      </div>
      <div class="{{ content['#block_content'].field_solution_2_bg_color.value }} col-2">
        <div class="background" style="background-image: url('{{ image_2 }}');background-repeat: no-repeat;background-size: contain;
     background-position: center;width: 100%;height: 0;padding-top: 100%;"></div>
        <div class="solutions-content">
            <div class="icon">
              {{ content.field_solution_2_icon }}
            </div>
            <div class="title">
              {{ content.field_solution_2_title }}
            </div>
            <div class="desc">
              <span>{{ content.field_solution_2_description }}</span>
            </div>
            <div class="link">
              <span>{{ content.field_solution_2_link }}</span>
            </div>
        </div>
      </div>
      <div class="{{ content['#block_content'].field_solution_3_bg_color.value }} col-3">
        <div class="background" style="background-image: url('{{ image_3 }}');background-repeat: no-repeat;background-size: contain;
     background-position: center;width: 100%;height: 0;padding-top: 100%;"></div>
        <div class="solutions-content">
            <div class="icon">
              {{ content.field_solution_3_icon }}
            </div>
            <div class="title">
              {{ content.field_solution_3_title }}
            </div>
            <div class="desc">
              <span>{{ content.field_solution_3_description }}</span>
            </div>
            <div class="link">
              <span>{{ content.field_solution_3_link }}</span>
            </div>
        </div>
      </div>
    </div>
  {% endblock %}
</div>
