{#
/**
 * @file
 * Default theme implementation to display the Footer Copyright Block.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('block-footer-copyright') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
