{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <div{{ title_attributes }}>{{ label }}</div>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="who-we-serve">
      <div class="col-1">
        <div class="quote">
          {{ content.field_quote_1 }}
        </div>
        <div class="logo">
          {{ content.field_logo_1.0 }}
        </div>
        <div class="name">
          {{ content.field_name_1 }}
        </div>
        <div class="title">
          {{ content.field_title_1 }}
        </div>

        <div class="link">
          {{ content.field_link_1 }}
        </div>
      </div>
      <div class="col-2">
        <div class="quote">
          {{ content.field_quote_2 }}
        </div>
        <div class="logo">
          {{ content.field_logo_2.0 }}
        </div>
        <div class="name">
          {{ content.field_name_2 }}
        </div>
        <div class="title">
          {{ content.field_title_2 }}
        </div>

        <div class="link">
          {{ content.field_link_2 }}
        </div>
      </div>
      <div class="col-3">
        <div class="quote">
          {{ content.field_quote_3 }}
        </div>
        <div class="logo">
          {{ content.field_logo_3.0 }}
        </div>
        <div class="name">
          {{ content.field_name_3 }}
        </div>
        <div class="title">
          {{ content.field_title_3 }}
        </div>

        <div class="link">
          {{ content.field_link_3 }}
        </div>
      </div>
    </div>
  {% endblock %}
</div>
