/**
 * @file
 * Lingotek base styles.
 */

/**
 * Lingotek Translation icon in admin menu.
 *
 * @see lingotek.icons.css
 */
.toolbar-icon-translation:before {
  background-image: url("/modules/lingotek/images/lingotek_787878.png");
}
.toolbar-icon-translation:active:before,
.toolbar-icon-translation.active:before {
  background-image: url("/modules/lingotek/images/lingotek_000000.png");
}

.language-icon {
  background-color:#80a49e;
  border-radius: 1px;
  margin-right: 2px;
  padding: 4px 4px;
  color: #fff;
  white-space: nowrap;
  border: 1px solid #fff;
  border-spacing: 0;
  width: 50px;
}

.language-icon.source-error,
.language-icon.target-error {
  background-color: #B71C1C;
  border: 1px solid #B71C1C;
  color: #FFFFFF;
}

.language-icon.source-error a,
.language-icon.target-error a {
  color: #FFFFFF;
}

span.language-icon ,
a.language-icon {
  margin-bottom: 2px;
  display: inline-block;
  text-align: center;
}

/** Content statuses v2.0 */
.language-icon.source-untracked ,
.language-icon.source-request {
  background-color: #ffffff;
  border: 1px solid #999999;
  color: #999999;
}
  .language-icon.source-untracked a ,
  .language-icon.source-request a {
    color: #999999;
  }
  .language-icon.source-untracked:hover ,
  .language-icon.source-request:hover {
    color: #8c8c8c;
    border: 1px solid #8c8c8c;
  }

.language-icon.source-edited {
  background-color:#ffc107;
  border: 1px solid #575757;
  color: #575757;
}
  .language-icon.source-edited a {
    color: #575757;
  }
  .language-icon.source-edited:hover {
    background-color: #ffb300;
  }

.language-icon.source-importing {
  background-color:#f37f16;
  border: 1px solid #f37f16;
  color: #ffffff;
}
  .language-icon.source-importing a {
    color: #ffffff;
  }
  .language-icon.source-importing:hover {
    background-color: #e67209;
  }

.language-icon.source-current {
  background-color:#5fdc64;
  border: 1px solid #5fdc64;
  color: #ffffff;
}
  .language-icon.source-current a {
    color: #ffffff;
  }
  .language-icon.source-current:hover {
    background-color: #43a047;
  }

.language-icon.target-request {
  background-color:#ffffff;
  border: 1px solid #f37f16;
  color: #f37f16;
}
  .language-icon.target-request a {
    color: #f37f16;
  }
    .language-icon.target-request a:hover {
      color: #e67209;
    }
  .language-icon.target-request:hover {
    color: #e67209;
    border: 1px solid #e67209;
  }

.language-icon.target-pending {
  background-color:#f37f16;
  border: 1px solid #f37f16;
  color: #ffffff;
}
  .language-icon.target-pending a {
    color: #ffffff;
  }
  .language-icon.target-pending:hover {
    background-color: #e67209;
  }

.language-icon.target-ready {
  background-color:#2196f3;
  border: 1px solid #2196f3;
  color: #ffffff;
}
  .language-icon.target-ready a {
    color: #ffffff;
  }
  .language-icon.target-ready:hover {
    background-color: #1e88e5;
  }

.language-icon.target-edited {
  background-color:#ffc107;
  border: 1px solid #575757;
  color: #575757;
}
  .language-icon.target-edited a {
    color: #575757;
  }
  .language-icon.target-edited:hover {
    background-color: #ffb300;
  }

.language-icon.target-current {
  background-color:#5fdc64;
  border: 1px solid #5fdc64;
  color: #ffffff;
}
  .language-icon.target-current a {
    color: #ffffff;
  }
  .language-icon.target-current:hover {
    background-color: #43a047;
  }

.language-icon.target-intermediate {
  background-color: #ffffff;
  border: 1px solid #4caf50;
  color: #4caf50;
}
  .language-icon.target-intermediate a {
    color: #4caf50;
  }
    .language-icon.target-intermediate a:hover {
      color: #43a047;
    }
  .language-icon.target-intermediate:hover {
    color: #43a047;
  }

.language-icon.target-untracked {
  background-color:#999999;
  border: 1px solid #999999;
  color: #ffffff;
}
  .language-icon.target-untracked a {
    color: #ffffff;
  }
  .language-icon.target-untracked:hover {
    background-color: #8c8c8c;
  }

.language-icon.source-cancelled,
.language-icon.target-cancelled {
  background-color:#ffffff;
  border: 1px solid #b71c1c;
  color: #b71c1c;
}
  .language-icon.source-cancelled a,
  .language-icon.target-cancelled a {
    color: #b71c1c;
  }

  .language-icon.source-cancelled:hover,
  .language-icon.target-cancelled:hover {
    background-color:#ffffff;
    color: #9e0303;
    border: 1px solid #9e0303;
  }

.language-icon.source-disabled,
.language-icon.target-disabled {
   background-color:#FFFFFF;
   border: 1px solid #999999;
   color: #999999;
   text-decoration:line-through;
}

  .language-icon.source-disabled a,
  .language-icon.target-disabled a {
     color: #999999;
  }

.language-icon.source-none,
.language-icon.target-none {
   background-color:#FFFFFF;
   border: 1px solid #999999;
   color: #999999;
}

  .language-icon.source-none a,
  .language-icon.target-none a {
     color: #999999;
  }
