// BREAKPOINTS.

$phone-p: 340px;
$phone-l: 479px;
$max-phone-l: 'max-width: #{$phone-l}';
$tab-p: 639px;
$max-tab-p: 'max-width: #{$tab-p}';
$min-tab-p: $tab-p + 1px;
$landing: 680px;
$tab-slide: 720px;
$max-tab-slide: 'max-width: #{$tab-slide}';
$tab-l: 769px;
$max-tab-l: 'max-width: #{$tab-l}';
$min-tab-l: $tab-l + 1px;
$menu: 979px;
$desk: 1020px;
$max-desk: 'max-width: #{$desk}';
$min-desk: $desk + 1px;
$desk-full: 1199px;
$desk-wide: 1549px;

// Why Manhattan
$why-manhattan--tablet: 'min-width: #{$tab-slide}) and (#{$max-desk}';
$why-manhattan--teaser-title: 'min-width: #{$desk}) and (max-width: #{$desk-full}';

// Footer Breakpoints.
$pop-unit: 250px;
$pop-unit-2: 540px;
$pop-unit-3: 790px;
$pop-unit-4: 940px;
$pop-unit-5: 1040px;


// Breakpoint mixin
//
// Expects $viewport to either be a number: 640px
// Or a string: 'max-width: 760px'
@mixin breakpoint($viewport) {
  @if type-of($viewport) == number {
    @media (min-width: $viewport) {
      @content;
    }
  }
  @else {
    @media ($viewport) {
      @content;
    }
  }
}
