@mixin button-color($button-color: $color-one) {
  background-color: $button-color;

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: darken($button-color, 15%);
  }
}

@mixin button-primary($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $white !important;
  border: 1px solid $white;
  transition: background $transition;
}

%button-primary {
  @include button-primary;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

%button-primary--one {
  @extend %button-primary;
  @include button-color($color-one);
}

%button-primary--two {
  @extend %button-primary;
  @include button-color($color-two);
}

%button-primary--three {
  @extend %button-primary;
  @include button-color($color-three);
}

%button-primary--four {
  @extend %button-primary;
  @include button-color($color-four);
}

%button-primary--four-opacity {
  @extend %button-primary;
  @include button-color(rgba(119, 197, 213, 0.5));
}


%button-primary--five {
  @extend %button-primary;
  @include button-color($color-five);
}
%button-primary--six {
  @extend %button-primary;
  @include button-color($color-six);
}

@mixin button-secondary($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $white !important;
  border: 1px solid $white;
  transition: background $transition;
}

%button-secondary {
  @include button-secondary;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

@mixin button-lavender($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $ma-lavender;
  background: $white;
  border: 1px solid $white;
  transition: background $transition;
}

%button-lavender {
  @include button-lavender;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background: $ma-lavender;
  }
}

@mixin button-dark-blue($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $white;
  background: $ma-dark-blue;
  border: 1px solid $ma-dark-blue;
  transition: background $transition;

  a {
    color: $white;
  }
}

%button-dark-blue {
  @include button-dark-blue;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background: $ma-light-blue;
  }
}

@mixin button-flame($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $ma-flame;
  background: $white;
  border: 1px solid $white;
  transition: background $transition;
}

%button-flame {
  @include button-flame;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background: $ma-flame;
  }
}

@mixin button-flame2($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $white;
  background: $ma-flame;
  border: 1px solid $white;
  transition: background $transition;
}

%button-flame2 {
  @include button-flame2;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background: $ma-flame;
  }
}

@mixin button-flame3($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $white;
  background: $ma-flame;
  border: 1px solid $white;
  transition: background $transition;
}

%button-flame3 {
  @include button-flame2;

  &:hover,
  &:focus {
    text-decoration: none;
    background: $ma-dark-blue;
  }
}

@mixin button-aqua($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $ma-aqua;
  background: $white;
  border: 1px solid $white;
  transition: background $transition;
}

%button-aqua {
  @include button-aqua;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background: $ma-aqua;
  }
}

@mixin button-light-blue($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $ma-light-blue;
  background: $white;
  border: 1px solid $white;
  transition: background $transition;
}

%button-light-blue {
  @include button-light-blue;

  &:hover,
  &:focus {
    background: $ma-light-blue;
  }
}

@mixin button-light-blue2($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $white;
  background: $ma-light-blue;
  border: 1px solid $white;
  transition: background $transition;
}

%button-light-blue2 {
  @include button-light-blue2;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background: $ma-dark-blue;
  }
}

@mixin button-light($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $ma-light-blue;
  background: $white;
  border: 1px solid $white;
  transition: background $transition;
}

%button-light {
  @include button-light;

  &:hover,
  &:focus {
    background: $ma-light-gray;
  }
}

@mixin button-white($font-size: 18px, $padding: 0.7em 1.5em 0.5em) {
  background-clip: padding-box;
  font-family: $primary-font;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: $font-size;
  padding: $padding;
  margin: 0 0 0.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: normal;
  position: relative;
  color: $ma-dark-blue;
  background: $white;
  border: 1px solid $white;
  transition: background $transition;
}

%button-white {
  @include button-white;

  &:hover,
  &:focus {
    background: rgba($white, 0.8);
  }
}

%button-secondary--one {
  @extend %button-secondary;
  @include button-color($color-one);
}

%button-secondary--two {
  @extend %button-secondary;
  @include button-color($color-two);
}

%button-secondary--three {
  @extend %button-secondary;
  @include button-color($color-three);
}

%button-secondary--four {
  @extend %button-secondary;
  @include button-color($color-four);
}

%button-secondary--five {
  @extend %button-secondary;
  @include button-color($color-five);
}

%button-secondary--six {
  @extend %button-secondary;
  @include button-color($color-six);
}

// Modifier for a larger button
%button--large {
  @include button-primary(18px, 0.9rem 12rem 1rem);
  @include button-color($color-two);
}

%link-as-button {
  text-align: center !important;
  cursor: pointer;

  a {
    margin: 10px auto;
    @extend %button-primary--two;
  }
}

%link-as-button-secondary {
  text-align: center !important;
  cursor: pointer;

  a {
    margin: 10px auto;
    @extend %button-secondary;
  }
}

%rss-button {
  @include button-primary(13px, 8px 18px);
  @include button-color($color-six);
  float: left;
}
