// Utilities: Layout
@mixin content-container {
  max-width: calc(#{$content-width} + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

// Mixin to be applied to the parent container of a 2 column layout.
@mixin layout--2-column {

  @include breakpoint($tab-l) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  > * {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint($tab-l) {
      flex: 0 1 50%;
      margin-bottom: 3rem;
    }

    &:nth-child(2n+1) {

      @include breakpoint($tab-l) {
        padding-left: 1rem;
        padding-right: 2rem;
      }
    }

    &:nth-child(2n+2) {

      @include breakpoint($tab-l) {
        padding-left: 2rem;
        padding-right: 1rem;
      }
    }
  }
}
