// CTA Block styles.
.block-cta {

  .image {

    p {
      margin: 0;
    }
  }

  .field-name-field-cta-headline {
    font-size: 2em;
    text-transform: uppercase;

    @include breakpoint($tab-l) {
      font-size: 1.5em;
    }

    @include breakpoint($desk-full) {
      font-size: 2.75vw;
    }
  }

  .field-name-field-cta-description {
    margin: 0;

    @include breakpoint($tab-l) {
      font-size: 1em;
    }

    @include breakpoint($desk-full) {
      font-size: 1.25em;
    }

    @include breakpoint($desk-wide) {
      font-size: 1.5vw;
    }
  }

  .field-name-field-cta-link a {
    font-size: 1em;
    margin-left: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .ma_dark_blue {
    background: $ma-dark-blue;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_dark_blue_brand_pattern {
    background-color: $ma-dark-blue;
    background-image: url('../images/ma_dark_blue_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_dark_blue_push_pattern {
    background-color: $ma-dark-blue;
    background-image: url('../images/ma_dark_blue_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_light_blue {
    background: $ma-light-blue;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_light_blue_brand_pattern {
    background-color: $ma-light-blue;
    background-image: url('../images/ma_light_blue_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_light_blue_push_pattern {
    background-color: $ma-light-blue;
    background-image: url('../images/ma_light_blue_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_aqua {
    background: $ma-aqua;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_aqua_brand_pattern {
    background-color: $ma-aqua;
    background-image: url('../images/ma_aqua_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_aqua_push_pattern {
    background-color: $ma-aqua;
    background-image: url('../images/ma_aqua_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_lavender {
    background: $ma-lavender;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_lavender_brand_pattern {
    background-color: $ma-lavender;
    background-image: url('../images/ma_lavender_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_lavender_push_pattern {
    background-color: $ma-lavender;
    background-image: url('../images/ma_lavender_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_flame {
    background: $ma-flame;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_flame_brand_pattern {
    background-color: $ma-flame;
    background-image: url('../images/ma_flame_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_flame_push_pattern {
    background-color: $ma-flame;
    background-image: url('../images/ma_flame_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .white {
    background: $white;

    .field-name-field-cta-headline {
      color: $ma-flame;
    }

    .field-name-field-cta-description {
      color: $ma-dark-blue;
    }

    .field-name-field-cta-link a {
      @extend %button-primary--four;
    }
  }

  .ma_dark_gray {
    background: $ma-dark-gray;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_dark_gray_brand_pattern {
    background-color: $ma-dark-gray;
    background-image: url('../images/ma_dark_gray_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_dark_gray_push_pattern {
    background-color: $ma-dark-gray;
    background-image: url('../images/ma_dark_gray_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_gray {
    background: $ma-gray;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_gray_brand_pattern {
    background-color: $ma-gray;
    background-image: url('../images/ma_gray_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_gray_push_pattern {
    background-color: $ma-gray;
    background-image: url('../images/ma_gray_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_medium_gray {
    background: $ma-medium-gray;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_medium_gray_brand_pattern {
    background-color: $ma-medium-gray;
    background-image: url('../images/ma_medium_gray_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_medium_gray_push_pattern {
    background-color: $ma-medium-gray;
    background-image: url('../images/ma_medium_gray_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $white;
    }

    .field-name-field-cta-description {
      color: $white;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
    }
  }

  .ma_light_gray {
    background: $ma-light-gray;

    .field-name-field-cta-headline {
      color: $ma-flame;
    }

    .field-name-field-cta-description {
      color: $ma-dark-blue;
    }

    .field-name-field-cta-link a {
      @extend %button-primary--four;
    }
  }

  .ma_light_gray_brand_pattern {
    background-color: $ma-light-gray;
    background-image: url('../images/ma_light_gray_brand.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $ma-flame;
    }

    .field-name-field-cta-description {
      color: $ma-dark-blue;
    }

    .field-name-field-cta-link a {
      @extend %button-primary--four;
    }
  }

  .ma_light_gray_push_pattern {
    background-color: $ma-light-gray;
    background-image: url('../images/ma_light_gray_push.gif');
    background-size: 155px;

    .field-name-field-cta-headline {
      color: $ma-flame;
    }

    .field-name-field-cta-description {
      color: $ma-dark-blue;
    }

    .field-name-field-cta-link a {
      @extend %button-primary--four;
    }
  }


  .left {
    display: flex;
    flex-direction: column;
    line-height: 0;

    @include breakpoint($tab-l) {
      flex-direction: row;
    }

    .image {
      flex: 0 1 50%;
      order: 0;

      @include breakpoint($desk-full) {
        flex: 0 1 50%
      }

      .field-name-field-cta-image {
        float: unset;

        @include breakpoint($desk-full) {
          width: 100%;
        }
      }

      img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .text {
      display: flex;
      flex: 1 1 45%;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      padding: 2em;
      order: 1;

      @include breakpoint($tab-l) {
        line-height: 1;
        padding: 0 3em 0 1em;
      }

      @include breakpoint($desk-full) {
        padding: 4em 6em 4em 1em;
        justify-content: space-around;
      }

      @include breakpoint($desk-wide) {
        padding-right: 4em;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    line-height: 0;

    @include breakpoint($tab-l) {
      flex-direction: row;
    }

    .image {
      flex: 0 1 50%;
      order: 1;

      @include breakpoint($desk-full) {
        flex: 0 1 50%
      }

      .field-name-field-cta-image {
        float: unset;

        @include breakpoint($desk-full) {
          width: 100%;
        }
      }

      img {
        width: 100%;
      }
    }

    .text {
      display: flex;
      flex: 1 1 45%;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      order: 0;
      padding: 2em;

      @include breakpoint($tab-l) {
        line-height: 1;
        padding: 0 1em 0 3em;
      }

      @include breakpoint($desk-full) {
        justify-content: space-around;
        padding: 4em 1em 4em 6em;
      }

      @include breakpoint($desk-wide) {
        padding-right: 4em;
      }
    }
  }
}
