// Client Logos block
.client-logos-block {
  margin: 0 1em 1em;

  .slick-list {
    padding-top: 2em;

    @include breakpoint($tab-p) {
      padding-top: 0;
    }
  }
}

.client-logo-title {
  color: $ma-flame;
  font-size: 1.563em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.logos .slick-arrow {
  display: none !important;
}

