// These are styles for the icon that appears if
// there is no image

.field-node--field-pr-published-date {
  display: inline-block;
  padding-right: 0.25em;
}

.field-node--field-noimage {
  @include clearfix;
  margin-bottom: 0.5rem;
  position: relative;
  width: 100%;

  .field-name-field-pr-published-date {
    @include primary-font-heavy;
    color: $white;
    float: right;
    width: 50%;
  }
}

.teaser-date-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 0.25rem;
  position: absolute;
  right: 0;
  width: calc(50% - 4px);
  z-index: 2;
}

.teaser-month,
.teaser-date,
.teaser-year {
  @include primary-font-heavy;
  color: $white;
  flex: 0 0 auto;
  line-height: 0.9;
  text-align: center;
}

.teaser-month {
  text-transform: uppercase;
  font-size: 1.2em;
}

.teaser-date {
  font-size: 2.4em;
}

.teaser-year {
  font-size: 1.2em;
}

.teaser-noimage-background {
  display: flex;
}
