// Display mode - Page
//
// Styles pertaining to the page display mode type only.

.page-display-mode {
  display: flex;

  .teaser-title {
    @include heading5;
    margin-top: 0;
  }

  // Large display items that are not the same in medium and large displays.
  &[data-eq-state='large'] {

    .page-teaser-image {
      flex: 0 1 200px;
      min-width: 200px;
    }

    .page-wrapper {
      padding-left: 2em;
    }

    .field-name-field-teaser-text-short {
      display: none;
    }

    .field-name-field-teaser-text-long {
      display: block;
    }
  }

  // IMedium display items that are not the same in medium and large displays.
  &[data-eq-state='medium'] {

    .page-teaser-image {
      flex: 0 1 100px;
      min-width: 100px;
    }

    .page-wrapper {
      padding-left: 1em;
    }

    .field-name-field-teaser-text-short {
      display: none;
    }

    .field-name-field-teaser-text-long {
      display: block;
    }
  }

  // Small Page displays will show the short teaser text
  // and hide the long teaser text
  &[data-eq-state='small'] {

    .page-teaser-image {
      flex: 0 1 100px;
      min-width: 100px;
    }

    .page-wrapper {
      flex: 1 1 75%;
      padding-left: 1rem;
      font-size: 1.125rem;
      line-height: normal;
    }

    .field-name-field-teaser-text-short {
      display: block;
    }

    .field-name-field-teaser-text-long {
      display: none;
    }
  }
}
