// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

//Landing page styles
.landing .l-footer {
  display: none;
}

/*.landing .header-top {
  border-bottom: 0;
}*/

.landing .header-top .block-secondarymenu-wrapper {
  margin: 1em 0 0 80%;
}

.landing .header-top .block-secondarymenu-wrapper ul {
  display: block;
  text-align: right;
  margin-right: 0;
}

.landing .header-top .block-secondarymenu-wrapper ul li:nth-child(1),
.landing .header-top .block-secondarymenu-wrapper ul li:nth-child(2),
.landing .header-top .block-secondarymenu-wrapper ul li:nth-child(3) {
  display: none;
}
