.node-category-type {
  text-transform: uppercase;
  font-size: 0.8em;
  color: $color-eight;

  :lang(ja) & {
    font-size: 14px;
  }
}

.l-full-content .node-category-type {
  margin-bottom: 0;
}

.dk_gray {
  background: $ma-dark-gray;
  color: $white;
  padding: 1em 1em 0;
  margin-bottom: 1em;
}

.dk_gray a {
  color: $ma-light-blue;
}

.lt_gray {
  background: $ma-light-gray;
  color: $black;
  padding: 1em 1em 0;
  margin-bottom: 1em;
}

.lt_gray a {
  color: $ma-light-blue;
}

.dk_blue {
  background: $ma-dark-blue;
  color: $white;
  padding: 1em 1em 0;
  margin-bottom: 1em;
}

.dk_blue a {
  color: $ma-light-blue;
}

.field-node--field-body img {
  float: left;
  padding:1em 1em 1em 0;
}

.region-content-main {

  .button-primary--four a {
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }

  .subtitle {
    color: $color-eight;
    margin-top: 0;
    font-size: 1.25em;
  }

  .field-node--field-teaser-image {
    margin-bottom: 1rem;
  }
}

.button-link {
  margin: 1em 0;

  a {
    @include primary-font-heavy;
    background-color: $color-four;
    border-radius: 1rem;
    color: $white;
    padding: 0.5rem 2rem;
  }
}

.button-link a:hover {
  background-color: darken($color-four, 15%);
  text-decoration: none;
}

.content-buttons {
  clear: both;

  > a {
    margin-right: 1rem;
  }

  a {

    @include breakpoint($max-tab-p) {
      display: block;
      width: 100%;
    }
  }
}

.anchor-wrapper {

  &:link,
  &:visited {
    color: $black;
    text-decoration: none;
  }
}

.node--type-article,
.node--type-webinar,
.node--type-press-release,
.node--type-page,
.node--type-event {

  > .display-mode[data-eq-state='medium'],
  > .display-mode[data-eq-state='medium-large'],
  > .display-mode[data-eq-state='large'] {
    border-top: 1px solid $color-nine;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.node--view-mode-block_1_column .teaser-title,
.node--view-mode-block_2_column .teaser-title,
.node--view-mode-block_2_columns .teaser-title,
.node--view-mode-block_3_column .teaser-title,
.node--view-mode-block_3_columns .teaser-title {
    @include heading5;
    margin-top:0;
}

.field-node--field-body {
  margin-bottom: 1rem;
}

a.locked::before {
  @include fa;
  content: $fa-lock;
}

.body-intro-title {
  @include heading3;
  width: 100%;
}

.field-top {
  margin-top: 1rem;
}
