.gate-passed-message {
  margin-bottom: 1em;
  padding: 15px 20px 15px 35px;
  background-image: url('../../../../core/misc/icons/73b355/check.svg');
  box-shadow: -8px 0 0 #77B259;
  background-repeat: no-repeat;
  background-position: 10px 17px;
  color: #325E1C;
  background-color: #F3FAEF;
  border-color: #C9E1BD #C9E1BD #C9E1BD transparent;

  p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .button-primary--two {
    margin-left: 1em;
    margin-bottom: 0;
  }
}
