//////////////////////////////////
///////    MENU FOR MOBILE
//////////////////////////////////
.region-header-primary-menu {
  display: none;
}

.menu-toggle {
  display: block;
  float: left;
  line-height: 1;
  margin-top: 8px;

  .mobile-menu-label {
    font-size: 0;
    color: $ma-dark-blue;
  }

  a {
    position: absolute;
    display: block;
    height: 44px;
    width: 44px;
  }

  a::before {
    @include fa;
    content: '\f0c9';
    color: $ma-dark-blue;
    font-size: 24px;
  }

  @include breakpoint($min-desk) {
    display: none;
  }
}

a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}

.site-logo {
  margin: 0.4rem auto 0;
  width: 175px;
  height: 45px;
  font-size: 0;

  @include breakpoint($min-tab-p) {
    width: 193px;
    height: 50px;
  }

  @include breakpoint($min-desk) {
    float: left;
    height: 50px;
    margin: 0;
    transition: height $transition, width $transition;
    width: 250px;

    .ma-sticky-header & {
      width: 210px;
      height: 42px;
    }
  }

  a {
    text-indent: -100%;
    font-size: 0;
  }

  svg {
    float: left;
    width: 175px;
    height: 100%;

    @include breakpoint($min-desk) {
      float: left;
      width: 250px;
    }
  }

  svg .a {
    fill: $ma-dark-blue;
  }
}

.phone-icon {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  display: block;
  width: 44px;
  height: 44px;
  background-image: url('../images/icon-mobilephone.png');
  background-repeat: no-repeat;
  background-size: 36% auto;
  background-position: 20px 0;

  span {
    color: $ma-dark-blue;
    font-size: 0;
  }
}

.header-top {
  background: $white;
  color: $ma-dark-blue;
}

.header-bottom {
  background: $ma-dark-blue;
}

.top-navigation-mobile {

  .menu-item--expanded.top-item {
    display: block;
    overflow: hidden;
    margin: 0;
    padding-top: 0;

    > a {
      display: block;
      overflow: hidden;
      padding: 0.6rem 0.6rem;
      cursor: pointer;

      &:first-child {
        color: $white;
        font-size: inherit !important;
        padding: 1.2rem 1rem 1rem;
        text-transform: uppercase;
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .menu.open {
    background: $ma-light-gray;
    border-top: 5px solid $white;

    .menu-item--expanded a:hover,
    .menu-item--expanded a:focus {
      text-decoration: none;
      background: $ma-light-gray;
    }
  }
}

.region-header-mobile-menu,
.region-header-mobile-menu-landing {
  clear: both;
  transition: all $transition;

  @include breakpoint($min-desk) {
    display: none;
  }
}

.region-header-mobile-menu,
.region-header-mobile-menu-landing {
  overflow: hidden;
  max-height: 0;
}

.region-header-mobile-menu.active,
.region-header-mobile-menu-landing.active {
  max-height: 122em;
  margin: 0;
}

.region-header-mobile-menu ul,
.region-header-mobile-menu-landing ul {
  margin: 0;
  padding: 0;
}

.region-header-mobile-menu li a,
.region-header-mobile-menu-landing li a {
  display: block;
  padding: 0.8em;
}

// Block that appears when you click on the phone icon on mobile. //

#block-mobilephoneblock {
  position: relative;
  display: none;
  padding: 2px 16px 14px;
  z-index: 9999999;
  line-height: normal;
  color: $white;
  background-color: $ma-dark-blue;
  border-top: 3px solid$white;
  font-size: 11px;
  line-height: normal;

  :lang(ja) & {
    font-size: 14px;
  }

  &.open {
    display: block;

    @include breakpoint($min-desk) {
      display: none;
    }
  }

  @include breakpoint($min-desk) {
    display: none;
  }

  .heading {
    line-height: normal;
    margin-bottom: 0;
    color: $white;
    margin-bottom: 2px;
  }

  .text-align-center a {
    background: $ma-light-blue;
    border-radius: 0.65rem;
    display: block;
    margin: 0 auto;
    padding: 7px 25px;

    &:hover {
      color: $color-nine;
      text-decoration: none;
    }
  }

  .mobile-buttons {
    clear: both;
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;

    p {
      margin-bottom: 0;
    }

    a {
      color: $white;
    }
  }

  a {
    color: $white;

    &:hover {
      color: $ma-flame;
    }
  }

  .field-block-content--body .field-item {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .left {
    flex: 1 1 50%;
    padding-right: 10px;

    .text-align-center {
      margin-left: -2px;
      padding-top: 12px;
      padding-right: 22px;
      white-space: nowrap;
    }
  }

  .right {
    flex: 0 1 auto;
    padding-left: 10px;

    p {
      text-align: right;
    }

    .text-align-center {

      @include breakpoint($phone-l) {
        margin-left: 0;
        padding-top: 12px;
        white-space: nowrap;
      }
    }
  }
}

// Mobile Menu First Level //
.top-navigation-mobile ul.menu {

  > li > a {
    position: relative;
  }

  > li > a::after {
    content: url('../images/menu-arrow-white.svg');
    position: absolute;
    right: 20px;
    height: 12px;
  }

  > li.open > a::after {
    content: url('../images/menu-arrow-white.svg');
    transform: rotate(90deg);
    right: 15px
  }
}

// Mobile Menu Second Level.
.top-navigation-mobile ul.menu .menu {

  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  background: $ma-light-gray;
  max-height: 300px;
  overflow-y: scroll;

  > li > a::after {
    content: url('../images/menu-arrow-blue.svg');
    position: absolute;
    height: 12px;
  }

  > li > a:only-child::after {
    content: '';
  }

  li a,
  li a:hover {
    color: $ma-dark-blue;
  }
}

// Mobile Menu Third Level.
.top-navigation-mobile ul.menu .menu .menu {
  border: none;
  background: $white;

  > li > a::after {
    content: '';
  }

  li a,
  li a:hover {
    color: $ma-dark-blue;
  }
}

// Mobile Menu Footer Nav in Header //
.region-header-mobile-menu .block-secondarymenu-wrapper,
.region-header-mobile-menu-landing .block-secondarymenu-wrapper {
  margin: 0;

  .menu {
    display: block;
    margin-right: 0;

    .menu-item {
      display: block;
      margin-right: 0;
      padding: 0;
      background: $ma-light-gray;
      text-transform: none;

      a {
        padding: 0.5rem 0.8rem;
        text-align: left;
        color: $ma-dark-blue;
      }
    }
  }
}

// Styles for the India Mobile Menu.
:lang(en-in){

  .top-navigation-mobile .top-item > a {
    padding: 1.2rem 1rem 1rem;
    color: $white;
    text-transform: uppercase;
  }
}

// Styles for the mobile menu logo.
@include breakpoint($max-desk) {

  .header-top-inner a[rel='home'] {
    display: block;
    max-width: 193px;
    max-height: 50px;
    overflow: hidden;
    margin: 0 auto;
  }
}
