@include breakpoint($min-desk) {

  .menu-toggle,
  .phone-icon {
    display: none;
  }

  .region-header-primary-menu {
    display: block;
    width: 100%;
    clear: both;
  }

  .top-items {

    ul li.menu-item {
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 0.03rem;
      padding-top: 0;
      white-space: nowrap;

      a {
        padding: 1.25rem 1rem 1rem;
        transition: padding $transition;

        .ma-sticky-header & {
          padding-bottom: 0.375rem;
          padding-top: 0.375rem;
        }
      }
    }
  }

  .region-header-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    padding-left: 250px;
    white-space: nowrap;
    width: 100%;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    ul.menu  {

      li {
        padding: 0;

        .menu li {
          display: inline;
        }
      }
    }

    .block {
      float: right;
    }
  }

  .region-header-site-selector {
    float: right;
    clear: right;
  }

  .node--type-page-header {

    h2 {
      position: absolute;
      color: $white;
      left: 2em;
      top: 2.3em;

      a {
        color: $white;
      }
    }

    .button-link {
      position: absolute;
      bottom: 3em;
      left: 2em;
    }

    .field-node--field-section-text {
      position: absolute;
      color: $white;
      text-transform: uppercase;
      top: 3em;
      left: 3em;
    }
  }

  .header-top {
    background: $white;
    border-bottom: 1px solid $ma-dark-blue;
    height: 114px;
    padding: 24px 3em 11px;
    position: relative;
    transition: height $transition, padding $transition;

    .ma-sticky-header & {
      height: 56px;
      padding-bottom: 0.625rem;
      padding-top: 0.625rem;
      overflow: hidden;
    }
  }

  .header-bottom {
    background: $white;
    border-bottom: 1px solid $ma-dark-blue;
    margin-top: 0 3em;
  }

  .l-header {

    ul.menu li > a {
      color: $ma-dark-blue;

      &:hover,
      &.active {
        text-decoration: none;
        color: $ma-gray;
      }

      &:focus {
        text-decoration: none;
      }
    }

    .sub-items .menu ul li.menu-item--expanded {
      font-weight: bold;
      font-size: 0.9em;
      padding-top:0.5em;
    }

    a {
      color: $ma-gray;
    }

    .menu + .menu .menu-item--expanded {

      > a {
        font-weight: normal;
      }
    }
  }

  .header-bottom-inner {

    a {
      display: inline-block;
      background: transparent;
      width: 100%;

      &.active,
      &:hover {
        background: $color-ten;
        color: $color-eight;
        text-decoration: none;
      }
    }

    ul.menu {
      display: flex;
      justify-content: space-between;

      ul.menu {
        display: block;

        li {
          display: block;
          text-align: left;
          text-transform: none;
        }
      }
    }

    ul.menu li.menu-item {

      &:nth-child(3) {
        float: none;
      }
    }
  }

// Primary Navigation Drawers.
  .sub-items {
    background: $color-ten;
    z-index: 100;
    width: 100%;
    white-space: nowrap;

    a {
      padding: 1rem;
    }

    a.nav-drawer-close {
      padding:0.5rem 1rem 1rem;
    }

    .top-nav-content-link {
      padding: 0 0 1rem 0;
    }

    .top-nav-banner-link {
      padding: 0 1rem 0 0;
    }

    .menu .menu-item {
      flex: 1 1 18%;
      margin: 0;
      max-width: 98%;
      padding-top: 0;
     // text-align: center;

      a {
        color: $ma-light-blue;
        padding: 0.1rem 0;
        font-size: 0.9em;
      }
    }

    .sub-item {
      vertical-align: top;
      overflow: hidden;

      > ul.menu {
        padding: 1rem;
      }


      .top-nav-section {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        padding-left: 1rem;
        white-space: normal;
        justify-content:space-around;
      }

      .column {
        width: 25%;
        margin-right: 1rem;

        ul li ul li ul {
          font-size: 0.9em;
        }

        ul li ul li ul li a {
          width:85%;
          padding-left:25px;
        }

        ul li ul li ul li::before {
          content: '\00BB \0020';
          color:#002856;
          padding-left:10px;
          position:absolute;
        }
      }

      .divider-right {
        border-right: 1px solid;
      }
    }
  }

  .top-nav-content {

    .top-nav-content-teaserimg {
      max-width: 100px;
      float: left;
      clear: left;
    }

    .top-nav-content-wrapper {
      margin-left: 120px;
      display: block;
    }

    .teaser-title {
      @include primary-font-heavy;
      color: $ma-dark-blue;
      font-size: 0.8em !important;
    }

    .teaser-text {
      color: $ma-gray;
      font-size: 0.7em;
      display:none;
    }

    .node-category-type {
      font-size: 0.7em;

      :lang(ja) & {
        font-size: 14px;
      }
    }
  }

  .nav-drawer-close {
    color: transparent;
    text-align: center;

    span {
      display: none;
    }
  }

  .nav-drawer-close::before {
    @include fa;
    content: $fa-caret-up;
    background-color: $color-one;
    color: $white;
    cursor: pointer;
    width: 2rem;
    border-radius: 3px;
    font-size: 1.8rem;
    line-height: 1;
  }

  .menu-item--expanded > a,
  .menu-item--unlinked {
    @include primary-font-heavy;
    color: $color-seven;
    text-align: left;
    text-transform: none;
  }

  .menu-item--expanded ul .menu-item--expanded > a {
    font-family: $primary-font;
  }
}

#name-and-slogan {
  background-color: transparent;
  padding: 1rem;

  @include breakpoint($min-desk) {
    padding: 0;
    position: absolute;
    top: 42px;
    transition: top $transition;
    width: 250px;
    z-index: 200;

    .ma-sticky-header & {
      top: 7px;
      width: 210px;
    }
  }
}



/*** Styles for India Primary Menu ***/
// Menu in that it does not have the nav drawer and
// thus has to be styled differently
@include breakpoint($min-desk) {

  .block-primarynavigation {

    ul li.menu-item {
      text-transform: uppercase;
      letter-spacing: 0.03rem;
      padding-top: 0;
      white-space: nowrap;

      a {
        padding: 1.25rem 1rem 1rem;
      }
    }
  }
}

// Landing page overrides
.landing {

  .node--type-page .main-column {
    margin-top: 1rem;
  }

  .region-header-landing-page {
    display: none;

    @include breakpoint($min-desk) {
      display: block;
    }
  }

  .header-bottom-inner {
    display: block;

    @include breakpoint($min-desk) {
      display: block;
    }
  }
}

.l-header {
  border-bottom: 1px solid $ma-dark-blue;
  height: 83px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: height $transition;
  width: 100%;
  // Just under the Admin Toolbar initially.
  z-index: 500;

  .toolbar-horizontal &,
  .toolbar-vertical & {
    top: 39px;
  }

  .toolbar-horizontal.toolbar-tray-open & {
    top: 79px;
  }

  .ma-sticky-header & {
    z-index: map-get($zindex, header);

    @include breakpoint($desk) {
      height: 94px;
    }
  }

  @include breakpoint($desk) {
    border-bottom: 0;
    height: 176px;
  }
}
