// Language specific header navigation //
#block-headernavigationen,
#block-headernavigationenau,
#block-headernavigationennl,
#block-headernavigationnlnl,
#block-headernavigationes,
#block-headernavigationfrfr,
#block-headernavigationzhcn,
#block-headernavigationjajp,
#block-headernavigationengb,
#block-headernavigationenza,
#block-headernavigationeses,
#block-headernavigationthth,
#block-headernavigationenae,
#block-headernavigationenid,
#block-headernavigationitit,
#block-headernavigationnlbe,
#block-headernavigationenhk,
#block-headernavigationennz,
#block-headernavigationnono,
#block-headernavigationensg,
#block-headernavigationespa,
#block-headernavigationhuhu,
#block-headernavigationisis,
#block-headernavigationmsmy,
#block-headernavigationplpl,
#block-headernavigationroro,
#block-headernavigationsvse,
#block-headernavigationruru,
#block-headernavigationfifi,
#block-headernavigationdede,
#block-headernavigationptpt,
#block-headernavigationptbr,
#block-headernavigationfull {
  position: relative;
  display: none;

  @include breakpoint($desk) {
    display: block;
    flex: 1 1 100%;

    &:hover .menu li .menu {
      display: block;
    }

    h2 {
      display: none;
    }

    li {
      background: transparent;

      &:not(.menu-item--contact) {

        a {
          transition: opacity $transition, transform $transition;

          &:not([href*='tel:']) {

            .ma-sticky-header & {
              opacity: 0;
            }
          }
        }
      }

      a {
        font-size: 0.8em;
        color: $ma-dark-blue;
        margin-left: 20px;
        text-transform: uppercase;

        :lang(ja) & {
          font-size: 14px;
        }

        &:hover {
          color: $color-four;
          text-decoration: none;
        }

        &[href*='tel:'] {
          color: $ma-flame;

          .ma-sticky-header & {
            display: inline-block;
            transform: translate(60px, -5px);
          }
        }
      }

      &:hover .menu {
        background: rgb(88, 36, 36);
        border-radius: 22px;
        box-shadow: 0 0 9px 0 rgba(50, 50, 50, 0.75);
        visibility: visible;
      }

      .button-primary--four {

        :lang(ja) & {
          margin-bottom: 0.3em;
        }
      }
    }

    .menu {

      li .menu {
        top: 10px;
        list-style: none;
        margin: 0;
        max-width: 185px;
        position: absolute;
        padding: 24px 10px 0 26px;
        margin-left: -20px;
        visibility: hidden;
        z-index: 300;

        a {
          font-size: 0.7em;
          background-image: none;
          line-height: normal;
          padding-right: 0;
          text-align: left;
        }
      }
    }
  }
}


#block-contactusblock {
  display: none;

  @include breakpoint($desk) {
    display: block;
    position: relative;
    z-index: 1000;
  }

  .trigger {
    display: none;
  }
}

.arrow-down-icon {
  display: none;

  @include breakpoint($desk) {
    display: block;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1001;
    width: 22px;
    height: 24px;
    background-image: url('/themes/manh/styles/images/arrow.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
  }
}

.arrow-content {
  display: none;

  @include breakpoint($desk) {
    position: absolute;
    display: none;
    z-index: 1000;
    padding: 0 16px 14px 17px;
    line-height: normal;
    font-size: 0.8rem;
    line-height: normal;
    border-radius: 22px;
    box-shadow: 0 0 9px 0 rgba(50, 50, 50, 0.75);
    background: $white;
    color: $black;
    top: -18px;
    right: -14px;
    width: auto;

    &.open {
      display: block;
    }

    .heading {
      font-size: 1.2em;
      line-height: normal;
      font-weight: normal;
      color: $ma-dark-blue;
      margin: 19px 30px 2px 0;
    }

    a {
      color: $ma-dark-blue;
    }
  }
}

/*** Position White Contact Block
to align with the Menu item beneath it
based on a specific language ***/
.arrow-content {

  :lang(en) & {
    right: -11px;
  }

  :lang(en-au) & {
    right: -13px;
  }

  :lang(en-gb) & {
    right: -13px;
  }

  :lang(en-nl) & {
    right: -11px;
  }

  :lang(en-ph) & {
    right: -11px;
  }

  :lang(es) & {
    right: -21px;
  }

  :lang(fr) & {
    right: -5px;
  }

  :lang(ja) & {
    right: -5px;
  }

  :lang(nl) & {
    right: -45px;
  }

  :lang(zh-hans) & {
    right: -24px;
  }

  :lang(en-sg) & {
    right: -13px;
  }

  :lang(en-hk) & {
    right: -13px;
  }

  :lang(en-nz) & {
    right: -13px;
  }

  :lang(en-za) & {
    right: -13px;
  }

  :lang(en-id) & {
    right: -13px;
  }

  :lang(en-ae) & {
    right: -13px;
  }

  :lang(hu) & {
    right: -13px;
  }

  :lang(is) & {
    right: -13px;
  }

  :lang(ms-my) & {
    right: -13px;
  }

  :lang(pl) & {
    right: -13px;
  }

  :lang(ro) & {
    right: -13px;
  }

  :lang(es-es) & {
    right: -20px;
  }

  :lang(es-pa) & {
    right: -20px;
  }

  :lang(sv) & {
    right: -13px;
  }

  :lang(th) & {
    right: -26px;
  }

  :lang(ru) & {
    right: -13px;
  }

  :lang(it) & {
    right: -22px;
  }

  :lang(nl-be) & {
    right: -44px;
  }

  :lang(fi) & {
    right: -13px;
  }

  :lang(de) & {
    right: -13px;
  }

  :lang(nb) & {
    right: -26px;
  }

  :lang(pt-pt) & {
    right: -13px;
  }

  :lang(pt-br) & {
    right: -13px;
  }

}

.search {
  visibility: hidden;
  margin: 0 !important;
  font-size: 0 !important;
}

.search::before {
  content: '';
  display: block;
  background: url('../images/search.png') no-repeat;
  width: 21px;
  height: 20px;
  float: left;
  margin-left: 20px;
  margin-top: 3px;
  visibility: visible;
}

.search:hover::before {
  content: '';
  display: block;
  background: url('../images/search_flame.png') no-repeat;
  width: 21px;
  height: 20px;
  float: left;
  margin-left: 20px;
  margin-top: 3px;
  visibility: visible;
}
