.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"],
.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] {
  display: inline-block;
  margin-bottom: 95px !important;
  font-size: 18px !important;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] {
  max-width: none !important;

  @media (min-width: 751px) {
    display: flex;
    flex-flow: row wrap;
  }
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_title {
  font-size: 1.563em !important;
  line-height: 1.3em !important;
  font-family: "AvenirLTStd-Heavy","Arial",sans-serif;
  font-weight: 100;
  margin: 0.8rem 0 0.4rem;
  color: #00447b;
  text-align: left !important;
  border-bottom: 0 !important;

  @media (min-width: 751px) {
    flex: 0 0 100%;
  }
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] {
  width: 100%;
  max-width: none;
  padding: 0 !important;

  @media (min-width: 768px) {
    max-width: 350px;
  }
}

.RTP_RCMD2 .rtp_rcmd2_title {
  max-width: none !important;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_item {

  @media (min-width: 751px) {
    flex: 0 0 33.33%;
  }
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_item {
  max-width: none !important;
  margin-right: 0 !important;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    max-width: 350px;
  }
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_item_inner {
  width: 95% !important;
  height: 100%;
  background-color: transparent !important;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_img_container {
  height: auto !important;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_img_container {
  height: auto !important;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_content_container {
  padding: 0 !important;
}

.rtp_rcmd2_label_container {
  height: auto !important;
  background-color: $white;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_description_container {
  height: auto !important;
  overflow: auto !important;
  background-color: $white;
  padding-bottom: 1rem;
  margin-bottom: 0 !important;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_description_container {
  background-color: $white;
  margin: 0 !important;
  padding-bottom: 1rem;
  overflow: auto !important;
  max-height: none!important;
  -webkit-line-clamp: unset !important;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_label h4 {
  font-size: 20px !important;
  line-height: 1.3em !important;
  font-family: "AvenirLTStd-Heavy", "Arial", sans-serif;
  font-weight: 100;
  margin: 0.7rem 0 0.3rem !important;
  color: #00447b !important;
  margin-top: 0 !important;
  text-align: left;
  max-height: none !important;
  background-color: $white;
  padding: 1rem 0;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_label a {
  font-size: 1.25em !important;
  line-height: 1.3em !important;
  font-family: "AvenirLTStd-Heavy","Arial",sans-serif !important;
  font-weight: normal;
  text-transform: none;
  margin: 0.7rem 0 0.3rem !important;
  color: #00447b !important;
  margin-top: 0 !important;
  max-height: none !important;
  background-color: $white;
}

.rtp_rcmd2_description > p,
.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_description {
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 100;
  text-align: left;
  color: $black;
  margin-bottom: 0;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_link_container,
.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_link_container {
  height: auto !important;
  overflow: auto !important;
  padding-top: 0 !important;
  padding-bottom: 15px !important;
  margin-bottom: 0!important;
  text-align: left !important;
  background-color: $white;
}

.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_link_container a,
.RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_link_container a {
  display: block;
  background-color: #0069aa !important;
  padding: 0 !important;
  width: 50%;
  text-align: center;
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px !important;
}

// custom layout for phone landscape and tablet portrait
@media (min-width: 540px) and (max-width: 751px){

  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] {
    max-width: none !important;
  }

  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_item,
  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_item {
    display: inline-block;
    width: 100% !important;
    max-width: none !important;
    margin-bottom: 60px;
  }

  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_img_container,
  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_img_container {
    width: 40%;
    float: left;
    margin-right: 10px;
  }

  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_content_container
  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_content_container {
    width: 55%;
    float: left;
  }

  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_label h4 {
    padding-top: 0!important;
  }

  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_1"] .rtp_rcmd2_link_container a,
  .RTP_RCMD2 [data-rtp-id="rtp_rcmd2_tpl_2"] .rtp_rcmd2_link_container a {
    float: right;
  }
}
