$fa-var-search: '\f002';

.region-header-site-selector .search-block-form,
.region-header-secondary .search-block-form {
  display: none;

  h2 {
    display: none;
  }

  @include breakpoint($desk) {
    display: inline-block;
    position: relative;

    .form-actions input {
      margin-top: 15px !important;
    }
  }

  .form-item {
    margin: 0;
  }

  .form-type-search {
    width: 100%;
    display: block;

    input[type='search'] {
      width: 190px;
      border: 1px solid $ma-dark-blue;
    }
  }

  .form-actions {
    position: absolute;
    top: 25px;
    right: 5px;

    input {
      width: 55px;
      height: 21px;
      margin-top: 1px;
      padding: 0;
      text-indent: -999%;
      background-image: url('/themes/manh/styles/images/search_sm.png');
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 80% 50%;

      &::before {
        @include fa;
        @include icon-flip(-1, 1);
        content: $fa-var-search;
        color: $color-eight;
        width: 35px;
        height: 35px;
        display: block;
        position: absolute;
        right: 0;
        top: 12px;
        font-size: 1em;
        text-indent: 5px;
        z-index: 99999;
      }
    }
  }

  input {
    padding: 10px;
    display: inline-block;
    line-height: 1.2;
    font-size: 0.8em;
    float: right;
    margin-top: 5px;
    background-color: $white;
    width: 30px;
    height: 30px;
    color: $color-eight;
    border: 0;

    :lang(ja) & {
      font-size: 14px;
    }
  }

  .trigger {
    left: 25px;
    border-radius: 0;
  }
}

.region-header-site-selector .search-block-form form,
.region-header-secondary .search-block-form {
  display: none;
  position: relative;
  z-index: 300;
  background: transparent;
  background-image: $fa-var-search;
  overflow: hidden;
  float: right;

  @include breakpoint($desk) {
    display: block;

    .form-actions {
      text-indent: -100%;
      font-size: 0;
      position: absolute;
      width: 40px;
      height: 40px;
      display: block;
      top: -5px;
      right: 10px;
      z-index: 2;

      &::before {
        @include fa;
        @include icon-flip(-1, 1);
        color: $color-eight;
        width: 35px;
        height: 35px;
        display: block;
        position: absolute;
        right: 0;
        top: 12px;
        font-size: 1em;
        text-indent: 5px;
        z-index: 999999;
      }
    }
  }
}

.region-header-secondary #block-manh-search {
  @include breakpoint($desk) {
    display: block;
    transition: transform $transition;

    .ma-sticky-header & {
      transform: translate(-155px, -46px);
    }
  }
}

// Mobile Menu Search Field //
.region-header-mobile-menu .search-block-form:not(form),
.region-header-mobile-menu-landing .search-block-form {
  text-align: center;
  margin: 1.5rem 0 1rem;
  padding: 0 0.75rem;

  input.form-search {
    width: 100%;
    background-image: url('/themes/manh/styles/images/search_sm.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: none;
    line-height: normal;
  }

  input.button {
    display: none;
  }
}
