// Syles for secondary navigation.

.secondarymenu {
  margin-top: 1rem;

  .menu-item--active-trail a {
    color: $ma-gray;
  }

  a:hover,
  a.active {
    color: $ma-gray;
    text-decoration: none;
  }
}


// These are the styles for the secondary nav that is not in the header
.secondarymenu-level-wrapper {

  .menu-item {
    text-align: center;
  }

  .level-1 {

    a:link,
    a:visited {
      display: block;
      color: $white;
      padding: 0.75rem;
    }

    .menu-item--active-trail {
      background: $ma-light-gray;
      border-bottom: 1px dotted $white;

      a {
        color: $ma-dark-blue;
      }
    }
  }

  .level-2 {

    a:link {
      display: block;
      color: $ma-dark-blue;
      padding: 0.75rem;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      display: block;
      color: $ma-dark-blue;
      text-decoration: underline;
    }

    a:visited {
      color: $ma-dark-blue;
    }

    .menu-item--active-trail {

      a {
        color: $ma-gray;
        text-decoration: none;
      }
    }
  }
}

// Styles for the secondary menu list items
.secondarymenu-level-wrapper .menu-item {
  text-transform: uppercase;
  margin-right: 0.25rem;
  @include font-size(14px);
}

// Styles for the first level of the secondary menu
.secondarymenu-level-wrapper.level-1 {
  margin-top: 1rem;
  border-bottom: 2px solid $ma-dark-blue;
}

.secondarymenu-level-wrapper.level-1 .level-1 {
  background: transparent;
  max-width: 960px;
  margin: 0 auto;
  white-space: nowrap;

  .menu-item {
    display: inline-block;
    padding-top: 0;
    @include font-size(11px);

    a:link,
    a:visited {
      background: $ma-dark-blue;
      padding: 0.5rem;
      display: inline-block;
    }

    &.menu-item--active-trail {
      border-bottom: none;
    }

    &.menu-item--active-trail a {
      background-color: $ma-light-gray;
      color: $ma-gray;

      &:link {
        display: block;
        color: $ma-dark-blue;
        text-decoration: none;
      }

      &:hover,
      &:focus {
        display: block;
      }

      &:visited {
        color: $ma-dark-blue;
      }
    }
  }

  .more-link a::after {
    display: inline-block;
    font-family: fontawesome;
    content: $fa-caret-up;
    padding-right: 0.25rem;
    transform: rotate(-180deg);
  }
}

// Styles for the second level of the secondary menu
.secondarymenu-level-wrapper.level-2 {
  background-color: $ma-light-gray;
  margin-top: -3px;

  > .level-2 {
    max-width: 960px;
    margin: 0 auto;
  }

  .menu-item {
    display: block;
    text-align: left;
    border-bottom: 1px solid $white;
    padding: 0.5rem;

    @include breakpoint($min-desk) {
      display: inline-block;
      padding: 0;
      border-bottom: none;
    }
  }

  a:link,
  a:visited {
    display: inline-block;
    padding: 0;

    @include breakpoint($min-desk) {
      padding: 0.5rem;
    }

    a:link,
    a:visited {
      display: inline-block;
      width: 100%;
      padding: 0.5rem;
      border-bottom: 1px solid $white;
      background: $ma-dark-blue;
    }
  }
}

// Styles for the links underneath the "MORE" link
.secondarymenu-responsive {
  display: none;

  &.active {
    display: block;
    background-color: $ma-light-gray;
    margin-top: -2px;
  }

  @include breakpoint($min-desk) {
    width: 500%;
    margin-left: -200%;
  }

  > .level-1 {
    max-width: 960px;
    margin: 0 auto;

    > .menu-item {
      display: block;
      padding: 0.5rem;
      text-transform: uppercase;
      border-bottom: 1px solid $white;
      @include font-size(14px);

      a {
        color: $ma-dark-blue;
      }

      &.menu-item--active-trail a {
        color: $ma-gray;
      }
    }
  }
}

// Hide specific links at different breakpoints
.secondarymenu-level-wrapper .level-1.menu {

  > .menu-item {
    display: none;
  }

  > .menu-item:last-of-type {
    display: inline-block;
  }

  > .menu-item--active-trail {
    display: inline-block;
  }

  @include breakpoint($phone-l) {

    > .menu-item:nth-child(-n + 2) {
      display: none;
    }

    > .menu-item:last-of-type {
      display: inline-block;
    }

    > .menu-item.menu-item--active-trail {
      display: inline-block;
    }
  }

  @include breakpoint($tab-p) {

    > .menu-item:nth-child(-n + 4) {
      display: inline-block;
    }
  }

  a:link,
  a:visited {
    display: inline-block;
    padding: 0;

    @include breakpoint($min-desk) {
      padding: 0.5rem;

      > .menu-item:last-of-type {
        display: inline-block;
      }

      > .menu-item.menu-item--active-trail {
        display: inline-block;
      }
    }
  }

  @include breakpoint($tab-l) {

    > .menu-item:nth-child(-n + 5) {
      display: inline-block;
    }

    > .menu-item:last-of-type {
      display: inline-block;
    }
  }

  @include breakpoint($min-desk) {

    > .menu-item:nth-child(-n + 12) {
      display: inline-block;
    }
  }
}

// Make links smaller in the Resources menu
.path-resources .secondarymenu-level-wrapper .menu-item {

  @include breakpoint($min-desk){
    @include font-size(12px);
  }
}
