.solutions {
  display: flex;
  flex-direction: column;

  @include breakpoint($tab-p) {
      flex-direction: row;
  }
}

.solutions .col-1,
.solutions .col-2,
.solutions .col-3 {
  flex: 1 1 30%;
  position: relative;
}

.solutions-content {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  padding: 1em 0;

  @include breakpoint($tab-p) {
    padding: 0.5em 0;
    justify-content: flex-end;
  }

  @include breakpoint($desk-full) {
    padding: 1em 0;
    justify-content: flex-end;
  }
}

.solutions-content:hover {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  padding: 1em 0;

  @include breakpoint($tab-p) {
    padding: 0.5em 0;
  }

  @include breakpoint($desk-full) {
    padding: 1em 0;
  }
}

.solutions .ma-dark-blue {
    text-align: center;
    background: $ma-dark-blue;
    color: $white;

    .link a {
      @extend %button-light;
      margin: 0 auto;
    }

    .link span:hover,
    .link span:hover a {
      color: $ma-flame;
    }

    .background {
      opacity: 0.3;

      @include breakpoint($tab-p) {
        opacity: 1;
      }
    }
}

.solutions .ma-dark-blue .desc a:hover {
  color: $ma-flame;
}

.solutions .ma-dark-blue:hover .background {
  opacity: 0.3;
}

.solutions .ma-light-blue {
    text-align: center;
    background: $ma-light-blue;
    color: $white;

    .link a {
      @extend %button-light;
      margin: 0 auto;
    }

    .link span:hover,
    .link span:hover a {
      color: $ma-flame;
    }

    .background {
      opacity: 0.3;

      @include breakpoint($tab-p) {
        opacity: 1;
      }
    }
}

.solutions .ma-light-blue .desc a:hover {
  color: $ma-flame;
}

.solutions .ma-light-blue:hover .background {
  opacity: 0.3;
}

.solutions .ma-flame {
    text-align: center;
    background: $ma-flame;
    color: $white;

    .link a {
      @extend %button-light;
      margin: 0 auto;
    }

    .link span:hover,
    .link span:hover a {
      color: $ma-flame;
    }

    .background {
      opacity: 0.3;

      @include breakpoint($tab-p) {
        opacity: 1;
      }
    }
}

.solutions .ma-flame .desc a:hover {
  color: $ma-dark-blue;
}

.solutions .ma-flame:hover .background {
  opacity: 0.3;
}

.solutions .ma-lavender {
    text-align: center;
    background: $ma-lavender;
    color: $white;

    .link a {
      @extend %button-light;
      margin: 0 auto;
    }

    .link span:hover,
    .link span:hover a {
      color: $ma-flame;
    }

    .background {
      opacity: 0.3;

      @include breakpoint($tab-p) {
        opacity: 1;
      }
    }
}

.solutions .ma-lavender .desc a:hover {
  color: $ma-dark-blue;
}

.solutions .ma-lavender:hover .background {
  opacity: 0.3;
}

.solutions .ma-aqua {
    text-align: center;
    background: $ma-aqua;
    color: $white;

    .link a {
      @extend %button-light;
      margin: 0 auto;
    }

    .link span:hover,
    .link span:hover a {
      color: $ma-flame;
    }

    .background {
      opacity: 0.3;

      @include breakpoint($tab-p) {
        opacity: 1;
      }
    }
}

.solutions .ma-aqua .desc a:hover {
  color: $ma-flame;
}

.solutions .ma-aqua:hover .background {
  opacity: 0.3;
}

.solutions .icon {


  @include breakpoint($tab-p) {
    text-align: left;
    margin-left: 2em;
    width: 26%;
  }

}

.solutions .icon {
  display: none;

  @include breakpoint($tab-p) {
      display: block
    }

    @include breakpoint($desk-full) {
      display: block
    }
}

.solutions .col-1:hover .icon,
.solutions .col-2:hover .icon,
.solutions .col-3:hover .icon {
  display: none;
}


.solutions .title {
  @include primary-font-heavy;
  text-transform: uppercase;
  font-size: 1.53em;
  color: $white;
  width: 100%;
  padding: 0 0.5em 0;
  text-align: center;
  margin-left: 0;
  line-height: 1;

  @include breakpoint($tab-p) {
    font-size: 1.25em;
    text-align: left;
    margin-left: 1em;
  }

  @include breakpoint($menu) {
    font-size: 1.25em;
    text-align: left;
    margin-left: 1em;
  }

  @include breakpoint($desk-full) {
    text-align: left;
    margin-left: 1em;
    font-size: 1.53em;
  }

}

.solutions .col-1:hover .title,
.solutions .col-2:hover .title,
.solutions .col-3:hover .title {
  text-align: center;
  width: 100%;
  margin-left: 0;
}

.solutions .col-1 .desc,
.solutions .col-2 .desc,
.solutions .col-3 .desc {
  width: 100%;
  font-size: 1.25em;
  line-height: 1.4;

  @include breakpoint($tab-p) {
    display: none;
    font-size: 1.25em;
    line-height: 1.2;
  }

  @include breakpoint($desk-full) {
    display: none;
    font-size: 1.53em;
    line-height: 1.4;
  }
}

.solutions .col-1:hover .desc,
.solutions .col-2:hover .desc,
.solutions .col-3:hover .desc {
  width: 100%;
  font-size: 1.25em;
  line-height: 1.4;

  @include breakpoint($tab-p) {
    display: none;
    font-size: 1em;
    line-height: 1.2;
  }

  @include breakpoint($menu) {
    display: none;
    font-size: 1em;
    line-height: 1.2;
  }

  @include breakpoint($desk-full) {
    display: block;
    font-size: 1.25em;
    line-height: 1.4;
  }
}

.solutions .col-1 .desc p,
.solutions .col-2 .desc p,
.solutions .col-3 .desc p {
  margin: 0;
}

.solutions .desc a {
  color: $white;
}

.solutions .col-1 .desc ul,
.solutions .col-2 .desc ul,
.solutions .col-3 .desc ul {
  padding: 0;
}

.solutions .col-1 .desc li,
.solutions .col-2 .desc li,
.solutions .col-3 .desc li {

}

.solutions .col-1:hover .desc,
.solutions .col-2:hover .desc,
.solutions .col-3:hover .desc {

  @include breakpoint($tab-l) {
    width: 100%;
  }

  @include breakpoint($desk-full) {
    width: 100%;
  }

}

.solutions .col-1 .link,
.solutions .col-2 .link,
.solutions .col-3 .link {
  width: 100%;

  @include breakpoint($tab-p) {
    display: none;
  }

  @include breakpoint($desk-full) {
    display: none;
  }
}

.solutions .col-1:hover .link,
.solutions .col-2:hover .link,
.solutions .col-3:hover .link {
  width: 100%;

  @include breakpoint($tab-p) {
    display: block;
  }

  @include breakpoint($desk-full) {
    display: block;
  }
}

