// Colors
//
// Styleguide 2.2

// Primary Branding Colors
//
// In addition to the two primary tones of Butler blue, the brand’s primary color
// palette extends to include complimentary shades of blue and brighter colors that
// form the brand’s supporting color palette. Each of these color palettes may be
// used across photographic treatments, typography, and layout of other collateral.
// SECONDARY BRAND COLORS
// These warmer tones add a sense of activity to the brand and are appropriate
// for use as highlighted elements, line art iconography, and detailed flourishes to
// compliment the richness of the primary color palette in designs.
//
// Markup:
// <div class="clearfix">
//  <div class="color-block bg-one"></div>
//  <div class="color-block bg-two"></div>
//  <div class="color-block bg-three"></div>
//  <div class="color-block bg-four"></div>
//  <div class="color-block bg-five"></div>
//  <div class="color-block bg-six"></div>
//  <div class="color-block bg-seven"></div>
//  <div class="color-block bg-eight"></div>
//  <div class="color-block bg-nine"></div>
//  <div class="color-block bg-ten"></div>
//  <div class="color-block bg-eleven"></div>
//  <div class="color-block bg-twelve"></div>
//  <div class="color-block bg-thirteen"></div>
//  <div class="color-block bg-fourteen"></div>
// </div>
//
// Styleguide 2.2.1

// This is for both the styleguide and Classy Panel Styles
// It generates a background class for each color in the map in the colors partial
.kss-styleguideElement,
#page {
  @each $color-name, $color in $colors {
    .bg-#{$color-name} {
      background: $color;
      color: contrast-color($color, #333, $white);

      &.color-block::after {
        content: '#{$color-name} #{$color}';
      }
    }
  }
}
