/* Base Slick Slider SASS */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }

  &.has-arrows {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: flex;
  left: 0;
  margin-left: 0;
  position: relative;
  top: 0;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  flex: 1 1 auto;
  height: auto;
  min-height: 1px;
  padding-left: 1rem;
  padding-right: 1rem;

  [dir='rtl'] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }


  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: flex;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    border: 1px solid transparent;
    display: block;
    height: auto;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Custom overrides for features and assets slideshows */
.slick-list {
  font-size: 16px;

  .draggable {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .slick-prev {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 2px;
    line-height: 0;
    margin-top: -50px;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    z-index: 20;

    &::before {
      @include fa;
      color: $ma-flame;
      content: '\f0d9';
      display: block;
      font-size: 4.0rem;
      line-height: normal;
    }
  }

  .slick-next {
    border: 0;
    text-align: right;
    float: right;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    margin-top: -50px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 20;

    &::before {
      @include fa;
      display: block;
      font-size: 4.0rem;
      line-height: normal;
      content: '\f0da';
      color: $ma-flame;
    }

    @include breakpoint($tab-p) {
      right: 2px;
      left: auto;
      float: none;
    }
  }

  .slick-disabled::before {
    color: $ma-medium-gray;
  }
}

/* Adding additional styles for the smallest phone breakpoint */
@include breakpoint($max-phone-l) {
  .slick-list {

    .teaser-noimage-background {
      max-width: 240px;

      @include breakpoint($tab-p) {
        max-width: 300px;
      }
    }

    .draggable {
      width: 280px;
    }

    .slick-slide .teaser-date-container {
      width: 118px;
      max-height: 100px;
      margin-left: 118px;
    }
  }
}

// Related info overrides.
.assets-homepage-block {

  .slick-slide > * {
    width: 100%;
  }

  .page-wrapper {

    .node-category-type {

      @include breakpoint($max-tab-slide) {
        font-size: 1em;
      }

      @include breakpoint($desk-wide) {
        font-size: 1em;
      }
    }

    .teaser-title {
      @include heading5;
      font-size: 1.2em;
    }
  }
}

// Related info overrides.
.related-info {
  position: relative;

  .slick-slide > * {
    width: 100%;
  }

  .carousel-wrapper {

    @include breakpoint($min-desk) {
      margin-left: 40px;
    }
  }

  .carousel-list {

    @include breakpoint($min-desk) {
      margin-left: -15px;
    }
  }

  .related-title {

    @include breakpoint($max-phone-l) {
      width: 300px;
    }

    @include breakpoint($tab-p) {
      margin-left: 0;
      width: auto;
    }
  }
}
