/*** CAROUSEL WRAPPER IS THE SLIDESHOW VIEWPORT ***/
.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  width: 300px; //width of one slide
  clear: both;

  @include breakpoint($tab-slide) {
    clear: none;
    width: 630px; //width of two slides plus 30px gutter
  }

  @include breakpoint($min-desk) {
    width: 960px; //width of three slides plus two 30px gutters
  }

  li.carousel-slide {
    width: 300px !important; //important is necessary to override the js
    flex: 0 0 300px;
    float: left;
    overflow: hidden;
    margin: 0 15px;
    position: relative;

    .display-mode {
      width: 300px;
    }

    img {
      width: 300px;
    }

    a {
      display: block;
    }
  }

  article {
    display: block;
  }

  h2 {
    margin-top: 0;
  }
}

/*** CAROUSEL LIST IS THE HORIZONTAL LIST OF SLIDES WITHIN THE WRAPPER ***/
.carousel-list {
  @include clearfix;
  display: block;
  padding-left: 0;
  left: 0;
  width: 99999em;
  position: relative;
  transition: left $transition-slow;
  margin-left: -9px; // This is so that the carousel doesn't get cut off on smaller devices

  @include breakpoint($min-desk) {
    margin-left: -11px;
    display: flex;
  }
}

/*** THE CAROUSEL NAV IS THE ARROWS TO VIEW PREVIOUS AND NEXT SLIDES ***/
.carousel-nav {
  position: absolute;
  top: 0;
  width: 100%;

  a {
    font-size: 0;
    padding: 0;
    transition: opacity $transition-slow;

    @include breakpoint($tab-p) {
      width: 4em;
      position: absolute;
      top: 40%;
      left: -4em;
    }

    &::before {
      @include fa;
      display: block;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      border: none;
    }
  }

  a.prev {
    float: left;

    &::before {
      font-size: 64px;
      line-height: normal;
      content: '\f0d9';
    }

    @include breakpoint($tab-p) {
      left: 2px;
      float: none;
    }
  }

  a.next {
    border: 0;
    text-align: right;
    float: right;

    &::before {
      font-size: 64px;
      line-height: normal;
      content: '\f0da';
    }

    @include breakpoint($tab-p) {
      right: 22px;
      left: auto;
      float: none;
    }
  }

  a.inactive {
    opacity: 0.2;
  }

  a:active,
  a:focus {
    opacity: 1.0;
    color: $ma-light-blue;
  }

  a.scroll-end {
    color: $ma-medium-gray;
  }
}

/*** HIDE THE CAROUSEL BREAKPOINT TRIGGERS ***/
body::after {
  display: none;
}

// Medium breakpoint trigger for the two column carousel
@include breakpoint($tab-p) {
  body::after {
    // Conditional CSS http://adactio.com/journal/5429/
    content: 'medium';
  }
}

// Large breakpoint trigger for the three column carousel
@include breakpoint($min-desk) {
  body::after {
    // Conditional CSS http://adactio.com/journal/5429/
    content: 'large';
  }
}

/*** STYLES FOR THE MOBILE VERSION OF THE CAROUSEL ***/
@include breakpoint($max-phone-l) {
  .carousel-list {

    .teaser-noimage-background {
      max-width: 240px;

      @include breakpoint($tab-p) {
        max-width: 300px;
      }
    }

    li.carousel-slide {
      float: left;
      overflow: hidden;
      margin: 0 15px;
      flex: 0 0 240px;

      .display-mode {
        width: 240px;
        margin: 0;
      }

      .display-mode[data-eq-state='small'] .field-node--field-noimage {
        margin-bottom: 0.4rem;
      }

      .teaser-date-container {
        width: 118px;
        max-height: 100px;
        margin-left: 118px;
      }
    }

    .display-mode[data-eq-state='small'] .field-node--field-noimage {
      margin-bottom: 0.4rem;
    }
  }

  .carousel-wrapper {
    max-width: 240px;
    left: -3px;
  }
}
