// Contact Us Slim Form Block
.contact-message-contact-us-slim-form,
.contact-message-rfp-template-request-form {
  background: $ma-aqua;
  color: $white;
  font-size: 0.85em;
  margin-bottom: 1.75rem;
  padding: 0.75rem;

  label:not(.option) {
    display: block;
    width: 100%;
  }

  input[type='email'],
  input[type='text'] {
    color: $ma-gray;
    width: 100%;
  }

  .form-item {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .form-type-select label {
    font-family: 'AvenirLTStd-Book', 'Arial', sans-serif;
  }

  .form-type-select {
    position: relative;
    width: 100%;

    div.form-select {
      width: 100% !important;
    }
  }

  .form-select {
    box-sizing: border-box;
    margin-left: -3px !important;
    width: 100% !important;
  }

  select.form-select {
    -webkit-appearance: none;
    appearance: none;
    background-color: $white;
    border: 1px solid;
    border-radius: 0.65rem;
    border-color: $ma-gray;
    background-clip: padding-box;
    background-image: url('../images/select-arrow-open.png') !important;
    background-size: 20px 20px !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    box-sizing: border-box;
    color: $ma-gray;
    font-size: 1em;
    margin: 0 3px;
    max-width: 100%;
    // Added important for mobile override.
    min-height: 40px !important;
    min-width: 100%;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    text-align: left;
    vertical-align: top;
    width: 100% !important;
  }

  .form-item-field-opt-in-gdpr-cookie-value {
    margin-top: 1em;
  }

  #edit-field-opt-in-gdpr-cookie-value--description {
    font-size: 1em;
  }

  .description {
    margin-left: 0;
    margin-top: 0.5em;
  }
}
