.display-mode {
  @include clearfix;
  height: 100%;

  .field-node--field-noimage {

    @include breakpoint($tab-p) {
      max-width: 400px;
    }
  }

  // Styles pertaining to display modes 631px or wider
  &[data-eq-state='large'] {
    display: flex;

    .field-node--field-teaser-image,
    .field-node--field-noimage {
      flex: 1 0 auto;
    }

    .page-teaser-image {
      flex: 1 1 auto;
      width: 100%;
    }

    .page-wrapper,
    .biography-wrapper {
      flex: 1 1 500px;
      padding-left: 2rem;
    }

    .teaser-date,
    .teaser-year,
    .teaser-month {
      width: 50%;
      align-self: flex-end;
      margin: 0 auto;
    }
  }

  &[data-eq-state='medium-large'] {
    display: flex;

    .field-node--field-teaser-image,
    .field-node--field-noimage {
      flex: 1 0 300px;
      max-width: 300px;
    }

    .page-wrapper {
      flex: 1 1 300px;
      padding-left: 1rem;
      max-width: none;
    }
  }

  // Styles pertaining to display modes between 331px and 630px
  &[data-eq-state='medium'] {
    display: flex;

    .field-node--field-teaser-image,
    .field-node--field-noimage,
    .field-node--field-bio-image {
      flex: 1 1 300px;
    }

    .page-teaser-image {
      flex: 1 1 auto;
      width: 100%;
    }

    .page-wrapper {
      flex: 1 1 300px;
      max-width: none;
    }

    .field-name-field-teaser-text-long,
    .field-name-field-teaser-text-short {
      display: none;
    }
  }

  // Styles pertaining to display narrower than 330px
  &[data-eq-state='small'] {

    .field-node--field-teaser-title {
      clear: left;
      float: left;
      width: 100%;
    }

    .node-category-type {
      clear: left;
      float: left;
      padding-bottom: 0.7em;
      width: 100%;
    }

    .field-name-field-teaser-text-long,
    .field-name-field-teaser-text-short {
      display: none;
    }

    .field-node--field-noimage {
      min-width: 0;
    }
  }
}

.entityreference-item {
  margin-bottom: 1.5rem;
}

// Styles for teaser images and dates if they appear in a carousel.
.carousel-slide {

  .display-mode[data-eq-state='small'] .node-category-type {
    margin: 0;
  }

  .field-node--field-teaser-image,
  .teaser-date-container,
  .field-node--field-event-dates,
  .display-mode[data-eq-state='small'] .field-node--field-noimage,
  .node--type-link .display-mode {
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .node--type-link .link-byline {
    margin: 0;
  }

  .node--type-link .display-mode {
    min-height: 118px;
  }
}


// Responsive styles for Articles, Documents, Webinars

.article-display-mode[data-eq-state='small'],
.document-display-mode[data-eq-state='small'],
.event-display-mode[data-eq-state='small'],
.interactive-display-mode[data-eq-state='small'],
.press-release-display-mode[data-eq-state='small'],
.video-display-mode[data-eq-state='small'],
.webinar-display-mode[data-eq-state='small'] {
  flex-direction: column;

  .page-wrapper {
    padding-left: 0;
    position: relative;
  }

  .teaser-date-container {
    font-size: 1.65rem;

    @include breakpoint($desk) {
      font-size: 1.25rem;
    }
  }
}

.article-display-mode[data-eq-state='medium'],
.document-display-mode[data-eq-state='medium'],
.event-display-mode[data-eq-state='medium'],
.interactive-display-mode[data-eq-state='medium'],
.press-release-display-mode[data-eq-state='medium'],
.video-display-mode[data-eq-state='medium'],
.webinar-display-mode[data-eq-state='medium'] {
    flex-direction: column;
    display: block;

  .page-teaser-image,
  .page-wrapper {
    width: 100%;
  }

  .page-teaser-image {
    margin-bottom: 0.5rem;
  }

  .teaser-date-container {
    font-size: 1.45rem;
  }
}

.article-display-mode[data-eq-state='large'],
.document-display-mode[data-eq-state='large'],
.event-display-mode[data-eq-state='large'],
.interactive-display-mode[data-eq-state='large'],
.press-release-display-mode[data-eq-state='large'],
.webinar-display-mode[data-eq-state='large'],
.video-display-mode[data-eq-state='large'] {

  .page-wrapper {
    flex: 1 1 400px;
  }

  .page-teaser-image {
    flex: 0 1 400px;
    min-height: 124px;
  }

  .teaser-date-container {
    font-size: 1.65rem;
  }
}

// Adding margin above the full node for article, document
.node--type-document.node--view-mode-full,
.node--type-article.node--view-mode-full,
.node--type-event.node--view-mode-full,
.node--type-press-release.node--view-mode-full,
.node--type-video.node--view-mode-full,
.node--type-webinar.node--view-mode-full {
  margin-top: 1rem;
}
