.l-footer {
  background-image: url('/themes/manh/styles/images/ma_dark_blue_brand.gif');
  background-size: 155px;

  .section {
    padding: 1.5em 3em 3em;
  }

  .heading {
    @include primary-font-heavy;
    color: $white;
    font-size: 1em;
    line-height: normal;
    font-weight: 100;
    margin: 0.8rem 0 0.4rem;
  }

  a {
    color: $color-one;

    &:hover {
      text-decoration: none;
      color: $color-two;
    }
  }

  .block-secondarymenu-wrapper {
    margin: 0;

    .menu .menu-item {
      display: block;
    }

    .menu .menu-item a {
      text-align: left;
      font-size: 1em;
      color: $white;
      margin-bottom: .25em;
    }
  }
}

#footer {
  display: flex;
  font-size: 0.8em;
  line-height: normal;
  color: $white;
  justify-content: center;
  flex-wrap: wrap;

  .block-secondarymenu-wrapper .menu {
    display: inherit;

    li {
      background: transparent;
      padding: 0;
      text-transform: none;

      a {
        color: $white;

        &:hover {
          text-decoration: none;
          color: $ma-flame;
        }
      }
    }
  }
}

.region-footer-first-column,
.region-footer-second-column,
.region-footer-fourth-column {
  flex: 0 1 75%;
  padding-right: 2rem;
  margin-bottom: 2rem;
  display: none;

  @include breakpoint($pop-unit-2) {
    flex: 0 1 45%;
  }

  @include breakpoint($pop-unit-3) {
    flex: 0 1 25%;
  }

  @include breakpoint($pop-unit-5) {
    flex: 0 1 20%;
  }

  @include breakpoint($tab-p) {
    display: block;
  }

  .block-system div:first-child {
    font-size: 1.563em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.75em;
  }
}

.region-footer-third-column{
  flex: 0 1 75%;
  padding-right: 2rem;
  margin-bottom: 2rem;

  @include breakpoint($pop-unit-2) {
    flex: 0 1 45%;
  }

  @include breakpoint($pop-unit-3) {
    flex: 0 1 25%;
  }

  @include breakpoint($pop-unit-5) {
    flex: 0 1 20%;
  }

  @include breakpoint($tab-p) {
    display: block;
  }

  .block-system div:first-child {
    font-size: 1.563em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .75em;
  }
}

.region-footer-first-column-landing {
  flex: 0 1 53%;
  padding: 0 1rem;
  display: none;

  @include breakpoint($tab-p) {
    display: block;

    a {
      background: $ma-dark-blue;
      border-radius: 0.65rem;
      color: $white;
      display: block;
      margin: 0 auto;
      padding: 7px 25px;

      &:hover {
        color: $color-nine;
      }
    }

    p {
      margin: 0 0 5px;
    }

    .left {
      float: left;

      .text-align-center {
        margin-left: -2px;
        padding-top: 12px;
        padding-right: 22px;
        white-space: nowrap;
      }
    }

    .right {
      float: right;

      p {
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
        color: inherit;
        border: none;
        padding: inherit;
        background: inherit;
        border-radius: none;
      }

      .text-align-center {
        margin-left: 0;
        padding-top: 12px;
        white-space: nowrap;
      }
    }
  }

  @include breakpoint($pop-unit) {

    .right {
      display: none;
    }
  }

  @include breakpoint($pop-unit-4) {

    .right {
      display: block;
      margin-right: 4em;
    }
  }
}

.region-footer-first-column-landing {
  flex: 0 1 70%;
  padding: 0;
  display: none;

  .right {
    float: left;
  }

  .region-footer-first-column-landing {
    display: none;
  }

  @include breakpoint($pop-unit) {

    .right {
      display: none;
    }
  }

  @include breakpoint($landing) {

    .right {
      display: block;
    }
  }

  @include breakpoint($tab-p) {
    display: block;
  }
}

.region-footer-copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint($tab-p) {
    flex-direction: row;
  }

  .block-footer-copyright {
    order: 4;
    flex: 1 1 100%;
    text-align: center;

    @include breakpoint($tab-l) {
      flex: 1 1 auto;
      text-align: right;
    }

    @include breakpoint($min-desk) {
      flex: 1 1 45%;
    }

    p {
      margin: 0;
    }
  }

  .block-footer-menu {
    display: block;
    order: 3;
    flex: 1 1 100%;

    @include breakpoint($tab-l) {
      flex: 0 1 auto;
    }

    @include breakpoint($min-desk) {
      flex: 1 1 45%;
    }
  }
}

.region-footer-copyright .block-manh-site-selector {
  order: 1;
  flex: 1 1 100%;

  @include breakpoint($tab-l) {
    flex: 1 1 45%;
  }
}

.region-header-secondary .block-manh-site-selector {
  order: 0;
  flex: 0 1 100%;
  margin-left: auto;
  text-align: right;
  margin-right: 2em;
  margin-top: 5px;

  @include breakpoint($tab-l) {
    flex: 0 1 45%;
  }
}

.region-footer-copyright .site-selector {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;

  @include breakpoint($tab-l) {
    flex: 0 1 45%;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.footer-socialnavigation {
  order: 2;
  flex: 1 1 100%;

  @include breakpoint($tab-l) {
    flex: 1 1 45%;
    margin-bottom: 1rem;
  }
}

.block-footer-help-navigation {

  a {
    color: $white;
  }
}

// Social media block - FULL SITES //
.footer-socialnavigation.en,
.footer-socialnavigation.enin,
.footer-socialnavigation.enau,
.footer-socialnavigation.engb,
.footer-socialnavigation.ennl,
.footer-socialnavigation.nlnl,
.footer-socialnavigation.frfr,
.footer-socialnavigation.es,
.footer-socialnavigation.jajp,
.footer-socialnavigation.zhcn,
.footer-socialnavigation.ptbr,
.footer-socialnavigation.dede,
.footer-socialnavigation.huhu,
.footer-socialnavigation.isis,
.footer-socialnavigation.msmy,
.footer-socialnavigation.plpl,
.footer-socialnavigation.roro,
.footer-socialnavigation.enza,
.footer-socialnavigation.eses,
.footer-socialnavigation.svse,
.footer-socialnavigation.thth,
.footer-socialnavigation.enae,
.footer-socialnavigation.ruru,
.footer-socialnavigation.enid,
.footer-socialnavigation.itit,
.footer-socialnavigation.nlbe,
.footer-socialnavigation.fifi,
.footer-socialnavigation.enhk,
.footer-socialnavigation.ennz,
.footer-socialnavigation.nono,
.footer-socialnavigation.ensg,
.footer-socialnavigation.ptpt,
.footer-socialnavigation.espa {

  .block-secondarymenu-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @include breakpoint($tab-l) {
      justify-content: flex-end;
      margin: 0 auto;
    }

    .menu .menu-item {
      margin-right: 14px;

      :last-child {
        margin-right: 0;
      }

      a {
        width: 48px;
        height: 33px;
        text-indent: -9999px;
      }
    }

    .menu-item .facebook {
      background-position: -1px -2px;
    }

    .menu-item .twitter {
      background-position: -66px -2px;
    }

    .menu-item .linkedin {
      background-position: -136px -2px;
    }

    .menu-item .youtube {
      background-position: -198px -2px;
    }

    .menu-item .more {
      background-position: -328px -2px;
    }

     .menu-item .weibo {
      background-position: -394px -2px;
    }

     .menu-item .blog {
      background-position: -466px -2px;
    }

    li:last-child {
      margin-right: 0 !important;
    }
  }
}

// EN and EN-IN language social media block icons //
.footer-socialnavigation.en,
.footer-socialnavigation.enin,
.footer-socialnavigation.enau,
.footer-socialnavigation.engb,
.footer-socialnavigation.ennl,
.footer-socialnavigation.nlnl,
.footer-socialnavigation.frfr,
.footer-socialnavigation.es,
.footer-socialnavigation.jajp,
.footer-socialnavigation.zhcn,
.footer-socialnavigation.ptbr,
.footer-socialnavigation.dede,
.footer-socialnavigation.huhu,
.footer-socialnavigation.isis,
.footer-socialnavigation.msmy,
.footer-socialnavigation.plpl,
.footer-socialnavigation.roro,
.footer-socialnavigation.enza,
.footer-socialnavigation.eses,
.footer-socialnavigation.svse,
.footer-socialnavigation.thth,
.footer-socialnavigation.enae,
.footer-socialnavigation.ruru,
.footer-socialnavigation.enid,
.footer-socialnavigation.itit,
.footer-socialnavigation.nlbe,
.footer-socialnavigation.fifi,
.footer-socialnavigation.enhk,
.footer-socialnavigation.ennz,
.footer-socialnavigation.nono,
.footer-socialnavigation.ensg,
.footer-socialnavigation.ptpt,
.footer-socialnavigation.espa {

  .menu-item a {
    background: url('/themes/manh/styles/images/footer_icons2.gif') no-repeat;
  }
}

// Copyright section //
.l-copyright {
  font-size: 0.75em;
  line-height: normal;
  color: $ma-dark-gray;

  :lang(ja) & {
    font-size: 14px;
  }

  .section {
    padding: 17px 4em;
  }

  .block {
    clear: none;
    text-align: center;

    @include breakpoint($tab-l) {
      margin-bottom: 1rem;
      text-align: left;
    }

    a {
      color: $ma-dark-blue;

      &:hover {
        text-decoration: none;
      }
    }

    .block-secondarymenu-wrapper {
      margin-bottom: 0;
    }
  }
}

// Copyright section menu //
.block-footer-menu .menu {
  display: inherit;
  text-align: center;
  margin: 1em 0;

  @include breakpoint($tab-l) {
    display: inherit;
    text-align: inherit;
    margin: inherit;
  }

  li {
    display: inline;
    background: transparent;
    padding: 0;
    text-transform: none;
    margin-right: 20px;

    a {
      color: $ma-light-blue;
    }

    a:hover {
      color: $ma-flame;
    }
  }
}

:lang(zh-hans),
:lang(ja) {

  .l-copyright p {
    text-align: center;

    @include breakpoint($tab-l) {
      text-align: right;
    }
  }
}

.block-footer-menu li:first-child {
  padding-right: 20px;
  border-right: 1px solid $ma-gray;
}
