// Headine strip styles.
.cta-strip .field-name-field-headline,
.cta-strip .headline-strip {
  display: inline-block;
}

.headline-strip,
.cta-strip {

  .ma_dark_blue {
    background: $ma-dark-blue;
    clear: both;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($tab-l) {
      font-size: 1.953em;
    }

    @include breakpoint($desk-full) {
      flex-direction: row;
    }

    p {
      margin: 0;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .ma_light_blue {
    background: $ma-light-blue;
    clear: both;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($tab-l) {
      font-size: 1.953em;
    }

    @include breakpoint($desk-full) {
      flex-direction: row;
    }

    p {
      margin: 0;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .ma_flame {
    background: $ma-flame;
    clear: both;
    color: $white;
    display: flex;
    font-size: 1.25em;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em 2em;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($tab-l) {
      font-size: 1.953em;
    }

    @include breakpoint($desk-full) {
      flex-direction: row;
    }

    p {
      margin: 0;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .ma_aqua {
    background: $ma-aqua;
    color: $white;
    clear: both;
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($tab-l) {
      font-size: 1.953em;
    }

    @include breakpoint($desk-full) {
      flex-direction: row;
    }

    p {
      margin: 0;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .ma_lavender {
    background: $ma-lavender;
    clear: both;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;

    @include breakpoint($tab-l) {
      font-size: 1.953em;
    }

    @include breakpoint($desk-full) {
      flex-direction: row;
    }

    p {
      margin: 0;
    }

    .field-name-field-cta-link a {
      @extend %button-white;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
