// Changes to the colors or background images in this file may also need to be
// applied to
// docroot/modules/custom/manh_metatag_teaser/src/EventSubscriber/ManhMetatagTeaserSubscriber.php.
.hero {
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  min-height: 340px;
  overflow: hidden;

  .field-node--field-section-text,
  .field-block-content--field-section-text {
    text-transform: uppercase;
    font-size: 0.8em;
    flex: 0 1 auto;

    :lang(ja) & {
      font-size: 14px;
    }
  }

  .teaser-title {
    margin-bottom: 1rem;
    font-family: $primary-font;
    color: $ma-dark-blue;
    width: 75%;

    @include breakpoint($tab-p) {
      width: 80%;
    }

    @include breakpoint($menu) {
      width: 75%;
    }
  }

  .field-node--field-teaser-text-long,
  .field-block-content--field-teaser-text-long {
    margin-bottom: 2rem;
    font-size: 0.8em;
    line-height: 1.4;

    :lang(ja) & {
      font-size: 14px;
    }
  }

  &[data-eq-state='small'],
  &[data-eq-state='medium'] {

    .content-buttons a {
      display: block;
      width: 100%;
    }

    .teaser-title {
      font-size: 1.563em;
    }
  }

  &[data-eq-state='medium'] {

    .overlay-content {
      margin: 1rem 0;
    }

    .field-node--field-teaser-text-long,
    .field-block-content--field-teaser-text-long {
      font-size: 1em;
      line-height: 1.4;
    }

    .page-header-hero-image {
      position: relative;
      overflow: hidden;
    }
  }

  &[data-eq-state='large'] {

    .overlay-content {
      max-width: 60%;
      margin: 1.5rem;
    }

    .teaser-title {
      margin-bottom: 0;
      flex: 1 0 auto;
    }

    .field-node--field-teaser-text-long,
    .field-block-content--field-teaser-text-long {
      font-size: 1em;
      flex: 1 0 auto;
      margin-bottom: 0;
    }

    .page-header-hero-image {
      position: relative;
      overflow: hidden;
    }

    .overlay-gradient {
      background: url('../images/pushgraphic_flame.png') no-repeat;
      background-size: contain;
     }

    .content-buttons {
      flex: 1 0 auto;
      margin: 0;
    }
  }

  &[data-eq-state='wide'] {

    .overlay-content {
      max-width: 60%;
      margin: 1.5rem;
    }

    .teaser-title {
      margin-bottom: 0;
      flex:1 0 auto;
    }

    .field-node--field-teaser-text-long,
    .field-block-content--field-teaser-text-long {
      font-size: 1em;
      flex:1 0 auto;
      margin:0;
    }

    .page-header-hero-image {
      overflow: hidden;
    }

    .overlay-gradient {
      background: url('../images/pushgraphic_flame.png');
    }

    .content-buttons {
      flex: 0 1 auto;
      margin: 0;
    }
  }

  &[data-eq-state='large'],
  &[data-eq-state='wide'] {

    .overlay-content {
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      height: 100%;
      margin: 0;
      padding: 1.5rem 0 2rem 2rem;
    }

    .overlay-gradient {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      max-height: 350px;
      max-width: 960px;
    }
  }
}

.brochure {
  background-color: $ma_lavender;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  text-align: center;
  text-transform: uppercase;

  a {
    color: $white;

    &:hover {
      color: $ma_light_blue;
    }
  }
}

.lifestyle .page-header-hero-image .page-teaser-image,
.lifestyle .page-header-hero-image .field-block-content--field-teaser-image {
  background-color: #071D49;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  margin-bottom: 0;
  min-height: 340px;
  width: 100%;
}

.page-teaser-image {

  picture {
    height: auto;
    overflow: hidden;
    position: relative;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.silhouette .hero {
  min-height: 150px;

  @include breakpoint($landing) {
    min-height: 250px;
  }

  @include breakpoint($tab-l) {
    min-height: 340px;
  }

  .hero__container {
    @include content-container;
  }

  .page-title {
    margin-bottom: 1rem;
    margin-top: 1rem;

    @include breakpoint($tab-p) {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    @include breakpoint($tab-l) {
      padding-right: 45%;
    }
  }

  .media {
    display: flex;
    justify-content: flex-end;
    position: unset;
  }
}

.page-header-silhouette-image {
  display: none;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;

  @include breakpoint($tab-l) {
    display: block;
  }
}

.hero_ma_dark_blue {
  background-color: $ma-dark-blue;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_dark_blue_brand_pattern {
  background-color: $ma-dark-blue;
  background-image: url('../images/ma_dark_blue_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_dark_blue_push_pattern {
  background-color: $ma-dark-blue;
  background-image: url('../images/ma_dark_blue_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_light_blue {
  background-color: $ma-light-blue;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_light_blue_brand_pattern {
  background-color: $ma-light-blue;
  background-image: url('../images/ma_light_blue_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_light_blue_push_pattern {
  background-color: $ma-light-blue;
  background-image: url('../images/ma_light_blue_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_flame {
  background-color: $ma-flame;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_flame_brand_pattern {
  background-color: $ma-flame;
  background-image: url('../images/ma_flame_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_flame_push_pattern {
  background-color: $ma-flame;
  background-image: url('../images/ma_flame_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_aqua {
  background-color: $ma-aqua;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_aqua_brand_pattern {
  background-color: $ma-aqua;
  background-image: url('../images/ma_aqua_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_aqua_push_pattern {
  background-color: $ma-aqua;
  background-image: url('../images/ma_aqua_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_lavender {
  background-color: $ma-lavender;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_lavender_brand_pattern {
  background-color: $ma-lavender;
  background-image: url('../images/ma_lavender_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_lavender_push_pattern {
  background-color: $ma-lavender;
  background-image: url('../images/ma_lavender_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_white {
  background-color: $white;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $ma-dark-blue;
    text-shadow: none;
  }
}

.hero_ma_dark_gray {
  background-color: $ma-dark-gray;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_dark_gray_brand_pattern {
  background-color: $ma-dark-gray;
  background-image: url('../images/ma_dark_gray_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_dark_gray_push_pattern {
  background-color: $ma-dark-gray;
  background-image: url('../images/ma_dark_gray_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_medium_gray {
  background-color: $ma-medium-gray;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_medium_gray_brand_pattern {
  background-color: $ma-medium-gray;
  background-image: url('../images/ma_medium_gray_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_medium_gray_push_pattern {
  background-color: $ma-medium-gray;
  background-image: url('../images/ma_medium_gray_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_gray {
  background-color: $ma-gray;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_gray_brand_pattern {
  background-color: $ma-gray;
  background-image: url('../images/ma_gray_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_gray_push_pattern {
  background-color: $ma-gray;
  background-image: url('../images/ma_gray_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_light_gray {
  background-color: $ma-light-gray;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $ma-dark-blue;
    text-shadow: none;
  }
}

.hero_ma_light_gray_brand_pattern {
  background-color: $ma-light-gray;
  background-image: url('../images/ma_light_gray_brand.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.hero_ma_light_gray_push_pattern {
  background-color: $ma-light-gray;
  background-image: url('../images/ma_light_gray_push.gif');
  background-size: 155px;

  .field-node--field-section-text,
  .field-block-content--field-section-text,
  .teaser-title {
    color: $white;
    text-shadow: none;
  }
}

.silhouette .page-title {
  padding-top: 0;
}

.page-title .field-name-field-section-text {
  text-transform: uppercase;
}
