// Node type: Interactive.

.node--type-interactive {

  .l-grid-layout {
    overflow-x: hidden;
  }

  .interactive-row.has-embed {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .l-content-body {
    color: $black;
  }

  .l-sidebar-second {

    .title {
      margin-top: 0;
    }
  }

  .teaser-title {
    @include heading5;
    margin-top: 0;
  }
}

.interactive-display-mode {

  &[data-eq-state='small'] {
    flex-direction: column;

    .page-wrapper {
      padding-left: 0;
    }

    .teaser-title {
      @include heading5;
      margin-top: 15px;
    }
  }
}

// Force Iframe to be 100% of viewport.
.interactive-wrapper iframe {
  left: 50% !important;
  max-width: 100vw !important;
  position: relative !important;
  transform: translateX(-50%) !important;
  width: 100vw !important;
}