nav.pager {
  max-width: 630px;
  padding-top: 20px;

  a {
    color: $white;
  }

  .pager__items {
    background: $ma-dark-blue;
    border-radius: 0.65rem;
    color: $white;
    margin: 0 auto;
    padding: 7px;
  }

  .pager__item.is-active {
    background: $color-nine;

    a {
      color: $ma-dark-blue;
      font-weight: bold;
      padding-left: 4px;
    }
  }
}
