// Define an animation for usage later.
@keyframes ui-rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

// Search input styling.
.region-header-secondary .search-block-form {
  overflow: visible;

  // Override the background throbber before classes are applied.
  .form-type-search input {
    background-image: none !important;
  }

  .ui-autocomplete-input {
    // Override throbber.
    background-image: none !important;

    .ui-autocomplete-throbber {
      display: none;
    }

    &.ui-autocomplete-loading {

      // Use a div that appears afterwards for the throbber.
      + .ui-autocomplete-throbber {
        @include fa-icon('\f1ce');
        display: block;
        position: absolute;
        top: 9px;
        right: -22px;
        width: auto;
        height: auto;
        color: $ma-light-blue;

        // Add rotation animation.
        animation: ui-rotation 2s infinite linear;

        .ma-sticky-header & {
          font-size: 0.8rem;
          right: -17px;
          top: 11px;
        }

        // Fix font-awesome positioning.
        &::before {
          position: relative;
        }
      }
    }

    &:focus {
      outline: thin;
    }
  }
}

// Search results styling.
.ui-autocomplete {
  margin: auto;
  max-width: 100%;
  width: 600px;

  &#ui-id-1 {
    // Override inline styles.
    left: 0 !important;
    right: 0 !important;

    // Align the right, near the search input.
    @include breakpoint ($min-desk) {
      margin-right: 3px;
      // Override inline styles.
      left: auto !important;
      right: 3em !important;
      z-index: map-get($zindex, dropdown);
    }
  }

  // Additional override to prevent a less useful autocomplete from appearing.
  &.no-results {
    display: none !important;
  }

  // Hide on mobile devices.
  @include breakpoint ($max-desk) {
    display: none !important;
  }

  &.ui-widget {
    border-color: $ma-dark-blue;
  }

  .ui-menu-divider {
    display: none;
  }

  .ui-menu-item-wrapper {
    display: block;
    padding-bottom: 20px;
  }

  .ui-autocomplete-fields {
    @include primary-font;
    font-size: 14px;
  }

  .ui-autocomplete-field-field_teaser_title {
    @include primary-font-heavy;
    text-transform: uppercase;
    font-size: 18px;
    color: $ma-light-blue;
  }

  .ui-autocomplete-field-type,
  .ui-autocomplete-field-field_doc_type {
    text-transform: uppercase;
    color: darkgrey;
  }

  .ui-state-active {
    background-color: #eee;
    color: inherit;
    border: none;
    margin: 0;
  }

  .ui-menu-item {
    &:last-child {
      border-top: 1px solid $ma-dark-blue;
      // Override to hide this until translations are created.
      display: none;

      .ui-autocomplete-field {
        color: $ma-light-blue;
        padding: 4px 0;
      }

      .ui-menu-item-wrapper {
        padding-bottom: 0;
      }
    }
  }
}