// These are the styles for the Header Secondary Nav */
.block-secondarymenu-wrapper {
  max-width: 1005px;
  margin: 1rem auto;

  @include breakpoint($tab-p) {
    margin: 0 auto 1rem;
  }

  .menu {
    display: flex;
    justify-content: space-around;

    .menu-item {
      display: inline-block;
      flex: 1 1 auto;
      margin-right: 0.25rem;

      &:hover {
        background: $ma-light-gray;
      }

      a {
        display: block;
        text-align: center;
        font-size: 0.7em;
        color: $white;

        :lang(ja) & {
          font-size: 14px;
        }
      }
    }
  }

  > .menu {

    @include breakpoint($min-desk) {
      margin-right: 0.5rem;
    }
  }
}

.block-header-navigation {

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-item {
    display: inline-block;
    flex: 0 1 auto;
  }
}
