/**
 * Tabs.
 */
.is-collapse-enabled  .tabs,
.is-horizontal .tabs {
  position: relative;
}

.is-collapse-enabled .tabs::before,
.is-horizontal .tabs::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  right: 0;
}

.content-header .is-horizontal .tabs::before,
.content-header .is-collapse-enabled .tabs::before {
  left: -2.5em;
  right: -2.5em;
}

:lang(ja),
:lang(zh-hans) {

  .tabs__tab {
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin: -1px 0 0;
    padding: 0;
    width: 100%;
    color: $ma-light-blue;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: $ma-dark-blue;
    font-size: 14px;
    line-height: 0.9;

    a:hover {
      text-decoration: none;
      color: $ma-gray;
      background: $ma-light-gray;
    }
  }
}

.tabs__tab {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  margin: -1px 0 0;
  padding: 9px 2em 6px 1em;
  width: 100%;
  color: $ma-light-blue;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $ma-dark-blue;
  font-size: 0.6em;
  line-height: 1;

  a:hover {
    text-decoration: none;
    color: $ma-gray;
    background: $ma-light-gray;
  }
}
.tabs__trigger {
  display: none;
}

.tabs__trigger::after {
  display: inline-block;
  margin-left: 0.5em;
  font-family: fontawesome;
  content: $fa-caret-right;
}

.tabs__trigger.open::after {
  content: $fa-caret-down;
}

.is-collapse-enabled .tabs__trigger {
  display: block;
  position: absolute;
  z-index: 10;
  right: 0;
  left: auto;
  width: 23%;
  margin: 0;
  padding: 0.45rem;
  border-radius: 0;
  outline: 0 none;
  text-transform: uppercase;
  background: $ma-dark-blue;

  @include breakpoint($tab-p) {
    width: 24%;
  }

  &:hover {
    color: $white !important;
    background: $ma-dark-blue;
  }
}

[dir='rtl'] .tabs__tab {
  padding-left: 2em;
  padding-right: 1em;
}

.tabs__tab:hover {
  color: $ma-gray !important;
  background-color: $ma-light-gray;
}

li.tabs__tab {
  padding: 0;
  width: auto;
  margin: 0;
}

/* This is required to win over specifity of [dir='rtl'] .tabs__tab */
[dir='rtl'] li.tabs__tab {
  padding-left: 0;
  padding-right: 0;
}

:lang(zh-hans) {

  li.tabs__tab a {
    padding: 0.45rem 1rem 0.45rem 1rem;
    color: $white;
    text-transform: uppercase;
  }
}

li.tabs__tab a {
  padding: 0.45rem;
  color: $white;
  text-transform: uppercase;
}

[dir='rtl'] li.tabs__tab a {
  padding-left: 2em;
  padding-right: 1em;
}

.tabs a:hover,
.tabs a:focus {
  text-decoration: none;
}

.tabs.primary {
  clear: both;
  margin: 16px 0 0;
  margin: 1rem 0 0;
}

.tabs.primary .tabs__tab.menu-item--active-trail {
  z-index: 15;
  border-color: #a6a6a6;
  background-color: $white;
  color: #004f80;
}

[dir='rtl'] .tabs.primary .tabs__tab.menu-item--active-trail {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
}

.tabs.primary a {
  background: none;
}

.tabs.primary a:focus {
  color: #008ee6;
  background-color: #fafaf7;
  text-decoration: underline;
}

.tabs.primary .menu-item--active-trail a:focus {
  background: none;
  text-decoration: underline;
}

@media screen and (min-width: 300px) {

  .tabs.primary a {
    background: url('../../../../misc/icons/0074bd/chevron-right.svg') 99% center no-repeat;
  }

  [dir='rtl'] .tabs.primary a {
    background: url('../../../../misc/icons/0074bd/chevron-left.svg') 1% center no-repeat;
  }

  .tabs.primary .tabs__tab.menu-item--active-trail a {
    background-image: none;
  }
}

[dir='rtl'] .is-collapse-enabled .tabs__trigger {
  border-right: 0;
  border-radius: 4px 0 0;
  right: auto;
  left: 0;
}

.tabs.is-open {
  max-height: 999em;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

[dir='rtl'] .is-collapse-enabled .tabs__tab.menu-item--active-trail {
  left: auto;
  right: 0;
}

.is-collapse-enabled .tabs.primary a.menu-item--active-trail::before {
  content: none;
}

/* Styles for the horizontal state always take priority */
[dir='rtl'] .is-horizontal .tabs__tab {
  float: right;
  /* This is required to win over specifity of [dir='rtl'] .tabs > li */
  margin-left: 0;
}

.is-horizontal .tabs__tab + .tabs__tab {
  margin-left: -1px;
}

[dir='rtl'] .is-horizontal .tabs__tab + .tabs__tab {
  margin-left: 0;
  margin-right: -1px;
}

.is-horizontal .tabs.primary .tabs__tab:first-child {
  border-radius: 4px 0 0;
}

[dir='rtl'] .is-horizontal .tabs.primary .tabs__tab:first-child {
  border-radius: 0 4px 0 0;
}

.is-horizontal .tabs.primary .tabs__tab:last-child {
  border-radius: 0 4px 0 0;
}

[dir='rtl'] .is-horizontal .tabs.primary .tabs__tab:last-child {
  border-radius: 4px 0 0;
}

/* Override the states above */
.is-horizontal .tabs__tab.menu-item--active-trail,
.is-horizontal .tabs.primary .tabs__tab.menu-item--active-trail,
[dir='rtl'] .is-horizontal .tabs.primary .tabs__tab.menu-item--active-trail {
  position: relative;
  width: auto;
  top: 0;
  border-bottom: 0;
  margin: 0 0.5em 0 0;
}

.is-horizontal {

  .tabs.primary a {
    background-image: none;
    padding: 7px 2em;
  }

  .tabs__trigger {
    display: none;
  }

  .tabs {
    @include clearfix;
    max-height: none !important;
    padding-top: 0 !important;
    overflow: visible;
  }

  .tabs__tab {
    float: left;
    height: auto;
    width: auto;
    margin: 0 0.35rem -1px 0;
    text-align: center;
  }
}

// Secondary tab.
.tabs.secondary {
  display: block;
  margin-top: 16px;
  margin-top: 1rem;

  .tabs__tab {
    display: block;
    padding: 5px 15px 5px 16px;
    margin-left: -1px;
    transition: border-color $transition, background-color $transition;
  }

  .tabs__tab + .tabs__tab {
    border-top: 1px solid #d9d8d4;
  }

  .tabs__tab.menu-item--active-trail {
    color: #004f80;
    padding-left: 15px;
  }

  a {
    background-color: transparent;
    padding: 7px 13px 5px;
    text-decoration: none;
  }

  a:focus {
    text-decoration: underline;
  }

  .menu-item--active-trail a {
    color: #004f80;
  }
}

[dir='rtl'] .tabs.secondary .tabs__tab {
  padding-left: 15px;
  padding-right: 16px;
  margin-left: 0;
  margin-right: -1px;
}

[dir='rtl'] .tabs.secondary .tabs__tab.menu-item--active-trail {
  border-left: 1px solid #bfbfbf;
  border-right: 2px solid #004f80;
  padding-right: 15px;
}

.is-horizontal .tabs.secondary .tabs__tab {
  background: none;
  float: left;
  position: relative;
  top: 0;
  z-index: 15;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right-color: transparent;
  border-top: 0;
  padding: 0;
}

[dir='rtl'] .is-horizontal .tabs.secondary .tabs__tab {
  float: right;
  border-right: 1px solid transparent;
  border-left-color: transparent;
  padding-right: 0;
}

.is-horizontal .tabs.secondary .tabs__tab.menu-item--active-trail {
  border-bottom-color: #004f80;
}

.is-horizontal .tabs.secondary .tabs__tab:hover,
.is-horizontal .tabs.secondary .tabs__tab:focus {
  border-bottom-color: #008ee6;
}

ul.level-1 {
  @include clearfix;
  position: relative;
  white-space: nowrap;
}

.is-collapse-enabled {

  li.tabs__tab {
    width: 100%;
    display: none;
  }

  .is-open li.tabs__tab {
    display: block;
    position: relative;
    border-bottom: 1px solid $white;
  }

  .is-open li.menu-item--active-trail {
    border-bottom: none;
  }

  li.tabs__tab.menu-item--active-trail.tabs__tab {
    display: block;
    left: 0;
    width: 75%;
    text-align: center;
    margin-bottom: 1px;
  }

  .is-open li.tabs__tab.menu-item--active-trail.tabs__tab {
    position: absolute;
    top: 0;
  }

  ul.level-1 {
    white-space: normal;
  }

  .is-open ul.level-1 {
    padding-top: 1.4em;
  }
}

.tabs.is-open {
  max-height: 999em;
  padding-bottom: 1rem;
}

.tabs {
  clear: both;
  margin: 1rem 0 0;
}

.tabs > li {
  display: inline-block;
  margin-right: 0.3em;
}

li.tabs__tab {
  padding: 0;
}

.tabs__tab a.active,
.tabs__tab a.is-active,
.tabs__tab a:focus {
  background: $ma-light-gray;
  color: $ma-dark-blue;
}

/* Need the ul.level-1 to give greater specificity to the active link */
ul.level-1 li.menu-item--active-trail a {
  background: $ma-light-gray;
  color: $ma-dark-blue;
}

.secondarymenu {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.secondarymenu-main {
  @include content-container;

  @include breakpoint($max-tab-p) {
    padding-left: 0;
    padding-right: 0;
  }
}

.secondarymenu-secondary {
  background-color: $ma-light-gray;
}

/* Secondary Menu Level 2 */
.secondarymenu-level-wrapper.level-2 {
  @include content-container;
  text-transform: uppercase;

  a:link {
    display: block;
    color: $ma-dark-blue;
    padding: 0.75rem;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    display: block;
    color: $ma-dark-blue;
    text-decoration: underline;
  }

  a:visited {
    color: $ma-dark-blue;
  }

  .menu-item {
    border-bottom: 1px solid $white;
    display: block;
    font-size: 0.6em;
    padding-top: 0;
    text-align: left;

    @include breakpoint($min-desk) {
      border-bottom: 0;
      display: inline-block;
      padding: 0;
    }

    :lang(zh-hans) & {
      font-size: 12px;
    }
  }

  .menu-item--active-trail {

    a {
      color: $ma-gray;
      text-decoration: none;
    }
  }
}

.secondarymenu-level-wrapper.level-2 {

  a:link,
  a:visited {
    display: inline-block;
    padding: 0.5rem;
    width: 100%;

    @include breakpoint($min-desk) {
      padding: 0.5rem;
    }
  }
}

// The divider is the 2px blue line that extends full width.
.secondarymenu-divider {
  background-color: $ma-dark-blue;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 1.3em;
  transform: translateX(-50%);
  width: 100%;

  :lang(ja) &,
  :lang(zh-hans) & {
    top: 1.6em;
  }

  .is-collapse-enabled & {
    z-index: 21;
  }
}

.secondarymenu-level-wrapper.tabs {
  margin: 0;

  &.is-open {
    padding-bottom: 0;
  }
}
