.node--type-media.node--view-mode-block-1-column {
  
  .field-node--title {
    font-size: 20px;
  }
  
  .media-items {
    display: block;
    width: 100%;
      
    .media-row {
      clear: both;
      margin-bottom: 25px;
      width: 100%;    
    }
  }
}

.node--type-media .field-node--title {
  font-size: 20px;
}