// Site Selector Styles for Desktop

.region-header-secondary .locale-flag {
  display: inline-block;
  width: 24px;
  height: 15px;
  margin-bottom: -6px;
  overflow: hidden;
  background-image: url('../images/flags-small.png');
  background-repeat: no-repeat;
}

.region-header-mobile-menu  .locale-flag,
.region-header-mobile-menu-landing  .locale-flag {
  display: inline-block;
  width: 24px;
  height: 15px;
  margin-bottom: -2px;
  overflow: hidden;
  background-image: url('../images/flags-small.png');
  background-repeat: no-repeat;
}

.region-footer-copyright .locale-flag {
  display: inline-block;
  width: 40px;
  height: 27px;
  margin-bottom: -4px;
  overflow: hidden;
  background-image: url('../images/flags2.gif');
  background-repeat: no-repeat;
}

.region-header-secondary .locale-name {
  color: $ma-dark-blue;
  font-size: 0.8em;
  font-family: 'AvenirLTStd-Book','Arial',sans-serif;
  text-transform: uppercase;
  vertical-align: sub;

  &:hover {
    color: $ma-flame;
  }

  :lang(ja) & {
    font-size: 14px;
  }
}

.region-footer-copyright .locale-name {
  color: $ma-dark-blue;
  font-size: 1.25em;
  font-family: 'AvenirLTStd-Heavy','Arial',sans-serif;
  padding-left: 0.5em;

  &:hover {
    text-decoration: none;
    color: $ma-flame;
  }
}


// hover state for the site selector link
.block-manh-site-selector {

  a:hover {
    text-decoration: none;
    color: $ma-flame;
  }
}

// Site Selector Styles for Mobile and Tablet

.region-header-mobile-menu,
.region-header-mobile-menu-landing {

  .block-manh-site-selector {
    width: 100%;
    height: auto;
    background: $ma-light-gray;
    border-top: 2px solid $white;
    padding: 1rem;
  }

  .locale-flag,
  .locale-name {
    display: inline-block;
    color: $ma-dark-blue;
    font-size: 0.8em;

    :lang(ja) & {
      font-size: 14px;
    }
  }
}

// Hide the site selector in the secondary region
.region-header-site-selector .block-manh-site-selector,
.region-header-secondary .block-manh-site-selector {
  display: none;

  @include breakpoint($min-desk) {
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
    transition: opacity $transition;
    vertical-align: top;

    .ma-sticky-header & {
      opacity: 0;
    }
  }
}

// flag styles
.region-header-secondary,
.region-header-mobile-menu,
.region-header-mobile-menu-landing {

  .en .locale-flag {
    background-position: 0 -438px;
  }

  .en-in .locale-flag {
    background-position: 0 -168px;
  }

  .en-gb .locale-flag {
    background-position: 0 -424px;
  }

  .en-au .locale-flag {
    background-position: 0 -3px;
  }

  .en-nl .locale-flag {
    background-position: 0 -228px;
  }

  .es .locale-flag {
    background-image: none;
    display: none;
  }

  .ja .locale-flag {
    background-position: 0 -197px;
    border: 1px solid $ma-light-gray;
  }

  .ja-jp .locale-flag {
    background-position: 0 -197px;
    border: 1px solid $ma-light-gray;
  }

  .zh-hans .locale-flag {
    background-position: 0 -48px;
  }

  .zh-cn .locale-flag {
    background-position: 0 -48px;
  }

  .nl-be .locale-flag {
    background-position: 0 -33px;
  }

  .pt-br .locale-flag {
    background-position: 0 -454px;
  }

  .fi .locale-flag {
    background-position: 0 -469px;
    border: 1px solid $ma-light-gray;
  }

  .en-hk .locale-flag {
    background-position: 0 -123px;
  }

  .hu .locale-flag {
    background-position: 0 -138px;
  }

  .is .locale-flag {
    background-position: 0 -153px;
  }

  .en-id .locale-flag {
    background-position: 0 -484px;
    border: 1px solid $ma-light-gray;
  }

  .it .locale-flag {
    background-position: 0 -183px;
  }

  .ms-my .locale-flag {
    background-position: 0 -212px;
  }

  .nl .locale-flag {
    background-position: 0 -228px;
  }

  .nl-nl .locale-flag {
    background-position: 0 -228px;
  }

  .en-nz .locale-flag {
    background-position: 0 -243px;
  }

  .nb .locale-flag {
    background-position: 0 -498px;
  }

  .pl .locale-flag {
    background-position: 0 -272px;
    border: 1px solid $ma-light-gray;
  }

  .pt-pt .locale-flag {
    background-position: 0 -288px;
  }

  .ro .locale-flag {
    background-position: 0 -303px;
  }

  .ru .locale-flag {
    background-position: 0 -318px;
    border: 1px solid $ma-light-gray;
  }

  .en-sg .locale-flag {
    background-position: 0 -333px;
    border: 1px solid $ma-light-gray;
  }

  .en-za .locale-flag {
    background-position: 0 -348px;
  }

  .es-es .locale-flag {
    background-position: 0 -363px;
  }

  .sv .locale-flag {
    background-position: 0 -378px;
  }

  .th .locale-flag {
    background-position: 0 -514px;
  }

  .en-ae .locale-flag {
    background-position: 0 -409px;
  }

  .fr-fr .locale-flag {
    background-position: 0 -93x;
  }

  .fr .locale-flag {
    background-position: 0 -93px;
  }

  .de .locale-flag {
    background-position: 0 -108px;
  }

  .es-pa .locale-flag {
    background-position: 0 -529px;
  }
}

.region-footer-copyright {

  .en .locale-flag {
    background-position: 0 -1005px;
  }

  .en-in .locale-flag {
    background-position: 0 -407px;
  }

  .en-gb .locale-flag {
    background-position: 0 -971px;
  }

  .en-au .locale-flag {
    background-position: 0 -6px;
  }

  .en-nl .locale-flag {
    background-position: 0 -539px;
  }

  .es .locale-flag {
    background-image: none;
    display: none;
  }

  .ja .locale-flag {
    background-position: 0 -473px;
    border: 1px solid $ma-light-gray;
  }

  .ja-jp .locale-flag {
    background-position: 0 -473px;
    border: 1px solid $ma-light-gray;
  }

  .zh-hans .locale-flag {
    background-position: 0 -174px;
  }

  .zh-cn .locale-flag {
    background-position: 0 -174px;
  }

  .nl-be .locale-flag {
    background-position: 0 -74px;
  }

  .pt-br .locale-flag {
    background-position: 0 -1038px;
  }

  .fi .locale-flag {
    background-position: 0 -1165px;
    border: 1px solid $ma-light-gray;
  }

  .en-hk .locale-flag {
    background-position: 0 -307px;
  }

  .hu .locale-flag {
    background-position: 0 -340px;
  }

  .is .locale-flag {
    background-position: 0 -372px;
  }

  .en-id .locale-flag {
    background-position: 0 -1135px;
    border: 1px solid $ma-light-gray;
  }

  .it .locale-flag {
    background-position: 0 -439px;
  }

  .ms-my .locale-flag {
    background-position: 0 -506px;
  }

  .nl .locale-flag {
    background-position: 0 -539px;
  }

  .nl-nl .locale-flag {
    background-position: 0 -539px;
  }

  .en-nz .locale-flag {
    background-position: 0 -572px;
  }

  .nb .locale-flag {
    background-position: 0 -1198px;
  }

  .pl .locale-flag {
    background-position: 0 -638px;
    border: 1px solid $ma-light-gray;
  }

  .pt-pt .locale-flag {
    background-position: 0 -672px;
  }

  .ro .locale-flag {
    background-position: 0 -705px;
  }

  .ru .locale-flag {
    background-position: 0 -738px;
    border: 1px solid $ma-light-gray;
  }

  .en-sg .locale-flag {
    background-position: 0 -772px;
    border: 1px solid $ma-light-gray;
  }

  .en-za .locale-flag {
    background-position: 0 -805px;
  }

  .es-es .locale-flag {
    background-position: 0 -838px;
  }

  .sv .locale-flag {
    background-position: 0 -871px;
  }

  .th .locale-flag {
    background-position: 0 -1072px;
  }

  .en-ae .locale-flag {
    background-position: 0 -938px;
  }

  .fr-fr .locale-flag {
    background-position: 0 -240px;
  }

  .fr .locale-flag {
    background-position: 0 -240px;
  }

  .de .locale-flag {
    background-position: 0 -273px;
  }

  .es-pa .locale-flag {
    background-position: 0 -1104px;
  }
}

// Selection Page Styles
.manh-column-menu {

  > .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include breakpoint($tab-l) {
      flex-wrap: nowrap;
    }
  }

  > .menu > .menu-item {
    flex: 1 1 50%;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 1px solid $ma-light-gray;

    @include breakpoint($tab-l) {
      flex: 1 1 20%;
      padding-bottom: 0;
      padding-top: 0;
      border-bottom: none;
      border-left: 1px solid $ma-light-gray;
    }
  }

  .unlinked {
    @include primary-font-heavy;
    color: $ma-dark-blue;
    font-size: 21px;
  }
}
