// Slick slider overrides.
.main-slider {
  padding: 0;
  margin: 0;
  min-height: 340px;

  @include breakpoint($desk-full) {
    min-height: 440px;
  }

  // Indicator dots.
  .slick-dots {
    bottom: 32px;
    display: flex !important;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 100%;

    li {
      height: 16px;
    }
  }

  .slick-dots button {
    background: transparent;
    border: 0;
    color: transparent;
    height: 18px;
    margin: 0 16px;
    overflow: hidden;
    padding: 0;
  }

  .slick-dots button::before {
    background-color: $ma-light-gray;
    border: 1px solid #535353;
    border-radius: 50%;
    content: '';
    display: block;
    height: 16px;
    width: 16px;
  }

  .slick-dots button:hover,
  .slick-dots button:focus {

    &::before {
      background-color: $ma-aqua;
    }
  }

  .slick-active button::before,
  .slick-active button:focus::before {
    background-color: $ma-flame;
  }
}

.slick-track {

  .main-slider__slide {
    padding-left: 0;
    padding-right: 0;
  }

  .main-slider__title h2 {
    line-height: 1;
  }

  .hero_ma_dark_blue {
    background-color: $ma-dark-blue;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_dark_blue_brand_pattern {
    background-image: url('../images/ma_dark_blue_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_dark_blue_push_pattern {
    background-image: url('../images/ma_dark_blue_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_light_blue {
    background-color: $ma-light-blue;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_light_blue_brand_pattern {
    background-image: url('../images/ma_light_blue_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_light_blue_push_pattern {
    background-image: url('../images/ma_light_blue_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_flame {
    background-color: $ma-flame;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_flame_brand_pattern {
    background-image: url('../images/ma_flame_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_flame_push_pattern {
    background-image: url('../images/ma_flame_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_aqua {
    background-color: $ma-aqua;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_aqua_brand_pattern {
    background-image: url('../images/ma_aqua_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_aqua_push_pattern {
    background-image: url('../images/ma_aqua_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_lavender {
    background-color: $ma-lavender;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_lavender_brand_pattern {
    background-image: url('../images/ma_lavender_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_lavender_push_pattern {
    background-image: url('../images/ma_lavender_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_white {
    background-color: $white;

    .main-slider__title h2,
    .main-slider__description {
      color: $ma-dark-blue;
    }
  }

  .hero_ma_dark_gray {
    background-color: $ma-dark-gray;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_dark_gray_brand_pattern {
    background-image: url('../images/ma_dark_gray_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_dark_gray_push_pattern {
    background-image: url('../images/ma_dark_gray_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_medium_gray {
    background-color: $ma-medium-gray;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_medium_gray_brand_pattern {
    background-image: url('../images/ma_medium_gray_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_medium_gray_push_pattern {
    background-image: url('../images/ma_medium_gray_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $white;
    }
  }

  .hero_ma_gray {
    background-color: $ma-gray;

    .main-slider__title h2,
    .main-slider__description {
      color: $ma-dark-blue;
    }
  }

  .hero_ma_gray_brand_pattern {
    background-image: url('../images/ma_gray_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $ma-dark-blue;
    }
  }

  .hero_ma_gray_push_pattern {
    background-image: url('../images/ma_gray_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $ma-dark-blue;
    }
  }

  .hero_ma_light_gray {
    background-color: $ma-light-gray;

    .main-slider__title h2,
    .main-slider__description {
      color: $ma-dark-blue;
    }
  }

  .hero_ma_light_gray_brand_pattern {
    background-image: url('../images/ma_light_gray_brand.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $ma-dark-blue;

    }
  }

  .hero_ma_light_gray_push_pattern {
    background-image: url('../images/ma_light_gray_push.gif');
    background-size: 155px;

    .main-slider__title h2,
    .main-slider__description {
      color: $ma-dark-blue;

    }
  }
}

.main-slider__slide-content-wrapper {
  padding: 24px 32px;
  position: relative;
  z-index: 1;
}

.main-slider__slider-image {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 1200px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  //testing
  display: none;

  div,
  .view-mode-image-slide {
    height: 100%;
  }

  img {
    display: none;

    @include breakpoint($tab-l) {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}


.main-slider__slide-content-wrapper {

  .content-buttons {
    flex: 1 0 auto;
    margin-top: 1.5em;
    z-index: 9;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    a {
      margin-bottom: 0;
    }
  }
}

.main-slider__title {
  height: auto;
  position: relative !important;
  width: 100%;
  z-index: 9;

  @include breakpoint($tab-l) {
    width: 60%;
  }

  h2 {
    @include primary-font;
    font-size: 1.953em;
    margin: 0;

    @include breakpoint($desk-full) {
      font-size: 2.5rem;
    }

    strong {
      font-weight: 900;
    }

    p {
      margin: 0;
    }
  }
}

.main-slider__description {
  display: block;
  flex: 0 1 auto;
  margin-top: 0.75em;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 50;

  @include breakpoint($tab-l) {
    width: 60%;
  }

  @include breakpoint($desk) {
    font-size: 18px;
    width: 60%;
  }

  @include breakpoint($min-desk) {
    flex: 0 1 auto;
    width: 60%;
  }

  @include breakpoint($desk-full) {
    font-size: 22px;
  }

  a {
    color: $white;

    &.readmore {
      color: #58b1ea;
      font-size: 95%;
    }
  }

  p {
    margin: 0;
  }

  h4 {
    font-size: 0.8em;
    margin: 10px 0;
    padding: 0;
  }

  .slider-meta a {
    margin: 0;
    background-color: #c01f25;
    font-size: 75%;
    padding: 2px 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.main-slider__content-overlay {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-bottom: 4rem;
  position: relative;
  width: 100%;

  &.has-overlay::before {
    background: linear-gradient(to right, $black, $black 5%, transparent);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
