/*** EU COMPLIANCE MODULE STYLES ***/

// Note, most of the styles here have an !important attribute.
// This is because we need to override the styles that are in
// the EU Cookie Compliance Module.

.sliding-popup-bottom {
  background: $ma-aqua !important;
  padding: 1em !important;
  height: 250px !important;

  @include breakpoint($min-desk) {
    height: 180px !important;
  }

  .popup-content {
    max-width: 960px !important;
  }

  #popup-text {
    max-width: 100% !important;
  }

  #popup-buttons {
    clear: left;
    float: left !important;
    max-width: 100% !important;

    button {
      @include primary-font-heavy;
      background: transparent !important;
      border: 1px solid $white !important;
      border-radius: 0.65em !important;
      box-shadow: none !important;
      margin: 0 1em 0.5em 0 !important;
      padding: 0.3rem 2rem !important;
      text-shadow: none !important;

      @include breakpoint($min-desk) {
        margin: 1em 1em 0 0 !important;
      }

      &:hover {
        background: rgba($black, 0.4) !important;
        border: 1px solid rgba($black, 0.4)!important;
        text-shadow: none !important;
      }
    }
  }

  p {
    color: $white !important;
    font-family: $primary-font !important;
    font-weight: normal;
    font-size: 1em;
  }

  h2 {
    font-family: $primary-font-heavy !important;
    font-size: 1.3em !important;
    font-weight: normal !important;
  }
}
