.social-sharing {
  @include clearfix;
  background: $white;
  height: 42px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;

  .title,
  .buttons {
    display: inline-block;
  }

  .title {
    font-size: 0.7em;
    text-align: center;
    vertical-align: top;
    padding-top: 5px;

    :lang(ja) & {
      font-size: 14px;
    }
  }
}

@include breakpoint($min-desk) {

  #block-socialsharebuttons {
    position: fixed;
    right: 0;
    top: 25%;
    z-index: 2000;
  }

  .social-sharing {
    margin-bottom: 0;
    padding: 0.25em;
    height: auto;
    border-top: 1px solid $ma-light-gray;
    border-left: 1px solid $ma-light-gray;
    border-bottom: 1px solid $ma-light-gray;
    text-align: left;

    .title,
    .buttons {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-top: 0;
    }
  }
}
