// Who We Serve block
.who-we-serve {
  display: flex;
  flex-direction: column;
  justify-content: center ;

  @include breakpoint($desk-full) {
    flex-direction: row;
  }

  .quote {
    color: $ma-dark-blue;
  }

  .name,
  .title {
    color: $ma-flame;
    font-size: 1.25em;

    p {
      margin: 0;
    }
  }

  .name {
    font-weight: 700;
  }
}

.who-we-serve .col-1,
.who-we-serve .col-2,
.who-we-serve .col-3 {
  align-items: center;
  border-right: 0;
  display: flex;
  flex: 0 1 25%;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em auto;
  padding: 0 1em;
  text-align: center;
  width: 90%;

  @include breakpoint($desk-full) {
    border-right: 2px solid $ma-flame;
  }

  @include breakpoint($tab-p) {
    margin: 2em auto;
    padding: 0 1em;
    width: 70%;
  }

  @include breakpoint($desk-full) {
    border-right: 2px solid $ma-flame;
    flex-direction: column;
    margin: 3em 0;
    padding: 0 1em;
    width: unset;
  }

  @include breakpoint($desk-wide) {
    flex-direction: column;
    margin: 3em 0;
    padding: 0 3em;
    width: unset;
  }
}

.who-we-serve .col-1 {
  border-left: 0;

  @include breakpoint($desk-full) {
    border-left: 2px solid $ma-flame;
  }
}

.who-we-serve .link a {
  @extend %button-light-blue2;
  color: $white;
  font-size: 1em;
  margin-left: 0;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($tab-l) {
    margin-left: 0;
  }

  a:hover,
  a:focus {
    color: $white;
  }
}
