
.why-manhattan {

  .why-manhattan-header {
    @include heading3;
    margin-bottom: 0;
    width: 100%;
  }

  .why-manhattan-items {

    @include breakpoint($desk) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -1rem;
      margin-right: -1rem;
    }

    .slider-with-arrows & {
      margin-left: 3rem;
      margin-right: 3rem;

      @include breakpoint($desk) {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  .why-manhattan-item {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    @include breakpoint($desk) {
      flex: 0 1 33.33%;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &:first-child {

      @include breakpoint($max-tab-slide) {
        margin-top: 1rem;
      }
    }
  }

  .anchor-wrapper {
    column-gap: 2rem;
    display: grid;
    grid-template-areas:
      'l-title l-title'
      'l-image l-image'
      'l-text l-text';
    grid-template-columns: 50%;
    grid-template-rows: auto;

    @include breakpoint($why-manhattan--tablet) {
      grid-template-areas:
        'l-image l-title'
        'l-image l-text'
        'l-image l-text';
      grid-template-rows: auto 1fr 1fr;
    }
  }

  .teaser-title {
    @include heading4;
    @include primary-font-heavy;
    font-size: 1em;
    grid-area: l-title;
    line-height: 2.5rem;
    margin-top: 0;

    @include breakpoint($why-manhattan--tablet) {
      line-height: 1.3em;
      margin-top: 0;
    }

    @include breakpoint($why-manhattan--teaser-title) {
      font-size: 17px;
    }
  }

  .field-node--field-teaser-image-alt-media {
    grid-area: l-image;
    margin-bottom: 0.5em;

    picture {
      display: block;
    }
  }

  .field-name-field-teaser-text-short {
    grid-area: l-text;
  }
}
