/*** This code defines classes that can be embedded by editors in the body ***/

.show-mobile {
  display: block;

  @include breakpoint($tab-p) {
    display: none;
  }

}

.show-tablet {
  display: none;

  @include breakpoint($tab-p) {
    display: block;
  }
}

.show-desktop {
  display: none;

  @include breakpoint($min-desk) {
    display: block;
  }

}

.intrinsic-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 120%;
  -webkit-overflow-scrolling: touch !important;
  border: 2px solid #00447b;

  @include breakpoint($max-desk) {
    overflow: auto;
    overflow-y: scroll !important;
  }
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-overflow-scrolling: touch;
}


