{#
/**
 * @file
 * Manhattan's theme implementation to display a Page Display Mode.
 *
 */
#}

<div class="node--type-page node--view-mode-{{ view_mode }}" role="main">
  {{ title_suffix.contextual_links }}
  <a href="{{ url }}" class="anchor-wrapper" rel="bookmark" >
    <div class="display-mode page-display-mode" data-eq-pts="small: 0, medium: 391, large: 631">
      <div class="page-teaser-image">
        {{ content.field_teaser_thumbnail }}
      </div>
      <div class="page-wrapper">
        <div class="teaser-title">
          {{ content.field_teaser_title }}
        </div>
        {{ content.field_teaser_text_long }}
        {{ content.field_teaser_text_short }}
      </div>
    </div>
  </a>
</div>
