{#
/**
 * @file
 * Manhattan's theme implementation to display a Customer List Display Mode.
 *
 */
#}
<div class="node--type-companylist node--view-mode-{{ view_mode }}" role="main">
  <div class="teaser-title">
    {{ content.field_teaser_title }}
  </div>

  {# Teaser text short is shown on mobile. #}
  {{ content.field_teaser_text_short }}

  {# Teaser text long is shown on desktop. #}
  {{ content.field_teaser_text_long }}

  {# `field_company` holds the Marquee items. #}
  {{ content.field_company }}
</div>
