{#
/**
 * @file
 * Manhattan's theme implementation to display a Support node.
 *
 */
#}

{% block content %}

  <article class="node--type-support">
    <div class="page-wrapper">
      {% if not page %}
        {% block title %}
          <h2>{{ label }}</h2>
        {% endblock %}
      {% endif %}

      <div class="support-wrapper">
        <div class="support-contact-info">
          {% if content.field_support_title|render|trim is not empty %}
            <div class="node--title">
              {{ content.field_support_title }}
            </div>
          {% endif %}

          {% if content.field_support_text|render|trim is not empty %}
            <p class="intro">
              {{ content.field_support_text }}
            </p>
          {% endif %}

          {% if content.field_support_phone|render|trim is not empty %}
            <span class="support-phone">
              {{ content.field_support_phone }}
            </span>
          {% endif %}

          {% if content.field_support_button_text|render|trim is not empty %}
            <div class="support-button">
              <a href="{{ support_link }}" class="button button-primary--one">{{ content.field_support_button_text }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
