{#
/**
 * @file
 * Manhattan's theme implementation to display an Event Display Mode.
 *
 */
#}

<div class="node--type-event node--view-mode-{{ view_mode }}" role="main">
  <a href="{{ url }}" class="anchor-wrapper" rel="bookmark">
    <div class="display-mode event-display-mode" data-eq-pts="small: 0, medium: 331, large: 600">
      <div class="field-node--field-event-dates page-teaser-image">
        <div class="teaser-date-range">

          {# Start date. #}
          <div class="teaser-startdate-container">
            <div class="teaser-month">
              {{ date_eventstart_month }}
            </div>
            <div class="teaser-date">
              {{ date_eventstart_day }}
            </div>
            <div class="teaser-year">
              {{ date_eventstart_year }}
            </div>
          </div>

          {# Seperator. #}
          <div class="teaser-date-separator">
            {{ 'to'|t}}
          </div>

          {# End date. #}
          <div class="teaser-enddate-container">
            <div class="teaser-month">{{ date_eventend_month }}
            </div>
            <div class="teaser-date">{{ date_eventend_day }}
            </div>
            <div class="teaser-year">{{ date_eventend_year }}
            </div>
          </div>
        </div>
      </div>

      <div class="page-wrapper">
        <div class="node-category-type">
          {{ type_name }}
        </div>
        <div class="teaser-title">
          {{ content.field_teaser_title }}
        </div>
        <div class="l-full-content l-content-body">
          {{ content.field_teaser_text_long }}
        </div>
      </div>

    </div>
  </a>
</div>
