{#
/**
 * @file
 * Manhattan's theme implementation to display a Partner Page.
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block l_top %}
  {# Message placeholder for gated content. #}
  {% if content.message_placeholder is not empty %}
    {{ content.message_placeholder }}
  {% endif %}

  {{ content.field_top }}
  {{ content.field_body_intro_title }}
  {{ content.field_body_intro_text }}

  <div class="partner-page-header">
    <div class="partner-page-title">
      {% block title %}
        <h1>
          {{ content.field_page_title }}
        </h1>
      {% endblock %}
      {{ content.field_partner_level }}
      {{ content.field_partner_location }}
    </div>
  </div>

  {% if (type_name is not empty) or (content.field_doc_type|render|trim is not empty) %}
    <div class="node-category-type">
      {{ content.field_doc_type }}
      {{ type_name }}
    </div>
  {% endif %}

  {% if content.field_page_title|render|trim is not empty %}
    <h1>
      {{ content.field_page_title }}
    </h1>
  {% endif %}

  {% if (author_name is not empty) or (content.field_article_date|render|trim is not empty) %}
    <div class="date-and-author">
      {% if author_name is not empty %}
        {% if lang_code == 'ja' %}
          {% trans %}著者: {{ author_name }},{% endtrans %}
        {% else %}
          {% trans %}By {{ author_name }},{% endtrans %}
        {% endif %}
      {% endif %}
      {{ content.field_article_date }}
    </div>
  {% endif %}

{% endblock %}

{% block l_content_body %}
  {{ content.field_body }}
  {{ content.field_customer }}
  {{ content.field_term_industry }}
  {{ content.field_page_type }}
  {{ content.field_partner }}
  {{ content.field_term_platform }}
  {{ content.field_term_product }}
  {{ content.field_term_solution }}
  {{ content.field_term_suite }}
  {{ blocks.node_content_body }}
{% endblock %}

{% block content %}
{% endblock %}
