{#
/**
 * @file
 * Manhattan's theme implementation to display a Video node.
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block content %}
{% endblock %}

{% block l_content_top %}
  {{ content.field_content_top }}
  {{ content.field_view_top }}
  {{ content.field_block_top }}
  {{ blocks.node_content_top }}
{% endblock %}

{% block l_content_body %}

{# Renders teaser image or video embed/upload depending on form state. #}
  <div class="video-row">
    {% if (content.video_placeholder is not empty) and (not has_video_with_playlist) %}
      {{ content.video_placeholder }}
    {% elseif has_embed %}
      {{ content.field_video_embed_code }}
    {% else %}
      {{ content.field_video_up }}
    {% endif %}
  </div>

  {{ content.field_body }}

  {% if (content.link_placeholder is not empty) or (contact_url is not empty) %}
    <div class="content-buttons">
      {% if content.link_placeholder is not empty %}
        {# For gated videos, render a link placehoder for the contact link. #}
        {{ content.link_placeholder }}
      {% elseif contact_url is not empty %}
        <a href="{{ contact_url }}" class="button-primary--four">
          {{ content.field_contact_text }}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
