{#
/**
 * @file
 * Manhattan's theme implementation to display a Quote display mode.
 *
 */
#}

<div class="quote-container" data-eq-pts="small: 0, medium: 331, large: 631">
  <div class="quote-wrapper" role="main">
    <div class="quote-element" role="main">
      <div class="icon-quote">
        <img src="/themes/manh/styles/images/quote.svg" alt="quote graphic">
      </div>

      <div class="quote-content">
        <div class="inner-wrapper">
          <div class="quote__quote">
            {{ content.field_quote }}
          </div>

          <div class="quote__quote-attribution">
            {{ content.field_quote_attribution }}
          </div>
        </div>
      </div>

      {% if has_related_document %}
        <div class="download-report">
          <a class="button button-primary--two" href="{{  path('entity.node.canonical', {'node': quote_reference_nid}) }}">
            {{ content.field_quote_reference_text }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  {% if customer_logo_image %}
    <div class="customer-logo">
      {{ customer_logo_image }}
    </div>
  {% endif %}
</div>
