{#
/**
 * @file
 * Manhattan's theme implementation to display a Page node.
 */
#}

{% extends 'themes/manh/templates/node/node.html.twig' %}

{% block l_top %}
  {# Message placeholder for gated content. #}
  {% if content.message_placeholder is not empty %}
    {{ content.message_placeholder }}
  {% endif %}

  {{ content.field_top }}
  {{ content.field_body_intro_title }}
  {{ content.field_body_intro_text }}

{% endblock %}

{% block content %}
{% endblock %}

