// Match the biography display mode styles to the biography view styles//

.biography-display-mode {
  flex-direction: row;
  max-width: none;
  margin: 0;

  @include breakpoint($tab-p) {
    max-width: none;
    margin: 0;
  }

  @include breakpoint($tab-l) {
    border-top: 1px solid $ma-light-gray;
    float: left;
    padding-top: 1rem;
  }

  &[data-eq-state='large'] {
    display: flex;
    width: 100%;

    .field-name-field-teaser-text-long {
      max-width: 37rem;
    }

    .field-node--field-bio-quote {
      padding: 1rem 2rem;
      float: left;
    }

    .biography-wrapper {
      flex: 1 1 auto;
      max-width: 600px;
    }

  }

  &[data-eq-state='medium'],
  &[data-eq-state='small'] {
    display: flex;
    width: 100%;

    .field-name-field-bio-quote {
      padding: 1em 0 0 0;
    }

    .biography-wrapper {
      flex: 1 1 300px;
      max-width: none;
    }

  }

  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

}


.biography-jobtitle,
.biography-companyname {
  display: inline-block;
  float: left;
  font-size: .8em;
  line-height: 1rem;
}

.field-node--field-field-bio-desc {
  margin-top: 1rem;
}

.title-co {
  @include primary-font-heavy;
  color: $black;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  display: block;
  float: left;

  @include breakpoint($tab-l) {
    display: inline-block;
  }
}

.full-bio {
  display: none;

  @include breakpoint($min-desk) {
    clear: left;
    display: block;
  }
}

// The headshot-quote styles are used for the Biographies, Board of Directors and Leadership Team styles  //
.headshot-quote {
  max-width: 155px;
  flex: 1 1 155px;
  margin-right: 1rem;

  .member-name,
  .title-co,
  .bio-quote {
    display: none;
  }

  @include breakpoint($tab-p) {
    margin-right: 2rem;

    .member-name,
    .title-co,
    .bio-quote {
      display: none;
    }

  }

  @include breakpoint($min-desk) {
    flex: 1 0 0;

    .bio-quote {
      display: block;
    }
  }
}

// The name-title-bio styles are used for the Biographies, Board of Directors and Leadership Team styles //
.name-title-bio {

  @include breakpoint($tab-p) {
    flex: 3 0 0;
    display: block;

    .full-bio {
      display: none;
    }
  }

  @include breakpoint($min-desk) {
    .full-bio {
      display: block;
    }

    .bio-quote {
      display: none;
    }
  }
}
