// Company List Marquee.
//
// Styles for Company List Marquee that displays
// `company` nodes in a scrolling Slick carousel.
//
// Note regarding the [data-company-display-type]
// This is the highest-level, going up the DOM,
// that this component is referenced.
// This is a viewmode set on the `Page` type, and has the following specs.
// - block_1_column = Company List viewmode set on Page node
// -- Page node has 2 sidebars + this component in center.
// -- 2 logos should be displayed.
//
// - block_2_column = Company List viewmode set on Page node
// -- Page node has 1 sidebars + this component in center.
// -- 2 logos should be displayed below desktop
// -- 4 logos should be displayed at desktop.
//
// - block_3_column = Company List viewmode set on Page node
// -- Page node has 2 sidebars
// -- 2 logos should be displayed at mobile (< 639px)
// -- 4 logos should be displayed at tablet (< 1020px)
// -- 2 logos should be displayed at desktop (> 1020px)
//
// When the component has more than the minimum,
// the items are displayed in a scrolling marquee.


// Data attribute is set in preprocess, to make value
// availble in template.
[data-company-display-type] {
  margin-top: 1.5rem;
}

// Company List node that is attached to Page node.
.node--type-companylist {

  .teaser-title {
    @include heading3;
    margin: 0 0 0.5rem;
  }

  // Teaser text short is shown on mobile.
  .field-node--field-teaser-text-short {

    @include breakpoint($desk) {
      display: none;
    }
  }

  // Teaser text long is shown on desktop.
  .field-node--field-teaser-text-long {

    @include breakpoint($max-desk) {
      display: none;
    }
  }
}

// Marquee.
.companylist-marquee__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;

  &.display--text {
    justify-content: flex-start;
  }
}

.companylist-marquee__item {
  flex: 0 1 50%;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .display--text & {
    flex: initial;
  }

  // Scope sizing to the display type.
  .display--color &,
  .display--grayscale & {

    // Element is block-1-column and should only ever show 2 items.
    [data-company-display-type='block-1-column'] & {
      flex: 0 1 50%;
    }

    // Element is block-1-column and should only ever show 2 items.
    [data-company-display-type='block-2-columns'] & {
      flex: 0 1 50%;

      @include breakpoint($desk) {
        flex: 0 1 240px;
      }
    }

    [data-company-display-type='block-3-columns'] & {
      flex: 0 1 50%;

      @include breakpoint($tab-p) {
        flex: 0 1 25%;
      }

      @include breakpoint($desk) {
        flex: 0 1 240px;
      }
    }
  }
}

// Marquee text component.
.companylist-marquee__text {
  align-items: center;
  background-color: $ma-light-gray;
  border-radius: 5px;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  min-height: 100px;
  padding: 0.5rem 2rem;
  text-align: center;
  width: 240px;
  word-wrap: break-word;
}
