// This sass file is for the dropdown stylings on the contact us form. The !importants are to override Chosen and default field settings on mobile

.contact-message-contact-us-form {

  .form-item {
    margin-top: 0;
  }

  label {
    @include primary-font-heavy;
    align-items: flex-end;
    display: flex;
    min-height: 50px;
    padding-left: 0.5rem;
  }

  .form-required::after {
    position: relative;
    top: -1rem;
    padding: 0 3px;
  }

  .form-text,
  .form-textarea,
  .form-email,
  .form-tel {
    min-height: 40px;
    font-size: 1em;
    padding-left: 1rem;
    width: 100%;
  }

  .field--name-field-opt-in-gdpr-cookie {
    width: 100%;
  }

  .form-item-field-opt-in-gdpr-cookie-value {
    margin-top: 1em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .form-checkbox {
      min-height: 0 !important;
      margin-top: 0.5em;
    }

    label {
      padding: 0;
      flex-shrink: 1;
      flex-basis: 90%;
      padding-left: 1em;
    }

    .description {
      font-size: 0.75em;
      margin-left: 2em;

      :lang(ja) & {
        font-size: 14px;
      }
    }
  }

  .form-select {
    width: 100% !important;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 0.65rem;
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid;
    border-color: $ma-gray;
    margin: 0 3px;
    padding: 0.3rem;
    text-align: left;
    vertical-align: top;
    min-height: 40px !important; // added important for mobile override
    font-size: 1em;
    padding-left: 1rem;
    background-image: url('../images/select-arrow-open.png') !important;
    background-size: 20px 20px !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    color: $ma-gray;
  }

  .alert {
    color: $rust;
    width: 90%;
    margin-left: 10px;
  }

  .form-actions {
    float: left;
    clear: both;
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  h3 {
    flex: 1 1 100%;
  }

  .field-row--wrapper {
    width: 100%;
    display: block;

    @include breakpoint($min-desk) {
      display: flex;
    }
  }

  .field--name-field-first-name,
  .field--name-field-title,
  .field--name-field-telephone,
  .field--name-field-country,
  .field--name-field-last-name,
  .field--name-field-company-name,
  .field--name-field-heard-how,
  .field--name-field-email,
  .field--name-field-logistics-first-name,
  .field--name-field-logistics-last-name,
  .field--name-field-title,
  .field--name-field-logistics-company,
  .field--name-field-logistics-telephone {
    flex: 1 1 100%;
  }

  .form-type-select {
    width: 100%;
    position: relative;
  }

  @include breakpoint($min-desk) {

    .field--name-field-first-name,
    .field--name-field-title,
    .field--name-field-telephone,
    .field--name-field-email,
    .field--name-field-logistics-first-name,
    .field--name-field-title {
      flex: 1 1 48%;
      margin-right: 2%;
      float: left;
      clear: left;
      align-self: flex-start;
    }

    .field--name-field-last-name,
    .field--name-field-company-name,
    .field--name-field-heard-how,
    .field--name-field-country,
    .field--name-field-logistics-last-name,
    .field--name-field-logistics-company,
    .field--name-field-logistics-telephone {
      flex: 1 1 48%;
      float: right;
      clear: right;
      align-self: flex-start;
    }

    .field--name-field-telephone,
    .field--name-field-logistics-telephone {
      margin-right: 0;
      margin-left: 2%;
    }

    // Adjust margins for the re-ordered Japanese form.
    .field--name-field-first-name {
      :lang(ja) & {
        margin-right: 0;
      }
    }

    .field--name-field-last-name {
      :lang(ja) & {
        margin-right: 2%;
      }
    }
  }

  .field--widget-string-textarea,
  .field--name-field-interested-in {
    flex: 1 1 100%;
    align-self: flex-start;
  }
}

// Overriding styles for chosen
.chosen-container-single,
.chosen-container-active,
.chosen-container-active.chosen-with-drop {
  background-image: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;

  .chosen-drop {
    width: 96%;
    margin: 0 0 0 9px;
    padding-top: 2px;
  }

  .chosen-container-multi {
    display: none;
  }

  .chosen-single {
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 0.65rem;
    -webkit-appearance: none;
    background: $white;
    border: 1px solid;
    border-color: $ma-gray;
    margin: 0 3px;
    padding: 0.3rem;
    text-align: left;
    vertical-align: top;
    min-height: 40px !important; // added important for mobile override
    font-size: 1em;
    padding-left: 1rem;
    width: 100%;
    color: $ma-gray;

    div > b {
      background-image: url('../images/select-arrow-open.png') !important;
      border: none;
      border-style: none;
      margin: 0;
      background-size: 20px 20px !important;
      background-position: 100% 50% !important;
      background-repeat: no-repeat !important;
      padding: 4px;
    }

    div {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 33px;
      height: 100%;
      padding-right: 11px;
    }

    span {
      padding-top: 8px;
      height: 40px;
      min-height: 40px !important; // added important for mobile override
      font-size: 1em;
      margin-top: -6px;
    }
  }
}

.chosen-container .chosen-results {
  z-index: 9999999;
  background: $white;
}

// Hide Chosen selector on multiple choice fields
.chosen-container.chosen-container-multi.form-select {
  display: none !important;
}

#edit-event-type,
#edit-doc-type,
#edit-interactive-type {
  display: block !important;
  float: right;
}

// Sidebar mods for dropdown forms
.office-locations {

  .form-select {
    max-width: 100%;
    min-width: 100%;
    margin: 0 5px;
    margin-left: -3px !important;
  }

  .form--inline .form-item {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0.75rem;
  }

  .form-select {
    max-width: 100%;
    min-width: 100%;
    margin-left: -3px !important;
    width: 100% !important;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 0.65rem;
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid;
    border-color: $ma-gray;
    margin: 0 3px;
    padding: 0.3rem;
    text-align: left;
    vertical-align: top;
    min-height: 40px !important; // added important for mobile override
    font-size: 1em;
    padding-left: 1rem;
    background-image: url('../images/select-arrow-open.png') !important;
    background-size: 20px 20px !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    color: $ma-gray;
  }

  .form--inline .form-item {
    max-width: 100%;
    min-width: 100%;
  }

  .display-mode[data-eq-state='medium'],
  .display-mode[data-eq-state='large'] {
    display: block;
  }
}

// Sidebar mods for dropdown on office locations page, since dropdown is outside of second column
.view-office-locations-with-map {

  .form-select {
    max-width: 100%;
    min-width: 100%;
    margin-left: -3px !important;
    width: 100% !important;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 0.65rem;
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid;
    border-color: $ma-gray;
    margin: 0 3px;
    padding: 0.3rem;
    text-align: left;
    vertical-align: top;
    min-height: 40px !important; // added important for mobile override
    font-size: 1em;
    padding-left: 1rem;
    background-image: url('../images/select-arrow-open.png') !important;
    background-size: 20px 20px !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    color: $ma-gray;
  }

  .form--inline .form-item {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
  }
}

// General overrides for mobile
#main-wrapper select,
#main-wrapper input {
  min-height: 40px;
}

// Format Contact Confirmation Message
.contact-confirmation--message {
  margin-top: 2rem;
  width: 60%;
  padding: 0 0.5em 0 0.5em;

  @include breakpoint($min-tab-l) {
      padding: 0 1em 0 3em;
    }
}

// Gated form
.manh-gated-form {
  margin-bottom: 1.75rem;
  padding: 0.75rem;
  background: $ma-lavender;

  label,
  p,
  .field-name-field-gated-form-desc {
    color: $white;
    font-family: $primary-font;
  }

  .gate-form {
    @include clearfix;
  }

  .form-text,
  .form-textarea,
  .form-email,
  .form-tel {
    min-height: 40px;
    font-size: 1em;
    padding-left: 1rem;
    width: 100%;
  }

  .form-select {
    width: 100% !important;
    box-sizing: border-box;
    margin-left: -3px !important;
  }

  .form-item, .form-actions {
    margin-top: 0;
  }

  .form-actions:last-child {
    margin-bottom: 0;
  }

  .form-type-select {
    width: 100%;
  }

  h3 {
    margin-top: 0.5rem;
  }

  select.form-select {
    max-width: 100%;
    min-width: 100%;
    width: 100% !important;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 0.65rem;
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid;
    border-color: $ma-gray;
    margin: 0 3px;
    padding: 0.3rem;
    text-align: left;
    vertical-align: top;
    min-height: 40px !important; // added important for mobile override
    font-size: 1em;
    padding-left: 1rem;
    background-image: url('../images/select-arrow-open.png') !important;
    background-size: 20px 20px !important;
    background-position: 98% 50% !important;
    background-repeat: no-repeat !important;
    color: $ma-gray;
  }

  .form-submit {
    margin-left: 3px;
  }

  input {
    margin-left: 0;
  }
}

// Gated Video Form (With Playlist)
.node--type-video {
  .has-playlist {
    .manh-gated-form {
      @include breakpoint($min-desk) {
        margin-top: -301px;
      }

      @include breakpoint($desk-full) {
        margin-top: -282px;
      }
    }
  }
}

// Landing page language dropdown overrides
#block-nodelanguageselectorforlandingpages,
#block-nodelanguageselectorforlandingpages-2 {
  margin: 0 auto;
  text-align: center;
  display: flex;
  float: none;
  position: relative;
  width: 98%;

  @include breakpoint($min-desk) {
    float: right;
    width: 200px;
    margin: 0;
    padding: 2rem 0 0 0;
  }

  select {
    background: transparent;
    border: none;
    padding-top: 4px;
    padding-left: 0;
    margin-left: -2px;
    width: 100%;
    background-image: url('../images/select-arrow-open.png') !important;
    background-size: 20px 20px !important;
    background-position: 98% 75% !important;
    background-repeat: no-repeat !important;
  }

  .content {
    flex: 1 1 100%;
  }

  .form-type-select {
    position: relative;
    max-width: 100%;
    min-width: 100%;
    width: 100% !important;
    box-sizing: border-box;
    background-clip: padding-box;
    border-radius: 0.65rem;
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid;
    border-color: $ma-gray;
    margin: 0 3px;
    padding: 0.3rem;
    text-align: left;
    vertical-align: top;
    min-height: 40px !important; // added important for mobile override
    font-size: 1em;
    padding-left: 1rem;
    color: $ma-gray;
    max-height: 24px;

    ul {
      display: none;
    }
  }

  .chosen-with-drop {
    position: relative;
    margin-top: 10px;
    border-top: 0;
    width: 100%;

    .chosen-results {
      display: block;
      position: relative;
      background: $white;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
      z-index: 1010;
      border: 1px solid #aaa;
      margin: 7px 0 0 0 !important;
      width: 95% !important;
      border-radius: 0 0 4px 4px;
      background-clip: padding-box;
      padding: 0;
      color: $ma-gray;
      z-index: 9999999;
      background: $white;

      @include breakpoint($tab-p) {
        width: 98% !important;
      }

      li {
        padding: 5px 10px;
        cursor: pointer;
        font-size: 1em;
        font-family: $primary-font;
        line-height: 1.4;
        font-weight: 100;

        &:hover,
        &:focus,
        &:active {
          background-color: #3875d7;
          background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
          color: $white;
        }
      }
    }
  }

  .chosen-container-single {
    left: 0;
    position: absolute;
    width: 100% !important;
    top: 8px;
    cursor: pointer;

    div > b {
      padding: 10px;
    }

    .chosen-drop {
      background: transparent;
      border: none;
      box-shadow: none;
      width: 100%;

      @include breakpoint($min-desk) {
        width: 96%;
      }
    }
  }

  .chosen-single {
    border: none;
    box-shadow: none;
    background: none;
    margin-top: -8px;
    width: 98%;
    margin-bottom: -11px;

    @include breakpoint($min-desk) {
      width: 193px;
    }

    div > b {
      margin-top: -2px;

      @include breakpoint($min-desk) {
        margin-top: -1px;
      }
    }
  }

  input,
  .chosen-search {
    display: none;
  }

  form {
    padding: 2rem;

    @include breakpoint($min-desk) {
      padding: 0;
    }
  }
}

.region-header-mobile-menu-landing.active {
  overflow: visible;
  display: flex;
  flex-direction: column;

  #block-nodelanguageselectorforlandingpages,
  #block-nodelanguageselectorforlandingpages-2 {
    order: 1;
    width: 100%;
  }

  #block-footernavigationen-3 {
    order: 2;
  }
}

// Allows Mollum module to expand full-width on contact us page, in any language (MA-120)
#mollom {
  width: 100%;
}

.mollom-privacy {
  margin-top: 1rem;
}

// Captcha styling
.contact-form .captcha {
  flex: auto;
}


// Styling of gated fields. Colors chosen to match base theme message
.inline-validation--success {

  input,
  .chosen-single,
  .form-textarea {
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd;
    background-image: url('../../../../core/misc/icons/73b355/check.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    padding-right: 2rem;

    @include breakpoint($min-desk) {
      background-position: 95%;
    }
  }

  .chosen-single,
  .form-textarea {
    background-image: none;
  }

  .inline-validation--message {
    font-family: $primary-font;
    font-size: 0.85rem;
    color: #325e1c;
    position: relative;
    max-width: 100%;
    margin-top: 0.3rem;
    line-height: 1.2;

    @include breakpoint($min-desk) {
      max-width: 300px;
    }
  }
}

.inline-validation--error {

  input,
  .chosen-single,
  .form-textarea {
    background-color: #fcf4f2;
    color: #a51b00;
    border-color: #f9c9bf;
    background-image: url('../../../../core/misc/icons/e32700/error.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    padding-right: 2rem;

    @include breakpoint($min-desk) {
      background-position: 95%;
    }
  }

  .chosen-single,
  .form-textarea {
    background-image: none;
  }

  .inline-validation--message {
    font-family: $primary-font;
    font-size: 0.85rem;
    color: #a51b00;
    position: relative;
    max-width: 100%;
    margin-top: 0.3rem;
    line-height: 1.2;

    @include breakpoint($min-desk) {
      max-width: 300px;
    }
  }
}

.inline-validation--warning {

  input,
  .chosen-single,
  .form-textarea {
    background-color: #fdf8ed;
    border-color: #f4daa6;
    color: #734c00;
    background-image: url('../../../../core/misc/icons/e29700/warning.svg');
    background-repeat: no-repeat;
    background-position: 98%;
    padding-right: 2rem;

    @include breakpoint($min-desk) {
      background-position: 95%;
    }
  }

  .chosen-single,
  .form-textarea {
    background-image: none;
  }

  .inline-validation--message {
    font-family: $primary-font;
    font-size: 0.85rem;
    color: #734c00;
    position: relative;
    max-width: 100%;
    margin-top: 0.3rem;
    line-height: 1.2;

    @include breakpoint($min-desk) {
      max-width: 300px;
    }

    :lang(ja) & {
      font-size: 14px;
    }
  }
}

label.inline-validation--message {
  min-height: 0;
}

.form-textarea,
.form-type-textarea {
  margin-bottom: 3rem;
}

// Gated form styling overriding default
.manh-gated-form .inline-validation--message {
  color: $white;
  position: relative;
}

.mollom-captcha-instructions input {
  background-color: $ma-dark-blue;
  border-color: transparent;
  background-image: none;
}

.js-form-item .form-item {
  margin-bottom: 1.5em;
}
