.node--type-document {
  clear: both;

  h1 {
    margin: 0;
  }

  .l-content-body {
    color: $black;
  }

  .teaser-title {
    @include heading5;
  }
}

.node--type-document .node-grid-type {

  > .node-category-type {
    margin-top: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }
}

/*** setting a max-width for this image so that it doesn't extend full width ***/
.node--type-document .page-teaser-image {
  max-width: 630px;
  margin-bottom: 1rem;
}
