.field-node--field-event-location {
  @include primary-font-heavy;
  display: inline-block;
  text-transform: uppercase;
}

.node--type-event {

  h1 {
    margin: 0 0 0.5rem;
  }

  .event_datestamp {
    clear: none;
    float: left;
    line-height: 1.25em;
  }

  .date {
    @include primary-font-heavy;
  }

  .location {
    @include primary-font-heavy;
    text-transform: uppercase;
  }
}

.field-node--field-event-dates {
  align-content: center;
  background: $ma-aqua;
  display: flex;
  flex: 1 0 400px;
  justify-content: center;
  position: relative;

  @include breakpoint($tab-p) {
    max-width: 400px;

    .assets-homepage-block & {
      max-width: none;
    }
  }

  &::before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: aspect-ratio(400px, 165px);
    width: 100%;

    .assets-homepage-block & {
      padding-bottom: aspect-ratio(1260px, 520px);
    }
  }

  .teaser-date-range {
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .teaser-startdate-container {
    align-self: center;
    flex: 1 1 40%;
  }

  .teaser-date-separator {
    @include primary-font-heavy;
    align-self: center;
    color: $white;
    flex: 0 0 auto;
    font-size: 1.25em;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .teaser-enddate-container {
    align-self: center;
    flex: 1 1 40%;
  }

  .teaser-startdate-container,
  .teaser-date-separator,
  .teaser-enddate-container {

    [data-eq-state='small'] & {
      font-size: 1.65rem;

      @include breakpoint($desk) {
        font-size: 1.25rem;
      }
    }

    [data-eq-state='medium'] & {
      font-size: 1.45rem;
    }

    [data-eq-state='large'] & {
      font-size: 1.65rem;
    }
  }
}
