$aspect-ratio: (1260 / 520);
$bg-min-height: 400px / $aspect-ratio;

.node--type-link {
  color: $white;
  display: block;

  .teaser-title {
    @include primary-font-heavy;
    color: $white;
    font-size: 1em;
    line-height: 1.2;
  }

  .display-mode {
    background-color: $color-two;
    border: none;
    min-height: $bg-min-height;
    padding: 1.5rem;

    .teaser-title {
      color: $white;
    }
  }

  .content-link {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .link-author,
  .link-publication {
    display: inline;
  }

  .display-mode {
    display: flex;
  }

  .icon-link {
    flex: 1 1 auto;
    min-width: 2rem;
    margin-right: 1rem;
    max-width: 50
  }

  .link-byline {
    margin-bottom: 1rem;
  }

  .page-wrapper {
    flex: 1 1 auto;
  }

  &.node--view-mode-block-3-columns {

    .display-mode {
      max-width: 40rem;
      margin: 0 auto;
    }
  }
}

.link-display-mode[data-eq-state='small'] {

  .icon-link {
    max-width: 2rem;
    margin-right: 0.5rem;
  }
}

.link-display-mode[data-eq-state='medium'],
.link-display-mode[data-eq-state='large'] {

  .icon-link {
    max-width: 3rem;
  }
}
