//This sass partial contains styles for the
//Lists display modes.

.listfieldcollection-item {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 1rem;

  &::before {
    position: absolute;
    vertical-align: top;
    height: 100%;
    left: -5px;
  }

}

// Checkmark lists need more padding because
// the checkmark is larger than regular bullets

.checkmark .listfieldcollection-item {
  padding-left: 1.5rem;
}

.l-content-body {
  .node--type-list {
    .teaser-title {
      @include heading3;
   }
  }
}

.l-sidebar {
  .node--type-list {
    .teaser-title {
      @include heading4;
   }
  }
}

div.list-teaser-title-2 {
  @include heading3;
}

div.list-teaser-title-1 {
  @include heading4;
}

.field-node--field-body ul, .field-node--field-body-right ul, .field-node--field-body-left ul {
  padding-left: 0.6rem;
  margin-left: 1.5em;
}

.field-node--field-body li, .field-node--field-body-right li, .field-node--field-body-left li {
  margin-bottom: 1rem;
}

.node--type-list {

  .display-mode.products {
    flex-wrap: wrap;
    justify-content: flex-start;

    &[data-eq-state='large'] {

      .listfieldcollection-item {
        max-width: 45%;
        flex: 1 1 45%;
        display: block;
        margin-right: 1rem;
      }
    }

    &[data-eq-state='medium'] {
      display: block;

      .listfieldcollection-item {
        display: block;
        float: left;
        width: 100%;
        margin-right: 1rem;

        &:nth-child(odd) {
          clear: left;
        }
      }
    }
  }

  .display-mode {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left:1.5em;

    &[data-eq-state='large'] {

      .listfieldcollection-item {
        flex: 1 1 100%;
        display: block;
        margin-right: 1rem;
      }
    }

    &[data-eq-state='medium'] {
      display: block;

      .listfieldcollection-item {
        display: block;
        float: left;
        width: 100%;
        margin-right: 1rem;

        &:nth-child(odd) {
          clear: left;
        }
      }
    }
  }
}

//These define the various bullet colors
.listfieldcollection-item::before {
  content: url('../images/bullet-checkmark.svg');
  width: 12px;
  height: 12px;
}

.dark-blue .listfieldcollection-item::before {
  content: url('../images/bullet-ma-dark-blue.svg');
  width: 8px;
  height: 8px;
}

.medium-blue .listfieldcollection-item::before {
  content: url('../images/bullet-ma-light-blue.svg');
  width: 8px;
  height: 8px;
}

.bright-blue .listfieldcollection-item::before {
  content: url('../images/bullet-ma-light-blue.svg');
  width: 8px;
  height: 8px;
}

.dark-green .listfieldcollection-item::before {
  content: url('../images/bullet-ma-flame.svg');
  width: 8px;
  height: 8px;
}

.medium-green .listfieldcollection-item::before {
  content: url('../images/bullet-ma-flame.svg');
  width: 8px;
  height: 8px;
}

.bright-green .listfieldcollection-item::before {
  content: url('../images/bullet-ma-flame.svg');
  width: 8px;
  height: 8px;
}

.dark-grey .listfieldcollection-item::before {
  content: url('../images/bullet-ma-dark-gray.svg');
  width: 8px;
  height: 8px;
}

.medium-dark-grey .listfieldcollection-item::before {
  content: url('../images/bullet-ma-dark-gray');
  width: 8px;
  height: 8px;
}

.medium-light-gray .listfieldcollection-item::before {
  content: url('../images/bullet-ma-medium-gray.svg');
  width: 8px;
  height: 8px;
}

.light-grey .listfieldcollection-item::before {
  content: url('../images/bullet-ma-light-gray.svg');
  width: 8px;
  height: 8px;
}

.gold .listfieldcollection-item::before {
  content: url('../images/bullet-ma-dark-blue.svg');
  width: 8px;
  height: 8px;
}

.brown .listfieldcollection-item::before {
  content: url('../images/bullet-ma-dark-blue.svg');
  width: 8px;
  height: 8px;
}

.rust .listfieldcollection-item::before {
  content: url('../images/bullet-ma-dark-blue.svg');
  width: 8px;
  height: 8px;
}

.beige .listfieldcollection-item::before {
  content: url('../images/bullet-ma-dark-blue.svg');
  width: 8px;
  height: 8px;
}
