.view-newsroom {
  @include clearfix;

  .view-header {
    border-bottom: 1px solid $ma-medium-gray;
    padding: 0.5rem 0;

    @include breakpoint($phone-l) {

      h2 {
        display: inline-block;
        margin: 0;
        width: calc(100% - 110px);
      }

      a,
      p {
        display: inline-block;
        text-align: right;
        width: 102px;
      }
    }
  }

  .view-content {

    @include breakpoint($tab-p) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1em;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }

    @include breakpoint($desk) {
      padding: 0;
    }
  }

  .views-row {

    @include breakpoint($tab-p) {
      flex: 1 1 40%;
      margin: 25px 0;
      max-width: 350px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @include breakpoint($desk) {
      max-width: 300px;
      flex: 1 1 33.33%;
    }
  }

  .node--type-link .display-mode {

    @include breakpoint($tab-p) {
      min-height: 230px;
    }
  }

  .node--type-page .field-type-entity-reference {

    .view-title {
      @include heading3;
      font-weight: 100;
    }

    .views-field-field-teaser-title > h3 {
      @include heading4;
      font-weight: 100;
    }

    .views-row {
      margin: 25px 0;
      flex: 0 1 40%;

      @include breakpoint($desk) {
        flex: 0 1 33.33%;
      }
    }

    .views-field-field-teaser-image,
    .views-field-field-teaser-image-media {
      margin-bottom: -10px;
    }
  }

  // contacts block on l-sidebar-second
  .l-sidebar-second {

    .media-items {
      flex-direction: column;
    }

    .media-row {
      width: 100%;
      margin-bottom: 2rem;

      .field-media--email {
        margin-bottom: 0.65rem;
      }
    }
  }

  .content-link {
    display: block;
    height: 100%;
  }

  .node--type-link {
    height: 100%;
  }
}
