// This sass partial includes styles for the
// Office Locations page (http://manh.com/office-locations).


#block-views-block-office-locations-with-map-block-1 {

  // The Office Display mode contains both the GMap and the Office Location Display.
  .office-display-mode {
    display: flex;
    flex-direction: column;

    @include breakpoint($tab-l) {
      flex-direction: row;
    }
  }

  .office-wrapper {
    order: 2;
  }

  .map-wrapper {
    margin-bottom: 1em;

    @include breakpoint($tab-l) {
      height: 740px;
      margin-bottom: 0;
      order: 2;
    }

    @include breakpoint($desk) {
      margin-top: -4rem;
    }
  }

  // This is the iframe that contains the GMap.
  iframe {
    width: 100%;
    height: 100%;
  }
}
