// This sass partial includes styles for the
// four Press Release content type display modes.

.press-release-display-mode {
  margin-bottom:1rem;
  max-width: 100%;
  min-height: 150px;

  .field-node--field-teaser-image {
    margin-bottom:1rem;
    max-width: 100%;
  }

  .page-teaser-image {
    margin-bottom: 1rem;
  }

  //This contains the styles for the inline date and location
  // that only appears on the full press release display.
  .location-date {
    @include primary-font-heavy;

    p {
      margin:0;
    }
  }

  h1 {
    margin: 0;
  }

  .l-content-body {
    margin-top: 0.75rem;
  }

  .pr_datestamp {
    float: left;
    clear: none;
  }
}

.press-release-display-mode .field-node--field-teaser-image {
  overflow: hidden;
}

.press-release-display-mode[data-eq-state='small'] {
  display: block;

  .teaser-title {
    @include heading5;
    margin-top: 15px;
  }
}

.press-release-display-mode[data-eq-state='medium'] {
  flex: none;

  .field-node--field-noimage,
  .page-wrapper {
    display: block;
    flex: none;
  }

  .field-node--field-noimage {

    .assets-homepage-block & {
      max-width: 100%;
    }
  }
}

.press-release-display-mode[data-eq-state='medium-large'] {

  .page-wrapper {
    flex: 1 0 80px;
  }
}

.press-release-display-mode[data-eq-state='large'] {

  .field-node--field-noimage {
    align-self: baseline;
    flex: 0 1 400px;
  }
}

// Add Spacing above the full Press Release Node.
.node--type-press-release.node--view-mode-full {
  margin-top: 2rem;
}

.field-node--field-pr-sub-title {
  margin-bottom: 1rem;
}

.node--type-press-release.field-node--field-pr-social-text {
  padding: 1em 0;
}

.field-node--field-pr-customer-title,
.field-node--field-pr-manh-title {
  @include heading3;
}
