.path-search {

  .search-form .search-advanced {
    display: none;
  }

  #main {
    margin-top: 40px;

    .messages {
      margin-bottom: 30px;
    }

    h3 {
      font-weight: normal;
      padding-top: 10px;
    }
  }

  ol.search-results {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0;

    li {
      list-style: none;
      margin: 25px 0;
      max-width: 600px;
      padding-left: 1rem;
      padding-right: 1rem;

      a:first-child {
        text-transform: uppercase;
        margin:0 0 5px 0;
        @include primary-font-heavy;
        font-size: 1.2em;
      }

      div p {
        margin: 0;
      }
    }
  }

  ol.search-results li div:first-child p {
    text-transform: uppercase;
    color: darkgrey;
    margin: 8px 0 4px 0;
    font-size: 0.8em;
  }
}
