.stat-fittext-container {
  @include primary-font-heavy;
  bottom: 0;
  color: $white;
  height: 50%;
  left: 0;
  margin: auto 2rem;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.statistic-body-wrapper {
  position: relative;
  max-height: 320px;
  max-width: 960px;
}

.statistic-display-mode[data-eq-state='small'] {

  .stat-fittext-container {
    width: 75%;
    margin: 60% auto 0;
  }

  .field-node--field-teaser-image-large {
    display: none;
  }

  .field-node--field-teaser-image-medium {
    display: none;
  }
}

.statistic-display-mode[data-eq-state='medium'] {

  .field-node--field-teaser-image-medium {
    display: none;
  }

  .field-node--field-teaser-image-small {
    display: none;
  }
}

.statistic-display-mode[data-eq-state='large'] {

  .field-node--field-teaser-image-small {
    display: none;
  }

  .field-node--field-teaser-image-medium {
    display: none;
  }
}

///////////////////////////////////////////////
///////// *  STATISIC THREE COLUMN DISPLAY
.node--type-statistic.node--view-mode-block-3-columns {

  .field-name-field-stat-image-text {
    width: 100%;
    bottom: 0;
    padding: 3rem;
  }
}

///////////////////////////////////////////////
///////// *  STATISIC TWO COLUMN DISPLAY
.node--type-statistic.node--view-mode-block-2-columns {

  .field-name-field-stat-image-text {
    width: 100%;
    bottom: 0;
    padding: 3rem;
  }
}

///////////////////////////////////////////////
///////// *  STATISIC ONE COLUMN DISPLAY
.node--type-statistic.node--view-mode-block-1-column {

  .field-name-field-stat-image-text {
    width: 100%;
    bottom: 0;
    padding: 3rem;
  }
}
