// Styles for the Leadership Team View //

.team-bios-list {
  @include breakpoint($tab-l) {

    .views-row {
      margin-bottom: 3rem;
      padding-top: 1rem;
      border-top: 1px solid $ma-light-gray;
    }
  }
}

.team-member-bio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .member-name {
    line-height: 1;
    margin-bottom: .5rem;
    margin-top: 0;
    font-size: 1.25em;

    @include breakpoint($tab-p) {
      font-size: 1.563em;
    }
  }

  .bio-quote {
    font-style: italic;
  }

}

.name-title-bio {
  flex: 1 0 100px;
  display: block;

  @include breakpoint($phone-l) {
    flex: 1 0 60%;
    display: block;

    .full-bio {
      display: none;
    }
  }

  @include breakpoint($min-desk) {
    .full-bio {
      display: block;
    }

    .bio-quote {
      display: none;
    }
  }
}
