.field-node--field-webinar-date {
  @include primary-font-heavy;
  display: inline-block;
}

.node--type-webinar {

  .webinar_datestamp {
    // float: left;
    clear: none;
    margin-right: 0.25em;
  }

  .content-buttons {
    width: 100%;
    margin: 1.5rem 0;

    a {
      margin-right: 1rem;
    }
  }

  .l-sidebar-second {
    position: relative;
    margin-top: 2rem;

    @include breakpoint($desk) {
      margin-top: 0;
    }

    .title {
      margin-top: 0;
    }
  }

  .with-playlist {

    .main-column .l-content-body {
      min-height: inherit;

      @include breakpoint($desk) {
        min-height: 525px;
      }
    }

    .l-sidebar-second {
      position: relative;
      margin-top: 2rem;

      @include breakpoint($desk) {
        margin-top: 3rem;
      }
    }
  }
}

// This sass partial includes styles for the
// four Webinar content type display modes.
.webinar-display-mode .field-node--field-teaser-image {
  max-width: 100%;
  margin:1rem;
}

//This contains the styles for the inline date and location
// that only appears on the full press release display.
.location-date {
  @include primary-font-heavy;
}

// These are styles for the right sidebar blocks.
.webinar-display-mode {
  min-height: 150px;

  h1 {
    margin: 0;
  }

  .l-content-body {
    margin-top: 0.75rem;
  }

  .pr_datestamp {
    float: left;
    clear: none;
  }
}

.webinar-display-mode .field-node--field-teaser-image {
  overflow: hidden;
}

.webinar-display-mode[data-eq-state='small'] {
  display: block;

  .teaser-title {
    @include heading5;
    margin-top: 15px;
  }
}

.webinar-display-mode[data-eq-state='medium'] {
  flex: none;
  display: block;

  .field-node--field-noimage,
  .page-wrapper {
    display: block;
    flex: none;
    padding: 0;
  }

  .field-node--field-noimage {

    .assets-homepage-block & {
      max-width: 100%;
    }
  }
}

.webinar-display-mode[data-eq-state='medium-large'] {

  .teaser-date-container {
    font-size: 1.5rem;
  }

  .page-wrapper {
    flex: 1 0 80px;
  }
}

.webinar-display-mode[data-eq-state='large'] {

  .teaser-date-container {
    font-size: 1.75rem;
  }

  .field-node--field-teaser-image,
  .field-node--field-noimage {
    max-width: none;
  }

  .field-node--field-noimage {
    align-self: baseline;
    flex: 0 1 400px;
  }

  .page-wrapper {
    flex: 1 1 400px;
  }
}

// Add Spacing above the full Webinar Node.
.node--type-webinar.node--view-mode-full {
  margin-top: 1rem;
}
