// General Re-usedable Theme Styles


// Add the classes to the body that will trigger the carousel viewport width.
body::after {
  content: 'small';
  position: absolute;

  @include breakpoint($tab-p) {
    content: 'medium';
  }

  @include breakpoint($min-desk) {
    content: 'large';
  }
}

// After scroll, the header is fixed and has a z-index that
// is higher, and obstructs the admin menu.
.toolbar-oriented .toolbar-bar {
  z-index: 5000;
}
