{#
/**
 * @file
 * Confirmation page displayed on submitting a contact form.
 *
 * Available variables:
 * - first_name: First name of contactor.
 * - last_name: Last name of contactor.
 * - company: Company of contactor.
 * - mail: Email address of contactor.
 * - telephone: Phone number of contactor.
 * - country: Country of contactor.
 * - message: Text of the message.
 *
 * @ingroup themeable
 */
#}
<div class="contact-confirmation--message">
  <p>
      {{first_name}},
  </p>

  <p>
    {{ 'Thank you for your interest in Manhattan Associates. Your request has been submitted with the information below. We will be in touch with you shortly.'|t }}
  </p>

  {% if your_request_label is not empty %}
    <h3>{{ your_request_label|t }}</h3>
    <ul class="form-submission">
      <li><b>{{ interested_in_label|t }}:</b> {{ interested_in }}</li>
      <li><b>{{ message_label|t }}:</b> {{message}}</li>
    </ul>
  {% endif %}

  {% if your_information_label is not empty %}
    <h3>{{ your_information_label|t }}</h3>
  {% endif %}

  <ul class="form-submission">
      <li><b>{{ name_label|t }}:</b> {{first_name}} {{last_name}}</li>
      {% if job_title is not empty %}
        <li><b>{{ job_title_label|t }}:</b> {{job_title}}</li>
      {% endif %}
      <li><b>{{ company_label|t }}:</b> {{company}}</li>
    <li><b>{{ telephone_label|t }}:</b> {{telephone}}</li>
    <li><b>{{ email_label|t }}:</b> {{mail}}</li>
      {% if country is not empty %}
      <li><b>{{ country_label|t }}:</b> {{country}}</li>
      {% endif %}
      {% if your_request_label is empty %}
      <li>&nbsp;<br /><b>{{ message_label|t }}:</b><br />{{message}}</li>
      {% endif %}
  </ul>

  <p>
      {{ 'Regards'|t }},<br />{{ 'Manhattan Associates'|t }}
  </p>
</div>

