// Layout: Sidebar Grid layout

.l-grid-layout {
  display: grid;
  margin-bottom: 1.5rem;

  &.l-content-only {
    grid-template-columns: 1rem calc(100% - 2rem) 1rem;
    grid-template-areas:
      'l-hero l-hero l-hero'
      'l-brochure l-brochure l-brochure'
      '. l-page-header .'
      'l-secondarymenu l-secondarymenu l-secondarymenu'
      '. l-top .'
      '. l-content-body .'
      '. l-bottom .'
      '. l-related-info .'
      '. l-why-manhattan .';

    @include breakpoint($desk) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--thin minmax(#{$grid--content-body-min--thin}, #{$grid--content-body-max--thin}) $grid--sidebar-2--thin minmax(1rem, 1fr);
      grid-template-areas:
        'l-hero l-hero l-hero l-hero l-hero'
        'l-brochure l-brochure l-brochure l-brochure l-brochure'
        '. l-page-header l-page-header l-page-header .'
        'l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu'
        '. l-top l-top l-top .'
        '. l-content-body l-content-body l-content-body .'
        '. l-bottom l-bottom l-bottom .'
        '. l-related-info l-related-info l-related-info .'
        '. l-why-manhattan l-why-manhattan l-why-manhattan .';
    }

    @include breakpoint($desk-full) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--wide minmax(#{$grid--content-body-min--wide}, #{$grid--content-body-max--wide}) $grid--sidebar-2--wide minmax(1rem, 1fr);
    }
  }

  &.l-has-both-sidebars {
    grid-template-columns: 1rem calc(100% - 2rem) 1rem;
    grid-template-areas:
      'l-hero l-hero l-hero'
      'l-brochure l-brochure l-brochure'
      '. l-page-header .'
      'l-secondarymenu l-secondarymenu l-secondarymenu'
      '. l-top .'
      '. l-sidebar-first .'
      '. l-content-body .'
      '. l-sidebar-second .'
      '. l-bottom .'
      '. l-related-info .'
      '. l-why-manhattan .';

    @include breakpoint($desk) {
      grid-template-columns: minmax(1rem, 1fr) minmax(min-content, ($content-width / 3)) minmax(min-content, ($content-width / 3)) minmax(min-content, ($content-width / 3)) minmax(1rem, 1fr);
      grid-template-areas:
        'l-hero l-hero l-hero l-hero l-hero'
        'l-brochure l-brochure l-brochure l-brochure l-brochure'
        '. l-page-header l-page-header l-page-header .'
        'l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu'
        '. l-top l-top l-top .'
        '. l-sidebar-first l-content-body l-sidebar-second .'
        '. l-bottom l-bottom l-bottom .'
        '. l-related-info l-related-info l-related-info .'
        '. l-why-manhattan l-why-manhattan l-why-manhattan .';
    }

    > .l-content-body,
    > .l-sidebar {

      @include breakpoint($min-desk) {
        max-width: ($content-width / 3);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    > .l-sidebar-first,
    > .l-content-body,
    > .l-content-body .l-content-top,
    > .l-content-body .l-content-bottom,
    > .l-sidebar-second {

      @include breakpoint($desk) {
        height: 100%;
      }

      > .entityreference-wrapper {

        &,
        & > .entityreference-item {

          @include breakpoint($desk) {
            height: 100%;
          }
        }
      }

      .entityreference-item {

        @include breakpoint($desk) {
          margin-bottom: 0;
        }

        > * {

          @include breakpoint($desk) {
            height: 100%;
          }
        }
      }
    }

     > .l-why-manhattan {
      margin-top: 2rem;
    }
  }

  &.l-has-left-sidebar {
    grid-template-columns: 1rem calc(100% - 2rem) 1rem;
    grid-template-areas:
      'l-hero l-hero l-hero'
      'l-brochure l-brochure l-brochure'
      '. l-page-header .'
      'l-secondarymenu l-secondarymenu l-secondarymenu'
      '. l-top .'
      '. l-sidebar-first .'
      '. l-content-body .'
      '. l-bottom .'
      '. l-related-info .'
      '. l-why-manhattan .';

    @include breakpoint($desk) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--thin minmax(#{$grid--content-body-min--thin}, #{$grid--content-body-max--thin}) $grid--sidebar-2--thin minmax(1rem, 1fr);
      grid-template-areas:
        'l-hero l-hero l-hero l-hero l-hero'
        'l-brochure l-brochure l-brochure l-brochure l-brochure'
        '. l-page-header l-page-header l-page-header .'
        'l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu'
        '. l-top l-top l-top .'
        '. l-sidebar-first l-content-body l-content-body .'
        '. l-bottom l-bottom l-bottom .'
        '. l-related-info l-related-info l-related-info .'
        '. l-why-manhattan l-why-manhattan l-why-manhattan .';
    }

    @include breakpoint($desk-full) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--wide minmax(#{$grid--content-body-min--wide}, #{$grid--content-body-max--wide}) $grid--sidebar-2--wide minmax(1rem, 1fr);
    }

    > .l-sidebar-first {

      @include breakpoint($desk) {
        padding-left: 0;
        padding-right: 1rem;
      }
    }

    > .l-content-body {

      @include breakpoint($desk) {
        padding-left: 2rem;
        padding-right: 0;
      }
    }
  }

  &.l-has-right-sidebar {
    grid-template-columns: 1rem calc(100% - 2rem) 1rem;
    grid-template-areas:
      'l-hero l-hero l-hero'
      'l-brochure l-brochure l-brochure'
      '. l-page-header .'
      'l-secondarymenu l-secondarymenu l-secondarymenu'
      '. l-top .'
      '. l-content-body .'
      '. l-sidebar-second .'
      '. l-bottom .'
      '. l-related-info .'
      '. l-why-manhattan .';

    @include breakpoint($desk) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--thin minmax(#{$grid--content-body-min--thin}, #{$grid--content-body-max--thin}) $grid--sidebar-2--thin minmax(1rem, 1fr);
      grid-template-areas:
        'l-hero l-hero l-hero l-hero l-hero'
        'l-brochure l-brochure l-brochure l-brochure l-brochure'
        '. l-page-header l-page-header l-page-header .'
        'l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu l-secondarymenu'
        '. l-top l-top l-top .'
        '. l-content-body l-content-body l-sidebar-second .'
        '. l-bottom l-bottom l-bottom .'
        '. l-related-info l-related-info l-related-info .'
        '. l-why-manhattan l-why-manhattan l-why-manhattan .';
    }

    @include breakpoint($desk-full) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--wide minmax(#{$grid--content-body-min--wide}, #{$grid--content-body-max--wide}) $grid--sidebar-2--wide minmax(1rem, 1fr);
    }

    > .l-content-body {

      @include breakpoint($desk) {
        padding-left: 0;
        padding-right: 2rem;
      }
    }

    > .l-sidebar-second {

      @include breakpoint($desk) {
        padding-left: 1rem;
        padding-right: 0;
      }
    }
  }

  &.l-office-locations {
    grid-template-columns: 1rem calc(100% - 2rem) 1rem;
    grid-template-areas:
      '. l-top .'
      '. l-sidebar-first .'
      'l-content-body l-content-body l-content-body';

    @include breakpoint($desk) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--thin minmax(#{$grid--content-body-min--thin}, #{$grid--content-body-max--thin}) $grid--sidebar-2--thin minmax(1rem, 1fr);
      grid-template-areas:
        '. l-top l-top l-top .'
        '. l-sidebar-first . . .'
        'l-content-body l-content-body l-content-body l-content-body l-content-body';
    }

    @include breakpoint($desk-full) {
      grid-template-columns: minmax(1rem, 1fr) $grid--sidebar-1--wide minmax(#{$grid--content-body-min--wide}, #{$grid--content-body-max--wide}) $grid--sidebar-2--wide minmax(1rem, 1fr);
    }

    > .l-sidebar-first {

      @include breakpoint($desk) {
        padding-left: 0;
        padding-right: 1rem;
      }
    }
  }

  // When there is no Secondary Menu, add a margin to the top of the
  // content and sidebar.
  &.include-top-spacing > .l-content-body,
  &.include-top-spacing > .l-sidebar {
    margin-top: 1rem;
  }

  > * {

    @include breakpoint($desk) {
      max-width: 100%;
    }
  }

  > .l-hero {
    grid-area: l-hero;
  }

  > .l-brochure {
    grid-area: l-brochure;
  }

  > .l-page-header {
    grid-area: l-page-header;

    @include breakpoint($desk) {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    h1 {
      margin-bottom: 0;
    }
  }

  > .l-secondarymenu {
    grid-area: l-secondarymenu;

    @include breakpoint($desk) {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  > .l-top {
    grid-area: l-top;

    > *:first-child {
      margin-top: 1em;
    }
  }

  > .l-sidebar-first {
    grid-area: l-sidebar-first;
  }

  > .l-content-body {
    grid-area: l-content-body;
  }

  > .l-sidebar-second {
    grid-area: l-sidebar-second;
  }

  > .l-bottom {
    grid-area: l-bottom;
  }

  > .l-related-info {
    grid-area: l-related-info;
  }

  > .l-why-manhattan {
    grid-area: l-why-manhattan;
  }
}
