/*** Background image with green keyline ***/
.header-top {
  background: url("../../images/hdr-background-image.png") repeat-x 0 -37px;
  border-bottom: 1px solid #ffffff;
  min-height: 84px; }

@media (min-width: 1020px) {
  .header-top {
    background-position: 0 -8px; } }

#name-and-slogan {
  margin: 0 auto;
  top: 0;
  background: transparent; }
  @media (min-width: 1020px) {
    #name-and-slogan {
      background-color: #ffffff; } }

.logo-logistics img {
  width: 100%;
  height: auto; }
  @media (min-width: 1020px) {
    .logo-logistics img {
      margin-top: 0.75rem; } }

@media (min-width: 1020px) {
  #name-and-slogan {
    position: relative;
    max-width: 301px;
    float: left; } }

/*** Override manh parent theme styles for header top inner ***/
.header-top-inner {
  padding: 0; }

#site-name {
  height: 0;
  margin: 0; }

/*** Override manh parent theme styles for the logo container ***/
.header-top-inner a[rel="home"] {
  overflow: visible; }

.block--transportation-services-menu {
  display: none; }

@media (min-width: 1020px) {
  .block--transportation-services-menu {
    display: table;
    margin-bottom: 1rem;
    white-space: nowrap; } }

.block--transportation-services-menu ul.menu {
  display: table-cell;
  padding: 0;
  width: 50%; }

.block--transportation-services-menu .menu .menu-item {
  background: transparent;
  display: inline-block;
  margin-left: 1rem; }

.block--transportation-services-menu .menu .menu-item a {
  color: #999933;
  text-transform: none;
  font-size: 1em; }

.block--transportation-services-menu h2 {
  display: table-cell;
  font-family: "AvenirLTStd-Book", "Arial", sans-serif;
  font-size: 1em;
  margin: 0 10px 0 0;
  width: 50%;
  text-align: right; }

.block-secondarymenu-wrapper {
  margin: 0; }
  .block-secondarymenu-wrapper .menu .menu-item {
    padding: 0; }

/*** Override manh parent styles for main nav bar ***/
.header-bottom {
  background: #00447b; }

.header-bottom-inner ul.menu {
  float: left; }
  .header-bottom-inner ul.menu a {
    padding: 1.25rem 1rem 1rem; }

.list-display-mode {
  margin-top: 1em; }

/*** Override styles for mobile menus ***/
.menu-toggle a::before {
  color: #999933; }

.phone-icon {
  background-image: url("../../images/icon-mobilephone.png"); }

#block-mobilephoneblock.open {
  width: 100%;
  display: block;
  background: #55565a;
  border-top: none;
  margin-top: 7px; }

@media (min-width: 1020px) {
  #block-mobilephoneblock.open {
    display: none; } }

/*** Override manh parent styles for the search field ***/
.region-header-secondary {
  position: relative;
  white-space: normal;
  margin-top: -5px; }
  @media (min-width: 1020px) {
    .region-header-secondary {
      margin-top: 24px; } }
  .region-header-secondary .search-block-form {
    display: none; }
    @media (min-width: 1020px) {
      .region-header-secondary .search-block-form {
        display: inline-block;
        width: 38%;
        float: none; } }
    .region-header-secondary .search-block-form h2 {
      display: none; }
  .region-header-secondary .search-block-form .form-actions .form-submit {
    display: none; }
  .region-header-secondary .search-block-form .form-type-search input[type="search"] {
    width: 186px;
    float: right;
    margin: 0;
    background-color: #dddfc2;
    background-image: url("../../images/search_sm.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95%;
    color: #000000;
    border: none;
    padding-left: 1em;
    font-family: "AvenirLTStd-Book", "Arial", sans-serif; }

#block-headercontactuslink {
  display: none; }
  #block-headercontactuslink p {
    margin: 0; }

@media (min-width: 1020px) {
  #block-headercontactuslink {
    display: inline-block;
    float: left;
    width: 62%;
    margin-top: 1px;
    text-align: right; }
    #block-headercontactuslink a {
      color: #999933; } }

/*** Primary Menu ***/
.region-header-primary-menu .block-secondarymenu-wrapper a {
  text-transform: uppercase; }

/*** Override styles for lists ***/
.node--type-list .display-mode[data-eq-state="large"] .listfieldcollection-item {
  -webkit-flex: 1 1 45%;
  -ms-flex: 1 1 45%;
  flex: 1 1 45%;
  max-width: none; }

/*** fix for article images ***/
.article-display-mode[data-eq-state="medium"] .field-node--field-noimage {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 0;
  max-width: 300px;
  margin: 0 auto; }

/*** styles for sidebar blocks ***/
.l-sidebar-second .entityreference-item {
  background: #55565a;
  padding: 1em;
  color: #ffffff;
  margin-bottom: 1em; }
  .l-sidebar-second .entityreference-item h3 {
    color: #ffffff;
    margin-top: 0; }
  .l-sidebar-second .entityreference-item .node-category-type, .l-sidebar-second .entityreference-item .teaser-title {
    color: #ffffff;
    text-decoration: none; }
  .l-sidebar-second .entityreference-item a {
    color: #ffffff;
    text-decoration: initial; }

/*** Mobile Navigation ***/
.top-navigation-mobile .menu {
  width: 100%; }

.top-navigation-mobile .menu-item a.is-active,
.top-navigation-mobile .menu-item a {
  color: #ffffff;
  text-transform: uppercase;
  width: 100%; }

.region-header-secondary .search-block-form h2::before {
  content: ""; }

.region-header-secondary .search-block-form form .form-actions {
  margin-top: 0;
  margin-left: -30px; }

.region-header-secondary .search-block-form .form-type-search {
  display: block;
  margin: 0;
  padding-top: 0; }

/*** override front page settings from manh ***/
body.path-frontpage .l-full-content.hero {
  display: block; }
  body.path-frontpage .l-full-content.hero.hidden {
    display: none; }
