{#
/**
 * @file
 * Default theme implementation to display a content personalization block.
 *
 * Available variables:
 * - block: The personalization_block entity
 * - zone_id: The Marketo Zone ID to be targeted for replacement.
 * - attributes: HTML attributes for the containing element.
 * - block_id: The machine name for the predictive content block being rendered.
 * - show_placeholder: Flag for users with permission to see placeholder content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_personalization_block()
 *
 * @ingroup themeable
 */
#}
<div id="{{ zone_id|clean_id }}" class="{{ attributes.class }}" {{ attributes|without('class') }}>

  {% if show_placeholder %}
    <h3>Content personalization placeholder.</h3>
    <p><strong>Zone ID:</strong> {{ zone_id|clean_id }}</p>
  {% endif %}

</div>
